openapi: 3.2.0
info:
  title: Xignite Cloud Files API
  version: 1.0.3
servers:
- url: https://cloudfiles.xignite.com
security:
- basic: []
tags:
- name: XigniteCloudFiles
paths:
  /xCloudFiles/GetFile:
    get:
      tags:
      - XigniteCloudFiles
      parameters:
      - name: FileName
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudFile'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudFile'
            application/xml:
              schema:
                $ref: '#/components/schemas/CloudFile'
            text/xml:
              schema:
                $ref: '#/components/schemas/CloudFile'
            text/csv:
              schema:
                $ref: '#/components/schemas/CloudFile'
      summary: Get x cloud files get file
      x-summary-source: derived
      operationId: getXCloudFilesGetFile
      x-operation-id-source: derived
components:
  schemas:
    CloudFile:
      allOf:
      - $ref: '#/components/schemas/FileDownload'
      - type: object
        properties:
          FileName:
            type:
            - string
            - 'null'
        additionalProperties: false
    FileDownload:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Name:
            type:
            - string
            - 'null'
          Url:
            type:
            - string
            - 'null'
        additionalProperties: false
    Common:
      type: object
      properties:
        Delay:
          type: number
          format: double
        Identity:
          type:
          - string
          - 'null'
        Message:
          type:
          - string
          - 'null'
        Outcome:
          allOf:
          - $ref: '#/components/schemas/OutcomeTypes'
      additionalProperties: false
    OutcomeTypes:
      enum:
      - Success
      - SystemError
      - RequestError
      - RegistrationError
      type: string
  securitySchemes:
    basic:
      type: apiKey
      description: Token for your account.
      name: _token
      in: query
