openapi: 3.2.0
info:
  title: Xignite Global Master API
  version: 1.0.5
servers:
- url: https://globalmaster.xignite.com
security:
- basic: []
tags:
- name: XigniteGlobalMaster
paths:
  /xGlobalMaster/ListExchanges:
    get:
      tags:
      - XigniteGlobalMaster
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PossibleValues'
            text/json:
              schema:
                $ref: '#/components/schemas/PossibleValues'
            application/xml:
              schema:
                $ref: '#/components/schemas/PossibleValues'
            text/xml:
              schema:
                $ref: '#/components/schemas/PossibleValues'
            text/csv:
              schema:
                $ref: '#/components/schemas/PossibleValues'
      summary: Get x global master list exchanges
      x-summary-source: derived
      operationId: getXGlobalMasterListExchanges
      x-operation-id-source: derived
  /xGlobalMaster/ListIndustries:
    get:
      tags:
      - XigniteGlobalMaster
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PossibleValues'
            text/json:
              schema:
                $ref: '#/components/schemas/PossibleValues'
            application/xml:
              schema:
                $ref: '#/components/schemas/PossibleValues'
            text/xml:
              schema:
                $ref: '#/components/schemas/PossibleValues'
            text/csv:
              schema:
                $ref: '#/components/schemas/PossibleValues'
      summary: Get x global master list industries
      x-summary-source: derived
      operationId: getXGlobalMasterListIndustries
      x-operation-id-source: derived
  /xGlobalMaster/ListSectors:
    get:
      tags:
      - XigniteGlobalMaster
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PossibleValues'
            text/json:
              schema:
                $ref: '#/components/schemas/PossibleValues'
            application/xml:
              schema:
                $ref: '#/components/schemas/PossibleValues'
            text/xml:
              schema:
                $ref: '#/components/schemas/PossibleValues'
            text/csv:
              schema:
                $ref: '#/components/schemas/PossibleValues'
      summary: Get x global master list sectors
      x-summary-source: derived
      operationId: getXGlobalMasterListSectors
      x-operation-id-source: derived
  /xGlobalMaster/ListInstrumentClasses:
    get:
      tags:
      - XigniteGlobalMaster
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PossibleValues'
            text/json:
              schema:
                $ref: '#/components/schemas/PossibleValues'
            application/xml:
              schema:
                $ref: '#/components/schemas/PossibleValues'
            text/xml:
              schema:
                $ref: '#/components/schemas/PossibleValues'
            text/csv:
              schema:
                $ref: '#/components/schemas/PossibleValues'
      summary: Get x global master list instrument classes
      x-summary-source: derived
      operationId: getXGlobalMasterListInstrumentClasses
      x-operation-id-source: derived
  /xGlobalMaster/ListGlobalIndustries:
    get:
      tags:
      - XigniteGlobalMaster
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PossibleValues'
            text/json:
              schema:
                $ref: '#/components/schemas/PossibleValues'
            application/xml:
              schema:
                $ref: '#/components/schemas/PossibleValues'
            text/xml:
              schema:
                $ref: '#/components/schemas/PossibleValues'
            text/csv:
              schema:
                $ref: '#/components/schemas/PossibleValues'
      summary: Get x global master list global industries
      x-summary-source: derived
      operationId: getXGlobalMasterListGlobalIndustries
      x-operation-id-source: derived
  /xGlobalMaster/ListGlobalSectors:
    get:
      tags:
      - XigniteGlobalMaster
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PossibleValues'
            text/json:
              schema:
                $ref: '#/components/schemas/PossibleValues'
            application/xml:
              schema:
                $ref: '#/components/schemas/PossibleValues'
            text/xml:
              schema:
                $ref: '#/components/schemas/PossibleValues'
            text/csv:
              schema:
                $ref: '#/components/schemas/PossibleValues'
      summary: Get x global master list global sectors
      x-summary-source: derived
      operationId: getXGlobalMasterListGlobalSectors
      x-operation-id-source: derived
  /xGlobalMaster/ListMICToLegacyExchange:
    get:
      tags:
      - XigniteGlobalMaster
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LegacyExchangeMapping'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LegacyExchangeMapping'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LegacyExchangeMapping'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LegacyExchangeMapping'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LegacyExchangeMapping'
      summary: Get x global master list micto legacy exchange
      x-summary-source: derived
      operationId: getXGlobalMasterListMICToLegacyExchange
      x-operation-id-source: derived
  /xGlobalMaster/ListMICToLegacySuffix:
    get:
      tags:
      - XigniteGlobalMaster
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LegacyExchangeMapping'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LegacyExchangeMapping'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LegacyExchangeMapping'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LegacyExchangeMapping'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LegacyExchangeMapping'
      summary: Get x global master list micto legacy suffix
      x-summary-source: derived
      operationId: getXGlobalMasterListMICToLegacySuffix
      x-operation-id-source: derived
  /xGlobalMaster/ListSymbolChanges:
    get:
      tags:
      - XigniteGlobalMaster
      parameters:
      - name: Exchange
        in: query
        schema:
          type: string
      - name: ChangesSince
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SymbolChangeList'
            text/json:
              schema:
                $ref: '#/components/schemas/SymbolChangeList'
            application/xml:
              schema:
                $ref: '#/components/schemas/SymbolChangeList'
            text/xml:
              schema:
                $ref: '#/components/schemas/SymbolChangeList'
            text/csv:
              schema:
                $ref: '#/components/schemas/SymbolChangeList'
      summary: Get x global master list symbol changes
      x-summary-source: derived
      operationId: getXGlobalMasterListSymbolChanges
      x-operation-id-source: derived
  /xGlobalMaster/ListIdentifiersByExchange:
    get:
      tags:
      - XigniteGlobalMaster
      parameters:
      - name: Exchange
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/Exchanges'
      - name: IdentifierType
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/IdentifierTypes'
      - name: InstrumentClass
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/InstrumentClasses'
      - name: AsOfDate
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentifiersByExchange'
            text/json:
              schema:
                $ref: '#/components/schemas/IdentifiersByExchange'
            application/xml:
              schema:
                $ref: '#/components/schemas/IdentifiersByExchange'
            text/xml:
              schema:
                $ref: '#/components/schemas/IdentifiersByExchange'
            text/csv:
              schema:
                $ref: '#/components/schemas/IdentifiersByExchange'
      summary: Get x global master list identifiers by exchange
      x-summary-source: derived
      operationId: getXGlobalMasterListIdentifiersByExchange
      x-operation-id-source: derived
  /xGlobalMaster/GetSecurity:
    get:
      tags:
      - XigniteGlobalMaster
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/IdentifierTypes'
      - name: StartDate
        in: query
        schema:
          type: string
      - name: EndDate
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Security'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Security'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Security'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Security'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Security'
      summary: Get x global master get security
      x-summary-source: derived
      operationId: getXGlobalMasterGetSecurity
      x-operation-id-source: derived
  /xGlobalMaster/GetSecurities:
    get:
      tags:
      - XigniteGlobalMaster
      parameters:
      - name: Identifiers
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/IdentifierTypes'
      - name: AsOfDate
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Security'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Security'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Security'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Security'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Security'
      summary: Get x global master get securities
      x-summary-source: derived
      operationId: getXGlobalMasterGetSecurities
      x-operation-id-source: derived
  /xGlobalMaster/GetInstrument:
    get:
      tags:
      - XigniteGlobalMaster
      parameters:
      - name: IncludeRelated
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/InstrumentRelatedTypes'
      - name: Identifier
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/IdentifierTypes'
      - name: StartDate
        in: query
        schema:
          type: string
      - name: EndDate
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Instrument'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Instrument'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Instrument'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Instrument'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Instrument'
      summary: Get x global master get instrument
      x-summary-source: derived
      operationId: getXGlobalMasterGetInstrument
      x-operation-id-source: derived
  /xGlobalMaster/GetInstruments:
    get:
      tags:
      - XigniteGlobalMaster
      parameters:
      - name: IncludeRelated
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/InstrumentRelatedTypes'
      - name: Identifiers
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/IdentifierTypes'
      - name: AsOfDate
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Instrument'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Instrument'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Instrument'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Instrument'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Instrument'
      summary: Get x global master get instruments
      x-summary-source: derived
      operationId: getXGlobalMasterGetInstruments
      x-operation-id-source: derived
  /xGlobalMaster/GetIssuer:
    get:
      tags:
      - XigniteGlobalMaster
      parameters:
      - name: IncludeRelated
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/IssuerRelatedTypes'
      - name: Identifier
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/IdentifierTypes'
      - name: StartDate
        in: query
        schema:
          type: string
      - name: EndDate
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Issuer'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Issuer'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Issuer'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Issuer'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Issuer'
      summary: Get x global master get issuer
      x-summary-source: derived
      operationId: getXGlobalMasterGetIssuer
      x-operation-id-source: derived
  /xGlobalMaster/GetIssuers:
    get:
      tags:
      - XigniteGlobalMaster
      parameters:
      - name: IncludeRelated
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/IssuerRelatedTypes'
      - name: Identifiers
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/IdentifierTypes'
      - name: AsOfDate
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Issuer'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Issuer'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Issuer'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Issuer'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Issuer'
      summary: Get x global master get issuers
      x-summary-source: derived
      operationId: getXGlobalMasterGetIssuers
      x-operation-id-source: derived
  /xGlobalMaster/GetIssuerByCompanyIdentifier:
    get:
      tags:
      - XigniteGlobalMaster
      parameters:
      - name: IncludeRelated
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/IssuerRelatedTypes'
      - name: Identifier
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Issuer'
            text/json:
              schema:
                $ref: '#/components/schemas/Issuer'
            application/xml:
              schema:
                $ref: '#/components/schemas/Issuer'
            text/xml:
              schema:
                $ref: '#/components/schemas/Issuer'
            text/csv:
              schema:
                $ref: '#/components/schemas/Issuer'
      summary: Get x global master get issuer by company identifier
      x-summary-source: derived
      operationId: getXGlobalMasterGetIssuerByCompanyIdentifier
      x-operation-id-source: derived
  /xGlobalMaster/GetMasterByIdentifier:
    get:
      tags:
      - XigniteGlobalMaster
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/IdentifierTypes'
      - name: StartDate
        in: query
        schema:
          type: string
      - name: EndDate
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Record'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Record'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Record'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Record'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Record'
      summary: Get x global master get master by identifier
      x-summary-source: derived
      operationId: getXGlobalMasterGetMasterByIdentifier
      x-operation-id-source: derived
  /xGlobalMaster/GetMasterByIdentifiers:
    get:
      tags:
      - XigniteGlobalMaster
      parameters:
      - name: Identifiers
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/IdentifierTypes'
      - name: AsOfDate
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Record'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Record'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Record'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Record'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Record'
      summary: Get x global master get master by identifiers
      x-summary-source: derived
      operationId: getXGlobalMasterGetMasterByIdentifiers
      x-operation-id-source: derived
  /xGlobalMaster/LookupSecurity:
    get:
      tags:
      - XigniteGlobalMaster
      parameters:
      - name: Name
        in: query
        schema:
          type: string
      - name: InstrumentClass
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LookupItems'
            text/json:
              schema:
                $ref: '#/components/schemas/LookupItems'
            application/xml:
              schema:
                $ref: '#/components/schemas/LookupItems'
            text/xml:
              schema:
                $ref: '#/components/schemas/LookupItems'
            text/csv:
              schema:
                $ref: '#/components/schemas/LookupItems'
      summary: Get x global master lookup security
      x-summary-source: derived
      operationId: getXGlobalMasterLookupSecurity
      x-operation-id-source: derived
  /xGlobalMaster/GetMasterByExchange:
    get:
      tags:
      - XigniteGlobalMaster
      parameters:
      - name: Exchange
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/Exchanges'
      - name: StartSymbol
        in: query
        schema:
          type: string
      - name: EndSymbol
        in: query
        schema:
          type: string
      - name: InstrumentClass
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/InstrumentClasses'
      - name: AsOfDate
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Record'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Record'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Record'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Record'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Record'
      summary: Get x global master get master by exchange
      x-summary-source: derived
      operationId: getXGlobalMasterGetMasterByExchange
      x-operation-id-source: derived
  /xGlobalMaster/GetMasterByExchangeChanges:
    get:
      tags:
      - XigniteGlobalMaster
      parameters:
      - name: Exchange
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/Exchanges'
      - name: StartSymbol
        in: query
        schema:
          type: string
      - name: EndSymbol
        in: query
        schema:
          type: string
      - name: InstrumentClass
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/InstrumentClasses'
      - name: StartModifiedDate
        in: query
        schema:
          type: string
      - name: EndModifiedDate
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Record'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Record'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Record'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Record'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Record'
      summary: Get x global master get master by exchange changes
      x-summary-source: derived
      operationId: getXGlobalMasterGetMasterByExchangeChanges
      x-operation-id-source: derived
  /xGlobalMaster/GetMasterBySector:
    get:
      tags:
      - XigniteGlobalMaster
      parameters:
      - name: Exchange
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/Exchanges'
      - name: Sector
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/Sectors'
      - name: StartSymbol
        in: query
        schema:
          type: string
      - name: EndSymbol
        in: query
        schema:
          type: string
      - name: InstrumentClass
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/InstrumentClasses'
      - name: AsOfDate
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Record'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Record'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Record'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Record'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Record'
      summary: Get x global master get master by sector
      x-summary-source: derived
      operationId: getXGlobalMasterGetMasterBySector
      x-operation-id-source: derived
  /xGlobalMaster/GetMasterByIndustry:
    get:
      tags:
      - XigniteGlobalMaster
      parameters:
      - name: Exchange
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/Exchanges'
      - name: Industry
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/Industries'
      - name: StartSymbol
        in: query
        schema:
          type: string
      - name: EndSymbol
        in: query
        schema:
          type: string
      - name: InstrumentClass
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/InstrumentClasses'
      - name: AsOfDate
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Record'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Record'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Record'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Record'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Record'
      summary: Get x global master get master by industry
      x-summary-source: derived
      operationId: getXGlobalMasterGetMasterByIndustry
      x-operation-id-source: derived
  /xGlobalMaster/GetMasterByGlobalSector:
    get:
      tags:
      - XigniteGlobalMaster
      parameters:
      - name: Exchange
        in: query
        schema:
          type: string
      - name: Sector
        in: query
        schema:
          type: string
      - name: StartSymbol
        in: query
        schema:
          type: string
      - name: EndSymbol
        in: query
        schema:
          type: string
      - name: InstrumentClass
        in: query
        schema:
          type: string
      - name: AsOfDate
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Record'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Record'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Record'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Record'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Record'
      summary: Get x global master get master by global sector
      x-summary-source: derived
      operationId: getXGlobalMasterGetMasterByGlobalSector
      x-operation-id-source: derived
  /xGlobalMaster/GetMasterByGlobalIndustry:
    get:
      tags:
      - XigniteGlobalMaster
      parameters:
      - name: Exchange
        in: query
        schema:
          type: string
      - name: Industry
        in: query
        schema:
          type: string
      - name: StartSymbol
        in: query
        schema:
          type: string
      - name: EndSymbol
        in: query
        schema:
          type: string
      - name: InstrumentClass
        in: query
        schema:
          type: string
      - name: AsOfDate
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Record'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Record'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Record'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Record'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Record'
      summary: Get x global master get master by global industry
      x-summary-source: derived
      operationId: getXGlobalMasterGetMasterByGlobalIndustry
      x-operation-id-source: derived
  /xGlobalMaster/GetMasterStatisticsByExchange:
    get:
      tags:
      - XigniteGlobalMaster
      parameters:
      - name: Exchange
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/Exchanges'
      - name: StartSymbol
        in: query
        schema:
          type: string
      - name: EndSymbol
        in: query
        schema:
          type: string
      - name: InstrumentClass
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/InstrumentClasses'
      - name: AsOfDate
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Statistics'
            text/json:
              schema:
                $ref: '#/components/schemas/Statistics'
            application/xml:
              schema:
                $ref: '#/components/schemas/Statistics'
            text/xml:
              schema:
                $ref: '#/components/schemas/Statistics'
            text/csv:
              schema:
                $ref: '#/components/schemas/Statistics'
      summary: Get x global master get master statistics by exchange
      x-summary-source: derived
      operationId: getXGlobalMasterGetMasterStatisticsByExchange
      x-operation-id-source: derived
components:
  schemas:
    AlternateIdentifierTypes:
      enum:
      - Unknown
      - Symbol
      - CUSIP
      - CIK
      - Valoren
      - SEDOL
      - DataSourceIdentifier
      - ISIN
      - AlternateSymbol
      type: string
    PossibleValues:
      allOf:
      - $ref: '#/components/schemas/AbstractPublicWebServiceObj'
      - type: object
        properties:
          PossibleValuesOf:
            type:
            - string
            - 'null'
          Values:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/PossibleValue'
        additionalProperties: false
    Common:
      type: object
      properties:
        Delay:
          type: number
          format: double
        Identity:
          type:
          - string
          - 'null'
        Message:
          type:
          - string
          - 'null'
        Outcome:
          allOf:
          - $ref: '#/components/schemas/OutcomeTypes'
      additionalProperties: false
    LookupItems:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Name:
            type:
            - string
            - 'null'
          Securities:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/LookUpSecurity'
        additionalProperties: false
    Statistics:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Count:
            type: integer
            format: int64
          Exchange:
            type:
            - string
            - 'null'
        additionalProperties: false
    IssuerRelatedTypes:
      enum:
      - None
      - Instruments
      - InstrumentsAndSecurities
      type: string
    Instrument:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          InstrumentClass:
            type:
            - string
            - 'null'
          Name:
            type:
            - string
            - 'null'
          CUSIP:
            type:
            - string
            - 'null'
          ISIN:
            type:
            - string
            - 'null'
          Valoren:
            type:
            - string
            - 'null'
          ActiveDate:
            type:
            - string
            - 'null'
          InactiveDate:
            type:
            - string
            - 'null'
          MostLiquidExchange:
            type:
            - string
            - 'null'
          Identifier:
            type:
            - string
            - 'null'
          IdentifierType:
            type:
            - string
            - 'null'
          CFICode:
            type:
            - string
            - 'null'
          Description:
            type:
            - string
            - 'null'
          Active:
            type: boolean
          CustomAttributes:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/CustomAttribute'
          Securities:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/Security'
          DataProvider:
            allOf:
            - $ref: '#/components/schemas/DataProviders'
        additionalProperties: false
    IdentifierTypes:
      enum:
      - Symbol
      - CIK
      - CUSIP
      - ISIN
      - Valoren
      - SEDOL
      - FIGI
      - CompositeFIGI
      type: string
    SymbolChange:
      type: object
      properties:
        Symbol:
          type:
          - string
          - 'null'
        OldSymbol:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        OldName:
          type:
          - string
          - 'null'
        Exchange:
          type:
          - string
          - 'null'
        OldExchange:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        OldCurrency:
          type:
          - string
          - 'null'
        Type:
          type:
          - string
          - 'null'
        InstrumentClass:
          type:
          - string
          - 'null'
      additionalProperties: false
    Issuer:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Name:
            type:
            - string
            - 'null'
          CIK:
            type:
            - string
            - 'null'
          Industry:
            type:
            - string
            - 'null'
          Sector:
            type:
            - string
            - 'null'
          ActiveDate:
            type:
            - string
            - 'null'
          InactiveDate:
            type:
            - string
            - 'null'
          CompanyIdentifier:
            type:
            - string
            - 'null'
          Domicile:
            type:
            - string
            - 'null'
          Active:
            type: boolean
          CustomAttributes:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/CustomAttribute'
          Instruments:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/Instrument'
          DataProvider:
            allOf:
            - $ref: '#/components/schemas/DataProviders'
          Classifications:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/Classification'
          FactSetEntityId:
            type:
            - string
            - 'null'
        additionalProperties: false
    Security:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Symbol:
            type:
            - string
            - 'null'
          Name:
            type:
            - string
            - 'null'
          SEDOL:
            type:
            - string
            - 'null'
          Currency:
            type:
            - string
            - 'null'
          Exchange:
            type:
            - string
            - 'null'
          ActiveDate:
            type:
            - string
            - 'null'
          InactiveDate:
            type:
            - string
            - 'null'
          HomeTradingPlace:
            type: boolean
          FIGI:
            type:
            - string
            - 'null'
          CompositeFIGI:
            type:
            - string
            - 'null'
          Active:
            type: boolean
          AlternateSecurityIdentifiers:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/AlternateSecurityIdentifier'
          CustomAttributes:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/CustomAttribute'
          DataProvider:
            allOf:
            - $ref: '#/components/schemas/DataProviders'
          Identifier:
            type:
            - string
            - 'null'
          IdentifierType:
            type:
            - string
            - 'null'
        additionalProperties: false
    CustomAttribute:
      type: object
      properties:
        Name:
          type:
          - string
          - 'null'
        DataType:
          type:
          - string
          - 'null'
        Value:
          type:
          - string
          - 'null'
      additionalProperties: false
    InstrumentClasses:
      enum:
      - Bond
      - Indices
      - Stock
      - Other
      - StructuredProduct
      - Fund
      - MoneyMarket
      - Derivative
      - Currency
      - Technical
      - Commodity
      - CurrencyForward
      - InterestRateSwaps
      - DepositoryReceipt
      - ExchangeTradedFund
      - PreferredShares
      - CoveredWarrant
      - Warrant
      - Units
      - ExchangeTradedCommodity
      - All
      type: string
    Sectors:
      enum:
      - Unknown
      - BasicMaterials
      - Conglomerates
      - ConsumerGoods
      - Financial
      - Healthcare
      - IndustrialGoods
      - Services
      - Technology
      - Utilities
      type: string
    DataProviders:
      enum:
      - XigniteComposite
      - Telekurs
      - LegacyXignite
      - ExchangeWebsite
      - FactSet
      - ManualXignite
      type: string
    Classification:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Industry:
            type:
            - string
            - 'null'
          Sector:
            type:
            - string
            - 'null'
          Scheme:
            type:
            - string
            - 'null'
          ClassificationCode:
            type:
            - string
            - 'null'
        additionalProperties: false
    AbstractPublicWebServiceObj:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          DataProvider:
            allOf:
            - $ref: '#/components/schemas/DataProviders'
        additionalProperties: false
    InstrumentRelatedTypes:
      enum:
      - None
      - Securities
      type: string
    OutcomeTypes:
      enum:
      - Success
      - SystemError
      - RequestError
      - RegistrationError
      type: string
    Exchanges:
      enum:
      - XALG
      - BCFS
      - MVCX
      - XA1X
      - XBCC
      - XBCM
      - XBCX
      - XBUE
      - XCNF
      - XMAB
      - XMEV
      - XMTB
      - XMVL
      - XROS
      - XROX
      - XTUC
      - XARM
      - AWBX
      - AWEX
      - NSXB
      - XASX
      - XNEC
      - XSFE
      - XYIE
      - EXAA
      - WBAH
      - WBDM
      - WBGF
      - BSEX
      - XIBE
      - XBAA
      - XBAH
      - XCHG
      - XDHA
      - XBAB
      - BCSE
      - ALXB
      - BLPX
      - BMTS
      - FRRF
      - MLXB
      - MTSD
      - MTSF
      - TNLB
      - VPXB
      - XBRD
      - XBRU
      - XEAS
      - XBDA
      - XBOL
      - XBLB
      - XSSE
      - XBOT
      - XBMF
      - XBSP
      - XBUL
      - CANX
      - CHIC
      - MATN
      - OMGA
      - PURE
      - XCNQ
      - XMOD
      - XTNX
      - XTSE
      - XTSX
      - XWCE
      - XBVC
      - XCAY
      - XBCL
      - XSGO
      - CCFX
      - SGEX
      - XCFE
      - XDCE
      - XSGE
      - XSHE
      - XSHG
      - XZCE
      - XBOG
      - XBNV
      - XTRZ
      - XZAG
      - XCYS
      - XPRA
      - XRMZ
      - DAMP
      - DKTC
      - XCSE
      - XFND
      - XBVR
      - XGUA
      - XQUI
      - XCAI
      - XSVA
      - XTAA
      - XTAL
      - XTAR
      - XSPS
      - XHEL
      - ALXP
      - FMTS
      - VRXP
      - XMAT
      - XMLI
      - XMON
      - XPAR
      - XPOW
      - XGSE
      - _360T
      - BERA
      - BERB
      - DUSA
      - DUSB
      - DUSC
      - ECAG
      - EUWX
      - GMTS
      - HAMA
      - HAMB
      - HANA
      - HANB
      - MUNA
      - MUNB
      - STUA
      - STUB
      - XBER
      - XDUS
      - XEEE
      - XETR
      - XEUB
      - XEUP
      - XEUR
      - XFRA
      - XGAT
      - XHAM
      - XHAN
      - XHCE
      - XMUN
      - XNEW
      - XRTR
      - XSTU
      - ZOBX
      - XGHA
      - ENAX
      - HDAT
      - XADE
      - XATH
      - XGTG
      - XCIE
      - XBCV
      - XHON
      - XCGS
      - XGEM
      - XHKF
      - XHKG
      - XBUD
      - ISEC
      - XICE
      - ISEX
      - NMCE
      - OTCX
      - XBAN
      - XBOM
      - XCAL
      - XDES
      - XIMC
      - XMDS
      - XNCD
      - XNSE
      - XBBJ
      - XJKT
      - XJNB
      - XSUR
      - XTEH
      - XIQS
      - XASM
      - XDUB
      - XFNX
      - XIEX
      - XPOS
      - XTAE
      - BOND
      - ETFP
      - ETLX
      - EXPA
      - HMTF
      - MACX
      - MOTX
      - MTAA
      - MTAX
      - MTSC
      - MTSM
      - SEDX
      - SSOB
      - XDMI
      - XTLX
      - XBRV
      - XJAM
      - JASR
      - XFKA
      - XHER
      - XJAS
      - XKAC
      - XNGO
      - XNKS
      - XOSE
      - XOSJ
      - XSAP
      - XTFF
      - XTK1
      - XTK2
      - XTKO
      - XTKS
      - XTKT
      - XAMM
      - XKAZ
      - XNAI
      - XKFE
      - XKOS
      - XKRX
      - XKUW
      - XKSE
      - XRIS
      - XBEY
      - XLIT
      - FNLT
      - CCLX
      - EMTF
      - XLUX
      - XVES
      - XMAE
      - XMDG
      - XMSW
      - XKLS
      - XLFX
      - XLOF
      - XRBM
      - XMAL
      - XMAU
      - XEMD
      - XMEX
      - XMOL
      - XULA
      - XMNX
      - XCAS
      - XMAP
      - XNAM
      - XNEP
      - NZFX
      - XNZE
      - XMAN
      - XNSA
      - FISH
      - FSHX
      - NORX
      - NOTC
      - XIMA
      - XOAM
      - XOAS
      - XOSL
      - XMUS
      - XISL
      - XKAR
      - XLAH
      - XPAE
      - XPTY
      - XPOM
      - XVPA
      - XLIM
      - XPHS
      - CETO
      - MTSP
      - PLPX
      - RPWC
      - XNCO
      - XWAR
      - ENXL
      - MDIP
      - MFOX
      - OMIP
      - OPEX
      - WQXL
      - XLIS
      - DSMD
      - BMFM
      - XBRM
      - XBSD
      - XBSE
      - XRAS
      - NNCS
      - RTSX
      - URCE
      - XAPI
      - XMIC
      - XMOS
      - XPET
      - XPIC
      - XROV
      - XRUS
      - XSAM
      - XSIB
      - XSIC
      - XECS
      - XSAU
      - XBEL
      - JADX
      - XSCE
      - XSES
      - XSIM
      - XBRA
      - XLJS
      - XLJU
      - ALTX
      - XBES
      - XJSE
      - XSAF
      - XSFA
      - YLDX
      - MABX
      - OMEL
      - SMTS
      - XBAR
      - XBIL
      - XDPA
      - XDRF
      - XLAT
      - XMAD
      - XMCE
      - XMEF
      - XMRV
      - XNAF
      - XSRM
      - XVAL
      - XCOL
      - XKHA
      - XSWA
      - FNSE
      - NMTF
      - XNGM
      - XOPV
      - XSAT
      - XSTO
      - XBRN
      - XQMH
      - XSWX
      - ROCO
      - XTAF
      - XTAI
      - XDAR
      - AFET
      - BEEX
      - TFEX
      - XBKF
      - XBKK
      - ALXA
      - AMTS
      - NDEX
      - NLPX
      - TNLA
      - XAMS
      - XEUC
      - XEUE
      - XEUI
      - XTRN
      - XTUN
      - XIAB
      - XIST
      - XTUR
      - XUGA
      - PFTS
      - XDFB
      - XKHR
      - XKIE
      - XKIS
      - XODE
      - XPRI
      - XUAX
      - XUKR
      - DGCX
      - DIFX
      - DUMX
      - XADS
      - XDFM
      - BGCI
      - BLOX
      - BOSC
      - BTEE
      - CAZE
      - CCO2
      - CHIX
      - CMTS
      - CRDL
      - CXRT
      - EMTS
      - FAIR
      - FXMT
      - GEMX
      - GFIC
      - GFIF
      - GFIN
      - ICAH
      - ICAP
      - ICEN
      - ICSE
      - IEPA
      - IMTS
      - KMTS
      - LIQU
      - LMTS
      - LPPM
      - MAEL
      - MFGL
      - MTSA
      - MTSG
      - MTSS
      - MYTR
      - NMTS
      - NYFX
      - PCDS
      - QMTS
      - QWIX
      - RMTS
      - RTSL
      - SHAR
      - SPEC
      - SWAP
      - TBEN
      - TBLA
      - TCDS
      - TFSG
      - TFSS
      - TFSV
      - TMTS
      - TPIE
      - TPIM
      - TREU
      - TRQX
      - UKPX
      - UMTS
      - VMTS
      - WCLK
      - XADF
      - XALT
      - XCOR
      - XEDX
      - XLBM
      - XLIF
      - XLME
      - XLON
      - ISDX
      - XVTX
      - ARCX
      - BATS
      - BGCF
      - BIDS
      - BLTD
      - BNDD
      - BTEC
      - CBSX
      - CCFE
      - EDGA
      - EDGX
      - FCBT
      - FCME
      - HEGX
      - ICEL
      - ITGI
      - LEVL
      - PINX
      - PIPE
      - THRD
      - TRWB
      - XASE
      - XBMK
      - XBOS
      - XBOX
      - XBRT
      - XCBF
      - XCBO
      - XCBT
      - XCCX
      - XCEC
      - XCFF
      - XCHI
      - XCIS
      - XCME
      - XEUS
      - XIMM
      - XIOM
      - XISX
      - XKBT
      - XMER
      - XMGE
      - XNAS
      - XNCM
      - XNDQ
      - XNGS
      - XNIM
      - XNMS
      - ICUS
      - XNYM
      - XNYS
      - XOCH
      - XOTC
      - XPBT
      - XPHL
      - XPHO
      - XPOR
      - XMNT
      - XCET
      - XCUE
      - XKCE
      - XSTE
      - XUNI
      - GXMA
      - BVCA
      - XCAR
      - HSTC
      - XSTC
      - XLUS
      - XZIM
      - FNFI
      - FRAA
      - FRAB
      - XETA
      - XETB
      - FNLV
      - IXSP
      - XNDX
      - ICAT
      - SGMA
      - ICEU
      - XISE
      - XIDX
      - SBIJ
      - XNMR
      - XBLN
      - XISA
      - XEQT
      - EQTA
      - EQTB
      - XNYE
      - XNYL
      - XCDE
      - XDSX
      - XBBK
      - XTIR
      - PIEU
      - XMOC
      - EMID
      - BATE
      - HMOD
      - ICAS
      - XATS
      - NURO
      - OOTC
      - PSGM
      - XAFR
      - ROTC
      - ENXB
      - TPCD
      - TPRE
      - EMDR
      - XPIN
      - BACE
      - BOAT
      - HOTC
      - DUSD
      - BAIK
      - OTCQ
      - MESQ
      - XGFI
      - XSWB
      - XSCA
      - XSCL
      - GTCO
      - AQUA
      - XNLI
      - GLBX
      - XSMP
      - KABU
      - XINV
      - XAQS
      - XHFT
      - HKME
      - BALT
      - KNMX
      - ICBX
      - AMXO
      - QMTF
      - GFIM
      - KNLI
      - XIHK
      - XIJP
      - NBOT
      - HSFX
      - XAIM
      - SECF
      - XCUR
      - FXAL
      - XDSE
      - XFCI
      - XTAM
      - VTEX
      - LAFX
      - KLEU
      - XWEE
      - BURG
      - XGME
      - XPXE
      - XRPM
      - XSOP
      - HUPX
      - PLUS
      - XTPE
      - NCEL
      - XLSM
      - C2OX
      - XECM
      - IIDX
      - ICRO
      - IBLX
      - NXEU
      - XETI
      - XETC
      - XETD
      - XELX
      - MIVX
      - XRMO
      - BLKX
      - XMOT
      - OILX
      - XHNX
      - CITX
      - PXIL
      - CLMX
      - SPRZ
      - GREE
      - BLNK
      - XZAM
      - NASB
      - CETI
      - VEGA
      - CAES
      - EPEX
      - ROFX
      - ARCO
      - XCYO
      - FNEE
      - CHIA
      - N2EX
      - BATO
      - BATY
      - NODX
      - SMEX
      - BVUR
      - LMAX
      - CHIE
      - JATA
      - BARX
      - LMAE
      - LMAO
      - LMAF
      - SGMX
      - GFIA
      - CHIJ
      - SBMF
      - XGRM
      - DBOX
      - EOTC
      - ICDX
      - TOMX
      - BAPX
      - RPDX
      - ICTQ
      - XLDN
      - MSPL
      - ICXL
      - UBSX
      - BVMF
      - SPIM
      - UKEX
      - NGXC
      - EESE
      - SEPE
      - SPAD
      - PDEX
      - XSC1
      - XSC2
      - XSC3
      - KNEM
      - KNCM
      - CSLP
      - OTCB
      - SEND
      - NASN
      - LAFL
      - CHIY
      - BOSP
      - BMFX
      - FINR
      - FINN
      - FINY
      - FINO
      - ETSC
      - GLLC
      - BURM
      - XUBS
      - BERC
      - EQTC
      - XKFB
      - MSTC
      - LICA
      - DBHK
      - GFIR
      - PFTQ
      - BFEX
      - XCAN
      - BMFA
      - GBOT
      - TRDE
      - XUSE
      - BAML
      - HSXA
      - CATS
      - PULX
      - MTCH
      - XICX
      - MCXX
      - TMXS
      - GSCI
      - PRSE
      - TRCK
      - BOVA
      - BCMM
      - BOVM
      - SELC
      - NILX
      - EQTD
      - MEAU
      - MEHK
      - NXUS
      - XLAO
      - TRQD
      - VKAB
      - NFSC
      - NAMX
      - XSTX
      - XSCU
      - XSTV
      - TOMD
      - XDBX
      - XDBC
      - XDBV
      - MISX
      - XPST
      - GMTF
      - XCEG
      - XVIE
      - XMAI
      - TPSD
      - TOCP
      - ACEX
      - CDEL
      - MCZK
      - ALXL
      - ARCD
      - BATD
      - CHID
      - EDGD
      - EDDP
      - NURD
      - TRDP
      - BOSD
      - NECD
      - NASD
      - NYSD
      - BARD
      - FRAD
      - NFSD
      - LAFD
      - LIQH
      - BAMP
      - CITD
      - CDED
      - ALDP
      - RICX
      - RICD
      - PDQX
      - PDQD
      - BRIX
      - SHAW
      - SHAD
      - IMFX
      - RBSX
      - POEE
      - PLDX
      - NOPS
      - GMEX
      - IMEQ
      - IMEN
      - IMCR
      - IMCO
      - IMBD
      - IMAG
      - EUAX
      - NPGA
      - ZKBX
      - TBSP
      - UKGD
      - SIGX
      - XTK3
      - PIRM
      - LMAD
      - MALX
      - IMEX
      - VMFX
      - ASXP
      - ASXV
      - ASXC
      - RSEX
      - DEAL
      - FXCM
      - APXL
      - HUNG
      - COAL
      - PRME
      - GXGM
      - IMIR
      - IFEU
      - IFUS
      - IFCA
      - XXSC
      - AATS
      - XMIO
      - XEUM
      - EMIR
      - OPRA
      - BSME
      - BETA
      - SIMV
      - CMEC
      - CLTD
      - ISWA
      - DCSX
      - SIGJ
      - SIGA
      - CICX
      - UBSA
      - JPMX
      - CSSX
      - MSRP
      - MAQX
      - CGMH
      - XEYE
      - ITSM
      - XSBI
      - TFSA
      - PAVE
      - CGME
      - NAVE
      - PLSX
      - TFSC
      - TFSE
      - TRDX
      - CGMU
      - CGMI
      - SSTX
      - ERIS
      - GOVX
      - XSEF
      - TFSU
      - TRFX
      - UBSP
      - CGMX
      - GXGF
      - NOFF
      - NFSA
      - EWSM
      - TPFD
      - XBXO
      - NYPC
      - ATSA
      - OTCM
      - PINC
      - PINL
      - PINI
      - FAST
      - XECC
      - XCSX
      - WDER
      - WBON
      - WGAS
      - WIND
      - WETP
      - WMTF
      - MTAH
      - ASXT
      - GXGR
      - CHEV
      - XSCO
      - NEOE
      - IEXG
      - NEXX
      - XKON
      - TRPX
      - XSSC
      - XSEC
      - SHSC
      - SZSC
      - ZARX
      - A2XX
      - AIXK
      - GROW
      - CEUX
      - IFBX
      - XFTA
      - XAUK
      - XACE
      - XAEX
      - XMID
      - XSWO
      - XKYO
      - XNII
      - XHIR
      - XDTB
      - XVSE
      - XALB
      - XANT
      - XIPE
      - XTFN
      - XJWY
      - XOST
      - XNST
      - XKST
      - XKGT
      - XKKT
      - XTKA
      - XCCE
      - TLAB
      - XOME
      - XMIL
      - XFOM
      - XTRA
      - AIMX
      - XKOR
      - ECXE
      - XDWZ
      - XABJ
      - XMOO
      - XRMS
      - XMLX
      - XBVP
      - XBAV
      - XFCM
      - XWBO
      - XBFO
      - XAOM
      - XOTB
      - PMTS
      - XFMN
      - XYKT
      - XIME
      - XSOM
      - NYMX
      - XVLA
      - XTAD
      - XBTF
      - XTFE
      - XTOE
      - XARC
      - XNYC
      - XBCE
      - OFEX
      - XPSE
      - XCSC
      - XLCE
      - XRIO
      - XBBF
      - XLTO
      - XSME
      - XVAR
      - XMIF
      - XCRC
      - XOSM
      - XMAC
      - XFFE
      - XAZX
      - XNQL
      - KOCN
      - XNEE
      - XBRE
      - XNAN
      - XLYO
      - XMAR
      - XNAY
      - XBOR
      - XLIL
      - XZRH
      - XBSL
      - XGVA
      - _CBOMSCI
      - _CBOM
      - _CBOF
      - _CBOI
      - _CBOC
      - _OMXN
      - _FNYM
      - _FCEC
      - _MSCILOCALEM
      - _MSCIEM
      - _MSCIAP
      - _MSCILOCALAP
      - _MSCILOCALDM
      - _MSCIDM
      - _MSCIUS
      - _GIDS
      - _MFQS
      - _MSCILOCAL
      - _GIF
      - _MSCI
      type: string
    PossibleValue:
      type: object
      properties:
        ProviderValue:
          type:
          - string
          - 'null'
        XigniteValue:
          type:
          - string
          - 'null'
        Description:
          type:
          - string
          - 'null'
      additionalProperties: false
    IdentifierRecord:
      type: object
      properties:
        Name:
          type:
          - string
          - 'null'
        Identifier:
          type:
          - string
          - 'null'
      additionalProperties: false
    LegacyExchangeMapping:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        additionalProperties: false
    AlternateSecurityIdentifier:
      type: object
      properties:
        AlternateIdentifier:
          type:
          - string
          - 'null'
        IdentifierType:
          allOf:
          - $ref: '#/components/schemas/AlternateIdentifierTypes'
        StartDate:
          type:
          - string
          - 'null'
        EndDate:
          type:
          - string
          - 'null'
      additionalProperties: false
    Record:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Symbol:
            type:
            - string
            - 'null'
          Name:
            type:
            - string
            - 'null'
          CUSIP:
            type:
            - string
            - 'null'
          CIK:
            type:
            - string
            - 'null'
          Valoren:
            type:
            - string
            - 'null'
          ISIN:
            type:
            - string
            - 'null'
          SEDOL:
            type:
            - string
            - 'null'
          CFICode:
            type:
            - string
            - 'null'
          InstrumentClass:
            type:
            - string
            - 'null'
          ExchangeName:
            type:
            - string
            - 'null'
          Sector:
            type:
            - string
            - 'null'
          Industry:
            type:
            - string
            - 'null'
          Exchange:
            type:
            - string
            - 'null'
          Currency:
            type:
            - string
            - 'null'
          ActiveDate:
            type:
            - string
            - 'null'
          InactiveDate:
            type:
            - string
            - 'null'
          LastUpdateDate:
            type:
            - string
            - 'null'
          HomeTradingPlace:
            type: boolean
          CompanyIdentifier:
            type:
            - string
            - 'null'
          FIGI:
            type:
            - string
            - 'null'
          CompositeFIGI:
            type:
            - string
            - 'null'
          Identifier:
            type:
            - string
            - 'null'
          IdentifierType:
            type:
            - string
            - 'null'
        additionalProperties: false
    IdentifiersByExchange:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          IdentifierType:
            type:
            - string
            - 'null'
          Exchange:
            type:
            - string
            - 'null'
          InstrumentClass:
            type:
            - string
            - 'null'
          Count:
            type: integer
            format: int32
          ArrayOfIdentifierRecords:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/IdentifierRecord'
        additionalProperties: false
    LookUpSecurity:
      type: object
      properties:
        CIK:
          type:
          - string
          - 'null'
        CUSIP:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Symbol:
          type:
          - string
          - 'null'
        ISIN:
          type:
          - string
          - 'null'
        Valoren:
          type:
          - string
          - 'null'
        SEDOL:
          type:
          - string
          - 'null'
        FIGI:
          type:
          - string
          - 'null'
        CompositeFIGI:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        InstrumentClass:
          type:
          - string
          - 'null'
        Market:
          type:
          - string
          - 'null'
        MarketIdentificationCode:
          type:
          - string
          - 'null'
        Sector:
          type:
          - string
          - 'null'
        Industry:
          type:
          - string
          - 'null'
        HomeTradingPlace:
          type: boolean
        Active:
          type: boolean
        MostLiquidExchange:
          type: boolean
      additionalProperties: false
    Industries:
      enum:
      - Unknown
      - Chemicals_MajorDiversified
      - Synthetics
      - AgriculturalChemicals
      - SpecialtyChemicals
      - MajorIntegratedOilAndGas
      - IndependentOilAndGas
      - OilAndGasRefiningAndMarketing
      - OilAndGasDrillingAndExploration
      - OilAndGasEquipmentAndServices
      - OilAndGasPipelines
      - SteelAndIron
      - Copper
      - Aluminum
      - IndustrialMetalsAndMinerals
      - Gold
      - Silver
      - NonmetallicMineralMining
      - Conglomerates
      - Appliances
      - HomeFurnishingsAndFixtures
      - HousewaresAndAccessories
      - BusinessEquipment
      - ElectronicEquipment
      - ToysAndGames
      - SportingGoods
      - RecreationalGoods_Other
      - PhotographicEquipmentAndSupplies
      - Textile_ApparelClothing
      - Textile_ApparelFootwearAndAccessories
      - RubberAndPlastics
      - PersonalProducts
      - PaperAndPaperProducts
      - PackagingAndContainers
      - CleaningProducts
      - OfficeSupplies
      - AutoManufacturers_Major
      - TrucksAndOtherVehicles
      - RecreationalVehicles
      - AutoParts
      - Food_MajorDiversified
      - FarmProducts
      - ProcessedAndPackagedGoods
      - MeatProducts
      - DairyProducts
      - Confectioners
      - Beverages_Brewers
      - Beverages_WineriesAndDistillers
      - Beverages_SoftDrinks
      - Cigarettes
      - TobaccoProducts_Other
      - MoneyCenterBanks
      - Regional_NortheastBanks
      - Regional_Mid_AtlanticBanks
      - Regional_SoutheastBanks
      - Regional_MidwestBanks
      - Regional_SouthwestBanks
      - Regional_PacificBanks
      - ForeignMoneyCenterBanks
      - ForeignRegionalBanks
      - SavingsAndLoans
      - InvestmentBrokerage_National
      - InvestmentBrokerage_Regional
      - AssetManagement
      - DiversifiedInvestments
      - CreditServices
      - Closed_EndFund_Debt
      - Closed_EndFund_Equity
      - Closed_EndFund_Foreign
      - LifeInsurance
      - AccidentAndHealthInsurance
      - PropertyAndCasualtyInsurance
      - SuretyAndTitleInsurance
      - InsuranceBrokers
      - REIT_Diversified
      - REIT_Office
      - REIT_HealthcareFacilities
      - REIT_Hotel_Motel
      - REIT_Industrial
      - REIT_Residential
      - REIT_Retail
      - MortgageInvestment
      - PropertyManagement
      - RealEstateDevelopment
      - DrugManufacturers_Major
      - DrugManufacturers_Other
      - Drugs_Generic
      - DrugDeliveryAndAccessories
      - DrugRelatedProducts
      - Biotechnology
      - DiagnosticSubstances
      - MedicalInstrumentsAndSupplies
      - MedicalAppliancesAndEquipment
      - HealthCarePlans
      - Long_TermCareFacilities
      - Hospitals
      - MedicalLaboratoriesAndResearch
      - HomeHealthCare
      - MedicalPractitioners
      - SpecializedHealthServices
      - Aerospace_Defense_MajorDiversified
      - Aerospace_DefenseProductsAndServices
      - FarmAndConstructionMachinery
      - IndustrialEquipmentAndComponents
      - DiversifiedMachinery
      - PollutionAndTreatmentControls
      - MachineToolsAndAccessories
      - SmallToolsAndAccessories
      - MetalFabrication
      - IndustrialElectricalEquipment
      - TextileIndustrial
      - ResidentialConstruction
      - ManufacturedHousing
      - Lumber_WoodProduction
      - Cement
      - GeneralBuildingMaterials
      - HeavyConstruction
      - GeneralContractors
      - WasteManagement
      - Lodging
      - ResortsAndCasinos
      - Restaurants
      - SpecialtyEateries
      - GamingActivities
      - SportingActivities
      - GeneralEntertainment
      - AdvertisingAgencies
      - MarketingServices
      - Entertainment_Diversified
      - Broadcasting_TV
      - Broadcasting_Radio
      - CATVSystems
      - MovieProduction_Theaters
      - Publishing_Newspapers
      - Publishing_Periodicals
      - Publishing_Books
      - ApparelStores
      - DepartmentStores
      - Discount_VarietyStores
      - DrugStores
      - GroceryStores
      - ElectronicsStores
      - HomeImprovementStores
      - HomeFurnishingStores
      - AutoPartsStores
      - CatalogAndMailOrderHouses
      - SportingGoodsStores
      - ToyAndHobbyStores
      - JewelryStores
      - MusicAndVideoStores
      - AutoDealerships
      - SpecialtyRetail_Other
      - AutoPartsWholesale
      - BuildingMaterialsWholesale
      - IndustrialEquipmentWholesale
      - ElectronicsWholesale
      - MedicalEquipmentWholesale
      - ComputersWholesale
      - DrugsWholesale
      - FoodWholesale
      - BasicMaterialsWholesale
      - Wholesale_Other
      - BusinessServices
      - RentalAndLeasingServices
      - PersonalServices
      - ConsumerServices
      - StaffingAndOutsourcingServices
      - SecurityAndProtectionServices
      - EducationAndTrainingServices
      - TechnicalServices
      - ResearchServices
      - ManagementServices
      - MajorAirlines
      - RegionalAirlines
      - AirServices_Other
      - AirDeliveryAndFreightServices
      - Trucking
      - Shipping
      - Railroads
      - DiversifiedComputerSystems
      - PersonalComputers
      - ComputerBasedSystems
      - DataStorageDevices
      - NetworkingAndCommunicationDevices
      - ComputerPeripherals
      - MultimediaAndGraphicsSoftware
      - ApplicationSoftware
      - TechnicalAndSystemSoftware
      - SecuritySoftwareAndServices
      - InformationTechnologyServices
      - HealthcareInformationServices
      - BusinessSoftwareAndServices
      - InformationAndDeliveryServices
      - Semiconductor_BroadLine
      - Semiconductor_MemoryChips
      - Semiconductor_Specialized
      - Semiconductor_IntegratedCircuits
      - SemiconductorEquipmentAndMaterials
      - PrintedCircuitBoards
      - DiversifiedElectronics
      - ScientificAndTechnicalInstruments
      - WirelessCommunications
      - CommunicationEquipment
      - ProcessingSystemsAndProducts
      - LongDistanceCarriers
      - TelecomServices_Domestic
      - TelecomServices_Foreign
      - DiversifiedCommunicationServices
      - InternetServiceProviders
      - InternetInformationProviders
      - InternetSoftwareAndServices
      - ForeignUtilities
      - ElectricUtilities
      - GasUtilities
      - DiversifiedUtilitities
      - WaterUtilities
      type: string
    SymbolChangeList:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          DateTime:
            type:
            - string
            - 'null'
          SymbolChanges:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/SymbolChange'
        additionalProperties: false
  securitySchemes:
    basic:
      type: apiKey
      description: Token for your account.
      name: _token
      in: query
