openapi: 3.2.0
info:
  title: Xignite Global Real Time API
  version: 3.0.12
servers:
- url: https://globalrealtime.xignite.com
security:
- basic: []
tags:
- name: XigniteGlobalRealTime
paths:
  /v3/xGlobalRealTime/ListSymbolChanges:
    get:
      tags:
      - XigniteGlobalRealTime
      parameters:
      - name: Exchange
        in: query
        schema:
          type: string
      - name: ChangesSince
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SymbolChangeList'
            text/json:
              schema:
                $ref: '#/components/schemas/SymbolChangeList'
            application/xml:
              schema:
                $ref: '#/components/schemas/SymbolChangeList'
            text/xml:
              schema:
                $ref: '#/components/schemas/SymbolChangeList'
            text/csv:
              schema:
                $ref: '#/components/schemas/SymbolChangeList'
      summary: Get x global real time list symbol changes
      x-summary-source: derived
      operationId: getV3XGlobalRealTimeListSymbolChanges
      x-operation-id-source: derived
  /v3/xGlobalRealTime/ListSymbols:
    get:
      tags:
      - XigniteGlobalRealTime
      parameters:
      - name: Exchange
        in: query
        schema:
          type: string
      - name: StartSymbol
        in: query
        schema:
          type: string
      - name: EndSymbol
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SymbolList'
            text/json:
              schema:
                $ref: '#/components/schemas/SymbolList'
            application/xml:
              schema:
                $ref: '#/components/schemas/SymbolList'
            text/xml:
              schema:
                $ref: '#/components/schemas/SymbolList'
            text/csv:
              schema:
                $ref: '#/components/schemas/SymbolList'
      summary: Get x global real time list symbols
      x-summary-source: derived
      operationId: getV3XGlobalRealTimeListSymbols
      x-operation-id-source: derived
  /v3/xGlobalRealTime/ListExchanges:
    get:
      tags:
      - XigniteGlobalRealTime
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangeList'
            text/json:
              schema:
                $ref: '#/components/schemas/ExchangeList'
            application/xml:
              schema:
                $ref: '#/components/schemas/ExchangeList'
            text/xml:
              schema:
                $ref: '#/components/schemas/ExchangeList'
            text/csv:
              schema:
                $ref: '#/components/schemas/ExchangeList'
      summary: Get x global real time list exchanges
      x-summary-source: derived
      operationId: getV3XGlobalRealTimeListExchanges
      x-operation-id-source: derived
  /v3/xGlobalRealTime/GetGlobalExtendedQuote:
    get:
      tags:
      - XigniteGlobalRealTime
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/IdentifierTypes'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalExtendedQuote'
            text/json:
              schema:
                $ref: '#/components/schemas/GlobalExtendedQuote'
            application/xml:
              schema:
                $ref: '#/components/schemas/GlobalExtendedQuote'
            text/xml:
              schema:
                $ref: '#/components/schemas/GlobalExtendedQuote'
            text/csv:
              schema:
                $ref: '#/components/schemas/GlobalExtendedQuote'
      summary: Get x global real time get global extended quote
      x-summary-source: derived
      operationId: getV3XGlobalRealTimeGetGlobalExtendedQuote
      x-operation-id-source: derived
  /v3/xGlobalRealTime/GetGlobalRealTimeQuote:
    get:
      tags:
      - XigniteGlobalRealTime
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/IdentifierTypes'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalQuote'
            text/json:
              schema:
                $ref: '#/components/schemas/GlobalQuote'
            application/xml:
              schema:
                $ref: '#/components/schemas/GlobalQuote'
            text/xml:
              schema:
                $ref: '#/components/schemas/GlobalQuote'
            text/csv:
              schema:
                $ref: '#/components/schemas/GlobalQuote'
      summary: Get x global real time get global real time quote
      x-summary-source: derived
      operationId: getV3XGlobalRealTimeGetGlobalRealTimeQuote
      x-operation-id-source: derived
  /v3/xGlobalRealTime/GetGlobalExtendedQuotes:
    get:
      tags:
      - XigniteGlobalRealTime
      parameters:
      - name: Identifiers
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/IdentifierTypes'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GlobalExtendedQuote'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GlobalExtendedQuote'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GlobalExtendedQuote'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GlobalExtendedQuote'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GlobalExtendedQuote'
      summary: Get x global real time get global extended quotes
      x-summary-source: derived
      operationId: getV3XGlobalRealTimeGetGlobalExtendedQuotes
      x-operation-id-source: derived
  /v3/xGlobalRealTime/GetGlobalRealTimeQuotes:
    get:
      tags:
      - XigniteGlobalRealTime
      parameters:
      - name: Identifiers
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/IdentifierTypes'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GlobalQuote'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GlobalQuote'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GlobalQuote'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GlobalQuote'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GlobalQuote'
      summary: Get x global real time get global real time quotes
      x-summary-source: derived
      operationId: getV3XGlobalRealTimeGetGlobalRealTimeQuotes
      x-operation-id-source: derived
  /v3/xGlobalRealTime/GetAuctionPrices:
    get:
      tags:
      - XigniteGlobalRealTime
      parameters:
      - name: Identifiers
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/IdentifierTypes'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GlobalAuctionQuote'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GlobalAuctionQuote'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GlobalAuctionQuote'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GlobalAuctionQuote'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GlobalAuctionQuote'
      summary: Get x global real time get auction prices
      x-summary-source: derived
      operationId: getV3XGlobalRealTimeGetAuctionPrices
      x-operation-id-source: derived
  /v3/xGlobalRealTime/GetGlobalRealTimeVWAP:
    get:
      tags:
      - XigniteGlobalRealTime
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/IdentifierTypes'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntradayVWAP'
            text/json:
              schema:
                $ref: '#/components/schemas/IntradayVWAP'
            application/xml:
              schema:
                $ref: '#/components/schemas/IntradayVWAP'
            text/xml:
              schema:
                $ref: '#/components/schemas/IntradayVWAP'
            text/csv:
              schema:
                $ref: '#/components/schemas/IntradayVWAP'
      summary: Get x global real time get global real time vwap
      x-summary-source: derived
      operationId: getV3XGlobalRealTimeGetGlobalRealTimeVWAP
      x-operation-id-source: derived
  /v3/xGlobalRealTime/GetTopMarketMovers:
    get:
      tags:
      - XigniteGlobalRealTime
      parameters:
      - name: MarketMoverType
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/MarketMoverTypes'
      - name: NumberOfMarketMovers
        in: query
        schema:
          type: integer
          format: int32
      - name: Exchanges
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketMovers'
            text/json:
              schema:
                $ref: '#/components/schemas/MarketMovers'
            application/xml:
              schema:
                $ref: '#/components/schemas/MarketMovers'
            text/xml:
              schema:
                $ref: '#/components/schemas/MarketMovers'
            text/csv:
              schema:
                $ref: '#/components/schemas/MarketMovers'
      summary: Get x global real time get top market movers
      x-summary-source: derived
      operationId: getV3XGlobalRealTimeGetTopMarketMovers
      x-operation-id-source: derived
  /v3/xGlobalRealTime/GetChartBars:
    get:
      tags:
      - XigniteGlobalRealTime
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/IdentifierTypes'
      - name: StartTime
        in: query
        schema:
          type: string
      - name: EndTime
        in: query
        schema:
          type: string
      - name: Precision
        in: query
        schema:
          type: string
      - name: Period
        in: query
        schema:
          type: integer
          format: int32
      - name: AdjustmentMethod
        in: query
        schema:
          type: string
      - name: IncludeExtended
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EquityChartBars'
            text/json:
              schema:
                $ref: '#/components/schemas/EquityChartBars'
            application/xml:
              schema:
                $ref: '#/components/schemas/EquityChartBars'
            text/xml:
              schema:
                $ref: '#/components/schemas/EquityChartBars'
            text/csv:
              schema:
                $ref: '#/components/schemas/EquityChartBars'
      summary: Get x global real time get chart bars
      x-summary-source: derived
      operationId: getV3XGlobalRealTimeGetChartBars
      x-operation-id-source: derived
  /v3/xGlobalRealTime/GetBars:
    get:
      tags:
      - XigniteGlobalRealTime
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/IdentifierTypes'
      - name: StartTime
        in: query
        schema:
          type: string
      - name: EndTime
        in: query
        schema:
          type: string
      - name: Precision
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/TickPrecisions'
      - name: Period
        in: query
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalBars'
            text/json:
              schema:
                $ref: '#/components/schemas/GlobalBars'
            application/xml:
              schema:
                $ref: '#/components/schemas/GlobalBars'
            text/xml:
              schema:
                $ref: '#/components/schemas/GlobalBars'
            text/csv:
              schema:
                $ref: '#/components/schemas/GlobalBars'
      summary: Get x global real time get bars
      x-summary-source: derived
      operationId: getV3XGlobalRealTimeGetBars
      x-operation-id-source: derived
  /v3/xGlobalRealTime/GetBar:
    get:
      tags:
      - XigniteGlobalRealTime
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/IdentifierTypes'
      - name: EndTime
        in: query
        schema:
          type: string
      - name: Precision
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/TickPrecisions'
      - name: Period
        in: query
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalBar'
            text/json:
              schema:
                $ref: '#/components/schemas/GlobalBar'
            application/xml:
              schema:
                $ref: '#/components/schemas/GlobalBar'
            text/xml:
              schema:
                $ref: '#/components/schemas/GlobalBar'
            text/csv:
              schema:
                $ref: '#/components/schemas/GlobalBar'
      summary: Get x global real time get bar
      x-summary-source: derived
      operationId: getV3XGlobalRealTimeGetBar
      x-operation-id-source: derived
  /v3/xGlobalRealTime/GetGlobalIntradayVWAP:
    get:
      tags:
      - XigniteGlobalRealTime
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/IdentifierTypes'
      - name: StartTime
        in: query
        schema:
          type: string
      - name: EndTime
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntradayVWAP'
            text/json:
              schema:
                $ref: '#/components/schemas/IntradayVWAP'
            application/xml:
              schema:
                $ref: '#/components/schemas/IntradayVWAP'
            text/xml:
              schema:
                $ref: '#/components/schemas/IntradayVWAP'
            text/csv:
              schema:
                $ref: '#/components/schemas/IntradayVWAP'
      summary: Get x global real time get global intraday vwap
      x-summary-source: derived
      operationId: getV3XGlobalRealTimeGetGlobalIntradayVWAP
      x-operation-id-source: derived
components:
  schemas:
    GlobalAuctionQuote:
      allOf:
      - $ref: '#/components/schemas/QuoteWithSecurity'
      - type: object
        properties:
          OpeningAuction:
            type: number
            format: double
          OpeningAuctionSize:
            type: number
            format: double
          OpeningAuctionDate:
            type:
            - string
            - 'null'
          OpeningAuctionTime:
            type:
            - string
            - 'null'
          ClosingAuction:
            type: number
            format: double
          ClosingAuctionSize:
            type: number
            format: double
          ClosingAuctionDate:
            type:
            - string
            - 'null'
          ClosingAuctionTime:
            type:
            - string
            - 'null'
          LastAuction:
            type: number
            format: double
          LastAuctionSize:
            type: number
            format: double
          PreviousClosingAuction:
            type: number
            format: double
          PreviousClosingAuctionDate:
            type:
            - string
            - 'null'
          UTCOffset:
            type: number
            format: double
          Date:
            type:
            - string
            - 'null'
          Time:
            type:
            - string
            - 'null'
          Identifier:
            type:
            - string
            - 'null'
          IdentifierType:
            type:
            - string
            - 'null'
        additionalProperties: false
    EquityChartBars:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Security:
            allOf:
            - $ref: '#/components/schemas/Security'
          ChartBars:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/ChartBar'
          Identifier:
            type:
            - string
            - 'null'
          IdentifierType:
            type:
            - string
            - 'null'
          Timing:
            type:
            - string
            - 'null'
        additionalProperties: false
    Common:
      type: object
      properties:
        Delay:
          type: number
          format: double
        Identity:
          type:
          - string
          - 'null'
        Message:
          type:
          - string
          - 'null'
        Outcome:
          allOf:
          - $ref: '#/components/schemas/OutcomeTypes'
      additionalProperties: false
    MarketMoverTypes:
      enum:
      - PercentGainers
      - PercentLosers
      - MostActive
      type: string
    GlobalExtendedQuote:
      allOf:
      - $ref: '#/components/schemas/GlobalQuote'
      - type: object
        properties:
          VolumeDate:
            type:
            - string
            - 'null'
          ExtendedHoursDate:
            type:
            - string
            - 'null'
          ExtendedHoursTime:
            type:
            - string
            - 'null'
          ExtendedHoursType:
            type:
            - string
            - 'null'
          ExtendedHoursPrice:
            type: number
            format: double
          ExtendedHoursChange:
            type: number
            format: double
          ExtendedHoursPercentChange:
            type: number
            format: double
          ExtendedHoursTradeConditions:
            type:
            - string
            - 'null'
          LimitDate:
            type:
            - string
            - 'null'
          LimitTime:
            type:
            - string
            - 'null'
          LimitDown:
            type: number
            format: double
          LimitUp:
            type: number
            format: double
        additionalProperties: false
    IdentifierTypes:
      enum:
      - Symbol
      - CIK
      - CUSIP
      - ISIN
      - Valoren
      - SEDOL
      - FIGI
      - CompositeFIGI
      type: string
    ExchangeDescription:
      type: object
      properties:
        MarketIdentificationCode:
          type:
          - string
          - 'null'
        Market:
          type:
          - string
          - 'null'
      additionalProperties: false
    SymbolChange:
      type: object
      properties:
        Symbol:
          type:
          - string
          - 'null'
        OldSymbol:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        OldName:
          type:
          - string
          - 'null'
        Exchange:
          type:
          - string
          - 'null'
        OldExchange:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        OldCurrency:
          type:
          - string
          - 'null'
        Type:
          type:
          - string
          - 'null'
        InstrumentClass:
          type:
          - string
          - 'null'
      additionalProperties: false
    Security:
      type: object
      properties:
        CIK:
          type:
          - string
          - 'null'
        CUSIP:
          type:
          - string
          - 'null'
        Symbol:
          type:
          - string
          - 'null'
        ISIN:
          type:
          - string
          - 'null'
        Valoren:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        Market:
          type:
          - string
          - 'null'
        MarketIdentificationCode:
          type:
          - string
          - 'null'
        MostLiquidExchange:
          type: boolean
        CategoryOrIndustry:
          type:
          - string
          - 'null'
      additionalProperties: false
    ChartBar:
      type: object
      properties:
        StartDate:
          type:
          - string
          - 'null'
        StartTime:
          type:
          - string
          - 'null'
        EndDate:
          type:
          - string
          - 'null'
        EndTime:
          type:
          - string
          - 'null'
        UTCOffset:
          type: number
          format: double
        Open:
          type: number
          format: double
        High:
          type: number
          format: double
        Low:
          type: number
          format: double
        Close:
          type: number
          format: double
        Volume:
          type: number
          format: double
        Trades:
          type: integer
          format: int32
        TWAP:
          type: number
          format: double
        VWAP:
          type: number
          format: double
        Currency:
          type:
          - string
          - 'null'
        Session:
          type:
          - string
          - 'null'
        AdjustmentRatio:
          type: number
          format: double
      additionalProperties: false
    QuoteWithSecurity:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Security:
            allOf:
            - $ref: '#/components/schemas/Security'
        additionalProperties: false
    Bar:
      type: object
      properties:
        StartDate:
          type:
          - string
          - 'null'
        StartTime:
          type:
          - string
          - 'null'
        EndDate:
          type:
          - string
          - 'null'
        EndTime:
          type:
          - string
          - 'null'
        UTCOffset:
          type: number
          format: double
        Open:
          type: number
          format: double
        High:
          type: number
          format: double
        Low:
          type: number
          format: double
        Close:
          type: number
          format: double
        Volume:
          type: number
          format: double
        Trades:
          type: integer
          format: int32
        TWAP:
          type: number
          format: double
        VWAP:
          type: number
          format: double
      additionalProperties: false
    MarketMovers:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          MarketMoverType:
            type:
            - string
            - 'null'
          NumberOfMarketMovers:
            type: integer
            format: int32
          Exchanges:
            type:
            - string
            - 'null'
          InstrumentClass:
            type:
            - string
            - 'null'
          Universe:
            type:
            - string
            - 'null'
          Movers:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/MarketMover'
        additionalProperties: false
    OutcomeTypes:
      enum:
      - Success
      - SystemError
      - RequestError
      - RegistrationError
      type: string
    SecurityDescription:
      type: object
      properties:
        Symbol:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
      additionalProperties: false
    MarketMover:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          MarketMoverType:
            type:
            - string
            - 'null'
          Symbol:
            type:
            - string
            - 'null'
          Name:
            type:
            - string
            - 'null'
          InstrumentClass:
            type:
            - string
            - 'null'
          Market:
            type:
            - string
            - 'null'
          MarketIdentificationCode:
            type:
            - string
            - 'null'
          Date:
            type:
            - string
            - 'null'
          Time:
            type:
            - string
            - 'null'
          UTCOffset:
            type: number
            format: double
          Last:
            type: number
            format: double
          ChangeFromPreviousClose:
            type: number
            format: double
          PercentChangeFromPreviousClose:
            type: number
            format: double
          Volume:
            type: number
            format: double
          Currency:
            type:
            - string
            - 'null'
        additionalProperties: false
    GlobalBars:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Identifier:
            type:
            - string
            - 'null'
          IdentifierType:
            type:
            - string
            - 'null'
          Bars:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/Bar'
          Security:
            allOf:
            - $ref: '#/components/schemas/Security'
        additionalProperties: false
    SymbolList:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Exchange:
            allOf:
            - $ref: '#/components/schemas/ExchangeDescription'
          SecurityDescriptions:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/SecurityDescription'
        additionalProperties: false
    IntradayVWAPTypes:
      enum:
      - RealTime
      - Delayed
      - OneMinute
      - FiveMinute
      - TenMinute
      - ThirtyMinute
      - OneHour
      - Period
      type: string
    GlobalQuote:
      allOf:
      - $ref: '#/components/schemas/QuoteWithSecurity'
      - type: object
        properties:
          Date:
            type:
            - string
            - 'null'
          Time:
            type:
            - string
            - 'null'
          UTCOffset:
            type: number
            format: double
          Open:
            type: number
            format: double
          Close:
            type: number
            format: double
          High:
            type: number
            format: double
          Low:
            type: number
            format: double
          Last:
            type: number
            format: double
          LastSize:
            type: number
            format: double
          Volume:
            type: number
            format: double
          PreviousClose:
            type: number
            format: double
          PreviousCloseDate:
            type:
            - string
            - 'null'
          ChangeFromPreviousClose:
            type: number
            format: double
          PercentChangeFromPreviousClose:
            type: number
            format: double
          Bid:
            type: number
            format: double
          BidSize:
            type: number
            format: double
          BidDate:
            type:
            - string
            - 'null'
          BidTime:
            type:
            - string
            - 'null'
          Ask:
            type: number
            format: double
          AskSize:
            type: number
            format: double
          AskDate:
            type:
            - string
            - 'null'
          AskTime:
            type:
            - string
            - 'null'
          High52Weeks:
            type: number
            format: double
          Low52Weeks:
            type: number
            format: double
          Currency:
            type:
            - string
            - 'null'
          TradingHalted:
            type: boolean
          BidMarketIdentificationCode:
            type:
            - string
            - 'null'
          AskMarketIdentificationCode:
            type:
            - string
            - 'null'
          LastMarketIdentificationCode:
            type:
            - string
            - 'null'
          Identifier:
            type:
            - string
            - 'null'
          IdentifierType:
            type:
            - string
            - 'null'
        additionalProperties: false
    GlobalBar:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Bar:
            allOf:
            - $ref: '#/components/schemas/Bar'
          Identifier:
            type:
            - string
            - 'null'
          IdentifierType:
            type:
            - string
            - 'null'
          Security:
            allOf:
            - $ref: '#/components/schemas/Security'
        additionalProperties: false
    TickPrecisions:
      enum:
      - Seconds
      - Minutes
      - Hours
      type: string
    IntradayVWAP:
      allOf:
      - $ref: '#/components/schemas/QuoteWithSecurity'
      - type: object
        properties:
          Date:
            type:
            - string
            - 'null'
          StartTime:
            type:
            - string
            - 'null'
          EndTime:
            type:
            - string
            - 'null'
          UTCOffset:
            type: number
            format: double
          VWAPType:
            allOf:
            - $ref: '#/components/schemas/IntradayVWAPTypes'
          VWAP:
            type: number
            format: double
          High:
            type: number
            format: double
          Low:
            type: number
            format: double
          Average:
            type: number
            format: double
          Amount:
            type: number
            format: double
          Volume:
            type: number
            format: double
          Trades:
            type: integer
            format: int32
          Identifier:
            type:
            - string
            - 'null'
          IdentifierType:
            type:
            - string
            - 'null'
        additionalProperties: false
    SymbolChangeList:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          DateTime:
            type:
            - string
            - 'null'
          SymbolChanges:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/SymbolChange'
        additionalProperties: false
    ExchangeList:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          ExchangeDescriptions:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/ExchangeDescription'
        additionalProperties: false
  securitySchemes:
    basic:
      type: apiKey
      description: Token for your account.
      name: _token
      in: query
