openapi: 3.0.4
info:
  title: XigniteBonds CloudAlerts XigniteCloudFiles API
  version: 1.0.3
servers:
- url: https://cloudfiles.xignite.com
security:
- basic: []
tags:
- name: XigniteCloudFiles
paths:
  /xCloudFiles/GetFile:
    get:
      tags:
      - XigniteCloudFiles
      parameters:
      - name: FileName
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudFile'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudFile'
            application/xml:
              schema:
                $ref: '#/components/schemas/CloudFile'
            text/xml:
              schema:
                $ref: '#/components/schemas/CloudFile'
            text/csv:
              schema:
                $ref: '#/components/schemas/CloudFile'
components:
  schemas:
    FileDownload:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Name:
            type: string
            nullable: true
          Url:
            type: string
            nullable: true
        additionalProperties: false
    Common:
      type: object
      properties:
        Delay:
          type: number
          format: double
        Identity:
          type: string
          nullable: true
        Message:
          type: string
          nullable: true
        Outcome:
          allOf:
          - $ref: '#/components/schemas/OutcomeTypes'
      additionalProperties: false
    OutcomeTypes:
      enum:
      - Success
      - SystemError
      - RequestError
      - RegistrationError
      type: string
    CloudFile:
      allOf:
      - $ref: '#/components/schemas/FileDownload'
      - type: object
        properties:
          FileName:
            type: string
            nullable: true
        additionalProperties: false
  securitySchemes:
    basic:
      type: apiKey
      description: Token for your account.
      name: _token
      in: query
