openapi: 3.2.0
info:
  title: Xignite Money Markets API
  version: 1.0.8
servers:
- url: https://moneymarkets.xignite.com
security:
- basic: []
tags:
- name: XigniteMoneyMarkets
paths:
  /xMoneyMarkets/ListRates:
    get:
      tags:
      - XigniteMoneyMarkets
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RateDescription'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RateDescription'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RateDescription'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RateDescription'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RateDescription'
      summary: Get x money markets list rates
      x-summary-source: derived
      operationId: getXMoneyMarketsListRates
      x-operation-id-source: derived
  /xMoneyMarkets/ListSwapRates:
    get:
      tags:
      - XigniteMoneyMarkets
      parameters:
      - name: SwapType
        in: query
        schema:
          type: string
      - name: Currency
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SwapRateDescription'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SwapRateDescription'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SwapRateDescription'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SwapRateDescription'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SwapRateDescription'
      summary: Get x money markets list swap rates
      x-summary-source: derived
      operationId: getXMoneyMarketsListSwapRates
      x-operation-id-source: derived
  /xMoneyMarkets/SearchRates:
    get:
      tags:
      - XigniteMoneyMarkets
      parameters:
      - name: Pattern
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RateDescription'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RateDescription'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RateDescription'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RateDescription'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RateDescription'
      summary: Get x money markets search rates
      x-summary-source: derived
      operationId: getXMoneyMarketsSearchRates
      x-operation-id-source: derived
  /xMoneyMarkets/GetSwapRate:
    get:
      tags:
      - XigniteMoneyMarkets
      parameters:
      - name: Type
        in: query
        schema:
          type: string
      - name: Currency
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SwapRate'
            text/json:
              schema:
                $ref: '#/components/schemas/SwapRate'
            application/xml:
              schema:
                $ref: '#/components/schemas/SwapRate'
            text/xml:
              schema:
                $ref: '#/components/schemas/SwapRate'
            text/csv:
              schema:
                $ref: '#/components/schemas/SwapRate'
      summary: Get x money markets get swap rate
      x-summary-source: derived
      operationId: getXMoneyMarketsGetSwapRate
      x-operation-id-source: derived
  /xMoneyMarkets/GetSwapRateExtended:
    get:
      tags:
      - XigniteMoneyMarkets
      parameters:
      - name: SwapType
        in: query
        schema:
          type: string
      - name: Currency
        in: query
        schema:
          type: string
      - name: Tenor
        in: query
        schema:
          type: string
      - name: FloatingReferenceRate
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SwapRateExtended'
            text/json:
              schema:
                $ref: '#/components/schemas/SwapRateExtended'
            application/xml:
              schema:
                $ref: '#/components/schemas/SwapRateExtended'
            text/xml:
              schema:
                $ref: '#/components/schemas/SwapRateExtended'
            text/csv:
              schema:
                $ref: '#/components/schemas/SwapRateExtended'
      summary: Get x money markets get swap rate extended
      x-summary-source: derived
      operationId: getXMoneyMarketsGetSwapRateExtended
      x-operation-id-source: derived
  /xMoneyMarkets/GetSwapRateFamily:
    get:
      tags:
      - XigniteMoneyMarkets
      parameters:
      - name: Currency
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SwapRate'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SwapRate'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SwapRate'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SwapRate'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SwapRate'
      summary: Get x money markets get swap rate family
      x-summary-source: derived
      operationId: getXMoneyMarketsGetSwapRateFamily
      x-operation-id-source: derived
  /xMoneyMarkets/GetSwapRateFamilyExtended:
    get:
      tags:
      - XigniteMoneyMarkets
      parameters:
      - name: SwapType
        in: query
        schema:
          type: string
      - name: Currency
        in: query
        schema:
          type: string
      - name: FloatingReferenceRate
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SwapRateExtended'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SwapRateExtended'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SwapRateExtended'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SwapRateExtended'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SwapRateExtended'
      summary: Get x money markets get swap rate family extended
      x-summary-source: derived
      operationId: getXMoneyMarketsGetSwapRateFamilyExtended
      x-operation-id-source: derived
  /xMoneyMarkets/GetHistoricalSwapRate:
    get:
      tags:
      - XigniteMoneyMarkets
      parameters:
      - name: Type
        in: query
        schema:
          type: string
      - name: Currency
        in: query
        schema:
          type: string
      - name: AsOfDate
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SwapRate'
            text/json:
              schema:
                $ref: '#/components/schemas/SwapRate'
            application/xml:
              schema:
                $ref: '#/components/schemas/SwapRate'
            text/xml:
              schema:
                $ref: '#/components/schemas/SwapRate'
            text/csv:
              schema:
                $ref: '#/components/schemas/SwapRate'
      summary: Get x money markets get historical swap rate
      x-summary-source: derived
      operationId: getXMoneyMarketsGetHistoricalSwapRate
      x-operation-id-source: derived
  /xMoneyMarkets/GetHistoricalSwapRateExtended:
    get:
      tags:
      - XigniteMoneyMarkets
      parameters:
      - name: SwapType
        in: query
        schema:
          type: string
      - name: Currency
        in: query
        schema:
          type: string
      - name: Tenor
        in: query
        schema:
          type: string
      - name: AsOfDate
        in: query
        schema:
          type: string
      - name: FloatingReferenceRate
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SwapRateExtended'
            text/json:
              schema:
                $ref: '#/components/schemas/SwapRateExtended'
            application/xml:
              schema:
                $ref: '#/components/schemas/SwapRateExtended'
            text/xml:
              schema:
                $ref: '#/components/schemas/SwapRateExtended'
            text/csv:
              schema:
                $ref: '#/components/schemas/SwapRateExtended'
      summary: Get x money markets get historical swap rate extended
      x-summary-source: derived
      operationId: getXMoneyMarketsGetHistoricalSwapRateExtended
      x-operation-id-source: derived
  /xMoneyMarkets/GetHistoricalSwapRateRange:
    get:
      tags:
      - XigniteMoneyMarkets
      parameters:
      - name: Type
        in: query
        schema:
          type: string
      - name: Currency
        in: query
        schema:
          type: string
      - name: StartDate
        in: query
        schema:
          type: string
      - name: EndDate
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SwapRate'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SwapRate'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SwapRate'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SwapRate'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SwapRate'
      summary: Get x money markets get historical swap rate range
      x-summary-source: derived
      operationId: getXMoneyMarketsGetHistoricalSwapRateRange
      x-operation-id-source: derived
  /xMoneyMarkets/GetHistoricalSwapRateExtendedRange:
    get:
      tags:
      - XigniteMoneyMarkets
      parameters:
      - name: SwapType
        in: query
        schema:
          type: string
      - name: Currency
        in: query
        schema:
          type: string
      - name: Tenor
        in: query
        schema:
          type: string
      - name: StartDate
        in: query
        schema:
          type: string
      - name: EndDate
        in: query
        schema:
          type: string
      - name: FloatingReferenceRate
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SwapRateExtended'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SwapRateExtended'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SwapRateExtended'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SwapRateExtended'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SwapRateExtended'
      summary: Get x money markets get historical swap rate extended range
      x-summary-source: derived
      operationId: getXMoneyMarketsGetHistoricalSwapRateExtendedRange
      x-operation-id-source: derived
  /xMoneyMarkets/GetTreasuryRate:
    get:
      tags:
      - XigniteMoneyMarkets
      parameters:
      - name: Type
        in: query
        schema:
          type: string
      - name: Currency
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InterestRate'
            text/json:
              schema:
                $ref: '#/components/schemas/InterestRate'
            application/xml:
              schema:
                $ref: '#/components/schemas/InterestRate'
            text/xml:
              schema:
                $ref: '#/components/schemas/InterestRate'
            text/csv:
              schema:
                $ref: '#/components/schemas/InterestRate'
      summary: Get x money markets get treasury rate
      x-summary-source: derived
      operationId: getXMoneyMarketsGetTreasuryRate
      x-operation-id-source: derived
  /xMoneyMarkets/GetTreasuryRateFamily:
    get:
      tags:
      - XigniteMoneyMarkets
      parameters:
      - name: Currency
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/InterestRate'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/InterestRate'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/InterestRate'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/InterestRate'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/InterestRate'
      summary: Get x money markets get treasury rate family
      x-summary-source: derived
      operationId: getXMoneyMarketsGetTreasuryRateFamily
      x-operation-id-source: derived
  /xMoneyMarkets/GetHistoricalSwaption:
    get:
      tags:
      - XigniteMoneyMarkets
      parameters:
      - name: FirstType
        in: query
        schema:
          type: string
      - name: SecondType
        in: query
        schema:
          type: string
      - name: Currency
        in: query
        schema:
          type: string
      - name: AsOfDate
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Swaption'
            text/json:
              schema:
                $ref: '#/components/schemas/Swaption'
            application/xml:
              schema:
                $ref: '#/components/schemas/Swaption'
            text/xml:
              schema:
                $ref: '#/components/schemas/Swaption'
            text/csv:
              schema:
                $ref: '#/components/schemas/Swaption'
      summary: Get x money markets get historical swaption
      x-summary-source: derived
      operationId: getXMoneyMarketsGetHistoricalSwaption
      x-operation-id-source: derived
  /xMoneyMarkets/GetHistoricalSwaptionFamily:
    get:
      tags:
      - XigniteMoneyMarkets
      parameters:
      - name: Currency
        in: query
        schema:
          type: string
      - name: AsOfDate
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Swaption'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Swaption'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Swaption'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Swaption'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Swaption'
      summary: Get x money markets get historical swaption family
      x-summary-source: derived
      operationId: getXMoneyMarketsGetHistoricalSwaptionFamily
      x-operation-id-source: derived
  /xMoneyMarkets/GetSwaption:
    get:
      tags:
      - XigniteMoneyMarkets
      parameters:
      - name: FirstType
        in: query
        schema:
          type: string
      - name: SecondType
        in: query
        schema:
          type: string
      - name: Currency
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Swaption'
            text/json:
              schema:
                $ref: '#/components/schemas/Swaption'
            application/xml:
              schema:
                $ref: '#/components/schemas/Swaption'
            text/xml:
              schema:
                $ref: '#/components/schemas/Swaption'
            text/csv:
              schema:
                $ref: '#/components/schemas/Swaption'
      summary: Get x money markets get swaption
      x-summary-source: derived
      operationId: getXMoneyMarketsGetSwaption
      x-operation-id-source: derived
  /xMoneyMarkets/GetSwaptionFamily:
    get:
      tags:
      - XigniteMoneyMarkets
      parameters:
      - name: Currency
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Swaption'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Swaption'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Swaption'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Swaption'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Swaption'
      summary: Get x money markets get swaption family
      x-summary-source: derived
      operationId: getXMoneyMarketsGetSwaptionFamily
      x-operation-id-source: derived
  /xMoneyMarkets/GetForwardRateAgreement:
    get:
      tags:
      - XigniteMoneyMarkets
      parameters:
      - name: FirstType
        in: query
        schema:
          type: string
      - name: SecondType
        in: query
        schema:
          type: string
      - name: Currency
        in: query
        schema:
          type: string
      - name: AsOfDate
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForwardRateAgreement'
            text/json:
              schema:
                $ref: '#/components/schemas/ForwardRateAgreement'
            application/xml:
              schema:
                $ref: '#/components/schemas/ForwardRateAgreement'
            text/xml:
              schema:
                $ref: '#/components/schemas/ForwardRateAgreement'
            text/csv:
              schema:
                $ref: '#/components/schemas/ForwardRateAgreement'
      summary: Get x money markets get forward rate agreement
      x-summary-source: derived
      operationId: getXMoneyMarketsGetForwardRateAgreement
      x-operation-id-source: derived
components:
  schemas:
    OutcomeTypes:
      enum:
      - Success
      - SystemError
      - RequestError
      - RegistrationError
      type: string
    InterestRate:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        additionalProperties: false
    SwapRateExtended:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        additionalProperties: false
    RateDescription:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        additionalProperties: false
    Common:
      type: object
      properties:
        Delay:
          type: number
          format: double
        Identity:
          type:
          - string
          - 'null'
        Message:
          type:
          - string
          - 'null'
        Outcome:
          allOf:
          - $ref: '#/components/schemas/OutcomeTypes'
      additionalProperties: false
    SwapRate:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        additionalProperties: false
    SwapRateDescription:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        additionalProperties: false
    ForwardRateAgreement:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        additionalProperties: false
    Swaption:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        additionalProperties: false
  securitySchemes:
    basic:
      type: apiKey
      description: Token for your account.
      name: _token
      in: query
