openapi: 3.2.0
info:
  title: Xignite Crypto API
  version: 1.0.2
servers:
- url: https://crypto.xignite.com
security:
- basic: []
tags:
- name: XigniteCrypto
paths:
  /xCrypto/GetHistoricalQuoteRange:
    get:
      tags:
      - XigniteCrypto
      parameters:
      - name: Symbol
        in: query
        schema:
          type: string
      - name: Currency
        in: query
        schema:
          type: string
      - name: StartDate
        in: query
        schema:
          type: string
      - name: EndDate
        in: query
        schema:
          type: string
      - name: FixingTime
        in: query
        schema:
          type: string
      - name: PeriodType
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CryptoHistoricalQuoteRange'
            text/json:
              schema:
                $ref: '#/components/schemas/CryptoHistoricalQuoteRange'
            application/xml:
              schema:
                $ref: '#/components/schemas/CryptoHistoricalQuoteRange'
            text/xml:
              schema:
                $ref: '#/components/schemas/CryptoHistoricalQuoteRange'
            text/csv:
              schema:
                $ref: '#/components/schemas/CryptoHistoricalQuoteRange'
      summary: Get x crypto get historical quote range
      x-summary-source: derived
      operationId: getXCryptoGetHistoricalQuoteRange
      x-operation-id-source: derived
  /xCrypto/GetExchangeHistoricalQuoteRange:
    get:
      tags:
      - XigniteCrypto
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: Currency
        in: query
        schema:
          type: string
      - name: StartDate
        in: query
        schema:
          type: string
      - name: EndDate
        in: query
        schema:
          type: string
      - name: FixingTime
        in: query
        schema:
          type: string
      - name: PeriodType
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CryptoExchangeHistoricalQuote'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CryptoExchangeHistoricalQuote'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CryptoExchangeHistoricalQuote'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CryptoExchangeHistoricalQuote'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CryptoExchangeHistoricalQuote'
      summary: Get x crypto get exchange historical quote range
      x-summary-source: derived
      operationId: getXCryptoGetExchangeHistoricalQuoteRange
      x-operation-id-source: derived
  /xCrypto/GetHistoricalQuotes:
    get:
      tags:
      - XigniteCrypto
      parameters:
      - name: Symbols
        in: query
        schema:
          type: string
      - name: Currency
        in: query
        schema:
          type: string
      - name: AsOfDate
        in: query
        schema:
          type: string
      - name: FixingTime
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CryptoHistoricalQuote'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CryptoHistoricalQuote'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CryptoHistoricalQuote'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CryptoHistoricalQuote'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CryptoHistoricalQuote'
      summary: Get x crypto get historical quotes
      x-summary-source: derived
      operationId: getXCryptoGetHistoricalQuotes
      x-operation-id-source: derived
  /xCrypto/GetQuotes:
    get:
      tags:
      - XigniteCrypto
      parameters:
      - name: Symbols
        in: query
        schema:
          type: string
      - name: Currency
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CryptoQuote'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CryptoQuote'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CryptoQuote'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CryptoQuote'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CryptoQuote'
      summary: Get x crypto get quotes
      x-summary-source: derived
      operationId: getXCryptoGetQuotes
      x-operation-id-source: derived
  /xCrypto/GetReferenceData:
    get:
      tags:
      - XigniteCrypto
      parameters:
      - name: Symbols
        in: query
        schema:
          type: string
      - name: DataTypes
        in: query
        schema:
          type: string
      - name: AsOfDate
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CryptoReferenceData'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CryptoReferenceData'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CryptoReferenceData'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CryptoReferenceData'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CryptoReferenceData'
      summary: Get x crypto get reference data
      x-summary-source: derived
      operationId: getXCryptoGetReferenceData
      x-operation-id-source: derived
  /xCrypto/GetTopCryptoHeadlines:
    get:
      tags:
      - XigniteCrypto
      parameters:
      - name: Symbols
        in: query
        schema:
          type: string
      - name: ExcludeCategories
        in: query
        schema:
          type: string
      - name: StartDateTime
        in: query
        schema:
          type: string
      - name: Count
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopCryptoHeadlines'
            text/json:
              schema:
                $ref: '#/components/schemas/TopCryptoHeadlines'
            application/xml:
              schema:
                $ref: '#/components/schemas/TopCryptoHeadlines'
            text/xml:
              schema:
                $ref: '#/components/schemas/TopCryptoHeadlines'
            text/csv:
              schema:
                $ref: '#/components/schemas/TopCryptoHeadlines'
      summary: Get x crypto get top crypto headlines
      x-summary-source: derived
      operationId: getXCryptoGetTopCryptoHeadlines
      x-operation-id-source: derived
  /xCrypto/GetTopMarketHeadlines:
    get:
      tags:
      - XigniteCrypto
      parameters:
      - name: NewsSources
        in: query
        schema:
          type: string
      - name: Categories
        in: query
        schema:
          type: string
      - name: ExcludeCategories
        in: query
        schema:
          type: string
      - name: StartDateTime
        in: query
        schema:
          type: string
      - name: Count
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopMarketHeadlines'
            text/json:
              schema:
                $ref: '#/components/schemas/TopMarketHeadlines'
            application/xml:
              schema:
                $ref: '#/components/schemas/TopMarketHeadlines'
            text/xml:
              schema:
                $ref: '#/components/schemas/TopMarketHeadlines'
            text/csv:
              schema:
                $ref: '#/components/schemas/TopMarketHeadlines'
      summary: Get x crypto get top market headlines
      x-summary-source: derived
      operationId: getXCryptoGetTopMarketHeadlines
      x-operation-id-source: derived
  /xCrypto/ListCryptos:
    get:
      tags:
      - XigniteCrypto
      parameters:
      - name: Exchange
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CryptoList'
            text/json:
              schema:
                $ref: '#/components/schemas/CryptoList'
            application/xml:
              schema:
                $ref: '#/components/schemas/CryptoList'
            text/xml:
              schema:
                $ref: '#/components/schemas/CryptoList'
            text/csv:
              schema:
                $ref: '#/components/schemas/CryptoList'
      summary: Get x crypto list cryptos
      x-summary-source: derived
      operationId: getXCryptoListCryptos
      x-operation-id-source: derived
  /xCrypto/ListExchanges:
    get:
      tags:
      - XigniteCrypto
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangeList'
            text/json:
              schema:
                $ref: '#/components/schemas/ExchangeList'
            application/xml:
              schema:
                $ref: '#/components/schemas/ExchangeList'
            text/xml:
              schema:
                $ref: '#/components/schemas/ExchangeList'
            text/csv:
              schema:
                $ref: '#/components/schemas/ExchangeList'
      summary: Get x crypto list exchanges
      x-summary-source: derived
      operationId: getXCryptoListExchanges
      x-operation-id-source: derived
  /xCrypto/ListNewsCategories:
    get:
      tags:
      - XigniteCrypto
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewsCategoryList'
            text/json:
              schema:
                $ref: '#/components/schemas/NewsCategoryList'
            application/xml:
              schema:
                $ref: '#/components/schemas/NewsCategoryList'
            text/xml:
              schema:
                $ref: '#/components/schemas/NewsCategoryList'
            text/csv:
              schema:
                $ref: '#/components/schemas/NewsCategoryList'
      summary: Get x crypto list news categories
      x-summary-source: derived
      operationId: getXCryptoListNewsCategories
      x-operation-id-source: derived
  /xCrypto/ListNewsSources:
    get:
      tags:
      - XigniteCrypto
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewsSourceList'
            text/json:
              schema:
                $ref: '#/components/schemas/NewsSourceList'
            application/xml:
              schema:
                $ref: '#/components/schemas/NewsSourceList'
            text/xml:
              schema:
                $ref: '#/components/schemas/NewsSourceList'
            text/csv:
              schema:
                $ref: '#/components/schemas/NewsSourceList'
      summary: Get x crypto list news sources
      x-summary-source: derived
      operationId: getXCryptoListNewsSources
      x-operation-id-source: derived
  /xCrypto/ListReferenceData:
    get:
      tags:
      - XigniteCrypto
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReferenceDataList'
            text/json:
              schema:
                $ref: '#/components/schemas/ReferenceDataList'
            application/xml:
              schema:
                $ref: '#/components/schemas/ReferenceDataList'
            text/xml:
              schema:
                $ref: '#/components/schemas/ReferenceDataList'
            text/csv:
              schema:
                $ref: '#/components/schemas/ReferenceDataList'
      summary: Get x crypto list reference data
      x-summary-source: derived
      operationId: getXCryptoListReferenceData
      x-operation-id-source: derived
  /xCrypto/GetChartBars:
    get:
      tags:
      - XigniteCrypto
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: StartTime
        in: query
        schema:
          type: string
      - name: EndTime
        in: query
        schema:
          type: string
      - name: Precision
        in: query
        schema:
          type: string
      - name: Period
        in: query
        schema:
          type: integer
          format: int32
      - name: Currency
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CryptoChartBars'
            text/json:
              schema:
                $ref: '#/components/schemas/CryptoChartBars'
            application/xml:
              schema:
                $ref: '#/components/schemas/CryptoChartBars'
            text/xml:
              schema:
                $ref: '#/components/schemas/CryptoChartBars'
            text/csv:
              schema:
                $ref: '#/components/schemas/CryptoChartBars'
      summary: Get x crypto get chart bars
      x-summary-source: derived
      operationId: getXCryptoGetChartBars
      x-operation-id-source: derived
  /xCrypto/GetExchangeQuotes:
    get:
      tags:
      - XigniteCrypto
      parameters:
      - name: Identifiers
        in: query
        schema:
          type: string
      - name: Currency
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CryptoExchangeQuote'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CryptoExchangeQuote'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CryptoExchangeQuote'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CryptoExchangeQuote'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CryptoExchangeQuote'
      summary: Get x crypto get exchange quotes
      x-summary-source: derived
      operationId: getXCryptoGetExchangeQuotes
      x-operation-id-source: derived
  /xCrypto/ListTopCoins:
    get:
      tags:
      - XigniteCrypto
      parameters:
      - name: Type
        in: query
        schema:
          type: string
      - name: Count
        in: query
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopCoinList'
            text/json:
              schema:
                $ref: '#/components/schemas/TopCoinList'
            application/xml:
              schema:
                $ref: '#/components/schemas/TopCoinList'
            text/xml:
              schema:
                $ref: '#/components/schemas/TopCoinList'
            text/csv:
              schema:
                $ref: '#/components/schemas/TopCoinList'
      summary: Get x crypto list top coins
      x-summary-source: derived
      operationId: getXCryptoListTopCoins
      x-operation-id-source: derived
components:
  schemas:
    CryptoHistoricalQuote:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          HistoricalQuote:
            allOf:
            - $ref: '#/components/schemas/HistoricalQuote'
        additionalProperties: false
    NewsCategory:
      type: object
      additionalProperties: false
    CryptoReferenceData:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Symbol:
            type:
            - string
            - 'null'
          ReferenceDataSet:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/ReferenceData'
        additionalProperties: false
    Common:
      type: object
      properties:
        Delay:
          type: number
          format: double
        Identity:
          type:
          - string
          - 'null'
        Message:
          type:
          - string
          - 'null'
        Outcome:
          allOf:
          - $ref: '#/components/schemas/OutcomeTypes'
      additionalProperties: false
    TopMarketHeadlines:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          NewsHeadlines:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/NewsHeadline'
        additionalProperties: false
    Crypto:
      type: object
      properties:
        Symbol:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
      additionalProperties: false
    TopCoinList:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          TopCoins:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/TopCoin'
        additionalProperties: false
    TopCoin:
      type: object
      properties:
        Symbol:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        MarketCapitalization:
          type: number
          format: decimal
        Volume:
          type: number
          format: decimal
      additionalProperties: false
    CryptoExchangeQuote:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          ExchangeQuote:
            allOf:
            - $ref: '#/components/schemas/ExchangeQuote'
        additionalProperties: false
    Quote:
      type: object
      properties:
        Symbol:
          type:
          - string
          - 'null'
        Exchange:
          type:
          - string
          - 'null'
        DateTime:
          type:
          - string
          - 'null'
        Open:
          type: number
          format: decimal
        High:
          type: number
          format: decimal
        Low:
          type: number
          format: decimal
        Last:
          type: number
          format: decimal
        Median:
          type: number
          format: decimal
        Volume:
          type: number
          format: decimal
        MarketCapitalization:
          type: number
          format: decimal
        Change:
          type: number
          format: decimal
        PercentChange:
          type: number
          format: decimal
        High52Weeks:
          type: number
          format: decimal
        Low52Weeks:
          type: number
          format: decimal
        Currency:
          type:
          - string
          - 'null'
      additionalProperties: false
    CryptoHistoricalQuoteRange:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          CryptoHistoricalQuotes:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/HistoricalQuote'
        additionalProperties: false
    CryptoChartBars:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Symbol:
            type:
            - string
            - 'null'
          Currency:
            type:
            - string
            - 'null'
          Exchange:
            type:
            - string
            - 'null'
          ChartBars:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/ChartBar'
        additionalProperties: false
    ChartBar:
      type: object
      properties:
        StartTime:
          type:
          - string
          - 'null'
        EndTime:
          type:
          - string
          - 'null'
        Open:
          type: number
          format: decimal
        High:
          type: number
          format: decimal
        Low:
          type: number
          format: decimal
        Close:
          type: number
          format: decimal
        Trades:
          type: integer
          format: int32
        Volume:
          type: number
          format: decimal
        TWAP:
          type: number
          format: decimal
        VWAP:
          type: number
          format: decimal
      additionalProperties: false
    ReferenceDataList:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          ReferenceDescriptions:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/ReferenceDescription'
        additionalProperties: false
    ReferenceDescription:
      type: object
      properties:
        Description:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        Type:
          type:
          - string
          - 'null'
      additionalProperties: false
    NewsSource:
      type: object
      properties:
        Code:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        Language:
          type:
          - string
          - 'null'
        Image:
          type:
          - string
          - 'null'
      additionalProperties: false
    TopCryptoHeadlines:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          NewsHeadlines:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/NewsHeadline'
        additionalProperties: false
    Exchange:
      type: object
      properties:
        Name:
          type:
          - string
          - 'null'
        Code:
          type:
          - string
          - 'null'
        Description:
          type:
          - string
          - 'null'
        Country:
          type:
          - string
          - 'null'
      additionalProperties: false
    OutcomeTypes:
      enum:
      - Success
      - SystemError
      - RequestError
      - RegistrationError
      type: string
    ExchangeQuote:
      type: object
      properties:
        Symbol:
          type:
          - string
          - 'null'
        Exchange:
          type:
          - string
          - 'null'
        Identifier:
          type:
          - string
          - 'null'
        DateTime:
          type:
          - string
          - 'null'
        Open:
          type: number
          format: decimal
        High:
          type: number
          format: decimal
        Low:
          type: number
          format: decimal
        Last:
          type: number
          format: decimal
        VolumeCurrentHour:
          type: number
          format: decimal
        Volume24Hour:
          type: number
          format: decimal
        LastVolume:
          type: number
          format: decimal
        Bid:
          type:
          - number
          - 'null'
          format: decimal
        BidSize:
          type:
          - number
          - 'null'
          format: decimal
        BidTime:
          type:
          - string
          - 'null'
        Ask:
          type:
          - number
          - 'null'
          format: decimal
        AskSize:
          type:
          - number
          - 'null'
          format: decimal
        AskTime:
          type:
          - string
          - 'null'
        Change:
          type: number
          format: decimal
        PercentChange:
          type: number
          format: decimal
        Currency:
          type:
          - string
          - 'null'
      additionalProperties: false
    HistoricalQuote:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Symbol:
            type:
            - string
            - 'null'
          StartDateTime:
            type:
            - string
            - 'null'
          EndDateTime:
            type:
            - string
            - 'null'
          Open:
            type: number
            format: decimal
          High:
            type: number
            format: decimal
          Low:
            type: number
            format: decimal
          Close:
            type: number
            format: decimal
          Volume:
            type: number
            format: decimal
          Change:
            type: number
            format: decimal
          PercentChange:
            type: number
            format: decimal
          Currency:
            type:
            - string
            - 'null'
        additionalProperties: false
    CryptoList:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Cryptos:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/Crypto'
        additionalProperties: false
    NewsHeadline:
      type: object
      properties:
        DateTime:
          type:
          - string
          - 'null'
        Title:
          type:
          - string
          - 'null'
        Url:
          type:
          - string
          - 'null'
        NewsSource:
          allOf:
          - $ref: '#/components/schemas/NewsSource'
        Summary:
          type:
          - string
          - 'null'
        ImageUrl:
          type:
          - string
          - 'null'
        Tags:
          type:
          - array
          - 'null'
          items:
            type: string
        Categories:
          type:
          - array
          - 'null'
          items:
            type: string
      additionalProperties: false
    NewsCategoryList:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          NewsCategories:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/NewsCategory'
        additionalProperties: false
    ReferenceData:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          AsOfDate:
            type:
            - string
            - 'null'
          Type:
            type:
            - string
            - 'null'
          Value:
            type:
            - string
            - 'null'
          LastUpdated:
            type:
            - string
            - 'null'
        additionalProperties: false
    NewsSourceList:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          NewsSources:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/NewsSource'
        additionalProperties: false
    CryptoExchangeHistoricalQuote:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          ExchangeHistoricalQuote:
            allOf:
            - $ref: '#/components/schemas/ExchangeHistoricalQuote'
        additionalProperties: false
    CryptoQuote:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Quote:
            allOf:
            - $ref: '#/components/schemas/Quote'
        additionalProperties: false
    ExchangeHistoricalQuote:
      type: object
      properties:
        Symbol:
          type:
          - string
          - 'null'
        Exchange:
          type:
          - string
          - 'null'
        Identifier:
          type:
          - string
          - 'null'
        StartDateTime:
          type:
          - string
          - 'null'
        EndDateTime:
          type:
          - string
          - 'null'
        Open:
          type: number
          format: decimal
        High:
          type: number
          format: decimal
        Low:
          type: number
          format: decimal
        Close:
          type: number
          format: decimal
        Bid:
          type:
          - number
          - 'null'
          format: decimal
        Ask:
          type:
          - number
          - 'null'
          format: decimal
        Volume:
          type: number
          format: decimal
        Change:
          type: number
          format: decimal
        PercentChange:
          type: number
          format: decimal
        Currency:
          type:
          - string
          - 'null'
      additionalProperties: false
    ExchangeList:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Exchanges:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/Exchange'
        additionalProperties: false
  securitySchemes:
    basic:
      type: apiKey
      description: Token for your account.
      name: _token
      in: query
