openapi: 3.2.0
info:
  title: Xignite Global News API
  version: 1.0.3
servers:
- url: https://globalnews.xignite.com
security:
- basic: []
tags:
- name: XigniteGlobalNews
paths:
  /xGlobalNews/GetTodaysMarketHeadlines:
    get:
      tags:
      - XigniteGlobalNews
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketHeadlines'
            text/json:
              schema:
                $ref: '#/components/schemas/MarketHeadlines'
            application/xml:
              schema:
                $ref: '#/components/schemas/MarketHeadlines'
            text/xml:
              schema:
                $ref: '#/components/schemas/MarketHeadlines'
            text/csv:
              schema:
                $ref: '#/components/schemas/MarketHeadlines'
      summary: Get x global news get todays market headlines
      x-summary-source: derived
      operationId: getXGlobalNewsGetTodaysMarketHeadlines
      x-operation-id-source: derived
  /xGlobalNews/GetTodaysMarketReleases:
    get:
      tags:
      - XigniteGlobalNews
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketHeadlines'
            text/json:
              schema:
                $ref: '#/components/schemas/MarketHeadlines'
            application/xml:
              schema:
                $ref: '#/components/schemas/MarketHeadlines'
            text/xml:
              schema:
                $ref: '#/components/schemas/MarketHeadlines'
            text/csv:
              schema:
                $ref: '#/components/schemas/MarketHeadlines'
      summary: Get x global news get todays market releases
      x-summary-source: derived
      operationId: getXGlobalNewsGetTodaysMarketReleases
      x-operation-id-source: derived
  /xGlobalNews/GetTodaysMarketHeadlinesBySector:
    get:
      tags:
      - XigniteGlobalNews
      parameters:
      - name: Sector
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketHeadlines'
            text/json:
              schema:
                $ref: '#/components/schemas/MarketHeadlines'
            application/xml:
              schema:
                $ref: '#/components/schemas/MarketHeadlines'
            text/xml:
              schema:
                $ref: '#/components/schemas/MarketHeadlines'
            text/csv:
              schema:
                $ref: '#/components/schemas/MarketHeadlines'
      summary: Get x global news get todays market headlines by sector
      x-summary-source: derived
      operationId: getXGlobalNewsGetTodaysMarketHeadlinesBySector
      x-operation-id-source: derived
  /xGlobalNews/GetTodaysSecurityHeadlines:
    get:
      tags:
      - XigniteGlobalNews
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityHeadlines'
            text/json:
              schema:
                $ref: '#/components/schemas/SecurityHeadlines'
            application/xml:
              schema:
                $ref: '#/components/schemas/SecurityHeadlines'
            text/xml:
              schema:
                $ref: '#/components/schemas/SecurityHeadlines'
            text/csv:
              schema:
                $ref: '#/components/schemas/SecurityHeadlines'
      summary: Get x global news get todays security headlines
      x-summary-source: derived
      operationId: getXGlobalNewsGetTodaysSecurityHeadlines
      x-operation-id-source: derived
  /xGlobalNews/GetMarketHeadlinesByQuery:
    get:
      tags:
      - XigniteGlobalNews
      parameters:
      - name: Date
        in: query
        schema:
          type: string
      - name: StartTime
        in: query
        schema:
          type: string
      - name: EndTime
        in: query
        schema:
          type: string
      - name: QueryText
        in: query
        schema:
          type: string
      - name: Count
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketHeadlines'
            text/json:
              schema:
                $ref: '#/components/schemas/MarketHeadlines'
            application/xml:
              schema:
                $ref: '#/components/schemas/MarketHeadlines'
            text/xml:
              schema:
                $ref: '#/components/schemas/MarketHeadlines'
            text/csv:
              schema:
                $ref: '#/components/schemas/MarketHeadlines'
      summary: Get x global news get market headlines by query
      x-summary-source: derived
      operationId: getXGlobalNewsGetMarketHeadlinesByQuery
      x-operation-id-source: derived
  /xGlobalNews/GetTopMarketHeadlines:
    get:
      tags:
      - XigniteGlobalNews
      parameters:
      - name: Count
        in: query
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketHeadlines'
            text/json:
              schema:
                $ref: '#/components/schemas/MarketHeadlines'
            application/xml:
              schema:
                $ref: '#/components/schemas/MarketHeadlines'
            text/xml:
              schema:
                $ref: '#/components/schemas/MarketHeadlines'
            text/csv:
              schema:
                $ref: '#/components/schemas/MarketHeadlines'
      summary: Get x global news get top market headlines
      x-summary-source: derived
      operationId: getXGlobalNewsGetTopMarketHeadlines
      x-operation-id-source: derived
  /xGlobalNews/GetTopMarketHeadlinesBySector:
    get:
      tags:
      - XigniteGlobalNews
      parameters:
      - name: Count
        in: query
        schema:
          type: integer
          format: int32
      - name: Sector
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketHeadlines'
            text/json:
              schema:
                $ref: '#/components/schemas/MarketHeadlines'
            application/xml:
              schema:
                $ref: '#/components/schemas/MarketHeadlines'
            text/xml:
              schema:
                $ref: '#/components/schemas/MarketHeadlines'
            text/csv:
              schema:
                $ref: '#/components/schemas/MarketHeadlines'
      summary: Get x global news get top market headlines by sector
      x-summary-source: derived
      operationId: getXGlobalNewsGetTopMarketHeadlinesBySector
      x-operation-id-source: derived
  /xGlobalNews/GetRecentTopSecurityHeadlines:
    get:
      tags:
      - XigniteGlobalNews
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          type: string
      - name: Count
        in: query
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityHeadlines'
            text/json:
              schema:
                $ref: '#/components/schemas/SecurityHeadlines'
            application/xml:
              schema:
                $ref: '#/components/schemas/SecurityHeadlines'
            text/xml:
              schema:
                $ref: '#/components/schemas/SecurityHeadlines'
            text/csv:
              schema:
                $ref: '#/components/schemas/SecurityHeadlines'
      summary: Get x global news get recent top security headlines
      x-summary-source: derived
      operationId: getXGlobalNewsGetRecentTopSecurityHeadlines
      x-operation-id-source: derived
  /xGlobalNews/GetTopSecurityHeadlines:
    get:
      tags:
      - XigniteGlobalNews
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          type: string
      - name: Count
        in: query
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityHeadlines'
            text/json:
              schema:
                $ref: '#/components/schemas/SecurityHeadlines'
            application/xml:
              schema:
                $ref: '#/components/schemas/SecurityHeadlines'
            text/xml:
              schema:
                $ref: '#/components/schemas/SecurityHeadlines'
            text/csv:
              schema:
                $ref: '#/components/schemas/SecurityHeadlines'
      summary: Get x global news get top security headlines
      x-summary-source: derived
      operationId: getXGlobalNewsGetTopSecurityHeadlines
      x-operation-id-source: derived
  /xGlobalNews/GetHistoricalSecurityHeadlines:
    get:
      tags:
      - XigniteGlobalNews
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          type: string
      - name: StartDate
        in: query
        schema:
          type: string
      - name: EndDate
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityHeadlines'
            text/json:
              schema:
                $ref: '#/components/schemas/SecurityHeadlines'
            application/xml:
              schema:
                $ref: '#/components/schemas/SecurityHeadlines'
            text/xml:
              schema:
                $ref: '#/components/schemas/SecurityHeadlines'
            text/csv:
              schema:
                $ref: '#/components/schemas/SecurityHeadlines'
      summary: Get x global news get historical security headlines
      x-summary-source: derived
      operationId: getXGlobalNewsGetHistoricalSecurityHeadlines
      x-operation-id-source: derived
  /xGlobalNews/GetHistoricalMarketHeadlines:
    get:
      tags:
      - XigniteGlobalNews
      parameters:
      - name: StartDate
        in: query
        schema:
          type: string
      - name: EndDate
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketHeadlines'
            text/json:
              schema:
                $ref: '#/components/schemas/MarketHeadlines'
            application/xml:
              schema:
                $ref: '#/components/schemas/MarketHeadlines'
            text/xml:
              schema:
                $ref: '#/components/schemas/MarketHeadlines'
            text/csv:
              schema:
                $ref: '#/components/schemas/MarketHeadlines'
      summary: Get x global news get historical market headlines
      x-summary-source: derived
      operationId: getXGlobalNewsGetHistoricalMarketHeadlines
      x-operation-id-source: derived
  /xGlobalNews/GetHistoricalMarketReleases:
    get:
      tags:
      - XigniteGlobalNews
      parameters:
      - name: StartDate
        in: query
        schema:
          type: string
      - name: EndDate
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketHeadlines'
            text/json:
              schema:
                $ref: '#/components/schemas/MarketHeadlines'
            application/xml:
              schema:
                $ref: '#/components/schemas/MarketHeadlines'
            text/xml:
              schema:
                $ref: '#/components/schemas/MarketHeadlines'
            text/csv:
              schema:
                $ref: '#/components/schemas/MarketHeadlines'
      summary: Get x global news get historical market releases
      x-summary-source: derived
      operationId: getXGlobalNewsGetHistoricalMarketReleases
      x-operation-id-source: derived
  /xGlobalNews/GetHistoricalMarketHeadlinesBySector:
    get:
      tags:
      - XigniteGlobalNews
      parameters:
      - name: StartDate
        in: query
        schema:
          type: string
      - name: EndDate
        in: query
        schema:
          type: string
      - name: Sector
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketHeadlines'
            text/json:
              schema:
                $ref: '#/components/schemas/MarketHeadlines'
            application/xml:
              schema:
                $ref: '#/components/schemas/MarketHeadlines'
            text/xml:
              schema:
                $ref: '#/components/schemas/MarketHeadlines'
            text/csv:
              schema:
                $ref: '#/components/schemas/MarketHeadlines'
      summary: Get x global news get historical market headlines by sector
      x-summary-source: derived
      operationId: getXGlobalNewsGetHistoricalMarketHeadlinesBySector
      x-operation-id-source: derived
  /xGlobalNews/GetMarketNewsDetails:
    get:
      tags:
      - XigniteGlobalNews
      parameters:
      - name: Reference
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketNewsItem'
            text/json:
              schema:
                $ref: '#/components/schemas/MarketNewsItem'
            application/xml:
              schema:
                $ref: '#/components/schemas/MarketNewsItem'
            text/xml:
              schema:
                $ref: '#/components/schemas/MarketNewsItem'
            text/csv:
              schema:
                $ref: '#/components/schemas/MarketNewsItem'
      summary: Get x global news get market news details
      x-summary-source: derived
      operationId: getXGlobalNewsGetMarketNewsDetails
      x-operation-id-source: derived
  /xGlobalNews/GetTodaysReleasesBySecurity:
    get:
      tags:
      - XigniteGlobalNews
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityHeadlines'
            text/json:
              schema:
                $ref: '#/components/schemas/SecurityHeadlines'
            application/xml:
              schema:
                $ref: '#/components/schemas/SecurityHeadlines'
            text/xml:
              schema:
                $ref: '#/components/schemas/SecurityHeadlines'
            text/csv:
              schema:
                $ref: '#/components/schemas/SecurityHeadlines'
      summary: Get x global news get todays releases by security
      x-summary-source: derived
      operationId: getXGlobalNewsGetTodaysReleasesBySecurity
      x-operation-id-source: derived
  /xGlobalNews/GetTopReleasesBySecurity:
    get:
      tags:
      - XigniteGlobalNews
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          type: string
      - name: Count
        in: query
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityHeadlines'
            text/json:
              schema:
                $ref: '#/components/schemas/SecurityHeadlines'
            application/xml:
              schema:
                $ref: '#/components/schemas/SecurityHeadlines'
            text/xml:
              schema:
                $ref: '#/components/schemas/SecurityHeadlines'
            text/csv:
              schema:
                $ref: '#/components/schemas/SecurityHeadlines'
      summary: Get x global news get top releases by security
      x-summary-source: derived
      operationId: getXGlobalNewsGetTopReleasesBySecurity
      x-operation-id-source: derived
  /xGlobalNews/GetHistoricalReleasesBySecurity:
    get:
      tags:
      - XigniteGlobalNews
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          type: string
      - name: StartDate
        in: query
        schema:
          type: string
      - name: EndDate
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityHeadlines'
            text/json:
              schema:
                $ref: '#/components/schemas/SecurityHeadlines'
            application/xml:
              schema:
                $ref: '#/components/schemas/SecurityHeadlines'
            text/xml:
              schema:
                $ref: '#/components/schemas/SecurityHeadlines'
            text/csv:
              schema:
                $ref: '#/components/schemas/SecurityHeadlines'
      summary: Get x global news get historical releases by security
      x-summary-source: derived
      operationId: getXGlobalNewsGetHistoricalReleasesBySecurity
      x-operation-id-source: derived
  /xGlobalNews/ListSectors:
    get:
      tags:
      - XigniteGlobalNews
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SectorList'
            text/json:
              schema:
                $ref: '#/components/schemas/SectorList'
            application/xml:
              schema:
                $ref: '#/components/schemas/SectorList'
            text/xml:
              schema:
                $ref: '#/components/schemas/SectorList'
            text/csv:
              schema:
                $ref: '#/components/schemas/SectorList'
      summary: Get x global news list sectors
      x-summary-source: derived
      operationId: getXGlobalNewsListSectors
      x-operation-id-source: derived
  /xGlobalNews/GetTopSecuritySummaries:
    get:
      tags:
      - XigniteGlobalNews
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          type: string
      - name: Count
        in: query
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityHeadlineSummaries'
            text/json:
              schema:
                $ref: '#/components/schemas/SecurityHeadlineSummaries'
            application/xml:
              schema:
                $ref: '#/components/schemas/SecurityHeadlineSummaries'
            text/xml:
              schema:
                $ref: '#/components/schemas/SecurityHeadlineSummaries'
            text/csv:
              schema:
                $ref: '#/components/schemas/SecurityHeadlineSummaries'
      summary: Get x global news get top security summaries
      x-summary-source: derived
      operationId: getXGlobalNewsGetTopSecuritySummaries
      x-operation-id-source: derived
  /xGlobalNews/GetTopReleaseSummariesBySecurity:
    get:
      tags:
      - XigniteGlobalNews
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          type: string
      - name: Count
        in: query
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityHeadlineSummaries'
            text/json:
              schema:
                $ref: '#/components/schemas/SecurityHeadlineSummaries'
            application/xml:
              schema:
                $ref: '#/components/schemas/SecurityHeadlineSummaries'
            text/xml:
              schema:
                $ref: '#/components/schemas/SecurityHeadlineSummaries'
            text/csv:
              schema:
                $ref: '#/components/schemas/SecurityHeadlineSummaries'
      summary: Get x global news get top release summaries by security
      x-summary-source: derived
      operationId: getXGlobalNewsGetTopReleaseSummariesBySecurity
      x-operation-id-source: derived
  /xGlobalNews/GetTopMarketSummaries:
    get:
      tags:
      - XigniteGlobalNews
      parameters:
      - name: Count
        in: query
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketHeadlineSummaries'
            text/json:
              schema:
                $ref: '#/components/schemas/MarketHeadlineSummaries'
            application/xml:
              schema:
                $ref: '#/components/schemas/MarketHeadlineSummaries'
            text/xml:
              schema:
                $ref: '#/components/schemas/MarketHeadlineSummaries'
            text/csv:
              schema:
                $ref: '#/components/schemas/MarketHeadlineSummaries'
      summary: Get x global news get top market summaries
      x-summary-source: derived
      operationId: getXGlobalNewsGetTopMarketSummaries
      x-operation-id-source: derived
  /xGlobalNews/ListExchanges:
    get:
      tags:
      - XigniteGlobalNews
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangeList'
            text/json:
              schema:
                $ref: '#/components/schemas/ExchangeList'
            application/xml:
              schema:
                $ref: '#/components/schemas/ExchangeList'
            text/xml:
              schema:
                $ref: '#/components/schemas/ExchangeList'
            text/csv:
              schema:
                $ref: '#/components/schemas/ExchangeList'
      summary: Get x global news list exchanges
      x-summary-source: derived
      operationId: getXGlobalNewsListExchanges
      x-operation-id-source: derived
  /xGlobalNews/ListSymbols:
    get:
      tags:
      - XigniteGlobalNews
      parameters:
      - name: Exchange
        in: query
        schema:
          type: string
      - name: StartSymbol
        in: query
        schema:
          type: string
      - name: EndSymbol
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SymbolList'
            text/json:
              schema:
                $ref: '#/components/schemas/SymbolList'
            application/xml:
              schema:
                $ref: '#/components/schemas/SymbolList'
            text/xml:
              schema:
                $ref: '#/components/schemas/SymbolList'
            text/csv:
              schema:
                $ref: '#/components/schemas/SymbolList'
      summary: Get x global news list symbols
      x-summary-source: derived
      operationId: getXGlobalNewsListSymbols
      x-operation-id-source: derived
components:
  schemas:
    MarketHeadlines:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Headlines:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/MarketHeadline'
        additionalProperties: false
    MarketHeadlineSummaries:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          HeadlineSummaries:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/MarketHeadlineSummary'
        additionalProperties: false
    OutcomeTypes:
      enum:
      - Success
      - SystemError
      - RequestError
      - RegistrationError
      type: string
    ExchangeDescription:
      type: object
      properties:
        MarketIdentificationCode:
          type:
          - string
          - 'null'
        Market:
          type:
          - string
          - 'null'
      additionalProperties: false
    MarketNewsItem:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Headline:
            type:
            - string
            - 'null'
          Time:
            type:
            - string
            - 'null'
          Source:
            type:
            - string
            - 'null'
          Url:
            type:
            - string
            - 'null'
          Summary:
            type:
            - string
            - 'null'
          Tags:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/TagGroup'
          PaywallType:
            type:
            - string
            - 'null'
        additionalProperties: false
    TagGroup:
      type: object
      properties:
        TagType:
          type:
          - string
          - 'null'
        TagValues:
          type:
          - array
          - 'null'
          items:
            type: string
      additionalProperties: false
    Common:
      type: object
      properties:
        Delay:
          type: number
          format: double
        Identity:
          type:
          - string
          - 'null'
        Message:
          type:
          - string
          - 'null'
        Outcome:
          allOf:
          - $ref: '#/components/schemas/OutcomeTypes'
      additionalProperties: false
    Security:
      type: object
      properties:
        CIK:
          type:
          - string
          - 'null'
        CUSIP:
          type:
          - string
          - 'null'
        Symbol:
          type:
          - string
          - 'null'
        ISIN:
          type:
          - string
          - 'null'
        Valoren:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        Market:
          type:
          - string
          - 'null'
        MarketIdentificationCode:
          type:
          - string
          - 'null'
        MostLiquidExchange:
          type: boolean
        CategoryOrIndustry:
          type:
          - string
          - 'null'
      additionalProperties: false
    MarketHeadlineSummary:
      allOf:
      - $ref: '#/components/schemas/MarketHeadline'
      - type: object
        properties:
          Summary:
            type:
            - string
            - 'null'
          PaywallType:
            type:
            - string
            - 'null'
        additionalProperties: false
    ExchangeList:
      type: object
      properties:
        ExchangeDescriptions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ExchangeDescription'
      additionalProperties: false
    SecurityDescription:
      type: object
      properties:
        Symbol:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        InstrumentClass:
          type:
          - string
          - 'null'
      additionalProperties: false
    SecurityHeadline:
      type: object
      properties:
        Title:
          type:
          - string
          - 'null'
        Date:
          type:
          - string
          - 'null'
        Time:
          type:
          - string
          - 'null'
        UTCOffset:
          type: number
          format: double
        Source:
          type:
          - string
          - 'null'
        Url:
          type:
          - string
          - 'null'
        Images:
          type:
          - array
          - 'null'
          items:
            type: string
        Tags:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/TagGroup'
        PaywallType:
          type:
          - string
          - 'null'
        Summary:
          type:
          - string
          - 'null'
      additionalProperties: false
    MarketHeadline:
      type: object
      properties:
        Securities:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Security'
        Title:
          type:
          - string
          - 'null'
        Date:
          type:
          - string
          - 'null'
        Time:
          type:
          - string
          - 'null'
        UTCOffset:
          type: number
          format: double
        Source:
          type:
          - string
          - 'null'
        Url:
          type:
          - string
          - 'null'
        Images:
          type:
          - array
          - 'null'
          items:
            type: string
        Tags:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/TagGroup'
        PaywallType:
          type:
          - string
          - 'null'
        Summary:
          type:
          - string
          - 'null'
      additionalProperties: false
    SecurityHeadlineSummaries:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Security:
            allOf:
            - $ref: '#/components/schemas/Security'
          HeadlineSummaries:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/SecurityHeadlineSummary'
        additionalProperties: false
    SymbolList:
      type: object
      properties:
        Exchange:
          allOf:
          - $ref: '#/components/schemas/ExchangeDescription'
        SecurityDescriptions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SecurityDescription'
      additionalProperties: false
    SecurityHeadlines:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Security:
            allOf:
            - $ref: '#/components/schemas/Security'
          Headlines:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/SecurityHeadline'
        additionalProperties: false
    SecurityHeadlineSummary:
      allOf:
      - $ref: '#/components/schemas/SecurityHeadline'
      - type: object
        properties:
          Summary:
            type:
            - string
            - 'null'
          PaywallType:
            type:
            - string
            - 'null'
        additionalProperties: false
    SectorList:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Sectors:
            type:
            - array
            - 'null'
            items:
              type: string
        additionalProperties: false
  securitySchemes:
    basic:
      type: apiKey
      description: Token for your account.
      name: _token
      in: query
