openapi: 3.2.0
info:
  title: Xignite Global Futures API
  version: 1.0.2
servers:
- url: https://globalfutures.xignite.com
security:
- basic: []
tags:
- name: XigniteGlobalFutures
paths:
  /V2/xGlobalFutures/ListBaseFutures:
    get:
      tags:
      - XigniteGlobalFutures
      parameters:
      - name: Exchange
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Future'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Future'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Future'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Future'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Future'
      summary: Get x global futures list base futures
      x-summary-source: derived
      operationId: getV2XGlobalFuturesListBaseFutures
      x-operation-id-source: derived
  /V2/xGlobalFutures/ListFutureChain:
    get:
      tags:
      - XigniteGlobalFutures
      parameters:
      - name: Basesymbol
        in: query
        schema:
          type: string
      - name: Exchange
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Future'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Future'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Future'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Future'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Future'
      summary: Get x global futures list future chain
      x-summary-source: derived
      operationId: getV2XGlobalFuturesListFutureChain
      x-operation-id-source: derived
  /V2/xGlobalFutures/ListFutureExchanges:
    get:
      tags:
      - XigniteGlobalFutures
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FutureExchange'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FutureExchange'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FutureExchange'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FutureExchange'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FutureExchange'
      summary: Get x global futures list future exchanges
      x-summary-source: derived
      operationId: getV2XGlobalFuturesListFutureExchanges
      x-operation-id-source: derived
  /V2/xGlobalFutures/ListOptionChain:
    get:
      tags:
      - XigniteGlobalFutures
      parameters:
      - name: Futuresymbol
        in: query
        schema:
          type: string
      - name: Exchange
        in: query
        schema:
          type: string
      - name: Style
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FutureOption'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FutureOption'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FutureOption'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FutureOption'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FutureOption'
      summary: Get x global futures list option chain
      x-summary-source: derived
      operationId: getV2XGlobalFuturesListOptionChain
      x-operation-id-source: derived
  /V2/xGlobalFutures/GetFrontMonthFuture:
    get:
      tags:
      - XigniteGlobalFutures
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: Exchange
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Future'
            text/json:
              schema:
                $ref: '#/components/schemas/Future'
            application/xml:
              schema:
                $ref: '#/components/schemas/Future'
            text/xml:
              schema:
                $ref: '#/components/schemas/Future'
            text/csv:
              schema:
                $ref: '#/components/schemas/Future'
      summary: Get x global futures get front month future
      x-summary-source: derived
      operationId: getV2XGlobalFuturesGetFrontMonthFuture
      x-operation-id-source: derived
  /V2/xGlobalFutures/GetFuture:
    get:
      tags:
      - XigniteGlobalFutures
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: Exchange
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Future'
            text/json:
              schema:
                $ref: '#/components/schemas/Future'
            application/xml:
              schema:
                $ref: '#/components/schemas/Future'
            text/xml:
              schema:
                $ref: '#/components/schemas/Future'
            text/csv:
              schema:
                $ref: '#/components/schemas/Future'
      summary: Get x global futures get future
      x-summary-source: derived
      operationId: getV2XGlobalFuturesGetFuture
      x-operation-id-source: derived
  /V2/xGlobalFutures/SearchFutures:
    get:
      tags:
      - XigniteGlobalFutures
      parameters:
      - name: Name
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Future'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Future'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Future'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Future'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Future'
      summary: Get x global futures search futures
      x-summary-source: derived
      operationId: getV2XGlobalFuturesSearchFutures
      x-operation-id-source: derived
  /V2/xGlobalFutures/MapLegacyBaseSymbol:
    get:
      tags:
      - XigniteGlobalFutures
      parameters:
      - name: LegacyIdentifier
        in: query
        schema:
          type: string
      - name: LegacyExchange
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseFuture'
            text/json:
              schema:
                $ref: '#/components/schemas/BaseFuture'
            application/xml:
              schema:
                $ref: '#/components/schemas/BaseFuture'
            text/xml:
              schema:
                $ref: '#/components/schemas/BaseFuture'
            text/csv:
              schema:
                $ref: '#/components/schemas/BaseFuture'
      summary: Get x global futures map legacy base symbol
      x-summary-source: derived
      operationId: getV2XGlobalFuturesMapLegacyBaseSymbol
      x-operation-id-source: derived
  /V2/xGlobalFutures/GetAllFutureQuotes:
    get:
      tags:
      - XigniteGlobalFutures
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: Exchange
        in: query
        schema:
          type: string
      - name: Count
        in: query
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FutureQuote'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FutureQuote'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FutureQuote'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FutureQuote'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FutureQuote'
      summary: Get x global futures get all future quotes
      x-summary-source: derived
      operationId: getV2XGlobalFuturesGetAllFutureQuotes
      x-operation-id-source: derived
  /V2/xGlobalFutures/GetAllOptionQuotes:
    get:
      tags:
      - XigniteGlobalFutures
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: Exchange
        in: query
        schema:
          type: string
      - name: TradedOnly
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FutureOptionQuote'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FutureOptionQuote'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FutureOptionQuote'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FutureOptionQuote'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FutureOptionQuote'
      summary: Get x global futures get all option quotes
      x-summary-source: derived
      operationId: getV2XGlobalFuturesGetAllOptionQuotes
      x-operation-id-source: derived
  /V2/xGlobalFutures/GetSpotFutureQuote:
    get:
      tags:
      - XigniteGlobalFutures
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: Exchange
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FutureQuote'
            text/json:
              schema:
                $ref: '#/components/schemas/FutureQuote'
            application/xml:
              schema:
                $ref: '#/components/schemas/FutureQuote'
            text/xml:
              schema:
                $ref: '#/components/schemas/FutureQuote'
            text/csv:
              schema:
                $ref: '#/components/schemas/FutureQuote'
      summary: Get x global futures get spot future quote
      x-summary-source: derived
      operationId: getV2XGlobalFuturesGetSpotFutureQuote
      x-operation-id-source: derived
  /V2/xGlobalFutures/GetLatestFrontMonthFutureQuotes:
    get:
      tags:
      - XigniteGlobalFutures
      parameters:
      - name: Identifiers
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FutureQuote'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FutureQuote'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FutureQuote'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FutureQuote'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FutureQuote'
      summary: Get x global futures get latest front month future quotes
      x-summary-source: derived
      operationId: getV2XGlobalFuturesGetLatestFrontMonthFutureQuotes
      x-operation-id-source: derived
  /V2/xGlobalFutures/GetLatestFutureOptionQuote:
    get:
      tags:
      - XigniteGlobalFutures
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FutureOptionQuote'
            text/json:
              schema:
                $ref: '#/components/schemas/FutureOptionQuote'
            application/xml:
              schema:
                $ref: '#/components/schemas/FutureOptionQuote'
            text/xml:
              schema:
                $ref: '#/components/schemas/FutureOptionQuote'
            text/csv:
              schema:
                $ref: '#/components/schemas/FutureOptionQuote'
      summary: Get x global futures get latest future option quote
      x-summary-source: derived
      operationId: getV2XGlobalFuturesGetLatestFutureOptionQuote
      x-operation-id-source: derived
  /V2/xGlobalFutures/GetLatestFutureOptionQuotes:
    get:
      tags:
      - XigniteGlobalFutures
      parameters:
      - name: Identifiers
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FutureOptionQuote'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FutureOptionQuote'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FutureOptionQuote'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FutureOptionQuote'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FutureOptionQuote'
      summary: Get x global futures get latest future option quotes
      x-summary-source: derived
      operationId: getV2XGlobalFuturesGetLatestFutureOptionQuotes
      x-operation-id-source: derived
  /V2/xGlobalFutures/GetLatestFutureQuote:
    get:
      tags:
      - XigniteGlobalFutures
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FutureQuote'
            text/json:
              schema:
                $ref: '#/components/schemas/FutureQuote'
            application/xml:
              schema:
                $ref: '#/components/schemas/FutureQuote'
            text/xml:
              schema:
                $ref: '#/components/schemas/FutureQuote'
            text/csv:
              schema:
                $ref: '#/components/schemas/FutureQuote'
      summary: Get x global futures get latest future quote
      x-summary-source: derived
      operationId: getV2XGlobalFuturesGetLatestFutureQuote
      x-operation-id-source: derived
  /V2/xGlobalFutures/GetLatestFutureQuotes:
    get:
      tags:
      - XigniteGlobalFutures
      parameters:
      - name: Identifiers
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FutureQuote'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FutureQuote'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FutureQuote'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FutureQuote'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FutureQuote'
      summary: Get x global futures get latest future quotes
      x-summary-source: derived
      operationId: getV2XGlobalFuturesGetLatestFutureQuotes
      x-operation-id-source: derived
  /V2/xGlobalFutures/GetFutureOptionQuote:
    get:
      tags:
      - XigniteGlobalFutures
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: Exchange
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FutureOptionQuote'
            text/json:
              schema:
                $ref: '#/components/schemas/FutureOptionQuote'
            application/xml:
              schema:
                $ref: '#/components/schemas/FutureOptionQuote'
            text/xml:
              schema:
                $ref: '#/components/schemas/FutureOptionQuote'
            text/csv:
              schema:
                $ref: '#/components/schemas/FutureOptionQuote'
      summary: Get x global futures get future option quote
      x-summary-source: derived
      operationId: getV2XGlobalFuturesGetFutureOptionQuote
      x-operation-id-source: derived
  /V2/xGlobalFutures/GetFutureOptionQuotes:
    get:
      tags:
      - XigniteGlobalFutures
      parameters:
      - name: Identifiers
        in: query
        schema:
          type: string
      - name: Exchange
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FutureOptionQuote'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FutureOptionQuote'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FutureOptionQuote'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FutureOptionQuote'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FutureOptionQuote'
      summary: Get x global futures get future option quotes
      x-summary-source: derived
      operationId: getV2XGlobalFuturesGetFutureOptionQuotes
      x-operation-id-source: derived
  /V2/xGlobalFutures/GetFutureQuote:
    get:
      tags:
      - XigniteGlobalFutures
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: Exchange
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FutureQuote'
            text/json:
              schema:
                $ref: '#/components/schemas/FutureQuote'
            application/xml:
              schema:
                $ref: '#/components/schemas/FutureQuote'
            text/xml:
              schema:
                $ref: '#/components/schemas/FutureQuote'
            text/csv:
              schema:
                $ref: '#/components/schemas/FutureQuote'
      summary: Get x global futures get future quote
      x-summary-source: derived
      operationId: getV2XGlobalFuturesGetFutureQuote
      x-operation-id-source: derived
  /V2/xGlobalFutures/GetFutureQuotes:
    get:
      tags:
      - XigniteGlobalFutures
      parameters:
      - name: Identifiers
        in: query
        schema:
          type: string
      - name: Exchange
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FutureQuote'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FutureQuote'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FutureQuote'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FutureQuote'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FutureQuote'
      summary: Get x global futures get future quotes
      x-summary-source: derived
      operationId: getV2XGlobalFuturesGetFutureQuotes
      x-operation-id-source: derived
  /V2/xGlobalFutures/GetSwapQuote:
    get:
      tags:
      - XigniteGlobalFutures
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: Exchange
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FutureQuote'
            text/json:
              schema:
                $ref: '#/components/schemas/FutureQuote'
            application/xml:
              schema:
                $ref: '#/components/schemas/FutureQuote'
            text/xml:
              schema:
                $ref: '#/components/schemas/FutureQuote'
            text/csv:
              schema:
                $ref: '#/components/schemas/FutureQuote'
      summary: Get x global futures get swap quote
      x-summary-source: derived
      operationId: getV2XGlobalFuturesGetSwapQuote
      x-operation-id-source: derived
  /V2/xGlobalFutures/GetHistoricalSwapQuotes:
    get:
      tags:
      - XigniteGlobalFutures
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: Exchange
        in: query
        schema:
          type: string
      - name: StartDate
        in: query
        schema:
          type: string
      - name: EndDate
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FutureQuote'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FutureQuote'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FutureQuote'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FutureQuote'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FutureQuote'
      summary: Get x global futures get historical swap quotes
      x-summary-source: derived
      operationId: getV2XGlobalFuturesGetHistoricalSwapQuotes
      x-operation-id-source: derived
  /V2/xGlobalFutures/GetHistoricalFutureQuotesRange:
    get:
      tags:
      - XigniteGlobalFutures
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: Exchange
        in: query
        schema:
          type: string
      - name: StartDate
        in: query
        schema:
          type: string
      - name: EndDate
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FutureQuote'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FutureQuote'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FutureQuote'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FutureQuote'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FutureQuote'
      summary: Get x global futures get historical future quotes range
      x-summary-source: derived
      operationId: getV2XGlobalFuturesGetHistoricalFutureQuotesRange
      x-operation-id-source: derived
  /V2/xGlobalFutures/GetChartBars:
    get:
      tags:
      - XigniteGlobalFutures
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/IdentifierTypes'
      - name: StartTime
        in: query
        schema:
          type: string
      - name: EndTime
        in: query
        schema:
          type: string
      - name: Precision
        in: query
        schema:
          type: string
      - name: Period
        in: query
        schema:
          type: integer
          format: int32
      - name: IncludeExtended
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FutureChartBars'
            text/json:
              schema:
                $ref: '#/components/schemas/FutureChartBars'
            application/xml:
              schema:
                $ref: '#/components/schemas/FutureChartBars'
            text/xml:
              schema:
                $ref: '#/components/schemas/FutureChartBars'
            text/csv:
              schema:
                $ref: '#/components/schemas/FutureChartBars'
      summary: Get x global futures get chart bars
      x-summary-source: derived
      operationId: getV2XGlobalFuturesGetChartBars
      x-operation-id-source: derived
components:
  schemas:
    FutureOption:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Symbol:
            type:
            - string
            - 'null'
          Valoren:
            type: integer
            format: int64
          Name:
            type:
            - string
            - 'null'
          Month:
            type: integer
            format: int32
          Year:
            type: integer
            format: int32
          Exchange:
            type:
            - string
            - 'null'
          BaseSymbol:
            type:
            - string
            - 'null'
          StrikeDate:
            type:
            - string
            - 'null'
          StrikePrice:
            type: number
            format: double
          Type:
            allOf:
            - $ref: '#/components/schemas/OptionTypes'
        additionalProperties: false
    FutureExchange:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Name:
            type:
            - string
            - 'null'
          Description:
            type:
            - string
            - 'null'
          MIC:
            type:
            - string
            - 'null'
          Group:
            type:
            - string
            - 'null'
          Realtime:
            type: boolean
        additionalProperties: false
    IdentifierTypes:
      enum:
      - Symbol
      - CIK
      - CUSIP
      - ISIN
      - Valoren
      - SEDOL
      - FIGI
      - CompositeFIGI
      type: string
    OutcomeTypes:
      enum:
      - Success
      - SystemError
      - RequestError
      - RegistrationError
      type: string
    FutureDescription:
      type: object
      properties:
        Identifier:
          type:
          - string
          - 'null'
        IdentifierType:
          type:
          - string
          - 'null'
        Symbol:
          type:
          - string
          - 'null'
        ISIN:
          type:
          - string
          - 'null'
        CUSIP:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        Month:
          type: integer
          format: int32
        Year:
          type: integer
          format: int32
        Exchange:
          type:
          - string
          - 'null'
        BaseSymbol:
          type:
          - string
          - 'null'
        Expiration:
          type:
          - string
          - 'null'
        ContractSize:
          type: number
          format: double
      additionalProperties: false
    Common:
      type: object
      properties:
        Delay:
          type: number
          format: double
        Identity:
          type:
          - string
          - 'null'
        Message:
          type:
          - string
          - 'null'
        Outcome:
          allOf:
          - $ref: '#/components/schemas/OutcomeTypes'
      additionalProperties: false
    Future:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Symbol:
            type:
            - string
            - 'null'
          Valoren:
            type: integer
            format: int64
          Name:
            type:
            - string
            - 'null'
          Month:
            type: integer
            format: int32
          Year:
            type: integer
            format: int32
          Exchange:
            type:
            - string
            - 'null'
          BaseSymbol:
            type:
            - string
            - 'null'
          ExchangeSymbol:
            type:
            - string
            - 'null'
          Expiration:
            type:
            - string
            - 'null'
          Type:
            allOf:
            - $ref: '#/components/schemas/FutureTypes'
          ContractSize:
            type: number
            format: double
        additionalProperties: false
    FutureChartBars:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Timing:
            type:
            - string
            - 'null'
          FutureDescription:
            allOf:
            - $ref: '#/components/schemas/FutureDescription'
          ChartBars:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/ChartBar'
        additionalProperties: false
    OptionTypes:
      enum:
      - Call
      - Put
      type: string
    ChartBar:
      type: object
      properties:
        StartDate:
          type:
          - string
          - 'null'
        StartTime:
          type:
          - string
          - 'null'
        EndDate:
          type:
          - string
          - 'null'
        EndTime:
          type:
          - string
          - 'null'
        UTCOffset:
          type: number
          format: double
        Open:
          type: number
          format: double
        High:
          type: number
          format: double
        Low:
          type: number
          format: double
        Close:
          type: number
          format: double
        Volume:
          type: number
          format: double
        Trades:
          type: integer
          format: int32
        TWAP:
          type: number
          format: double
        VWAP:
          type: number
          format: double
        Currency:
          type:
          - string
          - 'null'
        Session:
          type:
          - string
          - 'null'
        AdjustmentRatio:
          type: number
          format: double
      additionalProperties: false
    BaseFuture:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          LegacyExchange:
            type:
            - string
            - 'null'
          LegacySymbol:
            type:
            - string
            - 'null'
          NewExchange:
            type:
            - string
            - 'null'
          NewSymbol:
            type:
            - string
            - 'null'
          V1Root:
            type:
            - string
            - 'null'
          PriceMultiplier:
            type: number
            format: double
        additionalProperties: false
    FutureTypes:
      enum:
      - Commodities
      - Indices
      - Currencies
      - Swap
      - Future
      type: string
    FutureOptionQuote:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          FutureOption:
            allOf:
            - $ref: '#/components/schemas/FutureOption'
          Date:
            type:
            - string
            - 'null'
          Time:
            type:
            - string
            - 'null'
          UTCDate:
            type:
            - string
            - 'null'
          UTCTime:
            type:
            - string
            - 'null'
          Open:
            type: number
            format: double
          Close:
            type: number
            format: double
          High:
            type: number
            format: double
          Low:
            type: number
            format: double
          Last:
            type: number
            format: double
          Bid:
            type: number
            format: double
          Ask:
            type: number
            format: double
          BidDate:
            type:
            - string
            - 'null'
          BidTime:
            type:
            - string
            - 'null'
          AskDate:
            type:
            - string
            - 'null'
          AskTime:
            type:
            - string
            - 'null'
          Settle:
            type: number
            format: double
          SettleDate:
            type:
            - string
            - 'null'
          SettleTime:
            type:
            - string
            - 'null'
          Volume:
            type: number
            format: double
          OpenInterest:
            type: number
            format: double
          PreviousClose:
            type: number
            format: double
          PreviousCloseDate:
            type:
            - string
            - 'null'
          Change:
            type: number
            format: double
          PercentChange:
            type: number
            format: double
          Currency:
            type:
            - string
            - 'null'
        additionalProperties: false
    FutureQuote:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Future:
            allOf:
            - $ref: '#/components/schemas/Future'
          Date:
            type:
            - string
            - 'null'
          Time:
            type:
            - string
            - 'null'
          UTCDate:
            type:
            - string
            - 'null'
          UTCTime:
            type:
            - string
            - 'null'
          Open:
            type: number
            format: double
          High:
            type: number
            format: double
          Low:
            type: number
            format: double
          Last:
            type: number
            format: double
          Bid:
            type: number
            format: double
          Ask:
            type: number
            format: double
          BidDate:
            type:
            - string
            - 'null'
          BidTime:
            type:
            - string
            - 'null'
          AskDate:
            type:
            - string
            - 'null'
          AskTime:
            type:
            - string
            - 'null'
          Settle:
            type: number
            format: double
          SettleDate:
            type:
            - string
            - 'null'
          SettleTime:
            type:
            - string
            - 'null'
          Volume:
            type: number
            format: double
          OpenInterest:
            type: number
            format: double
          PreviousClose:
            type: number
            format: double
          PreviousCloseDate:
            type:
            - string
            - 'null'
          PreviousSettle:
            type: number
            format: double
          PreviousSettleDate:
            type:
            - string
            - 'null'
          Change:
            type: number
            format: double
          PercentChange:
            type: number
            format: double
          Currency:
            type:
            - string
            - 'null'
          Identifier:
            type:
            - string
            - 'null'
        additionalProperties: false
  securitySchemes:
    basic:
      type: apiKey
      description: Token for your account.
      name: _token
      in: query
