openapi: 3.2.0
info:
  title: Cloud Alerts API
  version: 1.0.2
servers:
- url: https://alerts.xignite.com
security:
- basic: []
tags:
- name: CloudAlerts
paths:
  /xAlerts/CreateAlert:
    get:
      tags:
      - CloudAlerts
      parameters:
      - name: IdentifierType
        in: query
        schema:
          type: string
      - name: Identifier
        in: query
        schema:
          type: string
      - name: API
        in: query
        schema:
          type: string
      - name: Condition
        in: query
        schema:
          type: string
      - name: Reset
        in: query
        schema:
          type: string
      - name: StartDate
        in: query
        schema:
          type: string
      - name: EndDate
        in: query
        schema:
          type: string
      - name: CallbackURL
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Alert'
            text/json:
              schema:
                $ref: '#/components/schemas/Alert'
            application/xml:
              schema:
                $ref: '#/components/schemas/Alert'
            text/xml:
              schema:
                $ref: '#/components/schemas/Alert'
            text/csv:
              schema:
                $ref: '#/components/schemas/Alert'
      summary: Get x alerts create alert
      x-summary-source: derived
      operationId: getXAlertsCreateAlert
      x-operation-id-source: derived
  /xAlerts/DeleteAlerts:
    get:
      tags:
      - CloudAlerts
      parameters:
      - name: AlertIdentifiers
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Alert'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Alert'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Alert'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Alert'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Alert'
      summary: Get x alerts delete alerts
      x-summary-source: derived
      operationId: getXAlertsDeleteAlerts
      x-operation-id-source: derived
  /xAlerts/SearchAlerts:
    get:
      tags:
      - CloudAlerts
      parameters:
      - name: Pattern
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Alert'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Alert'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Alert'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Alert'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Alert'
      summary: Get x alerts search alerts
      x-summary-source: derived
      operationId: getXAlertsSearchAlerts
      x-operation-id-source: derived
components:
  schemas:
    OutcomeTypes:
      enum:
      - Success
      - SystemError
      - RequestError
      - RegistrationError
      type: string
    Common:
      type: object
      properties:
        Delay:
          type: number
          format: double
        Identity:
          type:
          - string
          - 'null'
        Message:
          type:
          - string
          - 'null'
        Outcome:
          allOf:
          - $ref: '#/components/schemas/OutcomeTypes'
      additionalProperties: false
    Alert:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          AlertIdentifier:
            type:
            - string
            - 'null'
          Status:
            type:
            - string
            - 'null'
          IdentifierType:
            type:
            - string
            - 'null'
          Identifier:
            type:
            - string
            - 'null'
          API:
            type:
            - string
            - 'null'
          Condition:
            type:
            - string
            - 'null'
          Reset:
            type:
            - string
            - 'null'
          CallbackURL:
            type:
            - string
            - 'null'
          StartDate:
            type:
            - string
            - 'null'
          LastTriggered:
            type:
            - string
            - 'null'
          EndDate:
            type:
            - string
            - 'null'
        additionalProperties: false
  securitySchemes:
    basic:
      type: apiKey
      description: Token for your account.
      name: _token
      in: query
