openapi: 3.2.0
info:
  title: Xignite Global ESG API
  version: 1.0.4
servers:
- url: https://globalesg.xignite.com
security:
- basic: []
tags:
- name: XigniteGlobalESG
paths:
  /xGlobalESG/ListExchanges:
    get:
      tags:
      - XigniteGlobalESG
      parameters:
      - name: Region
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangeList'
            text/json:
              schema:
                $ref: '#/components/schemas/ExchangeList'
            application/xml:
              schema:
                $ref: '#/components/schemas/ExchangeList'
            text/xml:
              schema:
                $ref: '#/components/schemas/ExchangeList'
            text/csv:
              schema:
                $ref: '#/components/schemas/ExchangeList'
      summary: Get x global esg list exchanges
      x-summary-source: derived
      operationId: getXGlobalESGListExchanges
      x-operation-id-source: derived
  /xGlobalESG/ListSymbols:
    get:
      tags:
      - XigniteGlobalESG
      parameters:
      - name: Exchange
        in: query
        schema:
          type: string
      - name: DataPackage
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SymbolList'
            text/json:
              schema:
                $ref: '#/components/schemas/SymbolList'
            application/xml:
              schema:
                $ref: '#/components/schemas/SymbolList'
            text/xml:
              schema:
                $ref: '#/components/schemas/SymbolList'
            text/csv:
              schema:
                $ref: '#/components/schemas/SymbolList'
      summary: Get x global esg list symbols
      x-summary-source: derived
      operationId: getXGlobalESGListSymbols
      x-operation-id-source: derived
  /xGlobalESG/ListCategories:
    get:
      tags:
      - XigniteGlobalESG
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryList'
            text/json:
              schema:
                $ref: '#/components/schemas/CategoryList'
            application/xml:
              schema:
                $ref: '#/components/schemas/CategoryList'
            text/xml:
              schema:
                $ref: '#/components/schemas/CategoryList'
            text/csv:
              schema:
                $ref: '#/components/schemas/CategoryList'
      summary: Get x global esg list categories
      x-summary-source: derived
      operationId: getXGlobalESGListCategories
      x-operation-id-source: derived
  /xGlobalESG/ListInvolvements:
    get:
      tags:
      - XigniteGlobalESG
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvolvementList'
            text/json:
              schema:
                $ref: '#/components/schemas/InvolvementList'
            application/xml:
              schema:
                $ref: '#/components/schemas/InvolvementList'
            text/xml:
              schema:
                $ref: '#/components/schemas/InvolvementList'
            text/csv:
              schema:
                $ref: '#/components/schemas/InvolvementList'
      summary: Get x global esg list involvements
      x-summary-source: derived
      operationId: getXGlobalESGListInvolvements
      x-operation-id-source: derived
  /xGlobalESG/GetESGScores:
    get:
      tags:
      - XigniteGlobalESG
      parameters:
      - name: IdentifierType
        in: query
        schema:
          type: string
      - name: Identifiers
        in: query
        schema:
          type: string
      - name: IdentifierAsOfDate
        in: query
        schema:
          type: string
      - name: AsOfDate
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ESGScores'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ESGScores'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ESGScores'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ESGScores'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ESGScores'
      summary: Get x global esg get esg scores
      x-summary-source: derived
      operationId: getXGlobalESGGetESGScores
      x-operation-id-source: derived
  /xGlobalESG/GetHistoricalESGScoresRange:
    get:
      tags:
      - XigniteGlobalESG
      parameters:
      - name: IdentifierType
        in: query
        schema:
          type: string
      - name: Identifier
        in: query
        schema:
          type: string
      - name: IdentifierAsOfDate
        in: query
        schema:
          type: string
      - name: StartDate
        in: query
        schema:
          type: string
      - name: EndDate
        in: query
        schema:
          type: string
      - name: Version
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalESGScoresRange'
            text/json:
              schema:
                $ref: '#/components/schemas/HistoricalESGScoresRange'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalESGScoresRange'
            text/xml:
              schema:
                $ref: '#/components/schemas/HistoricalESGScoresRange'
            text/csv:
              schema:
                $ref: '#/components/schemas/HistoricalESGScoresRange'
      summary: Get x global esg get historical esg scores range
      x-summary-source: derived
      operationId: getXGlobalESGGetHistoricalESGScoresRange
      x-operation-id-source: derived
  /xGlobalESG/GetESGCategories:
    get:
      tags:
      - XigniteGlobalESG
      parameters:
      - name: IdentifierType
        in: query
        schema:
          type: string
      - name: Identifiers
        in: query
        schema:
          type: string
      - name: IdentifierAsOfDate
        in: query
        schema:
          type: string
      - name: AsOfDate
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ESGCategories'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ESGCategories'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ESGCategories'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ESGCategories'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ESGCategories'
      summary: Get x global esg get esg categories
      x-summary-source: derived
      operationId: getXGlobalESGGetESGCategories
      x-operation-id-source: derived
  /xGlobalESG/GetHistoricalESGCategoriesRange:
    get:
      tags:
      - XigniteGlobalESG
      parameters:
      - name: IdentifierType
        in: query
        schema:
          type: string
      - name: Identifier
        in: query
        schema:
          type: string
      - name: IdentifierAsOfDate
        in: query
        schema:
          type: string
      - name: StartDate
        in: query
        schema:
          type: string
      - name: EndDate
        in: query
        schema:
          type: string
      - name: Version
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalESGCategoriesRange'
            text/json:
              schema:
                $ref: '#/components/schemas/HistoricalESGCategoriesRange'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalESGCategoriesRange'
            text/xml:
              schema:
                $ref: '#/components/schemas/HistoricalESGCategoriesRange'
            text/csv:
              schema:
                $ref: '#/components/schemas/HistoricalESGCategoriesRange'
      summary: Get x global esg get historical esg categories range
      x-summary-source: derived
      operationId: getXGlobalESGGetHistoricalESGCategoriesRange
      x-operation-id-source: derived
  /xGlobalESG/GetTemperatureScores:
    get:
      tags:
      - XigniteGlobalESG
      parameters:
      - name: IdentifierType
        in: query
        schema:
          type: string
      - name: Identifiers
        in: query
        schema:
          type: string
      - name: IdentifierAsOfDate
        in: query
        schema:
          type: string
      - name: AsOfDate
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TemperatureScores'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TemperatureScores'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TemperatureScores'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TemperatureScores'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TemperatureScores'
      summary: Get x global esg get temperature scores
      x-summary-source: derived
      operationId: getXGlobalESGGetTemperatureScores
      x-operation-id-source: derived
  /xGlobalESG/GetEmissions:
    get:
      tags:
      - XigniteGlobalESG
      parameters:
      - name: IdentifierType
        in: query
        schema:
          type: string
      - name: Identifiers
        in: query
        schema:
          type: string
      - name: IdentifierAsOfDate
        in: query
        schema:
          type: string
      - name: AsOfDate
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Emissions'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Emissions'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Emissions'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Emissions'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Emissions'
      summary: Get x global esg get emissions
      x-summary-source: derived
      operationId: getXGlobalESGGetEmissions
      x-operation-id-source: derived
  /xGlobalESG/GetGlobalCompactScores:
    get:
      tags:
      - XigniteGlobalESG
      parameters:
      - name: IdentifierType
        in: query
        schema:
          type: string
      - name: Identifiers
        in: query
        schema:
          type: string
      - name: IdentifierAsOfDate
        in: query
        schema:
          type: string
      - name: AsOfDate
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GlobalCompactScores'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GlobalCompactScores'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GlobalCompactScores'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GlobalCompactScores'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GlobalCompactScores'
      summary: Get x global esg get global compact scores
      x-summary-source: derived
      operationId: getXGlobalESGGetGlobalCompactScores
      x-operation-id-source: derived
  /xGlobalESG/GetHistoricalGlobalCompactScoresRange:
    get:
      tags:
      - XigniteGlobalESG
      parameters:
      - name: IdentifierType
        in: query
        schema:
          type: string
      - name: Identifier
        in: query
        schema:
          type: string
      - name: IdentifierAsOfDate
        in: query
        schema:
          type: string
      - name: StartDate
        in: query
        schema:
          type: string
      - name: EndDate
        in: query
        schema:
          type: string
      - name: Version
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalGlobalCompactScoresRange'
            text/json:
              schema:
                $ref: '#/components/schemas/HistoricalGlobalCompactScoresRange'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalGlobalCompactScoresRange'
            text/xml:
              schema:
                $ref: '#/components/schemas/HistoricalGlobalCompactScoresRange'
            text/csv:
              schema:
                $ref: '#/components/schemas/HistoricalGlobalCompactScoresRange'
      summary: Get x global esg get historical global compact scores range
      x-summary-source: derived
      operationId: getXGlobalESGGetHistoricalGlobalCompactScoresRange
      x-operation-id-source: derived
  /xGlobalESG/GetInvolvements:
    get:
      tags:
      - XigniteGlobalESG
      parameters:
      - name: IdentifierType
        in: query
        schema:
          type: string
      - name: Identifiers
        in: query
        schema:
          type: string
      - name: IdentifierAsOfDate
        in: query
        schema:
          type: string
      - name: InvolvementTypes
        in: query
        schema:
          type: string
      - name: PercentThreshold
        in: query
        schema:
          type: string
      - name: AsOfDate
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Involvements'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Involvements'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Involvements'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Involvements'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Involvements'
      summary: Get x global esg get involvements
      x-summary-source: derived
      operationId: getXGlobalESGGetInvolvements
      x-operation-id-source: derived
  /xGlobalESG/ScreenByInvolvements:
    get:
      tags:
      - XigniteGlobalESG
      parameters:
      - name: InvolvementTypes
        in: query
        schema:
          type: string
      - name: Sector
        in: query
        schema:
          type: string
      - name: Industry
        in: query
        schema:
          type: string
      - name: Exchange
        in: query
        schema:
          type: string
      - name: Region
        in: query
        schema:
          type: string
      - name: PercentThreshold
        in: query
        schema:
          type: string
      - name: Involvement
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScreenByInvolvementsResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ScreenByInvolvementsResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ScreenByInvolvementsResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/ScreenByInvolvementsResult'
            text/csv:
              schema:
                $ref: '#/components/schemas/ScreenByInvolvementsResult'
      summary: Get x global esg screen by involvements
      x-summary-source: derived
      operationId: getXGlobalESGScreenByInvolvements
      x-operation-id-source: derived
components:
  schemas:
    CategoryList:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          CategoryDescriptions:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/CategoryDescription'
        additionalProperties: false
    Involvements:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          IdentifierType:
            type:
            - string
            - 'null'
          Identifier:
            type:
            - string
            - 'null'
          Security:
            allOf:
            - $ref: '#/components/schemas/Security'
          Involvement:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/Involved'
        additionalProperties: false
    ESGCategories:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          IdentifierType:
            type:
            - string
            - 'null'
          Identifier:
            type:
            - string
            - 'null'
          Security:
            allOf:
            - $ref: '#/components/schemas/Security'
          Categories:
            allOf:
            - $ref: '#/components/schemas/Categories'
        additionalProperties: false
    Common:
      type: object
      properties:
        Delay:
          type: number
          format: double
        Identity:
          type:
          - string
          - 'null'
        Message:
          type:
          - string
          - 'null'
        Outcome:
          allOf:
          - $ref: '#/components/schemas/OutcomeTypes'
      additionalProperties: false
    CategoryDescription:
      type: object
      properties:
        Name:
          type:
          - string
          - 'null'
        Description:
          type:
          - string
          - 'null'
        Subscore:
          type:
          - string
          - 'null'
      additionalProperties: false
    Emissions:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          IdentifierType:
            type:
            - string
            - 'null'
          Identifier:
            type:
            - string
            - 'null'
          Security:
            allOf:
            - $ref: '#/components/schemas/Security'
          CompanyEmissions:
            allOf:
            - $ref: '#/components/schemas/CompanyEmissions'
        additionalProperties: false
    ScreenByInvolvementsResult:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Sector:
            type:
            - string
            - 'null'
          Industry:
            type:
            - string
            - 'null'
          Exchange:
            type:
            - string
            - 'null'
          Region:
            type:
            - string
            - 'null'
          PercentThreshold:
            type:
            - string
            - 'null'
          Involvement:
            type:
            - string
            - 'null'
          Companies:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/CompanyDescription'
        additionalProperties: false
    HistoricalGlobalCompactScoresRange:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          IdentifierType:
            type:
            - string
            - 'null'
          Identifier:
            type:
            - string
            - 'null'
          Security:
            allOf:
            - $ref: '#/components/schemas/Security'
          GlobalCompactScores:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/GlobalCompactScore'
        additionalProperties: false
    InvolvementList:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          InvolvementDescriptions:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/InvolvementDescription'
        additionalProperties: false
    CompanyDescription:
      type: object
      properties:
        CompanyName:
          type:
          - string
          - 'null'
        CompanyIdentifier:
          type:
          - string
          - 'null'
        CompanyDomicile:
          type:
          - string
          - 'null'
        CompanyRegion:
          type:
          - string
          - 'null'
        Symbol:
          type:
          - string
          - 'null'
        MarketIdentificationCode:
          type:
          - string
          - 'null'
      additionalProperties: false
    ExchangeDescription:
      type: object
      properties:
        Market:
          type:
          - string
          - 'null'
        MarketIdentificationCode:
          type:
          - string
          - 'null'
      additionalProperties: false
    TemperatureScores:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          IdentifierType:
            type:
            - string
            - 'null'
          Identifier:
            type:
            - string
            - 'null'
          Security:
            allOf:
            - $ref: '#/components/schemas/Security'
          TemperatureScore:
            allOf:
            - $ref: '#/components/schemas/TemperatureScore'
        additionalProperties: false
    Security:
      type: object
      properties:
        Name:
          type:
          - string
          - 'null'
        Symbol:
          type:
          - string
          - 'null'
        MarketIdentificationCode:
          type:
          - string
          - 'null'
        Market:
          type:
          - string
          - 'null'
        InstrumentClass:
          type:
          - string
          - 'null'
        Industry:
          type:
          - string
          - 'null'
        Sector:
          type:
          - string
          - 'null'
        FIGI:
          type:
          - string
          - 'null'
        CompositeFIGI:
          type:
          - string
          - 'null'
        SEDOL:
          type:
          - string
          - 'null'
        Valoren:
          type:
          - string
          - 'null'
        ISIN:
          type:
          - string
          - 'null'
        CUSIP:
          type:
          - string
          - 'null'
        CIK:
          type:
          - string
          - 'null'
      additionalProperties: false
    HistoricalESGScoresRange:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          IdentifierType:
            type:
            - string
            - 'null'
          Identifier:
            type:
            - string
            - 'null'
          Security:
            allOf:
            - $ref: '#/components/schemas/Security'
          ESGScores:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/ESGScore'
        additionalProperties: false
    TemperatureScore:
      type: object
      properties:
        AsOfDate:
          type:
          - string
          - 'null'
        NearTerm:
          type:
          - string
          - 'null'
        LongTerm:
          type:
          - string
          - 'null'
        Trend:
          type:
          - boolean
          - 'null'
        Target:
          type:
          - boolean
          - 'null'
        Scope3Reporting:
          type:
          - boolean
          - 'null'
        InternationalEnergyAgencySector:
          type:
          - string
          - 'null'
      additionalProperties: false
    SymbolDescription:
      type: object
      properties:
        CompanyName:
          type:
          - string
          - 'null'
        CompanyIdentifier:
          type:
          - string
          - 'null'
        CompanyDomicile:
          type:
          - string
          - 'null'
        CompanyRegion:
          type:
          - string
          - 'null'
        SecurityName:
          type:
          - string
          - 'null'
        Symbol:
          type:
          - string
          - 'null'
      additionalProperties: false
    ESGScores:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          IdentifierType:
            type:
            - string
            - 'null'
          Identifier:
            type:
            - string
            - 'null'
          Security:
            allOf:
            - $ref: '#/components/schemas/Security'
          ESGScore:
            allOf:
            - $ref: '#/components/schemas/ESGScore'
        additionalProperties: false
    OutcomeTypes:
      enum:
      - Success
      - SystemError
      - RequestError
      - RegistrationError
      type: string
    Categories:
      type: object
      properties:
        AsOfDate:
          type:
          - string
          - 'null'
        Emissions:
          type:
          - number
          - 'null'
          format: decimal
        EnvironmentalStewardship:
          type:
          - number
          - 'null'
          format: decimal
        ResourceUse:
          type:
          - number
          - 'null'
          format: decimal
        EnvironmentalSolutions:
          type:
          - number
          - 'null'
          format: decimal
        Waste:
          type:
          - number
          - 'null'
          format: decimal
        Water:
          type:
          - number
          - 'null'
          format: decimal
        EnvironmentalManagement:
          type:
          - number
          - 'null'
          format: decimal
        Diversity:
          type:
          - number
          - 'null'
          format: decimal
        OccupationalHealthAndSafety:
          type:
          - number
          - 'null'
          format: decimal
        TrainingAndDevelopment:
          type:
          - number
          - 'null'
          format: decimal
        ProductAccess:
          type:
          - number
          - 'null'
          format: decimal
        CommunityRelations:
          type:
          - number
          - 'null'
          format: decimal
        ProductQualityAndSafety:
          type:
          - number
          - 'null'
          format: decimal
        HumanRights:
          type:
          - number
          - 'null'
          format: decimal
        LabourRights:
          type:
          - number
          - 'null'
          format: decimal
        Compensation:
          type:
          - number
          - 'null'
          format: decimal
        EmploymentQuality:
          type:
          - number
          - 'null'
          format: decimal
        BusinessEthics:
          type:
          - number
          - 'null'
          format: decimal
        CorporateGovernance:
          type:
          - number
          - 'null'
          format: decimal
        Transparency:
          type:
          - number
          - 'null'
          format: decimal
        ForensicAccounting:
          type:
          - number
          - 'null'
          format: decimal
        CapitalStructure:
          type:
          - number
          - 'null'
          format: decimal
        Version:
          type:
          - string
          - 'null'
      additionalProperties: false
    GlobalCompactScores:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          IdentifierType:
            type:
            - string
            - 'null'
          Identifier:
            type:
            - string
            - 'null'
          Security:
            allOf:
            - $ref: '#/components/schemas/Security'
          GlobalCompactScore:
            allOf:
            - $ref: '#/components/schemas/GlobalCompactScore'
        additionalProperties: false
    SymbolList:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          DataPackage:
            type:
            - string
            - 'null'
          Market:
            type:
            - string
            - 'null'
          MarketIdentificationCode:
            type:
            - string
            - 'null'
          SymbolDescriptions:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/SymbolDescription'
        additionalProperties: false
    CompanyEmissions:
      type: object
      properties:
        AsOfDate:
          type:
          - string
          - 'null'
        Scope1Emissions:
          type:
          - number
          - 'null'
          format: decimal
        Scope2Emissions:
          type:
          - number
          - 'null'
          format: decimal
        Scope3Emissions:
          type:
          - number
          - 'null'
          format: decimal
        ReportDate:
          type:
          - string
          - 'null'
        InternationalEnergyAgencySector:
          type:
          - string
          - 'null'
      additionalProperties: false
    InvolvementDescription:
      type: object
      properties:
        Type:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        Description:
          type:
          - string
          - 'null'
      additionalProperties: false
    GlobalCompactScore:
      type: object
      properties:
        AsOfDate:
          type:
          - string
          - 'null'
        GlobalCompact:
          type:
          - number
          - 'null'
          format: decimal
        HumanRights:
          type:
          - number
          - 'null'
          format: decimal
        LabourRights:
          type:
          - number
          - 'null'
          format: decimal
        Environment:
          type:
          - number
          - 'null'
          format: decimal
        AntiCorruption:
          type:
          - number
          - 'null'
          format: decimal
        Version:
          type:
          - string
          - 'null'
      additionalProperties: false
    Involved:
      type: object
      properties:
        Outcome:
          type:
          - string
          - 'null'
        Message:
          type:
          - string
          - 'null'
        Type:
          type:
          - string
          - 'null'
        Value:
          type:
          - boolean
          - 'null'
        PercentThreshold:
          type:
          - string
          - 'null'
        AsOfDate:
          type:
          - string
          - 'null'
      additionalProperties: false
    HistoricalESGCategoriesRange:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          IdentifierType:
            type:
            - string
            - 'null'
          Identifier:
            type:
            - string
            - 'null'
          Security:
            allOf:
            - $ref: '#/components/schemas/Security'
          ESGCategories:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/Categories'
        additionalProperties: false
    ESGScore:
      type: object
      properties:
        AsOfDate:
          type:
          - string
          - 'null'
        ESG:
          type:
          - number
          - 'null'
          format: decimal
        Environmental:
          type:
          - number
          - 'null'
          format: decimal
        Social:
          type:
          - number
          - 'null'
          format: decimal
        Governance:
          type:
          - number
          - 'null'
          format: decimal
        Version:
          type:
          - string
          - 'null'
      additionalProperties: false
    ExchangeList:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Region:
            type:
            - string
            - 'null'
          ExchangeDescriptions:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/ExchangeDescription'
        additionalProperties: false
  securitySchemes:
    basic:
      type: apiKey
      description: Token for your account.
      name: _token
      in: query
