openapi: 3.0.4
info:
  title: XigniteBonds CloudAlerts API
  version: 1.0.3
servers:
- url: https://alerts.xignite.com
security:
- basic: []
tags:
- name: CloudAlerts
paths:
  /xAlerts/CreateAlert:
    get:
      tags:
      - CloudAlerts
      parameters:
      - name: IdentifierType
        in: query
        schema:
          type: string
      - name: Identifier
        in: query
        schema:
          type: string
      - name: API
        in: query
        schema:
          type: string
      - name: Condition
        in: query
        schema:
          type: string
      - name: Reset
        in: query
        schema:
          type: string
      - name: StartDate
        in: query
        schema:
          type: string
      - name: EndDate
        in: query
        schema:
          type: string
      - name: CallbackURL
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Alert'
            text/json:
              schema:
                $ref: '#/components/schemas/Alert'
            application/xml:
              schema:
                $ref: '#/components/schemas/Alert'
            text/xml:
              schema:
                $ref: '#/components/schemas/Alert'
            text/csv:
              schema:
                $ref: '#/components/schemas/Alert'
  /xAlerts/DeleteAlerts:
    get:
      tags:
      - CloudAlerts
      parameters:
      - name: AlertIdentifiers
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Alert'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Alert'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Alert'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Alert'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Alert'
  /xAlerts/SearchAlerts:
    get:
      tags:
      - CloudAlerts
      parameters:
      - name: Pattern
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Alert'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Alert'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Alert'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Alert'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Alert'
components:
  schemas:
    Common:
      type: object
      properties:
        Delay:
          type: number
          format: double
        Identity:
          type: string
          nullable: true
        Message:
          type: string
          nullable: true
        Outcome:
          allOf:
          - $ref: '#/components/schemas/OutcomeTypes'
      additionalProperties: false
    OutcomeTypes:
      enum:
      - Success
      - SystemError
      - RequestError
      - RegistrationError
      type: string
    Alert:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          AlertIdentifier:
            type: string
            nullable: true
          Status:
            type: string
            nullable: true
          IdentifierType:
            type: string
            nullable: true
          Identifier:
            type: string
            nullable: true
          API:
            type: string
            nullable: true
          Condition:
            type: string
            nullable: true
          Reset:
            type: string
            nullable: true
          CallbackURL:
            type: string
            nullable: true
          StartDate:
            type: string
            nullable: true
          LastTriggered:
            type: string
            nullable: true
          EndDate:
            type: string
            nullable: true
        additionalProperties: false
  securitySchemes:
    basic:
      type: apiKey
      description: Token for your account.
      name: _token
      in: query
