openapi: 3.2.0
info:
  title: Xignite Global Indices API
  version: 1.0.8
servers:
- url: https://globalindices.xignite.com
security:
- basic: []
tags:
- name: XigniteGlobalIndices
paths:
  /xGlobalIndices/ListIndexGroups:
    get:
      tags:
      - XigniteGlobalIndices
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IndexGroup'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IndexGroup'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IndexGroup'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IndexGroup'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IndexGroup'
      summary: Get x global indices list index groups
      x-summary-source: derived
      operationId: getXGlobalIndicesListIndexGroups
      x-operation-id-source: derived
  /xGlobalIndices/ListIndices:
    get:
      tags:
      - XigniteGlobalIndices
      parameters:
      - name: IndexGroup
        in: query
        schema:
          type: string
      - name: PageSize
        in: query
        schema:
          type: integer
          format: int32
      - name: NextPage
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndexSummaryList'
            text/json:
              schema:
                $ref: '#/components/schemas/IndexSummaryList'
            application/xml:
              schema:
                $ref: '#/components/schemas/IndexSummaryList'
            text/xml:
              schema:
                $ref: '#/components/schemas/IndexSummaryList'
            text/csv:
              schema:
                $ref: '#/components/schemas/IndexSummaryList'
      summary: Get x global indices list indices
      x-summary-source: derived
      operationId: getXGlobalIndicesListIndices
      x-operation-id-source: derived
  /xGlobalIndices/ListIndicesByIndexGroup:
    get:
      tags:
      - XigniteGlobalIndices
      parameters:
      - name: IndexGroup
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IndexDescription'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IndexDescription'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IndexDescription'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IndexDescription'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IndexDescription'
      summary: Get x global indices list indices by index group
      x-summary-source: derived
      operationId: getXGlobalIndicesListIndicesByIndexGroup
      x-operation-id-source: derived
  /xGlobalIndices/GetIndexSymbolMappingByOldSymbol:
    get:
      tags:
      - XigniteGlobalIndices
      parameters:
      - name: OldSymbol
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndexSymbolMapping'
            text/json:
              schema:
                $ref: '#/components/schemas/IndexSymbolMapping'
            application/xml:
              schema:
                $ref: '#/components/schemas/IndexSymbolMapping'
            text/xml:
              schema:
                $ref: '#/components/schemas/IndexSymbolMapping'
            text/csv:
              schema:
                $ref: '#/components/schemas/IndexSymbolMapping'
      summary: Get x global indices get index symbol mapping by old symbol
      x-summary-source: derived
      operationId: getXGlobalIndicesGetIndexSymbolMappingByOldSymbol
      x-operation-id-source: derived
  /xGlobalIndices/GetIndexSymbolMappingsByOldSymbols:
    get:
      tags:
      - XigniteGlobalIndices
      parameters:
      - name: OldSymbols
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IndexSymbolMapping'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IndexSymbolMapping'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IndexSymbolMapping'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IndexSymbolMapping'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IndexSymbolMapping'
      summary: Get x global indices get index symbol mappings by old symbols
      x-summary-source: derived
      operationId: getXGlobalIndicesGetIndexSymbolMappingsByOldSymbols
      x-operation-id-source: derived
  /xGlobalIndices/SearchIndicesByName:
    get:
      tags:
      - XigniteGlobalIndices
      parameters:
      - name: IndexName
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IndexDescription'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IndexDescription'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IndexDescription'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IndexDescription'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IndexDescription'
      summary: Get x global indices search indices by name
      x-summary-source: derived
      operationId: getXGlobalIndicesSearchIndicesByName
      x-operation-id-source: derived
  /xGlobalIndices/GetDelayedIndexValue:
    get:
      tags:
      - XigniteGlobalIndices
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/IdentifierTypes'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Weeks.IndexValue'
            text/json:
              schema:
                $ref: '#/components/schemas/Weeks.IndexValue'
            application/xml:
              schema:
                $ref: '#/components/schemas/Weeks.IndexValue'
            text/xml:
              schema:
                $ref: '#/components/schemas/Weeks.IndexValue'
            text/csv:
              schema:
                $ref: '#/components/schemas/Weeks.IndexValue'
      summary: Get x global indices get delayed index value
      x-summary-source: derived
      operationId: getXGlobalIndicesGetDelayedIndexValue
      x-operation-id-source: derived
  /xGlobalIndices/GetDelayedIndicesValue:
    get:
      tags:
      - XigniteGlobalIndices
      parameters:
      - name: Identifiers
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/IdentifierTypes'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Weeks.IndexValue'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Weeks.IndexValue'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Weeks.IndexValue'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Weeks.IndexValue'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Weeks.IndexValue'
      summary: Get x global indices get delayed indices value
      x-summary-source: derived
      operationId: getXGlobalIndicesGetDelayedIndicesValue
      x-operation-id-source: derived
  /xGlobalIndices/GetIndexBar:
    get:
      tags:
      - XigniteGlobalIndices
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/IdentifierTypes'
      - name: EndTime
        in: query
        schema:
          type: string
      - name: Precision
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/BarPrecision'
      - name: Period
        in: query
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndexBar'
            text/json:
              schema:
                $ref: '#/components/schemas/IndexBar'
            application/xml:
              schema:
                $ref: '#/components/schemas/IndexBar'
            text/xml:
              schema:
                $ref: '#/components/schemas/IndexBar'
            text/csv:
              schema:
                $ref: '#/components/schemas/IndexBar'
      summary: Get x global indices get index bar
      x-summary-source: derived
      operationId: getXGlobalIndicesGetIndexBar
      x-operation-id-source: derived
  /xGlobalIndices/GetIndexBars:
    get:
      tags:
      - XigniteGlobalIndices
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/IdentifierTypes'
      - name: StartTime
        in: query
        schema:
          type: string
      - name: EndTime
        in: query
        schema:
          type: string
      - name: Precision
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/BarPrecision'
      - name: Period
        in: query
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndexBars'
            text/json:
              schema:
                $ref: '#/components/schemas/IndexBars'
            application/xml:
              schema:
                $ref: '#/components/schemas/IndexBars'
            text/xml:
              schema:
                $ref: '#/components/schemas/IndexBars'
            text/csv:
              schema:
                $ref: '#/components/schemas/IndexBars'
      summary: Get x global indices get index bars
      x-summary-source: derived
      operationId: getXGlobalIndicesGetIndexBars
      x-operation-id-source: derived
  /xGlobalIndices/GetChartBars:
    get:
      tags:
      - XigniteGlobalIndices
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/IdentifierTypes'
      - name: StartTime
        in: query
        schema:
          type: string
      - name: EndTime
        in: query
        schema:
          type: string
      - name: Precision
        in: query
        schema:
          type: string
      - name: Period
        in: query
        schema:
          type: integer
          format: int32
      - name: AdjustmentMethod
        in: query
        schema:
          type: string
      - name: IncludeExtended
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndexChartBars'
            text/json:
              schema:
                $ref: '#/components/schemas/IndexChartBars'
            application/xml:
              schema:
                $ref: '#/components/schemas/IndexChartBars'
            text/xml:
              schema:
                $ref: '#/components/schemas/IndexChartBars'
            text/csv:
              schema:
                $ref: '#/components/schemas/IndexChartBars'
      summary: Get x global indices get chart bars
      x-summary-source: derived
      operationId: getXGlobalIndicesGetChartBars
      x-operation-id-source: derived
components:
  schemas:
    BarPrecision:
      enum:
      - Minutes
      - Hours
      type: string
    IdentifierTypes:
      enum:
      - Symbol
      - CIK
      - CUSIP
      - ISIN
      - Valoren
      - SEDOL
      - FIGI
      - CompositeFIGI
      type: string
    OutcomeTypes:
      enum:
      - Success
      - SystemError
      - RequestError
      - RegistrationError
      type: string
    Weeks.IndexQuote:
      allOf:
      - $ref: '#/components/schemas/IndexQuote'
      - type: object
        properties:
          High52Weeks:
            type: number
            format: double
          Low52Weeks:
            type: number
            format: double
        additionalProperties: false
    IndexDescription:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          IndexName:
            type:
            - string
            - 'null'
          Symbol:
            type:
            - string
            - 'null'
          IndexGroup:
            type:
            - string
            - 'null'
          Valoren:
            type: integer
            format: int32
          Currency:
            type:
            - string
            - 'null'
        additionalProperties: false
    Weeks.IndexValue:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Identifier:
            type:
            - string
            - 'null'
          IdentifierType:
            type:
            - string
            - 'null'
          Index:
            allOf:
            - $ref: '#/components/schemas/IndexDescriptionDto'
          Value:
            allOf:
            - $ref: '#/components/schemas/Weeks.IndexQuote'
        additionalProperties: false
    Common:
      type: object
      properties:
        Delay:
          type: number
          format: double
        Identity:
          type:
          - string
          - 'null'
        Message:
          type:
          - string
          - 'null'
        Outcome:
          allOf:
          - $ref: '#/components/schemas/OutcomeTypes'
      additionalProperties: false
    IndexQuote:
      type: object
      properties:
        Date:
          type:
          - string
          - 'null'
        Time:
          type:
          - string
          - 'null'
        UTCOffset:
          type: number
          format: double
        Volume:
          type: number
          format: double
        Open:
          type: number
          format: double
        High:
          type: number
          format: double
        Low:
          type: number
          format: double
        Last:
          type: number
          format: double
        Close:
          type: number
          format: double
        ChangeFromOpen:
          type: number
          format: double
        PercentChangeFromOpen:
          type: number
          format: double
        PreviousClose:
          type: number
          format: double
        PreviousCloseDate:
          type:
          - string
          - 'null'
        ChangeFromPreviousClose:
          type: number
          format: double
        PercentChangeFromPreviousClose:
          type: number
          format: double
      additionalProperties: false
    IndexGroup:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Name:
            type:
            - string
            - 'null'
          Description:
            type:
            - string
            - 'null'
        additionalProperties: false
    IndexSymbolMapping:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Index:
            allOf:
            - $ref: '#/components/schemas/IndexDescriptionDto'
          OldSymbol:
            type:
            - string
            - 'null'
        additionalProperties: false
    IndexSummary:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          IndexName:
            type:
            - string
            - 'null'
          Symbol:
            type:
            - string
            - 'null'
          IndexGroup:
            type:
            - string
            - 'null'
          Currency:
            type:
            - string
            - 'null'
        additionalProperties: false
    ChartBar:
      type: object
      properties:
        StartDate:
          type:
          - string
          - 'null'
        StartTime:
          type:
          - string
          - 'null'
        EndDate:
          type:
          - string
          - 'null'
        EndTime:
          type:
          - string
          - 'null'
        UTCOffset:
          type: number
          format: double
        Open:
          type: number
          format: double
        High:
          type: number
          format: double
        Low:
          type: number
          format: double
        Close:
          type: number
          format: double
        Volume:
          type: number
          format: double
        Trades:
          type: integer
          format: int32
        TWAP:
          type: number
          format: double
        VWAP:
          type: number
          format: double
        Currency:
          type:
          - string
          - 'null'
        Session:
          type:
          - string
          - 'null'
        AdjustmentRatio:
          type: number
          format: double
      additionalProperties: false
    IndexBars:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Index:
            allOf:
            - $ref: '#/components/schemas/IndexDescriptionDto'
          Bars:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/Bar'
        additionalProperties: false
    IndexSummaryList:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          IndexSummaries:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/IndexSummary'
          NextPage:
            type:
            - string
            - 'null'
        additionalProperties: false
    IndexDescriptionDto:
      type: object
      properties:
        IndexName:
          type:
          - string
          - 'null'
        Symbol:
          type:
          - string
          - 'null'
        IndexGroup:
          type:
          - string
          - 'null'
        Valoren:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
      additionalProperties: false
    IndexBar:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Index:
            allOf:
            - $ref: '#/components/schemas/IndexDescriptionDto'
          Bar:
            allOf:
            - $ref: '#/components/schemas/Bar'
        additionalProperties: false
    Bar:
      type: object
      properties:
        StartDate:
          type:
          - string
          - 'null'
        StartTime:
          type:
          - string
          - 'null'
        EndDate:
          type:
          - string
          - 'null'
        EndTime:
          type:
          - string
          - 'null'
        UTCOffset:
          type: number
          format: double
        Open:
          type: number
          format: double
        High:
          type: number
          format: double
        Low:
          type: number
          format: double
        Close:
          type: number
          format: double
        Volume:
          type: number
          format: double
      additionalProperties: false
    IndexChartBars:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Timing:
            type:
            - string
            - 'null'
          Index:
            allOf:
            - $ref: '#/components/schemas/IndexDescriptionDto'
          ChartBars:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/ChartBar'
        additionalProperties: false
  securitySchemes:
    basic:
      type: apiKey
      description: Token for your account.
      name: _token
      in: query
