openapi: 3.2.0
info:
  title: Xignite Global Options API
  version: 1.0.13
servers:
- url: https://globaloptions.xignite.com
security:
- basic: []
tags:
- name: XigniteGlobalOptions
paths:
  /xGlobalOptions/GetOptionGreeks:
    get:
      tags:
      - XigniteGlobalOptions
      parameters:
      - name: Symbols
        in: query
        schema:
          type: string
      - name: SymbologyType
        in: query
        schema:
          type: string
      - name: CalculationType
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OptionGreeks'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OptionGreeks'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OptionGreeks'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OptionGreeks'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OptionGreeks'
      summary: Get x global options get option greeks
      x-summary-source: derived
      operationId: getXGlobalOptionsGetOptionGreeks
      x-operation-id-source: derived
  /xGlobalOptions/GetOptionGreeksByChain:
    get:
      tags:
      - XigniteGlobalOptions
      parameters:
      - name: IdentifierType
        in: query
        schema:
          type: string
      - name: Identifier
        in: query
        schema:
          type: string
      - name: Month
        in: query
        schema:
          type: string
      - name: Year
        in: query
        schema:
          type: string
      - name: SymbologyType
        in: query
        schema:
          type: string
      - name: OptionExchange
        in: query
        schema:
          type: string
      - name: CalculationType
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptionGreeksByChain'
            text/json:
              schema:
                $ref: '#/components/schemas/OptionGreeksByChain'
            application/xml:
              schema:
                $ref: '#/components/schemas/OptionGreeksByChain'
            text/xml:
              schema:
                $ref: '#/components/schemas/OptionGreeksByChain'
            text/csv:
              schema:
                $ref: '#/components/schemas/OptionGreeksByChain'
      summary: Get x global options get option greeks by chain
      x-summary-source: derived
      operationId: getXGlobalOptionsGetOptionGreeksByChain
      x-operation-id-source: derived
  /xGlobalOptions/GetAllOptionGreeksByChain:
    get:
      tags:
      - XigniteGlobalOptions
      parameters:
      - name: IdentifierType
        in: query
        schema:
          type: string
      - name: Identifier
        in: query
        schema:
          type: string
      - name: SymbologyType
        in: query
        schema:
          type: string
      - name: OptionExchange
        in: query
        schema:
          type: string
      - name: CalculationType
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptionGreeksByChain'
            text/json:
              schema:
                $ref: '#/components/schemas/OptionGreeksByChain'
            application/xml:
              schema:
                $ref: '#/components/schemas/OptionGreeksByChain'
            text/xml:
              schema:
                $ref: '#/components/schemas/OptionGreeksByChain'
            text/csv:
              schema:
                $ref: '#/components/schemas/OptionGreeksByChain'
      summary: Get x global options get all option greeks by chain
      x-summary-source: derived
      operationId: getXGlobalOptionsGetAllOptionGreeksByChain
      x-operation-id-source: derived
  /xGlobalOptions/GetAllEquityOptionChain:
    get:
      tags:
      - XigniteGlobalOptions
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/IdentifierTypes'
      - name: SymbologyType
        in: query
        schema:
          type: string
      - name: OptionExchange
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Options'
            text/json:
              schema:
                $ref: '#/components/schemas/Options'
            application/xml:
              schema:
                $ref: '#/components/schemas/Options'
            text/xml:
              schema:
                $ref: '#/components/schemas/Options'
            text/csv:
              schema:
                $ref: '#/components/schemas/Options'
      summary: Get x global options get all equity option chain
      x-summary-source: derived
      operationId: getXGlobalOptionsGetAllEquityOptionChain
      x-operation-id-source: derived
  /xGlobalOptions/GetAllExtendedEquityOptionChain:
    get:
      tags:
      - XigniteGlobalOptions
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/IdentifierTypes'
      - name: SymbologyType
        in: query
        schema:
          type: string
      - name: OptionExchange
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedOptions'
            text/json:
              schema:
                $ref: '#/components/schemas/ExtendedOptions'
            application/xml:
              schema:
                $ref: '#/components/schemas/ExtendedOptions'
            text/xml:
              schema:
                $ref: '#/components/schemas/ExtendedOptions'
            text/csv:
              schema:
                $ref: '#/components/schemas/ExtendedOptions'
      summary: Get x global options get all extended equity option chain
      x-summary-source: derived
      operationId: getXGlobalOptionsGetAllExtendedEquityOptionChain
      x-operation-id-source: derived
  /xGlobalOptions/GetBlackScholesOptionValue:
    get:
      tags:
      - XigniteGlobalOptions
      parameters:
      - name: Type
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/OptionTypes'
      - name: StockPrice
        in: query
        schema:
          type: number
          format: double
      - name: StrikePrice
        in: query
        schema:
          type: number
          format: double
      - name: YearsToMaturity
        in: query
        schema:
          type: number
          format: double
      - name: RiskFreeRate
        in: query
        schema:
          type: number
          format: double
      - name: Volatility
        in: query
        schema:
          type: number
          format: double
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NumericResult'
            text/json:
              schema:
                $ref: '#/components/schemas/NumericResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/NumericResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/NumericResult'
            text/csv:
              schema:
                $ref: '#/components/schemas/NumericResult'
      summary: Get x global options get black scholes option value
      x-summary-source: derived
      operationId: getXGlobalOptionsGetBlackScholesOptionValue
      x-operation-id-source: derived
  /xGlobalOptions/GetEquityOption:
    get:
      tags:
      - XigniteGlobalOptions
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/IdentifierTypes'
      - name: Type
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/OptionTypes'
      - name: Month
        in: query
        schema:
          type: integer
          format: int32
      - name: Year
        in: query
        schema:
          type: integer
          format: int32
      - name: StrikePrice
        in: query
        schema:
          type: number
          format: double
      - name: SymbologyType
        in: query
        schema:
          type: string
      - name: OptionExchange
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Option'
            text/json:
              schema:
                $ref: '#/components/schemas/Option'
            application/xml:
              schema:
                $ref: '#/components/schemas/Option'
            text/xml:
              schema:
                $ref: '#/components/schemas/Option'
            text/csv:
              schema:
                $ref: '#/components/schemas/Option'
      summary: Get x global options get equity option
      x-summary-source: derived
      operationId: getXGlobalOptionsGetEquityOption
      x-operation-id-source: derived
  /xGlobalOptions/GetEquityOptionBySymbol:
    get:
      tags:
      - XigniteGlobalOptions
      parameters:
      - name: Symbol
        in: query
        schema:
          type: string
      - name: SymbologyType
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Option'
            text/json:
              schema:
                $ref: '#/components/schemas/Option'
            application/xml:
              schema:
                $ref: '#/components/schemas/Option'
            text/xml:
              schema:
                $ref: '#/components/schemas/Option'
            text/csv:
              schema:
                $ref: '#/components/schemas/Option'
      summary: Get x global options get equity option by symbol
      x-summary-source: derived
      operationId: getXGlobalOptionsGetEquityOptionBySymbol
      x-operation-id-source: derived
  /xGlobalOptions/GetEquityOptionBySymbols:
    get:
      tags:
      - XigniteGlobalOptions
      parameters:
      - name: Symbols
        in: query
        schema:
          type: string
      - name: SymbologyType
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Option'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Option'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Option'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Option'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Option'
      summary: Get x global options get equity option by symbols
      x-summary-source: derived
      operationId: getXGlobalOptionsGetEquityOptionBySymbols
      x-operation-id-source: derived
  /xGlobalOptions/GetEquityOptionChain:
    get:
      tags:
      - XigniteGlobalOptions
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/IdentifierTypes'
      - name: Month
        in: query
        schema:
          type: integer
          format: int32
      - name: Year
        in: query
        schema:
          type: integer
          format: int32
      - name: SymbologyType
        in: query
        schema:
          type: string
      - name: OptionExchange
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Options'
            text/json:
              schema:
                $ref: '#/components/schemas/Options'
            application/xml:
              schema:
                $ref: '#/components/schemas/Options'
            text/xml:
              schema:
                $ref: '#/components/schemas/Options'
            text/csv:
              schema:
                $ref: '#/components/schemas/Options'
      summary: Get x global options get equity option chain
      x-summary-source: derived
      operationId: getXGlobalOptionsGetEquityOptionChain
      x-operation-id-source: derived
  /xGlobalOptions/GetEquityOptionSymbol:
    get:
      tags:
      - XigniteGlobalOptions
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/IdentifierTypes'
      - name: Type
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/OptionTypes'
      - name: Month
        in: query
        schema:
          type: integer
          format: int32
      - name: Year
        in: query
        schema:
          type: integer
          format: int32
      - name: StrikePrice
        in: query
        schema:
          type: number
          format: double
      - name: SymbologyType
        in: query
        schema:
          type: string
      - name: OptionExchange
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptionSymbol'
            text/json:
              schema:
                $ref: '#/components/schemas/OptionSymbol'
            application/xml:
              schema:
                $ref: '#/components/schemas/OptionSymbol'
            text/xml:
              schema:
                $ref: '#/components/schemas/OptionSymbol'
            text/csv:
              schema:
                $ref: '#/components/schemas/OptionSymbol'
      summary: Get x global options get equity option symbol
      x-summary-source: derived
      operationId: getXGlobalOptionsGetEquityOptionSymbol
      x-operation-id-source: derived
  /xGlobalOptions/GetExtendedEquityOption:
    get:
      tags:
      - XigniteGlobalOptions
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/IdentifierTypes'
      - name: Type
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/OptionTypes'
      - name: Month
        in: query
        schema:
          type: integer
          format: int32
      - name: Year
        in: query
        schema:
          type: integer
          format: int32
      - name: StrikePrice
        in: query
        schema:
          type: number
          format: double
      - name: SymbologyType
        in: query
        schema:
          type: string
      - name: OptionExchange
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedOption'
            text/json:
              schema:
                $ref: '#/components/schemas/ExtendedOption'
            application/xml:
              schema:
                $ref: '#/components/schemas/ExtendedOption'
            text/xml:
              schema:
                $ref: '#/components/schemas/ExtendedOption'
            text/csv:
              schema:
                $ref: '#/components/schemas/ExtendedOption'
      summary: Get x global options get extended equity option
      x-summary-source: derived
      operationId: getXGlobalOptionsGetExtendedEquityOption
      x-operation-id-source: derived
  /xGlobalOptions/GetExtendedEquityOptionBySymbol:
    get:
      tags:
      - XigniteGlobalOptions
      parameters:
      - name: Symbol
        in: query
        schema:
          type: string
      - name: SymbologyType
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedOption'
            text/json:
              schema:
                $ref: '#/components/schemas/ExtendedOption'
            application/xml:
              schema:
                $ref: '#/components/schemas/ExtendedOption'
            text/xml:
              schema:
                $ref: '#/components/schemas/ExtendedOption'
            text/csv:
              schema:
                $ref: '#/components/schemas/ExtendedOption'
      summary: Get x global options get extended equity option by symbol
      x-summary-source: derived
      operationId: getXGlobalOptionsGetExtendedEquityOptionBySymbol
      x-operation-id-source: derived
  /xGlobalOptions/GetExtendedEquityOptionBySymbols:
    get:
      tags:
      - XigniteGlobalOptions
      parameters:
      - name: Symbols
        in: query
        schema:
          type: string
      - name: SymbologyType
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExtendedOption'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExtendedOption'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExtendedOption'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExtendedOption'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExtendedOption'
      summary: Get x global options get extended equity option by symbols
      x-summary-source: derived
      operationId: getXGlobalOptionsGetExtendedEquityOptionBySymbols
      x-operation-id-source: derived
  /xGlobalOptions/GetExtendedEquityOptionChain:
    get:
      tags:
      - XigniteGlobalOptions
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/IdentifierTypes'
      - name: Month
        in: query
        schema:
          type: integer
          format: int32
      - name: Year
        in: query
        schema:
          type: integer
          format: int32
      - name: SymbologyType
        in: query
        schema:
          type: string
      - name: OptionExchange
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedOptions'
            text/json:
              schema:
                $ref: '#/components/schemas/ExtendedOptions'
            application/xml:
              schema:
                $ref: '#/components/schemas/ExtendedOptions'
            text/xml:
              schema:
                $ref: '#/components/schemas/ExtendedOptions'
            text/csv:
              schema:
                $ref: '#/components/schemas/ExtendedOptions'
      summary: Get x global options get extended equity option chain
      x-summary-source: derived
      operationId: getXGlobalOptionsGetExtendedEquityOptionChain
      x-operation-id-source: derived
  /xGlobalOptions/GetExtendedOptionChain:
    get:
      tags:
      - XigniteGlobalOptions
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          type: string
      - name: ExpirationDate
        in: query
        schema:
          type: string
      - name: CallPutType
        in: query
        schema:
          type: string
      - name: SymbologyType
        in: query
        schema:
          type: string
      - name: OptionExchange
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedOptionChain'
            text/json:
              schema:
                $ref: '#/components/schemas/ExtendedOptionChain'
            application/xml:
              schema:
                $ref: '#/components/schemas/ExtendedOptionChain'
            text/xml:
              schema:
                $ref: '#/components/schemas/ExtendedOptionChain'
            text/csv:
              schema:
                $ref: '#/components/schemas/ExtendedOptionChain'
      summary: Get x global options get extended option chain
      x-summary-source: derived
      operationId: getXGlobalOptionsGetExtendedOptionChain
      x-operation-id-source: derived
  /xGlobalOptions/GetOptionChain:
    get:
      tags:
      - XigniteGlobalOptions
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          type: string
      - name: ExpirationDate
        in: query
        schema:
          type: string
      - name: CallPutType
        in: query
        schema:
          type: string
      - name: SymbologyType
        in: query
        schema:
          type: string
      - name: OptionExchange
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptionChain'
            text/json:
              schema:
                $ref: '#/components/schemas/OptionChain'
            application/xml:
              schema:
                $ref: '#/components/schemas/OptionChain'
            text/xml:
              schema:
                $ref: '#/components/schemas/OptionChain'
            text/csv:
              schema:
                $ref: '#/components/schemas/OptionChain'
      summary: Get x global options get option chain
      x-summary-source: derived
      operationId: getXGlobalOptionsGetOptionChain
      x-operation-id-source: derived
  /xGlobalOptions/ListUnderlyingSymbols:
    get:
      tags:
      - XigniteGlobalOptions
      parameters:
      - name: Exchange
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnderlyingSymbolList'
            text/json:
              schema:
                $ref: '#/components/schemas/UnderlyingSymbolList'
            application/xml:
              schema:
                $ref: '#/components/schemas/UnderlyingSymbolList'
            text/xml:
              schema:
                $ref: '#/components/schemas/UnderlyingSymbolList'
            text/csv:
              schema:
                $ref: '#/components/schemas/UnderlyingSymbolList'
      summary: Get x global options list underlying symbols
      x-summary-source: derived
      operationId: getXGlobalOptionsListUnderlyingSymbols
      x-operation-id-source: derived
  /xGlobalOptions/GetChartBars:
    get:
      tags:
      - XigniteGlobalOptions
      parameters:
      - name: Symbol
        in: query
        schema:
          type: string
      - name: SymbologyType
        in: query
        schema:
          type: string
      - name: StartTime
        in: query
        schema:
          type: string
      - name: EndTime
        in: query
        schema:
          type: string
      - name: Precision
        in: query
        schema:
          type: string
      - name: Period
        in: query
        schema:
          type: integer
          format: int32
      - name: IncludeExtended
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptionChartBars'
            text/json:
              schema:
                $ref: '#/components/schemas/OptionChartBars'
            application/xml:
              schema:
                $ref: '#/components/schemas/OptionChartBars'
            text/xml:
              schema:
                $ref: '#/components/schemas/OptionChartBars'
            text/csv:
              schema:
                $ref: '#/components/schemas/OptionChartBars'
      summary: Get x global options get chart bars
      x-summary-source: derived
      operationId: getXGlobalOptionsGetChartBars
      x-operation-id-source: derived
components:
  schemas:
    OptionSummary:
      type: object
      properties:
        BaseSymbol:
          type:
          - string
          - 'null'
        Type:
          type:
          - string
          - 'null'
        StrikePrice:
          type: number
          format: double
        ExpirationDate:
          type:
          - string
          - 'null'
      additionalProperties: false
    Options:
      allOf:
      - $ref: '#/components/schemas/OptionsBaseOfExpirationOption'
      - type: object
        additionalProperties: false
    Common:
      type: object
      properties:
        Delay:
          type: number
          format: double
        Identity:
          type:
          - string
          - 'null'
        Message:
          type:
          - string
          - 'null'
        Outcome:
          allOf:
          - $ref: '#/components/schemas/OutcomeTypes'
      additionalProperties: false
    IdentifierTypes:
      enum:
      - Symbol
      - CIK
      - CUSIP
      - ISIN
      - Valoren
      - SEDOL
      - FIGI
      - CompositeFIGI
      type: string
    ExchangeDescription:
      type: object
      properties:
        MarketIdentificationCode:
          type:
          - string
          - 'null'
        Market:
          type:
          - string
          - 'null'
      additionalProperties: false
    OptionChain:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          ExpirationDate:
            type:
            - string
            - 'null'
          Quote:
            allOf:
            - $ref: '#/components/schemas/QuickQuote'
          Calls:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/Option'
          Puts:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/Option'
          Security:
            allOf:
            - $ref: '#/components/schemas/Security'
        additionalProperties: false
    Security:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          CIK:
            type:
            - string
            - 'null'
          CUSIP:
            type:
            - string
            - 'null'
          Symbol:
            type:
            - string
            - 'null'
          ISIN:
            type:
            - string
            - 'null'
          Valoren:
            type:
            - string
            - 'null'
          Name:
            type:
            - string
            - 'null'
          Market:
            type:
            - string
            - 'null'
          MarketIdentificationCode:
            type:
            - string
            - 'null'
          MostLiquidExchange:
            type: boolean
          CategoryOrIndustry:
            type:
            - string
            - 'null'
        additionalProperties: false
    UnderlyingSymbolList:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Exchange:
            allOf:
            - $ref: '#/components/schemas/ExchangeDescription'
          UnderlyingSecurityDescriptions:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/UnderlyingSecurity'
        additionalProperties: false
    ChartBar:
      type: object
      properties:
        StartDate:
          type:
          - string
          - 'null'
        StartTime:
          type:
          - string
          - 'null'
        EndDate:
          type:
          - string
          - 'null'
        EndTime:
          type:
          - string
          - 'null'
        UTCOffset:
          type: number
          format: double
        Open:
          type: number
          format: double
        High:
          type: number
          format: double
        Low:
          type: number
          format: double
        Close:
          type: number
          format: double
        Volume:
          type: number
          format: double
        Trades:
          type: integer
          format: int32
        TWAP:
          type: number
          format: double
        VWAP:
          type: number
          format: double
        Currency:
          type:
          - string
          - 'null'
        Session:
          type:
          - string
          - 'null'
        AdjustmentRatio:
          type: number
          format: double
      additionalProperties: false
    OptionGreeks:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Symbol:
            type:
            - string
            - 'null'
          Exchange:
            type:
            - string
            - 'null'
          SymbologyType:
            type:
            - string
            - 'null'
          OptionSummary:
            allOf:
            - $ref: '#/components/schemas/OptionSummary'
          Greeks:
            allOf:
            - $ref: '#/components/schemas/Greeks'
        additionalProperties: false
    QuickQuote:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Symbol:
            type:
            - string
            - 'null'
          Date:
            type:
            - string
            - 'null'
          Time:
            type:
            - string
            - 'null'
          UTCDate:
            type:
            - string
            - 'null'
          UTCTime:
            type:
            - string
            - 'null'
          Last:
            type: number
            format: double
          Volume:
            type: number
            format: double
          Change:
            type: number
            format: double
          Currency:
            type:
            - string
            - 'null'
          Exchange:
            type:
            - string
            - 'null'
        additionalProperties: false
    OutcomeTypes:
      enum:
      - Success
      - SystemError
      - RequestError
      - RegistrationError
      type: string
    UnderlyingSecurity:
      type: object
      properties:
        Symbol:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Exchange:
          type:
          - string
          - 'null'
      additionalProperties: false
    OptionSymbol:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Symbol:
            type:
            - string
            - 'null'
          SymbologyType:
            type:
            - string
            - 'null'
          BaseSymbol:
            type:
            - string
            - 'null'
          Type:
            allOf:
            - $ref: '#/components/schemas/OptionTypes'
          ExpirationDate:
            type:
            - string
            - 'null'
          Month:
            type: integer
            format: int32
          Year:
            type: integer
            format: int32
          StrikePrice:
            type: number
            format: double
        additionalProperties: false
    OptionGreeksByChain:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          GreeksByExpirations:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/GreeksByExpiration'
          Security:
            allOf:
            - $ref: '#/components/schemas/Security'
        additionalProperties: false
    Greeks:
      type: object
      properties:
        Delta:
          type: number
          format: double
        Gamma:
          type: number
          format: double
        Theta:
          type: number
          format: double
        Vega:
          type: number
          format: double
        Rho:
          type: number
          format: double
        ImpliedVolatility:
          type: number
          format: double
        OptionPriceTime:
          type:
          - string
          - 'null'
        CalculationTime:
          type:
          - string
          - 'null'
      additionalProperties: false
    ExtendedOptions:
      allOf:
      - $ref: '#/components/schemas/OptionsBaseOfExtendedExpirationExtendedOption'
      - type: object
        additionalProperties: false
    NumericResult:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Value:
            type: number
            format: double
        additionalProperties: false
    OptionsBaseOfExtendedExpirationExtendedOption:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Security:
            allOf:
            - $ref: '#/components/schemas/Security'
        additionalProperties: false
    ExtendedOption:
      allOf:
      - $ref: '#/components/schemas/Option'
      - type: object
        properties:
          CFI:
            type:
            - string
            - 'null'
          QuoteType:
            type:
            - string
            - 'null'
          ContractSize:
            type: number
            format: double
          Multiplier:
            type: number
            format: double
          DelayedMinutes:
            type: integer
            format: int32
          UTCLastDate:
            type:
            - string
            - 'null'
          UTCLastTime:
            type:
            - string
            - 'null'
          UTCBidDate:
            type:
            - string
            - 'null'
          UTCBidTime:
            type:
            - string
            - 'null'
          UTCAskDate:
            type:
            - string
            - 'null'
          UTCAskTime:
            type:
            - string
            - 'null'
          LastPriceStyle:
            type:
            - string
            - 'null'
          OpenStyle:
            type:
            - string
            - 'null'
          CloseStyle:
            type:
            - string
            - 'null'
          HighStyle:
            type:
            - string
            - 'null'
          LowStyle:
            type:
            - string
            - 'null'
          VolumeStyle:
            type:
            - string
            - 'null'
          AskStyle:
            type:
            - string
            - 'null'
          BidStyle:
            type:
            - string
            - 'null'
          Mid:
            type: number
            format: double
          MidDate:
            type:
            - string
            - 'null'
          MidTime:
            type:
            - string
            - 'null'
          MidStyle:
            type:
            - string
            - 'null'
          Valuation:
            type: number
            format: double
          ValuationDate:
            type:
            - string
            - 'null'
          ValuationTime:
            type:
            - string
            - 'null'
          ValuationType:
            type:
            - string
            - 'null'
          ValuationStyle:
            type:
            - string
            - 'null'
          UnderlyingSpot:
            type: number
            format: double
          UnderlyingSpotDate:
            type:
            - string
            - 'null'
          PreviousDayLast:
            type: number
            format: double
          PreviousDayLastDate:
            type:
            - string
            - 'null'
          PreviousDayLastTime:
            type:
            - string
            - 'null'
          PreviousDayLastPriceStyle:
            type:
            - string
            - 'null'
          PreviousDayLastSize:
            type: number
            format: double
          PreviousDayValuation:
            type: number
            format: double
          PreviousDayValuationDate:
            type:
            - string
            - 'null'
          PreviousDayValuationTime:
            type:
            - string
            - 'null'
          PreviousDayValuationStyle:
            type:
            - string
            - 'null'
          PreviousDayAsk:
            type: number
            format: double
          PreviousDayAskDate:
            type:
            - string
            - 'null'
          PreviousDayAskTime:
            type:
            - string
            - 'null'
          PreviousDayAskStyle:
            type:
            - string
            - 'null'
          PreviousDayBid:
            type: number
            format: double
          PreviousDayBidDate:
            type:
            - string
            - 'null'
          PreviousDayBidTime:
            type:
            - string
            - 'null'
          PreviousDayBidStyle:
            type:
            - string
            - 'null'
          PreviousDayMid:
            type: number
            format: double
          PreviousDayMidDate:
            type:
            - string
            - 'null'
          PreviousDayMidStyle:
            type:
            - string
            - 'null'
        additionalProperties: false
    GreeksByExpiration:
      type: object
      properties:
        ExpirationDate:
          type:
          - string
          - 'null'
        CallOptionGreeks:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/OptionGreeks'
        PutOptionGreeks:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/OptionGreeks'
      additionalProperties: false
    OptionChartBars:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Symbol:
            type:
            - string
            - 'null'
          SymbologyType:
            type:
            - string
            - 'null'
          BaseSymbol:
            type:
            - string
            - 'null'
          Type:
            allOf:
            - $ref: '#/components/schemas/OptionTypes'
          ExpirationDate:
            type:
            - string
            - 'null'
          StrikePrice:
            type: number
            format: double
          Currency:
            type:
            - string
            - 'null'
          ContractSize:
            type: number
            format: double
          CFI:
            type:
            - string
            - 'null'
          Exchange:
            type:
            - string
            - 'null'
          Timing:
            type:
            - string
            - 'null'
          ChartBars:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/ChartBar'
        additionalProperties: false
    ExtendedOptionChain:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          ExpirationDate:
            type:
            - string
            - 'null'
          Quote:
            allOf:
            - $ref: '#/components/schemas/QuickQuote'
          Calls:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/ExtendedOption'
          Puts:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/ExtendedOption'
          Security:
            allOf:
            - $ref: '#/components/schemas/Security'
        additionalProperties: false
    OptionTypes:
      enum:
      - Call
      - Put
      type: string
    Option:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Symbol:
            type:
            - string
            - 'null'
          SymbologyType:
            type:
            - string
            - 'null'
          BaseSymbol:
            type:
            - string
            - 'null'
          Type:
            allOf:
            - $ref: '#/components/schemas/OptionTypes'
          ExpirationDate:
            type:
            - string
            - 'null'
          Month:
            type: integer
            format: int32
          Year:
            type: integer
            format: int32
          StrikePrice:
            type: number
            format: double
          Currency:
            type:
            - string
            - 'null'
          Date:
            type:
            - string
            - 'null'
          Time:
            type:
            - string
            - 'null'
          Last:
            type: number
            format: double
          LastSize:
            type: number
            format: double
          Open:
            type: number
            format: double
          Close:
            type: number
            format: double
          High:
            type: number
            format: double
          Low:
            type: number
            format: double
          Volume:
            type: number
            format: double
          OpenInterest:
            type: number
            format: double
          OpenInterestDate:
            type:
            - string
            - 'null'
          PreviousClose:
            type: number
            format: double
          PreviousCloseDate:
            type:
            - string
            - 'null'
          Change:
            type: number
            format: double
          PercentChange:
            type: number
            format: double
          Bid:
            type: number
            format: double
          BidDate:
            type:
            - string
            - 'null'
          BidTime:
            type:
            - string
            - 'null'
          BidSize:
            type: number
            format: double
          Ask:
            type: number
            format: double
          AskDate:
            type:
            - string
            - 'null'
          AskTime:
            type:
            - string
            - 'null'
          AskSize:
            type: number
            format: double
          InTheMoney:
            type: boolean
          Exchange:
            type:
            - string
            - 'null'
        additionalProperties: false
    OptionsBaseOfExpirationOption:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Security:
            allOf:
            - $ref: '#/components/schemas/Security'
        additionalProperties: false
  securitySchemes:
    basic:
      type: apiKey
      description: Token for your account.
      name: _token
      in: query
