openapi: 3.2.0
info:
  title: Xignite Bonds API
  version: 1.0.3
servers:
- url: https://bonds.xignite.com
security:
- basic: []
tags:
- name: XigniteBonds
paths:
  /xBonds/ListBonds:
    get:
      tags:
      - XigniteBonds
      parameters:
      - name: PriceSource
        in: query
        schema:
          type: string
      - name: BondType
        in: query
        schema:
          type: string
      - name: StartSymbol
        in: query
        schema:
          type: string
      - name: EndSymbol
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListBondsResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ListBondsResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ListBondsResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/ListBondsResult'
            text/csv:
              schema:
                $ref: '#/components/schemas/ListBondsResult'
      summary: Get x bonds list bonds
      x-summary-source: derived
      operationId: getXBondsListBonds
      x-operation-id-source: derived
  /xBonds/ListBondTypes:
    get:
      tags:
      - XigniteBonds
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BondTypeList'
            text/json:
              schema:
                $ref: '#/components/schemas/BondTypeList'
            application/xml:
              schema:
                $ref: '#/components/schemas/BondTypeList'
            text/xml:
              schema:
                $ref: '#/components/schemas/BondTypeList'
            text/csv:
              schema:
                $ref: '#/components/schemas/BondTypeList'
      summary: Get x bonds list bond types
      x-summary-source: derived
      operationId: getXBondsListBondTypes
      x-operation-id-source: derived
  /xBonds/GetLastSale:
    get:
      tags:
      - XigniteBonds
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/IdentifierTypes'
      - name: PriceSource
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/PriceSources'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LastSale'
            text/json:
              schema:
                $ref: '#/components/schemas/LastSale'
            application/xml:
              schema:
                $ref: '#/components/schemas/LastSale'
            text/xml:
              schema:
                $ref: '#/components/schemas/LastSale'
            text/csv:
              schema:
                $ref: '#/components/schemas/LastSale'
      summary: Get x bonds get last sale
      x-summary-source: derived
      operationId: getXBondsGetLastSale
      x-operation-id-source: derived
  /xBonds/GetLastSales:
    get:
      tags:
      - XigniteBonds
      parameters:
      - name: Identifiers
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/IdentifierTypes'
      - name: PriceSource
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/PriceSources'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LastSale'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LastSale'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LastSale'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LastSale'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LastSale'
      summary: Get x bonds get last sales
      x-summary-source: derived
      operationId: getXBondsGetLastSales
      x-operation-id-source: derived
  /xBonds/GetPriceComposite:
    get:
      tags:
      - XigniteBonds
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/IdentifierTypes'
      - name: PriceSource
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/PriceSources'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PriceComposite'
            text/json:
              schema:
                $ref: '#/components/schemas/PriceComposite'
            application/xml:
              schema:
                $ref: '#/components/schemas/PriceComposite'
            text/xml:
              schema:
                $ref: '#/components/schemas/PriceComposite'
            text/csv:
              schema:
                $ref: '#/components/schemas/PriceComposite'
      summary: Get x bonds get price composite
      x-summary-source: derived
      operationId: getXBondsGetPriceComposite
      x-operation-id-source: derived
  /xBonds/GetPriceComposites:
    get:
      tags:
      - XigniteBonds
      parameters:
      - name: Identifiers
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/IdentifierTypes'
      - name: PriceSource
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/PriceSources'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PriceComposite'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PriceComposite'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PriceComposite'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PriceComposite'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PriceComposite'
      summary: Get x bonds get price composites
      x-summary-source: derived
      operationId: getXBondsGetPriceComposites
      x-operation-id-source: derived
  /xBonds/GetDailyOpenHighLowClosePrice:
    get:
      tags:
      - XigniteBonds
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/IdentifierTypes'
      - name: PriceSource
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/PriceSources'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DailyOpenHighLowClosePrice'
            text/json:
              schema:
                $ref: '#/components/schemas/DailyOpenHighLowClosePrice'
            application/xml:
              schema:
                $ref: '#/components/schemas/DailyOpenHighLowClosePrice'
            text/xml:
              schema:
                $ref: '#/components/schemas/DailyOpenHighLowClosePrice'
            text/csv:
              schema:
                $ref: '#/components/schemas/DailyOpenHighLowClosePrice'
      summary: Get x bonds get daily open high low close price
      x-summary-source: derived
      operationId: getXBondsGetDailyOpenHighLowClosePrice
      x-operation-id-source: derived
  /xBonds/GetDailyOpenHighLowClosePrices:
    get:
      tags:
      - XigniteBonds
      parameters:
      - name: Identifiers
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/IdentifierTypes'
      - name: PriceSource
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/PriceSources'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DailyOpenHighLowClosePrice'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DailyOpenHighLowClosePrice'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DailyOpenHighLowClosePrice'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DailyOpenHighLowClosePrice'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DailyOpenHighLowClosePrice'
      summary: Get x bonds get daily open high low close prices
      x-summary-source: derived
      operationId: getXBondsGetDailyOpenHighLowClosePrices
      x-operation-id-source: derived
components:
  schemas:
    BondType:
      type: object
      properties:
        Code:
          type:
          - string
          - 'null'
        Type:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
      additionalProperties: false
    PriceSources:
      enum:
      - FINRA
      type: string
    IdentifierTypes:
      enum:
      - Symbol
      - CIK
      - CUSIP
      - ISIN
      - Valoren
      - SEDOL
      - FIGI
      - CompositeFIGI
      type: string
    OutcomeTypes:
      enum:
      - Success
      - SystemError
      - RequestError
      - RegistrationError
      type: string
    DailyOpenHighLowClosePrice:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          InstrumentIdentifierBrief:
            allOf:
            - $ref: '#/components/schemas/InstrumentIdentifierBrief'
          DailyOpenHighLowClose:
            allOf:
            - $ref: '#/components/schemas/DailyOpenHighLowClose'
          Identifier:
            type:
            - string
            - 'null'
          IdentifierType:
            type:
            - string
            - 'null'
        additionalProperties: false
    ListBondsResult:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          BondType:
            type:
            - string
            - 'null'
          StartSymbol:
            type:
            - string
            - 'null'
          EndSymbol:
            type:
            - string
            - 'null'
          Securities:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/BondResult'
        additionalProperties: false
    Common:
      type: object
      properties:
        Delay:
          type: number
          format: double
        Identity:
          type:
          - string
          - 'null'
        Message:
          type:
          - string
          - 'null'
        Outcome:
          allOf:
          - $ref: '#/components/schemas/OutcomeTypes'
      additionalProperties: false
    InstrumentIdentifierBrief:
      type: object
      properties:
        Valoren:
          type:
          - string
          - 'null'
        CUSIP:
          type:
          - string
          - 'null'
        ISIN:
          type:
          - string
          - 'null'
      additionalProperties: false
    TradedPrice:
      type: object
      properties:
        ShortName:
          type:
          - string
          - 'null'
        Symbol:
          type:
          - string
          - 'null'
        PriceSource:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        LastSale:
          type: number
          format: double
        LastSaleDate:
          type:
          - string
          - 'null'
        LastSaleTime:
          type:
          - string
          - 'null'
        LastSaleSize:
          type: integer
          format: int32
        DailyOpen:
          type: number
          format: double
        DailyOpenDate:
          type:
          - string
          - 'null'
        DailyOpenTime:
          type:
          - string
          - 'null'
        DailyHigh:
          type: number
          format: double
        DailyHighDate:
          type:
          - string
          - 'null'
        DailyHighTime:
          type:
          - string
          - 'null'
        DailyLow:
          type: number
          format: double
        DailyLowDate:
          type:
          - string
          - 'null'
        DailyLowTime:
          type:
          - string
          - 'null'
        YearlyHigh:
          type: number
          format: double
        YearlyHighDate:
          type:
          - string
          - 'null'
        YearlyLow:
          type: number
          format: double
        YearlyLowDate:
          type:
          - string
          - 'null'
        LastYearClose:
          type: number
          format: double
        LastYearCloseDate:
          type:
          - string
          - 'null'
        YieldToMaturity:
          type: number
          format: double
        PriceUsedForCalculations:
          type: number
          format: double
        PriceUsedForCalculationsDate:
          type:
          - string
          - 'null'
        PriceUsedForCalculationsTime:
          type:
          - string
          - 'null'
      additionalProperties: false
    BondTypeList:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          BondTypes:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/BondType'
        additionalProperties: false
    LastSale:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          InstrumentIdentifierBrief:
            allOf:
            - $ref: '#/components/schemas/InstrumentIdentifierBrief'
          BondLastSale:
            allOf:
            - $ref: '#/components/schemas/BondLastSale'
          Identifier:
            type:
            - string
            - 'null'
          IdentifierType:
            type:
            - string
            - 'null'
        additionalProperties: false
    DailyOpenHighLowClose:
      type: object
      properties:
        ShortName:
          type:
          - string
          - 'null'
        Symbol:
          type:
          - string
          - 'null'
        PriceSource:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        DailyOpen:
          type: number
          format: double
        DailyOpenDate:
          type:
          - string
          - 'null'
        DailyOpenTime:
          type:
          - string
          - 'null'
        DailyHigh:
          type: number
          format: double
        DailyHighDate:
          type:
          - string
          - 'null'
        DailyHighTime:
          type:
          - string
          - 'null'
        DailyLow:
          type: number
          format: double
        DailyLowDate:
          type:
          - string
          - 'null'
        DailyLowTime:
          type:
          - string
          - 'null'
        DailyClose:
          type: number
          format: double
        DailyCloseDate:
          type:
          - string
          - 'null'
        DailyCloseTime:
          type:
          - string
          - 'null'
      additionalProperties: false
    BondLastSale:
      type: object
      properties:
        ShortName:
          type:
          - string
          - 'null'
        Symbol:
          type:
          - string
          - 'null'
        PriceSource:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        LastSale:
          type: number
          format: double
        LastSaleSize:
          type: integer
          format: int32
        LastSaleDate:
          type:
          - string
          - 'null'
        LastSaleTime:
          type:
          - string
          - 'null'
        YieldToMaturity:
          type: number
          format: double
        PriceUsedForCalculations:
          type: number
          format: double
        PriceUsedForCalculationsDate:
          type:
          - string
          - 'null'
        PriceUsedForCalculationsTime:
          type:
          - string
          - 'null'
      additionalProperties: false
    PriceComposite:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          InstrumentIdentifierBrief:
            allOf:
            - $ref: '#/components/schemas/InstrumentIdentifierBrief'
          TradedPrice:
            allOf:
            - $ref: '#/components/schemas/TradedPrice'
          Identifier:
            type:
            - string
            - 'null'
          IdentifierType:
            type:
            - string
            - 'null'
        additionalProperties: false
    BondResult:
      type: object
      properties:
        Symbol:
          type:
          - string
          - 'null'
        FIGI:
          type:
          - string
          - 'null'
        CUSIP:
          type:
          - string
          - 'null'
        ISIN:
          type:
          - string
          - 'null'
        Description:
          type:
          - string
          - 'null'
        PriceSource:
          type:
          - string
          - 'null'
      additionalProperties: false
  securitySchemes:
    basic:
      type: apiKey
      description: Token for your account.
      name: _token
      in: query
