openapi: 3.2.0
info:
  title: Xignite Global Currencies API
  version: 1.0.8
servers:
- url: https://globalcurrencies.xignite.com
security:
- basic: []
tags:
- name: XigniteGlobalCurrencies
paths:
  /xGlobalCurrencies/ListCurrencies:
    get:
      tags:
      - XigniteGlobalCurrencies
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Currencies'
            text/json:
              schema:
                $ref: '#/components/schemas/Currencies'
            application/xml:
              schema:
                $ref: '#/components/schemas/Currencies'
            text/xml:
              schema:
                $ref: '#/components/schemas/Currencies'
            text/csv:
              schema:
                $ref: '#/components/schemas/Currencies'
      summary: Get x global currencies list currencies
      x-summary-source: derived
      operationId: getXGlobalCurrenciesListCurrencies
      x-operation-id-source: derived
  /xGlobalCurrencies/ListActiveCurrencies:
    get:
      tags:
      - XigniteGlobalCurrencies
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Currencies'
            text/json:
              schema:
                $ref: '#/components/schemas/Currencies'
            application/xml:
              schema:
                $ref: '#/components/schemas/Currencies'
            text/xml:
              schema:
                $ref: '#/components/schemas/Currencies'
            text/csv:
              schema:
                $ref: '#/components/schemas/Currencies'
      summary: Get x global currencies list active currencies
      x-summary-source: derived
      operationId: getXGlobalCurrenciesListActiveCurrencies
      x-operation-id-source: derived
  /xGlobalCurrencies/ConvertRealTimeValue:
    get:
      tags:
      - XigniteGlobalCurrencies
      parameters:
      - name: From
        in: query
        schema:
          type: string
      - name: To
        in: query
        schema:
          type: string
      - name: Amount
        in: query
        schema:
          type: number
          format: double
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateConversion'
            text/json:
              schema:
                $ref: '#/components/schemas/RateConversion'
            application/xml:
              schema:
                $ref: '#/components/schemas/RateConversion'
            text/xml:
              schema:
                $ref: '#/components/schemas/RateConversion'
            text/csv:
              schema:
                $ref: '#/components/schemas/RateConversion'
      summary: Get x global currencies convert real time value
      x-summary-source: derived
      operationId: getXGlobalCurrenciesConvertRealTimeValue
      x-operation-id-source: derived
  /xGlobalCurrencies/ConvertHistoricalValue:
    get:
      tags:
      - XigniteGlobalCurrencies
      parameters:
      - name: From
        in: query
        schema:
          type: string
      - name: To
        in: query
        schema:
          type: string
      - name: Amount
        in: query
        schema:
          type: number
          format: double
      - name: AsOfDate
        in: query
        schema:
          type: string
      - name: FixingTime
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateConversion'
            text/json:
              schema:
                $ref: '#/components/schemas/RateConversion'
            application/xml:
              schema:
                $ref: '#/components/schemas/RateConversion'
            text/xml:
              schema:
                $ref: '#/components/schemas/RateConversion'
            text/csv:
              schema:
                $ref: '#/components/schemas/RateConversion'
      summary: Get x global currencies convert historical value
      x-summary-source: derived
      operationId: getXGlobalCurrenciesConvertHistoricalValue
      x-operation-id-source: derived
  /xGlobalCurrencies/GetRealTimeRate:
    get:
      tags:
      - XigniteGlobalCurrencies
      parameters:
      - name: Symbol
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rate'
            text/json:
              schema:
                $ref: '#/components/schemas/Rate'
            application/xml:
              schema:
                $ref: '#/components/schemas/Rate'
            text/xml:
              schema:
                $ref: '#/components/schemas/Rate'
            text/csv:
              schema:
                $ref: '#/components/schemas/Rate'
      summary: Get x global currencies get real time rate
      x-summary-source: derived
      operationId: getXGlobalCurrenciesGetRealTimeRate
      x-operation-id-source: derived
  /xGlobalCurrencies/GetRealTimeRates:
    get:
      tags:
      - XigniteGlobalCurrencies
      parameters:
      - name: Symbols
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Rate'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Rate'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Rate'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Rate'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Rate'
      summary: Get x global currencies get real time rates
      x-summary-source: derived
      operationId: getXGlobalCurrenciesGetRealTimeRates
      x-operation-id-source: derived
  /xGlobalCurrencies/GetAllRealTimeRates:
    get:
      tags:
      - XigniteGlobalCurrencies
      parameters:
      - name: Symbols
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Rate'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Rate'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Rate'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Rate'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Rate'
      summary: Get x global currencies get all real time rates
      x-summary-source: derived
      operationId: getXGlobalCurrenciesGetAllRealTimeRates
      x-operation-id-source: derived
  /xGlobalCurrencies/GetRealTimeRateTable:
    get:
      tags:
      - XigniteGlobalCurrencies
      parameters:
      - name: Symbols
        in: query
        schema:
          type: string
      - name: PriceType
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateTable'
            text/json:
              schema:
                $ref: '#/components/schemas/RateTable'
            application/xml:
              schema:
                $ref: '#/components/schemas/RateTable'
            text/xml:
              schema:
                $ref: '#/components/schemas/RateTable'
            text/csv:
              schema:
                $ref: '#/components/schemas/RateTable'
      summary: Get x global currencies get real time rate table
      x-summary-source: derived
      operationId: getXGlobalCurrenciesGetRealTimeRateTable
      x-operation-id-source: derived
  /xGlobalCurrencies/ListOfficialRates:
    get:
      tags:
      - XigniteGlobalCurrencies
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfficialRates'
            text/json:
              schema:
                $ref: '#/components/schemas/OfficialRates'
            application/xml:
              schema:
                $ref: '#/components/schemas/OfficialRates'
            text/xml:
              schema:
                $ref: '#/components/schemas/OfficialRates'
            text/csv:
              schema:
                $ref: '#/components/schemas/OfficialRates'
      summary: Get x global currencies list official rates
      x-summary-source: derived
      operationId: getXGlobalCurrenciesListOfficialRates
      x-operation-id-source: derived
  /xGlobalCurrencies/GetHistoricalRate:
    get:
      tags:
      - XigniteGlobalCurrencies
      parameters:
      - name: Symbol
        in: query
        schema:
          type: string
      - name: AsOfDate
        in: query
        schema:
          type: string
      - name: FixingTime
        in: query
        schema:
          type: string
      - name: PriceType
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalRate'
            text/json:
              schema:
                $ref: '#/components/schemas/HistoricalRate'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalRate'
            text/xml:
              schema:
                $ref: '#/components/schemas/HistoricalRate'
            text/csv:
              schema:
                $ref: '#/components/schemas/HistoricalRate'
      summary: Get x global currencies get historical rate
      x-summary-source: derived
      operationId: getXGlobalCurrenciesGetHistoricalRate
      x-operation-id-source: derived
  /xGlobalCurrencies/GetLatestHistoricalRate:
    get:
      tags:
      - XigniteGlobalCurrencies
      parameters:
      - name: Symbol
        in: query
        schema:
          type: string
      - name: AsOfDate
        in: query
        schema:
          type: string
      - name: FixingTime
        in: query
        schema:
          type: string
      - name: PriceType
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalRate'
            text/json:
              schema:
                $ref: '#/components/schemas/HistoricalRate'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalRate'
            text/xml:
              schema:
                $ref: '#/components/schemas/HistoricalRate'
            text/csv:
              schema:
                $ref: '#/components/schemas/HistoricalRate'
      summary: Get x global currencies get latest historical rate
      x-summary-source: derived
      operationId: getXGlobalCurrenciesGetLatestHistoricalRate
      x-operation-id-source: derived
  /xGlobalCurrencies/GetHistoricalRates:
    get:
      tags:
      - XigniteGlobalCurrencies
      parameters:
      - name: Symbols
        in: query
        schema:
          type: string
      - name: AsOfDate
        in: query
        schema:
          type: string
      - name: FixingTime
        in: query
        schema:
          type: string
      - name: PriceType
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HistoricalRate'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HistoricalRate'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HistoricalRate'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HistoricalRate'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HistoricalRate'
      summary: Get x global currencies get historical rates
      x-summary-source: derived
      operationId: getXGlobalCurrenciesGetHistoricalRates
      x-operation-id-source: derived
  /xGlobalCurrencies/GetLatestHistoricalRates:
    get:
      tags:
      - XigniteGlobalCurrencies
      parameters:
      - name: Symbols
        in: query
        schema:
          type: string
      - name: AsOfDate
        in: query
        schema:
          type: string
      - name: FixingTime
        in: query
        schema:
          type: string
      - name: PriceType
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HistoricalRate'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HistoricalRate'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HistoricalRate'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HistoricalRate'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HistoricalRate'
      summary: Get x global currencies get latest historical rates
      x-summary-source: derived
      operationId: getXGlobalCurrenciesGetLatestHistoricalRates
      x-operation-id-source: derived
  /xGlobalCurrencies/GetHistoricalRatesRange:
    get:
      tags:
      - XigniteGlobalCurrencies
      parameters:
      - name: Symbol
        in: query
        schema:
          type: string
      - name: StartDate
        in: query
        schema:
          type: string
      - name: EndDate
        in: query
        schema:
          type: string
      - name: FixingTime
        in: query
        schema:
          type: string
      - name: PeriodType
        in: query
        schema:
          type: string
      - name: PriceType
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HistoricalRate'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HistoricalRate'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HistoricalRate'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HistoricalRate'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HistoricalRate'
      summary: Get x global currencies get historical rates range
      x-summary-source: derived
      operationId: getXGlobalCurrenciesGetHistoricalRatesRange
      x-operation-id-source: derived
  /xGlobalCurrencies/GetHistoricalRatesRanges:
    get:
      tags:
      - XigniteGlobalCurrencies
      parameters:
      - name: Symbols
        in: query
        schema:
          type: string
      - name: StartDate
        in: query
        schema:
          type: string
      - name: EndDate
        in: query
        schema:
          type: string
      - name: FixingTime
        in: query
        schema:
          type: string
      - name: PeriodType
        in: query
        schema:
          type: string
      - name: PriceType
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HistoricalRate'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HistoricalRate'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HistoricalRate'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HistoricalRate'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HistoricalRate'
      summary: Get x global currencies get historical rates ranges
      x-summary-source: derived
      operationId: getXGlobalCurrenciesGetHistoricalRatesRanges
      x-operation-id-source: derived
  /xGlobalCurrencies/GetBar:
    get:
      tags:
      - XigniteGlobalCurrencies
      parameters:
      - name: Symbol
        in: query
        schema:
          type: string
      - name: AsOfDate
        in: query
        schema:
          type: string
      - name: AsOfTime
        in: query
        schema:
          type: string
      - name: PriceType
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bar'
            text/json:
              schema:
                $ref: '#/components/schemas/Bar'
            application/xml:
              schema:
                $ref: '#/components/schemas/Bar'
            text/xml:
              schema:
                $ref: '#/components/schemas/Bar'
            text/csv:
              schema:
                $ref: '#/components/schemas/Bar'
      summary: Get x global currencies get bar
      x-summary-source: derived
      operationId: getXGlobalCurrenciesGetBar
      x-operation-id-source: derived
  /xGlobalCurrencies/GetBars:
    get:
      tags:
      - XigniteGlobalCurrencies
      parameters:
      - name: Symbol
        in: query
        schema:
          type: string
      - name: AsOfDate
        in: query
        schema:
          type: string
      - name: StartTime
        in: query
        schema:
          type: string
      - name: EndTime
        in: query
        schema:
          type: string
      - name: PriceType
        in: query
        schema:
          type: string
      - name: TickPrecision
        in: query
        schema:
          type: string
      - name: TickPeriods
        in: query
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Bar'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Bar'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Bar'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Bar'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Bar'
      summary: Get x global currencies get bars
      x-summary-source: derived
      operationId: getXGlobalCurrenciesGetBars
      x-operation-id-source: derived
  /xGlobalCurrencies/GetChartBars:
    get:
      tags:
      - XigniteGlobalCurrencies
      parameters:
      - name: Symbol
        in: query
        schema:
          type: string
      - name: StartTime
        in: query
        schema:
          type: string
      - name: EndTime
        in: query
        schema:
          type: string
      - name: PriceType
        in: query
        schema:
          type: string
      - name: Precision
        in: query
        schema:
          type: string
      - name: Period
        in: query
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyChartBars'
            text/json:
              schema:
                $ref: '#/components/schemas/CurrencyChartBars'
            application/xml:
              schema:
                $ref: '#/components/schemas/CurrencyChartBars'
            text/xml:
              schema:
                $ref: '#/components/schemas/CurrencyChartBars'
            text/csv:
              schema:
                $ref: '#/components/schemas/CurrencyChartBars'
      summary: Get x global currencies get chart bars
      x-summary-source: derived
      operationId: getXGlobalCurrenciesGetChartBars
      x-operation-id-source: derived
  /xGlobalCurrencies/GetOfficialHistoricalRate:
    get:
      tags:
      - XigniteGlobalCurrencies
      parameters:
      - name: Country
        in: query
        schema:
          type: string
      - name: Symbol
        in: query
        schema:
          type: string
      - name: AsOfDate
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalRate'
            text/json:
              schema:
                $ref: '#/components/schemas/HistoricalRate'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalRate'
            text/xml:
              schema:
                $ref: '#/components/schemas/HistoricalRate'
            text/csv:
              schema:
                $ref: '#/components/schemas/HistoricalRate'
      summary: Get x global currencies get official historical rate
      x-summary-source: derived
      operationId: getXGlobalCurrenciesGetOfficialHistoricalRate
      x-operation-id-source: derived
  /xGlobalCurrencies/GetOfficialRate:
    get:
      tags:
      - XigniteGlobalCurrencies
      parameters:
      - name: Country
        in: query
        schema:
          type: string
      - name: Symbol
        in: query
        schema:
          type: string
      - name: AsOfDate
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalRateBidAsk'
            text/json:
              schema:
                $ref: '#/components/schemas/HistoricalRateBidAsk'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalRateBidAsk'
            text/xml:
              schema:
                $ref: '#/components/schemas/HistoricalRateBidAsk'
            text/csv:
              schema:
                $ref: '#/components/schemas/HistoricalRateBidAsk'
      summary: Get x global currencies get official rate
      x-summary-source: derived
      operationId: getXGlobalCurrenciesGetOfficialRate
      x-operation-id-source: derived
  /xGlobalCurrencies/GetOfficialRates:
    get:
      tags:
      - XigniteGlobalCurrencies
      parameters:
      - name: Country
        in: query
        schema:
          type: string
      - name: Symbols
        in: query
        schema:
          type: string
      - name: AsOfDate
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HistoricalRateBidAsk'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HistoricalRateBidAsk'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HistoricalRateBidAsk'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HistoricalRateBidAsk'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HistoricalRateBidAsk'
      summary: Get x global currencies get official rates
      x-summary-source: derived
      operationId: getXGlobalCurrenciesGetOfficialRates
      x-operation-id-source: derived
  /xGlobalCurrencies/GetOfficialHistoricalRates:
    get:
      tags:
      - XigniteGlobalCurrencies
      parameters:
      - name: Country
        in: query
        schema:
          type: string
      - name: Symbols
        in: query
        schema:
          type: string
      - name: AsOfDate
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HistoricalRate'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HistoricalRate'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HistoricalRate'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HistoricalRate'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HistoricalRate'
      summary: Get x global currencies get official historical rates
      x-summary-source: derived
      operationId: getXGlobalCurrenciesGetOfficialHistoricalRates
      x-operation-id-source: derived
  /xGlobalCurrencies/GetLondonHistoricalRatesRange:
    get:
      tags:
      - XigniteGlobalCurrencies
      parameters:
      - name: Symbol
        in: query
        schema:
          type: string
      - name: StartDate
        in: query
        schema:
          type: string
      - name: EndDate
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HistoricalRate'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HistoricalRate'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HistoricalRate'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HistoricalRate'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HistoricalRate'
      summary: Get x global currencies get london historical rates range
      x-summary-source: derived
      operationId: getXGlobalCurrenciesGetLondonHistoricalRatesRange
      x-operation-id-source: derived
  /xGlobalCurrencies/GetForwardRate:
    get:
      tags:
      - XigniteGlobalCurrencies
      parameters:
      - name: Symbol
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForwardRate'
            text/json:
              schema:
                $ref: '#/components/schemas/ForwardRate'
            application/xml:
              schema:
                $ref: '#/components/schemas/ForwardRate'
            text/xml:
              schema:
                $ref: '#/components/schemas/ForwardRate'
            text/csv:
              schema:
                $ref: '#/components/schemas/ForwardRate'
      summary: Get x global currencies get forward rate
      x-summary-source: derived
      operationId: getXGlobalCurrenciesGetForwardRate
      x-operation-id-source: derived
  /xGlobalCurrencies/ListForwardRates:
    get:
      tags:
      - XigniteGlobalCurrencies
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForwardRateList'
            text/json:
              schema:
                $ref: '#/components/schemas/ForwardRateList'
            application/xml:
              schema:
                $ref: '#/components/schemas/ForwardRateList'
            text/xml:
              schema:
                $ref: '#/components/schemas/ForwardRateList'
            text/csv:
              schema:
                $ref: '#/components/schemas/ForwardRateList'
      summary: Get x global currencies list forward rates
      x-summary-source: derived
      operationId: getXGlobalCurrenciesListForwardRates
      x-operation-id-source: derived
components:
  schemas:
    Rate:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          BaseCurrency:
            type:
            - string
            - 'null'
          QuoteCurrency:
            type:
            - string
            - 'null'
          Symbol:
            type:
            - string
            - 'null'
          Date:
            type:
            - string
            - 'null'
          Time:
            type:
            - string
            - 'null'
          QuoteType:
            type:
            - string
            - 'null'
          Bid:
            type: number
            format: double
          Mid:
            type: number
            format: double
          Ask:
            type: number
            format: double
          Spread:
            type: number
            format: double
          Text:
            type:
            - string
            - 'null'
          Source:
            type:
            - string
            - 'null'
        additionalProperties: false
    RateTable:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Lines:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/RateTableLine'
        additionalProperties: false
    Common:
      type: object
      properties:
        Delay:
          type: number
          format: double
        Identity:
          type:
          - string
          - 'null'
        Message:
          type:
          - string
          - 'null'
        Outcome:
          allOf:
          - $ref: '#/components/schemas/OutcomeTypes'
      additionalProperties: false
    CurrencyChartBars:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Timing:
            type:
            - string
            - 'null'
          PriceType:
            type:
            - string
            - 'null'
          CurrencyDescription:
            allOf:
            - $ref: '#/components/schemas/CurrencyDescription'
          ChartBars:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/ChartBar'
        additionalProperties: false
    ForwardRate:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          BaseCurrency:
            type:
            - string
            - 'null'
          QuoteCurrency:
            type:
            - string
            - 'null'
          Symbol:
            type:
            - string
            - 'null'
          QuoteType:
            type:
            - string
            - 'null'
          Date:
            type:
            - string
            - 'null'
          Time:
            type:
            - string
            - 'null'
          ForwardRates:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/ForwardContract'
        additionalProperties: false
    Currency:
      type: object
      properties:
        Symbol:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        Plural:
          type:
          - string
          - 'null'
        Active:
          type: boolean
        Digital:
          type: boolean
        Message:
          type:
          - string
          - 'null'
        Countries:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Country'
      additionalProperties: false
    HistoricalRateBidAsk:
      allOf:
      - $ref: '#/components/schemas/HistoricalRate'
      - type: object
        properties:
          Bid:
            type: number
            format: double
          Ask:
            type: number
            format: double
          Source:
            type:
            - string
            - 'null'
        additionalProperties: false
    ForwardContract:
      type: object
      properties:
        Bid:
          type: number
          format: double
        Mid:
          type: number
          format: double
        Ask:
          type: number
          format: double
        SpotRate:
          type: number
          format: double
        Points:
          type: number
          format: double
      additionalProperties: false
    ChartBar:
      type: object
      properties:
        StartDate:
          type:
          - string
          - 'null'
        StartTime:
          type:
          - string
          - 'null'
        EndDate:
          type:
          - string
          - 'null'
        EndTime:
          type:
          - string
          - 'null'
        UTCOffset:
          type: number
          format: double
        Open:
          type: number
          format: double
        High:
          type: number
          format: double
        Low:
          type: number
          format: double
        Close:
          type: number
          format: double
        Volume:
          type: number
          format: double
        Trades:
          type: integer
          format: int32
        TWAP:
          type: number
          format: double
        VWAP:
          type: number
          format: double
        Currency:
          type:
          - string
          - 'null'
        Session:
          type:
          - string
          - 'null'
        AdjustmentRatio:
          type: number
          format: double
      additionalProperties: false
    ForwardRateList:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          ForwardRateDescriptions:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/ForwardRateDescription'
        additionalProperties: false
    Country:
      type: object
      properties:
        Code:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
      additionalProperties: false
    Bar:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Symbol:
            type:
            - string
            - 'null'
          StartDate:
            type:
            - string
            - 'null'
          StartTime:
            type:
            - string
            - 'null'
          EndDate:
            type:
            - string
            - 'null'
          EndTime:
            type:
            - string
            - 'null'
          Open:
            type: number
            format: double
          High:
            type: number
            format: double
          Low:
            type: number
            format: double
          Close:
            type: number
            format: double
          Average:
            type: number
            format: double
          Volume:
            type: number
            format: double
        additionalProperties: false
    OutcomeTypes:
      enum:
      - Success
      - SystemError
      - RequestError
      - RegistrationError
      type: string
    HistoricalRate:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          BaseCurrency:
            type:
            - string
            - 'null'
          QuoteCurrency:
            type:
            - string
            - 'null'
          Symbol:
            type:
            - string
            - 'null'
          StartDate:
            type:
            - string
            - 'null'
          StartTime:
            type:
            - string
            - 'null'
          EndDate:
            type:
            - string
            - 'null'
          EndTime:
            type:
            - string
            - 'null'
          Open:
            type: number
            format: double
          High:
            type: number
            format: double
          Low:
            type: number
            format: double
          Close:
            type: number
            format: double
          Average:
            type: number
            format: double
        additionalProperties: false
    OfficialCurrency:
      type: object
      properties:
        Symbol:
          type:
          - string
          - 'null'
        Active:
          type: boolean
        Message:
          type:
          - string
          - 'null'
      additionalProperties: false
    OfficialRates:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          CountryList:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/OfficialCountry'
        additionalProperties: false
    RateTableLine:
      type: object
      properties:
        BaseCurrency:
          type:
          - string
          - 'null'
        Columns:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/QuoteCurrencyItem'
      additionalProperties: false
    OfficialCountry:
      type: object
      properties:
        Country:
          type:
          - string
          - 'null'
        OfficialCurrencies:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/OfficialCurrency'
      additionalProperties: false
    ForwardRateDescription:
      type: object
      properties:
        BaseCurrency:
          type:
          - string
          - 'null'
        QuoteCurrency:
          type:
          - string
          - 'null'
        Symbol:
          type:
          - string
          - 'null'
        Expirations:
          type:
          - array
          - 'null'
          items:
            type: string
      additionalProperties: false
    CurrencyDescription:
      type: object
      properties:
        Symbol:
          type:
          - string
          - 'null'
        BaseCurrency:
          type:
          - string
          - 'null'
        QuoteCurrency:
          type:
          - string
          - 'null'
      additionalProperties: false
    QuoteCurrencyItem:
      type: object
      properties:
        QuoteCurrency:
          type:
          - string
          - 'null'
        Rate:
          type: number
          format: double
      additionalProperties: false
    RateConversion:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          FromCurrencySymbol:
            type:
            - string
            - 'null'
          FromCurrencyName:
            type:
            - string
            - 'null'
          ToCurrencySymbol:
            type:
            - string
            - 'null'
          ToCurrencyName:
            type:
            - string
            - 'null'
          Date:
            type:
            - string
            - 'null'
          Time:
            type:
            - string
            - 'null'
          Amount:
            type: number
            format: double
          Result:
            type: number
            format: double
          Rate:
            type: number
            format: double
          Source:
            type:
            - string
            - 'null'
        additionalProperties: false
    Currencies:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          CurrencyList:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/Currency'
        additionalProperties: false
  securitySchemes:
    basic:
      type: apiKey
      description: Token for your account.
      name: _token
      in: query
