openapi: 3.2.0
info:
  title: Xignite Global Holidays API
  version: 1.0.3
servers:
- url: https://globalholidays.xignite.com
security:
- basic: []
tags:
- name: XigniteGlobalHolidays
paths:
  /xGlobalHolidays/ListExchanges:
    get:
      tags:
      - XigniteGlobalHolidays
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Exchange'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Exchange'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Exchange'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Exchange'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Exchange'
      summary: Get x global holidays list exchanges
      x-summary-source: derived
      operationId: getXGlobalHolidaysListExchanges
      x-operation-id-source: derived
  /xGlobalHolidays/ListCurrencies:
    get:
      tags:
      - XigniteGlobalHolidays
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Currency'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Currency'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Currency'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Currency'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Currency'
      summary: Get x global holidays list currencies
      x-summary-source: derived
      operationId: getXGlobalHolidaysListCurrencies
      x-operation-id-source: derived
  /xGlobalHolidays/ListFinancialCenters:
    get:
      tags:
      - XigniteGlobalHolidays
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FinancialCenter'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FinancialCenter'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FinancialCenter'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FinancialCenter'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FinancialCenter'
      summary: Get x global holidays list financial centers
      x-summary-source: derived
      operationId: getXGlobalHolidaysListFinancialCenters
      x-operation-id-source: derived
  /xGlobalHolidays/GetHolidays:
    get:
      tags:
      - XigniteGlobalHolidays
      parameters:
      - name: Location
        in: query
        schema:
          type: string
      - name: LocationType
        in: query
        schema:
          type: string
      - name: StartDate
        in: query
        schema:
          type: string
      - name: EndDate
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Holiday'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Holiday'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Holiday'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Holiday'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Holiday'
      summary: Get x global holidays get holidays
      x-summary-source: derived
      operationId: getXGlobalHolidaysGetHolidays
      x-operation-id-source: derived
  /xGlobalHolidays/ListHolidays:
    get:
      tags:
      - XigniteGlobalHolidays
      parameters:
      - name: Location
        in: query
        schema:
          type: string
      - name: LocationType
        in: query
        schema:
          type: string
      - name: Year
        in: query
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Holiday'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Holiday'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Holiday'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Holiday'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Holiday'
      summary: Get x global holidays list holidays
      x-summary-source: derived
      operationId: getXGlobalHolidaysListHolidays
      x-operation-id-source: derived
  /xGlobalHolidays/GetNextDate:
    get:
      tags:
      - XigniteGlobalHolidays
      parameters:
      - name: Location
        in: query
        schema:
          type: string
      - name: LocationType
        in: query
        schema:
          type: string
      - name: Date
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringResult'
            text/json:
              schema:
                $ref: '#/components/schemas/StringResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/StringResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/StringResult'
            text/csv:
              schema:
                $ref: '#/components/schemas/StringResult'
      summary: Get x global holidays get next date
      x-summary-source: derived
      operationId: getXGlobalHolidaysGetNextDate
      x-operation-id-source: derived
  /xGlobalHolidays/GetPriorDate:
    get:
      tags:
      - XigniteGlobalHolidays
      parameters:
      - name: Location
        in: query
        schema:
          type: string
      - name: LocationType
        in: query
        schema:
          type: string
      - name: Date
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringResult'
            text/json:
              schema:
                $ref: '#/components/schemas/StringResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/StringResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/StringResult'
            text/csv:
              schema:
                $ref: '#/components/schemas/StringResult'
      summary: Get x global holidays get prior date
      x-summary-source: derived
      operationId: getXGlobalHolidaysGetPriorDate
      x-operation-id-source: derived
  /xGlobalHolidays/GetDayCount:
    get:
      tags:
      - XigniteGlobalHolidays
      parameters:
      - name: Location
        in: query
        schema:
          type: string
      - name: LocationType
        in: query
        schema:
          type: string
      - name: StartDate
        in: query
        schema:
          type: string
      - name: EndDate
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegerResult'
            text/json:
              schema:
                $ref: '#/components/schemas/IntegerResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/IntegerResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/IntegerResult'
            text/csv:
              schema:
                $ref: '#/components/schemas/IntegerResult'
      summary: Get x global holidays get day count
      x-summary-source: derived
      operationId: getXGlobalHolidaysGetDayCount
      x-operation-id-source: derived
  /xGlobalHolidays/GetExchangeDateTime:
    get:
      tags:
      - XigniteGlobalHolidays
      parameters:
      - name: Exchange
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangeDateTime'
            text/json:
              schema:
                $ref: '#/components/schemas/ExchangeDateTime'
            application/xml:
              schema:
                $ref: '#/components/schemas/ExchangeDateTime'
            text/xml:
              schema:
                $ref: '#/components/schemas/ExchangeDateTime'
            text/csv:
              schema:
                $ref: '#/components/schemas/ExchangeDateTime'
      summary: Get x global holidays get exchange date time
      x-summary-source: derived
      operationId: getXGlobalHolidaysGetExchangeDateTime
      x-operation-id-source: derived
  /xGlobalHolidays/GetExchangeHours:
    get:
      tags:
      - XigniteGlobalHolidays
      parameters:
      - name: Exchange
        in: query
        schema:
          type: string
      - name: Date
        in: query
        schema:
          type: string
      - name: TimeZone
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangeHours'
            text/json:
              schema:
                $ref: '#/components/schemas/ExchangeHours'
            application/xml:
              schema:
                $ref: '#/components/schemas/ExchangeHours'
            text/xml:
              schema:
                $ref: '#/components/schemas/ExchangeHours'
            text/csv:
              schema:
                $ref: '#/components/schemas/ExchangeHours'
      summary: Get x global holidays get exchange hours
      x-summary-source: derived
      operationId: getXGlobalHolidaysGetExchangeHours
      x-operation-id-source: derived
  /xGlobalHolidays/GetExchangeHoursRange:
    get:
      tags:
      - XigniteGlobalHolidays
      parameters:
      - name: Exchange
        in: query
        schema:
          type: string
      - name: StartDate
        in: query
        schema:
          type: string
      - name: EndDate
        in: query
        schema:
          type: string
      - name: TimeZone
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExchangeHours'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExchangeHours'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExchangeHours'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExchangeHours'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExchangeHours'
      summary: Get x global holidays get exchange hours range
      x-summary-source: derived
      operationId: getXGlobalHolidaysGetExchangeHoursRange
      x-operation-id-source: derived
  /xGlobalHolidays/AreExchangesOpen:
    get:
      tags:
      - XigniteGlobalHolidays
      parameters:
      - name: Exchanges
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExchangeStatus'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExchangeStatus'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExchangeStatus'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExchangeStatus'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExchangeStatus'
      summary: Get x global holidays are exchanges open
      x-summary-source: derived
      operationId: getXGlobalHolidaysAreExchangesOpen
      x-operation-id-source: derived
  /xGlobalHolidays/IsExchangeOpenOnDate:
    get:
      tags:
      - XigniteGlobalHolidays
      parameters:
      - name: Exchange
        in: query
        schema:
          type: string
      - name: Date
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangeSchedule'
            text/json:
              schema:
                $ref: '#/components/schemas/ExchangeSchedule'
            application/xml:
              schema:
                $ref: '#/components/schemas/ExchangeSchedule'
            text/xml:
              schema:
                $ref: '#/components/schemas/ExchangeSchedule'
            text/csv:
              schema:
                $ref: '#/components/schemas/ExchangeSchedule'
      summary: Get x global holidays is exchange open on date
      x-summary-source: derived
      operationId: getXGlobalHolidaysIsExchangeOpenOnDate
      x-operation-id-source: derived
  /xGlobalHolidays/GetSettlementDate:
    get:
      tags:
      - XigniteGlobalHolidays
      parameters:
      - name: Exchange
        in: query
        schema:
          type: string
      - name: Date
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SettlementSchedule'
            text/json:
              schema:
                $ref: '#/components/schemas/SettlementSchedule'
            application/xml:
              schema:
                $ref: '#/components/schemas/SettlementSchedule'
            text/xml:
              schema:
                $ref: '#/components/schemas/SettlementSchedule'
            text/csv:
              schema:
                $ref: '#/components/schemas/SettlementSchedule'
      summary: Get x global holidays get settlement date
      x-summary-source: derived
      operationId: getXGlobalHolidaysGetSettlementDate
      x-operation-id-source: derived
  /xGlobalHolidays/IsSettlementDate:
    get:
      tags:
      - XigniteGlobalHolidays
      parameters:
      - name: Exchange
        in: query
        schema:
          type: string
      - name: Date
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangeSchedule'
            text/json:
              schema:
                $ref: '#/components/schemas/ExchangeSchedule'
            application/xml:
              schema:
                $ref: '#/components/schemas/ExchangeSchedule'
            text/xml:
              schema:
                $ref: '#/components/schemas/ExchangeSchedule'
            text/csv:
              schema:
                $ref: '#/components/schemas/ExchangeSchedule'
      summary: Get x global holidays is settlement date
      x-summary-source: derived
      operationId: getXGlobalHolidaysIsSettlementDate
      x-operation-id-source: derived
  /xGlobalHolidays/GetExchangePhases:
    get:
      tags:
      - XigniteGlobalHolidays
      parameters:
      - name: Exchange
        in: query
        schema:
          type: string
      - name: Date
        in: query
        schema:
          type: string
      - name: TimeZone
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangePhases'
            text/json:
              schema:
                $ref: '#/components/schemas/ExchangePhases'
            application/xml:
              schema:
                $ref: '#/components/schemas/ExchangePhases'
            text/xml:
              schema:
                $ref: '#/components/schemas/ExchangePhases'
            text/csv:
              schema:
                $ref: '#/components/schemas/ExchangePhases'
      summary: Get x global holidays get exchange phases
      x-summary-source: derived
      operationId: getXGlobalHolidaysGetExchangePhases
      x-operation-id-source: derived
components:
  schemas:
    StringResult:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        additionalProperties: false
    OutcomeTypes:
      enum:
      - Success
      - SystemError
      - RequestError
      - RegistrationError
      type: string
    ExchangePhases:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Exchange:
            type:
            - string
            - 'null'
          Date:
            type:
            - string
            - 'null'
          UTCOffset:
            type: integer
            format: int32
          IsOpen:
            type: boolean
          Day:
            type:
            - string
            - 'null'
          DayType:
            type:
            - string
            - 'null'
          Phases:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/Phase'
        additionalProperties: false
    Holiday:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Location:
            type:
            - string
            - 'null'
          Date:
            type:
            - string
            - 'null'
          Name:
            type:
            - string
            - 'null'
          FullHoliday:
            type: boolean
          EarlyClose:
            type: boolean
        additionalProperties: false
    Common:
      type: object
      properties:
        Delay:
          type: number
          format: double
        Identity:
          type:
          - string
          - 'null'
        Message:
          type:
          - string
          - 'null'
        Outcome:
          allOf:
          - $ref: '#/components/schemas/OutcomeTypes'
      additionalProperties: false
    ExchangeSchedule:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Symbol:
            type:
            - string
            - 'null'
          Date:
            type:
            - string
            - 'null'
          Open:
            type: boolean
          OpenTime:
            type:
            - string
            - 'null'
          CloseTime:
            type:
            - string
            - 'null'
        additionalProperties: false
    ExchangeDateTime:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Exchange:
            type:
            - string
            - 'null'
          Date:
            type:
            - string
            - 'null'
          Time:
            type:
            - string
            - 'null'
          UTCOffset:
            type: number
            format: double
        additionalProperties: false
    ExchangeHours:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Exchange:
            type:
            - string
            - 'null'
          Date:
            type:
            - string
            - 'null'
          IsOpen:
            type: boolean
          OpenTime:
            type:
            - string
            - 'null'
          CloseTime:
            type:
            - string
            - 'null'
          UTCOffset:
            type: number
            format: double
        additionalProperties: false
    IntegerResult:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        additionalProperties: false
    FinancialCenter:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          FinancialCenterCode:
            type:
            - string
            - 'null'
          CurrencyCode:
            type:
            - string
            - 'null'
          CountryCode:
            type:
            - string
            - 'null'
          FinancialCenterName:
            type:
            - string
            - 'null'
        additionalProperties: false
    Phase:
      type: object
      properties:
        Name:
          type:
          - string
          - 'null'
        Type:
          type:
          - string
          - 'null'
        Start:
          type:
          - string
          - 'null'
        End:
          type:
          - string
          - 'null'
      additionalProperties: false
    SettlementSchedule:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Symbol:
            type:
            - string
            - 'null'
          TradeDate:
            type:
            - string
            - 'null'
          SettlementDate:
            type:
            - string
            - 'null'
        additionalProperties: false
    Currency:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          CurrencyCode:
            type:
            - string
            - 'null'
          CountryCode:
            type:
            - string
            - 'null'
          RelatedFinancialCentre:
            type:
            - string
            - 'null'
        additionalProperties: false
    ExchangeStatus:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Symbol:
            type:
            - string
            - 'null'
          Open:
            type: boolean
        additionalProperties: false
    Exchange:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Symbol:
            type:
            - string
            - 'null'
          Name:
            type:
            - string
            - 'null'
        additionalProperties: false
  securitySchemes:
    basic:
      type: apiKey
      description: Token for your account.
      name: _token
      in: query
