openapi: 3.2.0
info:
  title: Xignite Earnings Calendar API
  version: 1.0.4
servers:
- url: https://earningscalendar.xignite.com
security:
- basic: []
tags:
- name: XigniteEarningsCalendar
paths:
  /xEarningsCalendar/ListExchanges:
    get:
      tags:
      - XigniteEarningsCalendar
      parameters:
      - name: Region
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangeList'
            text/json:
              schema:
                $ref: '#/components/schemas/ExchangeList'
            application/xml:
              schema:
                $ref: '#/components/schemas/ExchangeList'
            text/xml:
              schema:
                $ref: '#/components/schemas/ExchangeList'
            text/csv:
              schema:
                $ref: '#/components/schemas/ExchangeList'
      summary: Get x earnings calendar list exchanges
      x-summary-source: derived
      operationId: getXEarningsCalendarListExchanges
      x-operation-id-source: derived
  /xEarningsCalendar/ListSymbols:
    get:
      tags:
      - XigniteEarningsCalendar
      parameters:
      - name: Exchange
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SymbolList'
            text/json:
              schema:
                $ref: '#/components/schemas/SymbolList'
            application/xml:
              schema:
                $ref: '#/components/schemas/SymbolList'
            text/xml:
              schema:
                $ref: '#/components/schemas/SymbolList'
            text/csv:
              schema:
                $ref: '#/components/schemas/SymbolList'
      summary: Get x earnings calendar list symbols
      x-summary-source: derived
      operationId: getXEarningsCalendarListSymbols
      x-operation-id-source: derived
  /xEarningsCalendar/ListEarningCalendarItems:
    get:
      tags:
      - XigniteEarningsCalendar
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundamentalTypesItems'
            text/json:
              schema:
                $ref: '#/components/schemas/FundamentalTypesItems'
            application/xml:
              schema:
                $ref: '#/components/schemas/FundamentalTypesItems'
            text/xml:
              schema:
                $ref: '#/components/schemas/FundamentalTypesItems'
            text/csv:
              schema:
                $ref: '#/components/schemas/FundamentalTypesItems'
      summary: Get x earnings calendar list earning calendar items
      x-summary-source: derived
      operationId: getXEarningsCalendarListEarningCalendarItems
      x-operation-id-source: derived
  /xEarningsCalendar/GetEarningCalendarItem:
    get:
      tags:
      - XigniteEarningsCalendar
      parameters:
      - name: Type
        in: query
        schema:
          type: string
      - name: Identifier
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EarningCalendarItem'
            text/json:
              schema:
                $ref: '#/components/schemas/EarningCalendarItem'
            application/xml:
              schema:
                $ref: '#/components/schemas/EarningCalendarItem'
            text/xml:
              schema:
                $ref: '#/components/schemas/EarningCalendarItem'
            text/csv:
              schema:
                $ref: '#/components/schemas/EarningCalendarItem'
      summary: Get x earnings calendar get earning calendar item
      x-summary-source: derived
      operationId: getXEarningsCalendarGetEarningCalendarItem
      x-operation-id-source: derived
  /xEarningsCalendar/GetEarningCalendarItems:
    get:
      tags:
      - XigniteEarningsCalendar
      parameters:
      - name: Types
        in: query
        schema:
          type: string
      - name: Identifiers
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityItemsSets'
            text/json:
              schema:
                $ref: '#/components/schemas/SecurityItemsSets'
            application/xml:
              schema:
                $ref: '#/components/schemas/SecurityItemsSets'
            text/xml:
              schema:
                $ref: '#/components/schemas/SecurityItemsSets'
            text/csv:
              schema:
                $ref: '#/components/schemas/SecurityItemsSets'
      summary: Get x earnings calendar get earning calendar items
      x-summary-source: derived
      operationId: getXEarningsCalendarGetEarningCalendarItems
      x-operation-id-source: derived
  /xEarningsCalendar/GetEarningCall:
    get:
      tags:
      - XigniteEarningsCalendar
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EarningCall'
            text/json:
              schema:
                $ref: '#/components/schemas/EarningCall'
            application/xml:
              schema:
                $ref: '#/components/schemas/EarningCall'
            text/xml:
              schema:
                $ref: '#/components/schemas/EarningCall'
            text/csv:
              schema:
                $ref: '#/components/schemas/EarningCall'
      summary: Get x earnings calendar get earning call
      x-summary-source: derived
      operationId: getXEarningsCalendarGetEarningCall
      x-operation-id-source: derived
  /xEarningsCalendar/GetConferenceCallInformation:
    get:
      tags:
      - XigniteEarningsCalendar
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConferenceCallInformation'
            text/json:
              schema:
                $ref: '#/components/schemas/ConferenceCallInformation'
            application/xml:
              schema:
                $ref: '#/components/schemas/ConferenceCallInformation'
            text/xml:
              schema:
                $ref: '#/components/schemas/ConferenceCallInformation'
            text/csv:
              schema:
                $ref: '#/components/schemas/ConferenceCallInformation'
      summary: Get x earnings calendar get conference call information
      x-summary-source: derived
      operationId: getXEarningsCalendarGetConferenceCallInformation
      x-operation-id-source: derived
  /xEarningsCalendar/GetReplayInformation:
    get:
      tags:
      - XigniteEarningsCalendar
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReplayInformation'
            text/json:
              schema:
                $ref: '#/components/schemas/ReplayInformation'
            application/xml:
              schema:
                $ref: '#/components/schemas/ReplayInformation'
            text/xml:
              schema:
                $ref: '#/components/schemas/ReplayInformation'
            text/csv:
              schema:
                $ref: '#/components/schemas/ReplayInformation'
      summary: Get x earnings calendar get replay information
      x-summary-source: derived
      operationId: getXEarningsCalendarGetReplayInformation
      x-operation-id-source: derived
  /xEarningsCalendar/GetAnnouncement:
    get:
      tags:
      - XigniteEarningsCalendar
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Announcement'
            text/json:
              schema:
                $ref: '#/components/schemas/Announcement'
            application/xml:
              schema:
                $ref: '#/components/schemas/Announcement'
            text/xml:
              schema:
                $ref: '#/components/schemas/Announcement'
            text/csv:
              schema:
                $ref: '#/components/schemas/Announcement'
      summary: Get x earnings calendar get announcement
      x-summary-source: derived
      operationId: getXEarningsCalendarGetAnnouncement
      x-operation-id-source: derived
  /xEarningsCalendar/GetEarningCalendarDay:
    get:
      tags:
      - XigniteEarningsCalendar
      parameters:
      - name: AsOfDate
        in: query
        schema:
          type: string
      - name: MinimumMarketCap
        in: query
        schema:
          type: number
          format: double
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EarningCalendarDay'
            text/json:
              schema:
                $ref: '#/components/schemas/EarningCalendarDay'
            application/xml:
              schema:
                $ref: '#/components/schemas/EarningCalendarDay'
            text/xml:
              schema:
                $ref: '#/components/schemas/EarningCalendarDay'
            text/csv:
              schema:
                $ref: '#/components/schemas/EarningCalendarDay'
      summary: Get x earnings calendar get earning calendar day
      x-summary-source: derived
      operationId: getXEarningsCalendarGetEarningCalendarDay
      x-operation-id-source: derived
  /xEarningsCalendar/GetEarningCalendarRange:
    get:
      tags:
      - XigniteEarningsCalendar
      parameters:
      - name: StartDate
        in: query
        schema:
          type: string
      - name: EndDate
        in: query
        schema:
          type: string
      - name: MinimumMarketCap
        in: query
        schema:
          type: number
          format: double
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EarningCalendar'
            text/json:
              schema:
                $ref: '#/components/schemas/EarningCalendar'
            application/xml:
              schema:
                $ref: '#/components/schemas/EarningCalendar'
            text/xml:
              schema:
                $ref: '#/components/schemas/EarningCalendar'
            text/csv:
              schema:
                $ref: '#/components/schemas/EarningCalendar'
      summary: Get x earnings calendar get earning calendar range
      x-summary-source: derived
      operationId: getXEarningsCalendarGetEarningCalendarRange
      x-operation-id-source: derived
  /xEarningsCalendar/GetEarningDates:
    get:
      tags:
      - XigniteEarningsCalendar
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EarningDates'
            text/json:
              schema:
                $ref: '#/components/schemas/EarningDates'
            application/xml:
              schema:
                $ref: '#/components/schemas/EarningDates'
            text/xml:
              schema:
                $ref: '#/components/schemas/EarningDates'
            text/csv:
              schema:
                $ref: '#/components/schemas/EarningDates'
      summary: Get x earnings calendar get earning dates
      x-summary-source: derived
      operationId: getXEarningsCalendarGetEarningDates
      x-operation-id-source: derived
  /xEarningsCalendar/GetBoardMeeting:
    get:
      tags:
      - XigniteEarningsCalendar
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BoardMeeting'
            text/json:
              schema:
                $ref: '#/components/schemas/BoardMeeting'
            application/xml:
              schema:
                $ref: '#/components/schemas/BoardMeeting'
            text/xml:
              schema:
                $ref: '#/components/schemas/BoardMeeting'
            text/csv:
              schema:
                $ref: '#/components/schemas/BoardMeeting'
      summary: Get x earnings calendar get board meeting
      x-summary-source: derived
      operationId: getXEarningsCalendarGetBoardMeeting
      x-operation-id-source: derived
components:
  schemas:
    ConferenceCallInformation:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        additionalProperties: false
    SymbolDescription:
      type: object
      properties:
        CompanyName:
          type:
          - string
          - 'null'
        CompanyIdentifier:
          type:
          - string
          - 'null'
        CompanyDomicile:
          type:
          - string
          - 'null'
        CompanyRegion:
          type:
          - string
          - 'null'
        SecurityName:
          type:
          - string
          - 'null'
        Symbol:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        DividendStatus:
          type:
          - string
          - 'null'
      additionalProperties: false
    ReplayInformation:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        additionalProperties: false
    OutcomeTypes:
      enum:
      - Success
      - SystemError
      - RequestError
      - RegistrationError
      type: string
    ExchangeDescription:
      type: object
      properties:
        Market:
          type:
          - string
          - 'null'
        MarketIdentificationCode:
          type:
          - string
          - 'null'
      additionalProperties: false
    EarningCall:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        additionalProperties: false
    EarningCalendarDay:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        additionalProperties: false
    Common:
      type: object
      properties:
        Delay:
          type: number
          format: double
        Identity:
          type:
          - string
          - 'null'
        Message:
          type:
          - string
          - 'null'
        Outcome:
          allOf:
          - $ref: '#/components/schemas/OutcomeTypes'
      additionalProperties: false
    BoardMeeting:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        additionalProperties: false
    ExchangeList:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Region:
            type:
            - string
            - 'null'
          ExchangeDescriptions:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/ExchangeDescription'
        additionalProperties: false
    FundamentalTypesItems:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        additionalProperties: false
    SecurityItemsSets:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        additionalProperties: false
    EarningDates:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        additionalProperties: false
    Announcement:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        additionalProperties: false
    SymbolList:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Market:
            type:
            - string
            - 'null'
          MarketIdentificationCode:
            type:
            - string
            - 'null'
          SymbolDescriptions:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/SymbolDescription'
        additionalProperties: false
    EarningCalendar:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        additionalProperties: false
    EarningCalendarItem:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        additionalProperties: false
  securitySchemes:
    basic:
      type: apiKey
      description: Token for your account.
      name: _token
      in: query
