openapi: 3.2.0
info:
  title: Xignite Fact Set Fundamentals API
  version: 1.0.8
servers:
- url: https://factsetfundamentals.xignite.com
security:
- basic: []
tags:
- name: XigniteFactSetFundamentals
paths:
  /xFactSetFundamentals/ListCompanies:
    get:
      tags:
      - XigniteFactSetFundamentals
      parameters:
      - name: MarketIdentificationCode
        in: query
        schema:
          type: string
      - name: StartSymbol
        in: query
        schema:
          type: string
      - name: EndSymbol
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyList'
            text/json:
              schema:
                $ref: '#/components/schemas/CompanyList'
            application/xml:
              schema:
                $ref: '#/components/schemas/CompanyList'
            text/xml:
              schema:
                $ref: '#/components/schemas/CompanyList'
            text/csv:
              schema:
                $ref: '#/components/schemas/CompanyList'
      summary: Get x fact set fundamentals list companies
      x-summary-source: derived
      operationId: getXFactSetFundamentalsListCompanies
      x-operation-id-source: derived
  /xFactSetFundamentals/ListExchanges:
    get:
      tags:
      - XigniteFactSetFundamentals
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangeList'
            text/json:
              schema:
                $ref: '#/components/schemas/ExchangeList'
            application/xml:
              schema:
                $ref: '#/components/schemas/ExchangeList'
            text/xml:
              schema:
                $ref: '#/components/schemas/ExchangeList'
            text/csv:
              schema:
                $ref: '#/components/schemas/ExchangeList'
      summary: Get x fact set fundamentals list exchanges
      x-summary-source: derived
      operationId: getXFactSetFundamentalsListExchanges
      x-operation-id-source: derived
  /xFactSetFundamentals/ListExchangesByRegion:
    get:
      tags:
      - XigniteFactSetFundamentals
      parameters:
      - name: Regions
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangeList'
            text/json:
              schema:
                $ref: '#/components/schemas/ExchangeList'
            application/xml:
              schema:
                $ref: '#/components/schemas/ExchangeList'
            text/xml:
              schema:
                $ref: '#/components/schemas/ExchangeList'
            text/csv:
              schema:
                $ref: '#/components/schemas/ExchangeList'
      summary: Get x fact set fundamentals list exchanges by region
      x-summary-source: derived
      operationId: getXFactSetFundamentalsListExchangesByRegion
      x-operation-id-source: derived
  /xFactSetFundamentals/ListFundamentals:
    get:
      tags:
      - XigniteFactSetFundamentals
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundamentalDescriptionList'
            text/json:
              schema:
                $ref: '#/components/schemas/FundamentalDescriptionList'
            application/xml:
              schema:
                $ref: '#/components/schemas/FundamentalDescriptionList'
            text/xml:
              schema:
                $ref: '#/components/schemas/FundamentalDescriptionList'
            text/csv:
              schema:
                $ref: '#/components/schemas/FundamentalDescriptionList'
      summary: Get x fact set fundamentals list fundamentals
      x-summary-source: derived
      operationId: getXFactSetFundamentalsListFundamentals
      x-operation-id-source: derived
  /xFactSetFundamentals/ListFundamentalsByDataGroup:
    get:
      tags:
      - XigniteFactSetFundamentals
      parameters:
      - name: DataGroups
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundamentalDescriptionList'
            text/json:
              schema:
                $ref: '#/components/schemas/FundamentalDescriptionList'
            application/xml:
              schema:
                $ref: '#/components/schemas/FundamentalDescriptionList'
            text/xml:
              schema:
                $ref: '#/components/schemas/FundamentalDescriptionList'
            text/csv:
              schema:
                $ref: '#/components/schemas/FundamentalDescriptionList'
      summary: Get x fact set fundamentals list fundamentals by data group
      x-summary-source: derived
      operationId: getXFactSetFundamentalsListFundamentalsByDataGroup
      x-operation-id-source: derived
  /xFactSetFundamentals/ListSectorsAndIndustries:
    get:
      tags:
      - XigniteFactSetFundamentals
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SectorList'
            text/json:
              schema:
                $ref: '#/components/schemas/SectorList'
            application/xml:
              schema:
                $ref: '#/components/schemas/SectorList'
            text/xml:
              schema:
                $ref: '#/components/schemas/SectorList'
            text/csv:
              schema:
                $ref: '#/components/schemas/SectorList'
      summary: Get x fact set fundamentals list sectors and industries
      x-summary-source: derived
      operationId: getXFactSetFundamentalsListSectorsAndIndustries
      x-operation-id-source: derived
  /xFactSetFundamentals/SearchFundamentals:
    get:
      tags:
      - XigniteFactSetFundamentals
      parameters:
      - name: Pattern
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundamentalDescriptionList'
            text/json:
              schema:
                $ref: '#/components/schemas/FundamentalDescriptionList'
            application/xml:
              schema:
                $ref: '#/components/schemas/FundamentalDescriptionList'
            text/xml:
              schema:
                $ref: '#/components/schemas/FundamentalDescriptionList'
            text/csv:
              schema:
                $ref: '#/components/schemas/FundamentalDescriptionList'
      summary: Get x fact set fundamentals search fundamentals
      x-summary-source: derived
      operationId: getXFactSetFundamentalsSearchFundamentals
      x-operation-id-source: derived
  /xFactSetFundamentals/GetLatestFundamentals:
    get:
      tags:
      - XigniteFactSetFundamentals
      parameters:
      - name: Identifiers
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          type: string
      - name: FundamentalTypes
        in: query
        schema:
          type: string
      - name: UpdatedSince
        in: query
        schema:
          type: string
      - name: ReportType
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyFundamentals'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyFundamentals'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyFundamentals'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyFundamentals'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyFundamentals'
      summary: Get x fact set fundamentals get latest fundamentals
      x-summary-source: derived
      operationId: getXFactSetFundamentalsGetLatestFundamentals
      x-operation-id-source: derived
  /xFactSetFundamentals/GetFundamentals:
    get:
      tags:
      - XigniteFactSetFundamentals
      parameters:
      - name: Identifiers
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          type: string
      - name: FundamentalTypes
        in: query
        schema:
          type: string
      - name: ReportType
        in: query
        schema:
          type: string
      - name: ExcludeRestated
        in: query
        schema:
          type: string
      - name: AsOfDate
        in: query
        schema:
          type: string
      - name: UpdatedSince
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyFundamentals'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyFundamentals'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyFundamentals'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyFundamentals'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyFundamentals'
      summary: Get x fact set fundamentals get fundamentals
      x-summary-source: derived
      operationId: getXFactSetFundamentalsGetFundamentals
      x-operation-id-source: derived
  /xFactSetFundamentals/GetFundamentalsFiscalRange:
    get:
      tags:
      - XigniteFactSetFundamentals
      parameters:
      - name: Identifiers
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          type: string
      - name: FundamentalTypes
        in: query
        schema:
          type: string
      - name: StartDate
        in: query
        schema:
          type: string
      - name: EndDate
        in: query
        schema:
          type: string
      - name: ReportType
        in: query
        schema:
          type: string
      - name: ExcludeRestated
        in: query
        schema:
          type: string
      - name: UpdatedSince
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyFundamentals'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyFundamentals'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyFundamentals'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyFundamentals'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyFundamentals'
      summary: Get x fact set fundamentals get fundamentals fiscal range
      x-summary-source: derived
      operationId: getXFactSetFundamentalsGetFundamentalsFiscalRange
      x-operation-id-source: derived
  /xFactSetFundamentals/GetFundamentalsDailyRange:
    get:
      tags:
      - XigniteFactSetFundamentals
      parameters:
      - name: Identifiers
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          type: string
      - name: FundamentalTypes
        in: query
        schema:
          type: string
      - name: StartDate
        in: query
        schema:
          type: string
      - name: EndDate
        in: query
        schema:
          type: string
      - name: ReportType
        in: query
        schema:
          type: string
      - name: ExcludeRestated
        in: query
        schema:
          type: string
      - name: UpdatedSince
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyFundamentals'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyFundamentals'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyFundamentals'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyFundamentals'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyFundamentals'
      summary: Get x fact set fundamentals get fundamentals daily range
      x-summary-source: derived
      operationId: getXFactSetFundamentalsGetFundamentalsDailyRange
      x-operation-id-source: derived
  /xFactSetFundamentals/GetFinancialStatements:
    get:
      tags:
      - XigniteFactSetFundamentals
      parameters:
      - name: Identifiers
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          type: string
      - name: StatementTypes
        in: query
        schema:
          type: string
      - name: AsOfDate
        in: query
        schema:
          type: string
      - name: ReportType
        in: query
        schema:
          type: string
      - name: ExcludeRestated
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyFinancialStatements'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyFinancialStatements'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyFinancialStatements'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyFinancialStatements'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyFinancialStatements'
      summary: Get x fact set fundamentals get financial statements
      x-summary-source: derived
      operationId: getXFactSetFundamentalsGetFinancialStatements
      x-operation-id-source: derived
  /xFactSetFundamentals/GetBalanceSheets:
    get:
      tags:
      - XigniteFactSetFundamentals
      parameters:
      - name: Identifiers
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          type: string
      - name: AsOfDate
        in: query
        schema:
          type: string
      - name: ReportType
        in: query
        schema:
          type: string
      - name: ExcludeRestated
        in: query
        schema:
          type: string
      - name: UpdatedSince
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyBalanceSheet'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyBalanceSheet'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyBalanceSheet'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyBalanceSheet'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyBalanceSheet'
      summary: Get x fact set fundamentals get balance sheets
      x-summary-source: derived
      operationId: getXFactSetFundamentalsGetBalanceSheets
      x-operation-id-source: derived
  /xFactSetFundamentals/GetCashFlowStatements:
    get:
      tags:
      - XigniteFactSetFundamentals
      parameters:
      - name: Identifiers
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          type: string
      - name: AsOfDate
        in: query
        schema:
          type: string
      - name: ReportType
        in: query
        schema:
          type: string
      - name: ExcludeRestated
        in: query
        schema:
          type: string
      - name: UpdatedSince
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyCashFlowStatement'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyCashFlowStatement'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyCashFlowStatement'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyCashFlowStatement'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyCashFlowStatement'
      summary: Get x fact set fundamentals get cash flow statements
      x-summary-source: derived
      operationId: getXFactSetFundamentalsGetCashFlowStatements
      x-operation-id-source: derived
  /xFactSetFundamentals/GetIncomeStatements:
    get:
      tags:
      - XigniteFactSetFundamentals
      parameters:
      - name: Identifiers
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          type: string
      - name: AsOfDate
        in: query
        schema:
          type: string
      - name: ReportType
        in: query
        schema:
          type: string
      - name: ExcludeRestated
        in: query
        schema:
          type: string
      - name: UpdatedSince
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyIncomeStatement'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyIncomeStatement'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyIncomeStatement'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyIncomeStatement'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyIncomeStatement'
      summary: Get x fact set fundamentals get income statements
      x-summary-source: derived
      operationId: getXFactSetFundamentalsGetIncomeStatements
      x-operation-id-source: derived
components:
  schemas:
    CompanyFundamentals:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Company:
            allOf:
            - $ref: '#/components/schemas/Company'
          FundamentalsSets:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/FundamentalsSet'
        additionalProperties: false
    Common:
      type: object
      properties:
        Delay:
          type: number
          format: double
        Identity:
          type:
          - string
          - 'null'
        Message:
          type:
          - string
          - 'null'
        Outcome:
          allOf:
          - $ref: '#/components/schemas/OutcomeTypes'
      additionalProperties: false
    FundamentalDescriptionList:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          FundamentalDescriptions:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/FundamentalDescription'
        additionalProperties: false
    StatementTemplate:
      enum:
      - Industrial
      - Bank
      - Insurance
      - OtherFinancial
      type: string
    Fundamental:
      type: object
      properties:
        Outcome:
          type:
          - string
          - 'null'
        Message:
          type:
          - string
          - 'null'
        Type:
          type:
          - string
          - 'null'
        ReportType:
          type:
          - string
          - 'null'
        IsRestated:
          type: boolean
        Value:
          type:
          - string
          - 'null'
        Date:
          type:
          - string
          - 'null'
        LastUpdated:
          type:
          - string
          - 'null'
        Unit:
          type:
          - string
          - 'null'
      additionalProperties: false
    FinancialStatement:
      type: object
      properties:
        StatementType:
          allOf:
          - $ref: '#/components/schemas/StatementTypes'
        ReportType:
          type:
          - string
          - 'null'
        StatementTemplate:
          allOf:
          - $ref: '#/components/schemas/StatementTemplate'
        FiscalPeriodEndDate:
          type:
          - string
          - 'null'
        IsRestated:
          type: boolean
        Currency:
          type:
          - string
          - 'null'
        Items:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Item'
        FilingStatus:
          type:
          - string
          - 'null'
      additionalProperties: false
    ExchangeDescription:
      type: object
      properties:
        MarketIdentificationCode:
          type:
          - string
          - 'null'
        Market:
          type:
          - string
          - 'null'
        Region:
          type:
          - string
          - 'null'
      additionalProperties: false
    Item:
      type: object
      properties:
        Type:
          type:
          - string
          - 'null'
        Level:
          type:
          - string
          - 'null'
        Value:
          type:
          - string
          - 'null'
        Order:
          type:
          - string
          - 'null'
        Unit:
          type:
          - string
          - 'null'
      additionalProperties: false
    CompanyIncomeStatement:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Company:
            allOf:
            - $ref: '#/components/schemas/Company'
          IncomeStatement:
            allOf:
            - $ref: '#/components/schemas/FinancialStatement'
        additionalProperties: false
    FundamentalsSet:
      type: object
      properties:
        AsOfDate:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Fundamentals:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Fundamental'
      additionalProperties: false
    CompanyBalanceSheet:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Company:
            allOf:
            - $ref: '#/components/schemas/Company'
          BalanceSheet:
            allOf:
            - $ref: '#/components/schemas/FinancialStatement'
        additionalProperties: false
    OutcomeTypes:
      enum:
      - Success
      - SystemError
      - RequestError
      - RegistrationError
      type: string
    FundamentalDescription:
      type: object
      properties:
        Type:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        ValueType:
          type:
          - string
          - 'null'
        Unit:
          type:
          - string
          - 'null'
        Description:
          type:
          - string
          - 'null'
        Source:
          type:
          - string
          - 'null'
        DataGroup:
          type:
          - string
          - 'null'
      additionalProperties: false
    CompanyCashFlowStatement:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Company:
            allOf:
            - $ref: '#/components/schemas/Company'
          CashFlowStatement:
            allOf:
            - $ref: '#/components/schemas/FinancialStatement'
        additionalProperties: false
    CompanyFinancialStatements:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Company:
            allOf:
            - $ref: '#/components/schemas/Company'
          FinancialStatements:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/FinancialStatement'
        additionalProperties: false
    SectorList:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Sectors:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/Sector'
        additionalProperties: false
    Industry:
      type: object
      properties:
        Code:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
      additionalProperties: false
    CompanyList:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Companies:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/Company'
        additionalProperties: false
    StatementTypes:
      enum:
      - BalanceSheet
      - CashFlowStatement
      - IncomeStatement
      type: string
    Company:
      type: object
      properties:
        Name:
          type:
          - string
          - 'null'
        Symbol:
          type:
          - string
          - 'null'
        CIK:
          type:
          - string
          - 'null'
        CUSIP:
          type:
          - string
          - 'null'
        SEDOL:
          type:
          - string
          - 'null'
        ISIN:
          type:
          - string
          - 'null'
        FactSetSecurityID:
          type:
          - string
          - 'null'
        FactSetIssuerID:
          type:
          - string
          - 'null'
        Valoren:
          type:
          - string
          - 'null'
        Market:
          type:
          - string
          - 'null'
        MarketIdentificationCode:
          type:
          - string
          - 'null'
        PrimaryMarket:
          type:
          - string
          - 'null'
        PrimaryMarketIdentificationCode:
          type:
          - string
          - 'null'
        Sector:
          type:
          - string
          - 'null'
        Industry:
          type:
          - string
          - 'null'
        StatementTemplate:
          type:
          - string
          - 'null'
      additionalProperties: false
    ExchangeList:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          ExchangeDescriptions:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/ExchangeDescription'
        additionalProperties: false
    Sector:
      type: object
      properties:
        Code:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        Industries:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Industry'
      additionalProperties: false
  securitySchemes:
    basic:
      type: apiKey
      description: Token for your account.
      name: _token
      in: query
