openapi: 3.2.0
info:
  title: Xignite Global Fund Fundamentals API
  version: 1.0.8
servers:
- url: https://globalfundfundamentals.xignite.com
security:
- basic: []
tags:
- name: XigniteGlobalFundFundamentals
paths:
  /V2/xGlobalFundFundamentals/ListCountries:
    get:
      tags:
      - XigniteGlobalFundFundamentals
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CountryList'
            text/json:
              schema:
                $ref: '#/components/schemas/CountryList'
            application/xml:
              schema:
                $ref: '#/components/schemas/CountryList'
            text/xml:
              schema:
                $ref: '#/components/schemas/CountryList'
            text/csv:
              schema:
                $ref: '#/components/schemas/CountryList'
      summary: Get x global fund fundamentals list countries
      x-summary-source: derived
      operationId: getV2XGlobalFundFundamentalsListCountries
      x-operation-id-source: derived
  /V2/xGlobalFundFundamentals/ListFundsByCountry:
    get:
      tags:
      - XigniteGlobalFundFundamentals
      parameters:
      - name: CountryCode
        in: query
        schema:
          type: string
      - name: FundTypes
        in: query
        schema:
          type: string
      - name: StartName
        in: query
        schema:
          type: string
      - name: EndName
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundList'
            text/json:
              schema:
                $ref: '#/components/schemas/FundList'
            application/xml:
              schema:
                $ref: '#/components/schemas/FundList'
            text/xml:
              schema:
                $ref: '#/components/schemas/FundList'
            text/csv:
              schema:
                $ref: '#/components/schemas/FundList'
      summary: Get x global fund fundamentals list funds by country
      x-summary-source: derived
      operationId: getV2XGlobalFundFundamentalsListFundsByCountry
      x-operation-id-source: derived
  /V2/xGlobalFundFundamentals/ListFundTypes:
    get:
      tags:
      - XigniteGlobalFundFundamentals
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundTypeList'
            text/json:
              schema:
                $ref: '#/components/schemas/FundTypeList'
            application/xml:
              schema:
                $ref: '#/components/schemas/FundTypeList'
            text/xml:
              schema:
                $ref: '#/components/schemas/FundTypeList'
            text/csv:
              schema:
                $ref: '#/components/schemas/FundTypeList'
      summary: Get x global fund fundamentals list fund types
      x-summary-source: derived
      operationId: getV2XGlobalFundFundamentalsListFundTypes
      x-operation-id-source: derived
  /V2/xGlobalFundFundamentals/ListFundFundamentals:
    get:
      tags:
      - XigniteGlobalFundFundamentals
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundFundamentalDescriptionList'
            text/json:
              schema:
                $ref: '#/components/schemas/FundFundamentalDescriptionList'
            application/xml:
              schema:
                $ref: '#/components/schemas/FundFundamentalDescriptionList'
            text/xml:
              schema:
                $ref: '#/components/schemas/FundFundamentalDescriptionList'
            text/csv:
              schema:
                $ref: '#/components/schemas/FundFundamentalDescriptionList'
      summary: Get x global fund fundamentals list fund fundamentals
      x-summary-source: derived
      operationId: getV2XGlobalFundFundamentalsListFundFundamentals
      x-operation-id-source: derived
  /V2/xGlobalFundFundamentals/GetFundFundamentals:
    get:
      tags:
      - XigniteGlobalFundFundamentals
      parameters:
      - name: Identifiers
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          type: string
      - name: FundFundamentalTypes
        in: query
        schema:
          type: string
      - name: AsOfDate
        in: query
        schema:
          type: string
      - name: UpdatedSince
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundFundamentals'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundFundamentals'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundFundamentals'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundFundamentals'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundFundamentals'
      summary: Get x global fund fundamentals get fund fundamentals
      x-summary-source: derived
      operationId: getV2XGlobalFundFundamentalsGetFundFundamentals
      x-operation-id-source: derived
  /V2/xGlobalFundFundamentals/GetFundFundamentalsRange:
    get:
      tags:
      - XigniteGlobalFundFundamentals
      parameters:
      - name: Identifiers
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          type: string
      - name: FundFundamentalTypes
        in: query
        schema:
          type: string
      - name: StartDate
        in: query
        schema:
          type: string
      - name: EndDate
        in: query
        schema:
          type: string
      - name: UpdatedSince
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundFundamentals'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundFundamentals'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundFundamentals'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundFundamentals'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundFundamentals'
      summary: Get x global fund fundamentals get fund fundamentals range
      x-summary-source: derived
      operationId: getV2XGlobalFundFundamentalsGetFundFundamentalsRange
      x-operation-id-source: derived
  /V2/xGlobalFundFundamentals/GetFundProfiles:
    get:
      tags:
      - XigniteGlobalFundFundamentals
      parameters:
      - name: Identifiers
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          type: string
      - name: AsOfDate
        in: query
        schema:
          type: string
      - name: UpdatedSince
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundProfiles'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundProfiles'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundProfiles'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundProfiles'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundProfiles'
      summary: Get x global fund fundamentals get fund profiles
      x-summary-source: derived
      operationId: getV2XGlobalFundFundamentalsGetFundProfiles
      x-operation-id-source: derived
  /V2/xGlobalFundFundamentals/GetFundFeeSchedules:
    get:
      tags:
      - XigniteGlobalFundFundamentals
      parameters:
      - name: Identifiers
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          type: string
      - name: FeeScheduleTypes
        in: query
        schema:
          type: string
      - name: AsOfDate
        in: query
        schema:
          type: string
      - name: UpdatedSince
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundFeeSchedules'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundFeeSchedules'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundFeeSchedules'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundFeeSchedules'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundFeeSchedules'
      summary: Get x global fund fundamentals get fund fee schedules
      x-summary-source: derived
      operationId: getV2XGlobalFundFundamentalsGetFundFeeSchedules
      x-operation-id-source: derived
  /V2/xGlobalFundFundamentals/GetFundHoldings:
    get:
      tags:
      - XigniteGlobalFundFundamentals
      parameters:
      - name: Identifiers
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          type: string
      - name: AsOfDate
        in: query
        schema:
          type: string
      - name: UpdatedSince
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundHoldings'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundHoldings'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundHoldings'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundHoldings'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundHoldings'
      summary: Get x global fund fundamentals get fund holdings
      x-summary-source: derived
      operationId: getV2XGlobalFundFundamentalsGetFundHoldings
      x-operation-id-source: derived
  /V2/xGlobalFundFundamentals/GetFundHoldingsRange:
    get:
      tags:
      - XigniteGlobalFundFundamentals
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          type: string
      - name: StartDate
        in: query
        schema:
          type: string
      - name: EndDate
        in: query
        schema:
          type: string
      - name: UpdatedSince
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundHoldings'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundHoldings'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundHoldings'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundHoldings'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundHoldings'
      summary: Get x global fund fundamentals get fund holdings range
      x-summary-source: derived
      operationId: getV2XGlobalFundFundamentalsGetFundHoldingsRange
      x-operation-id-source: derived
  /V2/xGlobalFundFundamentals/GetFundManagers:
    get:
      tags:
      - XigniteGlobalFundFundamentals
      parameters:
      - name: Identifiers
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          type: string
      - name: AsOfDate
        in: query
        schema:
          type: string
      - name: UpdatedSince
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundManagers'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundManagers'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundManagers'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundManagers'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundManagers'
      summary: Get x global fund fundamentals get fund managers
      x-summary-source: derived
      operationId: getV2XGlobalFundFundamentalsGetFundManagers
      x-operation-id-source: derived
  /V2/xGlobalFundFundamentals/GetFundManagersRange:
    get:
      tags:
      - XigniteGlobalFundFundamentals
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          type: string
      - name: StartDate
        in: query
        schema:
          type: string
      - name: EndDate
        in: query
        schema:
          type: string
      - name: UpdatedSince
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundManagers'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundManagers'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundManagers'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundManagers'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundManagers'
      summary: Get x global fund fundamentals get fund managers range
      x-summary-source: derived
      operationId: getV2XGlobalFundFundamentalsGetFundManagersRange
      x-operation-id-source: derived
  /V2/xGlobalFundFundamentals/GetFundMonthEndTrailingReturns:
    get:
      tags:
      - XigniteGlobalFundFundamentals
      parameters:
      - name: Identifiers
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          type: string
      - name: AsOfDate
        in: query
        schema:
          type: string
      - name: UpdatedSince
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundMonthEndTrailingReturns'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundMonthEndTrailingReturns'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundMonthEndTrailingReturns'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundMonthEndTrailingReturns'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundMonthEndTrailingReturns'
      summary: Get x global fund fundamentals get fund month end trailing returns
      x-summary-source: derived
      operationId: getV2XGlobalFundFundamentalsGetFundMonthEndTrailingReturns
      x-operation-id-source: derived
  /V2/xGlobalFundFundamentals/GetFundMonthEndTrailingReturnsRange:
    get:
      tags:
      - XigniteGlobalFundFundamentals
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          type: string
      - name: StartDate
        in: query
        schema:
          type: string
      - name: EndDate
        in: query
        schema:
          type: string
      - name: UpdatedSince
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundMonthEndTrailingReturns'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundMonthEndTrailingReturns'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundMonthEndTrailingReturns'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundMonthEndTrailingReturns'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundMonthEndTrailingReturns'
      summary: Get x global fund fundamentals get fund month end trailing returns range
      x-summary-source: derived
      operationId: getV2XGlobalFundFundamentalsGetFundMonthEndTrailingReturnsRange
      x-operation-id-source: derived
  /V2/xGlobalFundFundamentals/GetFundQuarterEndTrailingReturns:
    get:
      tags:
      - XigniteGlobalFundFundamentals
      parameters:
      - name: Identifiers
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          type: string
      - name: AsOfDate
        in: query
        schema:
          type: string
      - name: UpdatedSince
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundQuarterEndTrailingReturns'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundQuarterEndTrailingReturns'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundQuarterEndTrailingReturns'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundQuarterEndTrailingReturns'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundQuarterEndTrailingReturns'
      summary: Get x global fund fundamentals get fund quarter end trailing returns
      x-summary-source: derived
      operationId: getV2XGlobalFundFundamentalsGetFundQuarterEndTrailingReturns
      x-operation-id-source: derived
  /V2/xGlobalFundFundamentals/GetFundQuarterEndTrailingReturnsRange:
    get:
      tags:
      - XigniteGlobalFundFundamentals
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          type: string
      - name: StartDate
        in: query
        schema:
          type: string
      - name: EndDate
        in: query
        schema:
          type: string
      - name: UpdatedSince
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundQuarterEndTrailingReturns'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundQuarterEndTrailingReturns'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundQuarterEndTrailingReturns'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundQuarterEndTrailingReturns'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundQuarterEndTrailingReturns'
      summary: Get x global fund fundamentals get fund quarter end trailing returns range
      x-summary-source: derived
      operationId: getV2XGlobalFundFundamentalsGetFundQuarterEndTrailingReturnsRange
      x-operation-id-source: derived
  /V2/xGlobalFundFundamentals/GetFundNAVs:
    get:
      tags:
      - XigniteGlobalFundFundamentals
      parameters:
      - name: Identifiers
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundNAV'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundNAV'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundNAV'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundNAV'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundNAV'
      summary: Get x global fund fundamentals get fund navs
      x-summary-source: derived
      operationId: getV2XGlobalFundFundamentalsGetFundNAVs
      x-operation-id-source: derived
  /V2/xGlobalFundFundamentals/GetFundHistoricalNAVs:
    get:
      tags:
      - XigniteGlobalFundFundamentals
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          type: string
      - name: StartDate
        in: query
        schema:
          type: string
      - name: EndDate
        in: query
        schema:
          type: string
      - name: AdjustmentMethod
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundNAVHistory'
            text/json:
              schema:
                $ref: '#/components/schemas/FundNAVHistory'
            application/xml:
              schema:
                $ref: '#/components/schemas/FundNAVHistory'
            text/xml:
              schema:
                $ref: '#/components/schemas/FundNAVHistory'
            text/csv:
              schema:
                $ref: '#/components/schemas/FundNAVHistory'
      summary: Get x global fund fundamentals get fund historical navs
      x-summary-source: derived
      operationId: getV2XGlobalFundFundamentalsGetFundHistoricalNAVs
      x-operation-id-source: derived
  /V2/xGlobalFundFundamentals/GetFundDividendHistory:
    get:
      tags:
      - XigniteGlobalFundFundamentals
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          type: string
      - name: StartDate
        in: query
        schema:
          type: string
      - name: EndDate
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundDividendHistory'
            text/json:
              schema:
                $ref: '#/components/schemas/FundDividendHistory'
            application/xml:
              schema:
                $ref: '#/components/schemas/FundDividendHistory'
            text/xml:
              schema:
                $ref: '#/components/schemas/FundDividendHistory'
            text/csv:
              schema:
                $ref: '#/components/schemas/FundDividendHistory'
      summary: Get x global fund fundamentals get fund dividend history
      x-summary-source: derived
      operationId: getV2XGlobalFundFundamentalsGetFundDividendHistory
      x-operation-id-source: derived
  /V2/xGlobalFundFundamentals/GetFundBreakdowns:
    get:
      tags:
      - XigniteGlobalFundFundamentals
      parameters:
      - name: Identifiers
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          type: string
      - name: Breakdown
        in: query
        schema:
          type: string
      - name: AsOfDate
        in: query
        schema:
          type: string
      - name: UpdatedSince
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundBreakdowns'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundBreakdowns'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundBreakdowns'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundBreakdowns'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundBreakdowns'
      summary: Get x global fund fundamentals get fund breakdowns
      x-summary-source: derived
      operationId: getV2XGlobalFundFundamentalsGetFundBreakdowns
      x-operation-id-source: derived
  /V2/xGlobalFundFundamentals/GetFundBreakdownsRange:
    get:
      tags:
      - XigniteGlobalFundFundamentals
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          type: string
      - name: Breakdown
        in: query
        schema:
          type: string
      - name: StartDate
        in: query
        schema:
          type: string
      - name: EndDate
        in: query
        schema:
          type: string
      - name: UpdatedSince
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundBreakdowns'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundBreakdowns'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundBreakdowns'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundBreakdowns'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundBreakdowns'
      summary: Get x global fund fundamentals get fund breakdowns range
      x-summary-source: derived
      operationId: getV2XGlobalFundFundamentalsGetFundBreakdownsRange
      x-operation-id-source: derived
  /V2/xGlobalFundFundamentals/GetFundFullHoldings:
    get:
      tags:
      - XigniteGlobalFundFundamentals
      parameters:
      - name: Identifiers
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          type: string
      - name: AsOfDate
        in: query
        schema:
          type: string
      - name: UpdatedSince
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundBreakdowns'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundBreakdowns'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundBreakdowns'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundBreakdowns'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundBreakdowns'
      summary: Get x global fund fundamentals get fund full holdings
      x-summary-source: derived
      operationId: getV2XGlobalFundFundamentalsGetFundFullHoldings
      x-operation-id-source: derived
  /V2/xGlobalFundFundamentals/GetFundFullHoldingsRange:
    get:
      tags:
      - XigniteGlobalFundFundamentals
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          type: string
      - name: StartDate
        in: query
        schema:
          type: string
      - name: EndDate
        in: query
        schema:
          type: string
      - name: UpdatedSince
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundBreakdowns'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundBreakdowns'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundBreakdowns'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundBreakdowns'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundBreakdowns'
      summary: Get x global fund fundamentals get fund full holdings range
      x-summary-source: derived
      operationId: getV2XGlobalFundFundamentalsGetFundFullHoldingsRange
      x-operation-id-source: derived
components:
  schemas:
    FundFeeSchedules:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Fund:
            allOf:
            - $ref: '#/components/schemas/Fund'
          FeeSchedulesSets:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/FeeSchedulesSet'
        additionalProperties: false
    QuarterEndLoadAdjustedTrailingReturns:
      type: object
      properties:
        QuarterEndLoadAdjustedTrailingReturnYTD:
          type: number
          format: double
        QuarterEndLoadAdjustedTrailingReturnYTDSpecified:
          type: boolean
        QuarterEndLoadAdjustedTrailingReturnM1:
          type: number
          format: double
        QuarterEndLoadAdjustedTrailingReturnM1Specified:
          type: boolean
        QuarterEndLoadAdjustedTrailingReturnM3:
          type: number
          format: double
        QuarterEndLoadAdjustedTrailingReturnM3Specified:
          type: boolean
        QuarterEndLoadAdjustedTrailingReturnM6:
          type: number
          format: double
        QuarterEndLoadAdjustedTrailingReturnM6Specified:
          type: boolean
        QuarterEndLoadAdjustedTrailingReturnY1:
          type: number
          format: double
        QuarterEndLoadAdjustedTrailingReturnY1Specified:
          type: boolean
        QuarterEndLoadAdjustedTrailingReturnY2:
          type: number
          format: double
        QuarterEndLoadAdjustedTrailingReturnY2Specified:
          type: boolean
        QuarterEndLoadAdjustedTrailingReturnY3:
          type: number
          format: double
        QuarterEndLoadAdjustedTrailingReturnY3Specified:
          type: boolean
        QuarterEndLoadAdjustedTrailingReturnY4:
          type: number
          format: double
        QuarterEndLoadAdjustedTrailingReturnY4Specified:
          type: boolean
        QuarterEndLoadAdjustedTrailingReturnY5:
          type: number
          format: double
        QuarterEndLoadAdjustedTrailingReturnY5Specified:
          type: boolean
        QuarterEndLoadAdjustedTrailingReturnY10:
          type: number
          format: double
        QuarterEndLoadAdjustedTrailingReturnY10Specified:
          type: boolean
        QuarterEndLoadAdjustedTrailingReturnY15:
          type: number
          format: double
        QuarterEndLoadAdjustedTrailingReturnY15Specified:
          type: boolean
        QuarterEndLoadAdjustedTrailingReturnY20:
          type: number
          format: double
        QuarterEndLoadAdjustedTrailingReturnY20Specified:
          type: boolean
        QuarterEndLoadAdjustedTrailingReturnSinceInception:
          type: number
          format: double
        QuarterEndLoadAdjustedTrailingReturnSinceInceptionSpecified:
          type: boolean
      additionalProperties: false
    FundQuarterEndTrailingReturns:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Fund:
            allOf:
            - $ref: '#/components/schemas/Fund'
          QuarterEndTrailingReturnsSets:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/QuarterEndTrailingReturnsSet'
        additionalProperties: false
    FeeSchedules:
      type: object
      properties:
        MaxFee:
          type:
          - string
          - 'null'
        FeeSchedule:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/FeeSchedule'
      additionalProperties: false
    BreakdownSet:
      type: object
      properties:
        BreakdownSetName:
          type:
          - string
          - 'null'
        BreakdownRecords:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/BreakdownRecord'
      additionalProperties: false
    FundNAVHistory:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Identifier:
            type:
            - string
            - 'null'
          IdentifierType:
            type:
            - string
            - 'null'
          AdjustmentMethod:
            type:
            - string
            - 'null'
          Fund:
            allOf:
            - $ref: '#/components/schemas/Fund'
          StartDate:
            type:
            - string
            - 'null'
          EndDate:
            type:
            - string
            - 'null'
          NAVs:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/NAVs'
        additionalProperties: false
    Dividend:
      type: object
      properties:
        Type:
          type:
          - string
          - 'null'
        PaymentFrequency:
          type:
          - string
          - 'null'
        ExDate:
          type:
          - string
          - 'null'
        PayDate:
          type:
          - string
          - 'null'
        RecordDate:
          type:
          - string
          - 'null'
        DeclaredDate:
          type:
          - string
          - 'null'
        DividendAmount:
          type: number
          format: double
        Currency:
          type:
          - string
          - 'null'
      additionalProperties: false
    Common:
      type: object
      properties:
        Delay:
          type: number
          format: double
        Identity:
          type:
          - string
          - 'null'
        Message:
          type:
          - string
          - 'null'
        Outcome:
          allOf:
          - $ref: '#/components/schemas/OutcomeTypes'
      additionalProperties: false
    FundHoldings:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Fund:
            allOf:
            - $ref: '#/components/schemas/Fund'
          HoldingsSets:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/HoldingsSet'
        additionalProperties: false
    HoldingsBreakdown:
      allOf:
      - $ref: '#/components/schemas/RecordBreakDownBase'
      - type: object
        properties:
          HoldingSecurityName:
            type:
            - string
            - 'null'
          HoldingDetailTypeId:
            type:
            - string
            - 'null'
          HoldingSymbol:
            type:
            - string
            - 'null'
          HoldingISIN:
            type:
            - string
            - 'null'
          HoldingCUSIP:
            type:
            - string
            - 'null'
          HoldingSEDOL:
            type:
            - string
            - 'null'
          HoldingCountryCode:
            type:
            - string
            - 'null'
          HoldingCurrencyCode:
            type:
            - string
            - 'null'
          HoldingVendorIndustry:
            type:
            - string
            - 'null'
          HoldingWeighting:
            type:
            - string
            - 'null'
          HoldingNumberOfShare:
            type:
            - string
            - 'null'
          HoldingSharePercentage:
            type:
            - string
            - 'null'
          HoldingMarketValue:
            type:
            - string
            - 'null'
          HoldingCostBasis:
            type:
            - string
            - 'null'
          HoldingMaturityDate:
            type:
            - string
            - 'null'
          HoldingCoupon:
            type:
            - string
            - 'null'
          HoldingCreditQuality:
            type:
            - string
            - 'null'
          HoldingDuration:
            type:
            - string
            - 'null'
        additionalProperties: false
    FundDividendHistory:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Identifier:
            type:
            - string
            - 'null'
          IdentifierType:
            type:
            - string
            - 'null'
          Fund:
            allOf:
            - $ref: '#/components/schemas/Fund'
          Dividends:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/Dividend'
        additionalProperties: false
    ProfilesSet:
      type: object
      properties:
        AsOfDate:
          type:
          - string
          - 'null'
        ProfileBreakdown:
          allOf:
          - $ref: '#/components/schemas/ProfileBreakdown'
      additionalProperties: false
    QuarterEndTrailingReturns:
      type: object
      properties:
        QuarterEndTrailingReturnYTD:
          type: number
          format: double
        QuarterEndTrailingReturnYTDSpecified:
          type: boolean
        QuarterEndTrailingReturnM1:
          type: number
          format: double
        QuarterEndTrailingReturnM1Specified:
          type: boolean
        QuarterEndTrailingReturnM2:
          type: number
          format: double
        QuarterEndTrailingReturnM2Specified:
          type: boolean
        QuarterEndTrailingReturnM3:
          type: number
          format: double
        QuarterEndTrailingReturnM3Specified:
          type: boolean
        QuarterEndTrailingReturnM6:
          type: number
          format: double
        QuarterEndTrailingReturnM6Specified:
          type: boolean
        QuarterEndTrailingReturnM9:
          type: number
          format: double
        QuarterEndTrailingReturnM9Specified:
          type: boolean
        QuarterEndTrailingReturnY1:
          type: number
          format: double
        QuarterEndTrailingReturnY1Specified:
          type: boolean
        QuarterEndTrailingReturnY2:
          type: number
          format: double
        QuarterEndTrailingReturnY2Specified:
          type: boolean
        QuarterEndTrailingReturnY3:
          type: number
          format: double
        QuarterEndTrailingReturnY3Specified:
          type: boolean
        QuarterEndTrailingReturnY4:
          type: number
          format: double
        QuarterEndTrailingReturnY4Specified:
          type: boolean
        QuarterEndTrailingReturnY5:
          type: number
          format: double
        QuarterEndTrailingReturnY5Specified:
          type: boolean
        QuarterEndTrailingReturnY10:
          type: number
          format: double
        QuarterEndTrailingReturnY10Specified:
          type: boolean
        QuarterEndTrailingReturnY15:
          type: number
          format: double
        QuarterEndTrailingReturnY15Specified:
          type: boolean
        QuarterEndTrailingReturnY20:
          type: number
          format: double
        QuarterEndTrailingReturnY20Specified:
          type: boolean
        QuarterEndTrailingReturnSinceInception:
          type: number
          format: double
        QuarterEndTrailingReturnSinceInceptionSpecified:
          type: boolean
      additionalProperties: false
    FundMonthEndTrailingReturns:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Fund:
            allOf:
            - $ref: '#/components/schemas/Fund'
          MonthEndTrailingReturnsSets:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/MonthEndTrailingReturnsSet'
        additionalProperties: false
    ProfileBreakdown:
      type: object
      properties:
        FundName:
          type:
          - string
          - 'null'
        LegalName:
          type:
          - string
          - 'null'
        ProviderCompany:
          type:
          - string
          - 'null'
        ProviderCompanyCompleteAddress:
          type:
          - string
          - 'null'
        RegistrationCompany:
          type:
          - string
          - 'null'
        RegistrationCompanyCompleteAddress:
          type:
          - string
          - 'null'
        ShareClass:
          type:
          - string
          - 'null'
        InceptionDate:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        VendorCategory:
          type:
          - string
          - 'null'
        MinimumInitialInvestment:
          type:
          - string
          - 'null'
        MinimumInitialInvestmentUnit:
          type:
          - string
          - 'null'
        MinimumInvestmentCurrency:
          type:
          - string
          - 'null'
        NetAssets:
          type:
          - string
          - 'null'
        MonthEndNAV:
          type:
          - string
          - 'null'
        MonthEndNAVDate:
          type:
          - string
          - 'null'
        FundObjective:
          type:
          - string
          - 'null'
        InvestmentStrategy:
          type:
          - string
          - 'null'
        IndexFund:
          type:
          - string
          - 'null'
        FundOfFunds:
          type:
          - string
          - 'null'
        ExchangeTradedNote:
          type:
          - string
          - 'null'
        LeveragedFund:
          type:
          - string
          - 'null'
        TrueNoLoadFund:
          type:
          - string
          - 'null'
        ClosedToNewInvestors:
          type:
          - string
          - 'null'
        ClosedToAllInvestors:
          type:
          - string
          - 'null'
      additionalProperties: false
    CountryList:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          CountryDescriptions:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/CountryDescription'
        additionalProperties: false
    FundProfiles:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Fund:
            allOf:
            - $ref: '#/components/schemas/Fund'
          ProfilesSets:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/ProfilesSet'
        additionalProperties: false
    HoldingsSet:
      type: object
      properties:
        PortfolioDate:
          type:
          - string
          - 'null'
        Holdings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/HoldingsBreakdown'
      additionalProperties: false
    Fundamental:
      type: object
      properties:
        Outcome:
          type:
          - string
          - 'null'
        Message:
          type:
          - string
          - 'null'
        Type:
          type:
          - string
          - 'null'
        Value:
          type:
          - string
          - 'null'
        Date:
          type:
          - string
          - 'null'
        LastUpdated:
          type:
          - string
          - 'null'
        Unit:
          type:
          - string
          - 'null'
      additionalProperties: false
    FundManagers:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Fund:
            allOf:
            - $ref: '#/components/schemas/Fund'
          ManagersSets:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/ManagersSet'
        additionalProperties: false
    NAVs:
      type: object
      properties:
        CumulativeAdjustmentFactor:
          type: number
          format: double
        UTCOffset:
          type: number
          format: double
        Date:
          type:
          - string
          - 'null'
        NAV:
          type: number
          format: double
        PreviousNAV:
          type: number
          format: double
        Change:
          type: number
          format: double
        PercentChange:
          type: number
          format: double
        SevenDayYield:
          type: number
          format: double
        PreviousSevenDayYield:
          type: number
          format: double
        PremiumDiscount:
          type: number
          format: double
        Currency:
          type:
          - string
          - 'null'
      additionalProperties: false
    ExchangeDescription:
      type: object
      properties:
        Symbol:
          type:
          - string
          - 'null'
        Market:
          type:
          - string
          - 'null'
        MarketIdentificationCode:
          type:
          - string
          - 'null'
      additionalProperties: false
    TrailingReturns:
      type: object
      properties:
        TrailingReturnYTD:
          type: number
          format: double
        TrailingReturnYTDSpecified:
          type: boolean
        TrailingReturnM1:
          type: number
          format: double
        TrailingReturnM1Specified:
          type: boolean
        TrailingReturnM2:
          type: number
          format: double
        TrailingReturnM2Specified:
          type: boolean
        TrailingReturnM3:
          type: number
          format: double
        TrailingReturnM3Specified:
          type: boolean
        TrailingReturnM6:
          type: number
          format: double
        TrailingReturnM6Specified:
          type: boolean
        TrailingReturnM9:
          type: number
          format: double
        TrailingReturnM9Specified:
          type: boolean
        TrailingReturnY1:
          type: number
          format: double
        TrailingReturnY1Specified:
          type: boolean
        TrailingReturnY2:
          type: number
          format: double
        TrailingReturnY2Specified:
          type: boolean
        TrailingReturnY3:
          type: number
          format: double
        TrailingReturnY3Specified:
          type: boolean
        TrailingReturnY4:
          type: number
          format: double
        TrailingReturnY4Specified:
          type: boolean
        TrailingReturnY5:
          type: number
          format: double
        TrailingReturnY5Specified:
          type: boolean
        TrailingReturnY10:
          type: number
          format: double
        TrailingReturnY10Specified:
          type: boolean
        TrailingReturnY15:
          type: number
          format: double
        TrailingReturnY15Specified:
          type: boolean
        TrailingReturnY20:
          type: number
          format: double
        TrailingReturnY20Specified:
          type: boolean
        TrailingReturnSinceInception:
          type: number
          format: double
        TrailingReturnSinceInceptionSpecified:
          type: boolean
      additionalProperties: false
    Fund:
      type: object
      properties:
        Name:
          type:
          - string
          - 'null'
        Symbol:
          type:
          - string
          - 'null'
        Valoren:
          type:
          - string
          - 'null'
        CUSIP:
          type:
          - string
          - 'null'
        SEDOL:
          type:
          - string
          - 'null'
        ISIN:
          type:
          - string
          - 'null'
        CIK:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Type:
          type:
          - string
          - 'null'
        CountryOfSales:
          type:
          - string
          - 'null'
        CountryOfSalesCode:
          type:
          - string
          - 'null'
        CountryOfDomicile:
          type:
          - string
          - 'null'
        CountryOfDomicileCode:
          type:
          - string
          - 'null'
        Market:
          type:
          - string
          - 'null'
        MarketIdentificationCode:
          type:
          - string
          - 'null'
      additionalProperties: false
    FundFundamentalDescriptionList:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          FundFundamentalDescriptions:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/FundFundamentalDescription'
        additionalProperties: false
    FundNAV:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Identifier:
            type:
            - string
            - 'null'
          IdentifierType:
            type:
            - string
            - 'null'
          Fund:
            allOf:
            - $ref: '#/components/schemas/Fund'
          Date:
            type:
            - string
            - 'null'
          NAV:
            type: number
            format: double
          PreviousNAV:
            type: number
            format: double
          Change:
            type: number
            format: double
          PercentChange:
            type: number
            format: double
          SevenDayYield:
            type: number
            format: double
          PreviousSevenDayYield:
            type: number
            format: double
          PremiumDiscount:
            type: number
            format: double
          Currency:
            type:
            - string
            - 'null'
        additionalProperties: false
    QuarterEndTrailingReturnsSet:
      type: object
      properties:
        QuarterEndPerformanceAsOfDate:
          type:
          - string
          - 'null'
        QuarterEndTrailingReturns:
          allOf:
          - $ref: '#/components/schemas/QuarterEndTrailingReturns'
        QuarterEndLoadAdjustedTrailingReturns:
          allOf:
          - $ref: '#/components/schemas/QuarterEndLoadAdjustedTrailingReturns'
      additionalProperties: false
    FundamentalsSet:
      type: object
      properties:
        AsOfDate:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Fundamentals:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Fundamental'
      additionalProperties: false
    LoadAdjustedTrailingReturns:
      type: object
      properties:
        LoadAdjustedTrailingReturnYTD:
          type: number
          format: double
        LoadAdjustedTrailingReturnYTDSpecified:
          type: boolean
        LoadAdjustedTrailingReturnM1:
          type: number
          format: double
        LoadAdjustedTrailingReturnM1Specified:
          type: boolean
        LoadAdjustedTrailingReturnM3:
          type: number
          format: double
        LoadAdjustedTrailingReturnM3Specified:
          type: boolean
        LoadAdjustedTrailingReturnM6:
          type: number
          format: double
        LoadAdjustedTrailingReturnM6Specified:
          type: boolean
        LoadAdjustedTrailingReturnY1:
          type: number
          format: double
        LoadAdjustedTrailingReturnY1Specified:
          type: boolean
        LoadAdjustedTrailingReturnY2:
          type: number
          format: double
        LoadAdjustedTrailingReturnY2Specified:
          type: boolean
        LoadAdjustedTrailingReturnY3:
          type: number
          format: double
        LoadAdjustedTrailingReturnY3Specified:
          type: boolean
        LoadAdjustedTrailingReturnY4:
          type: number
          format: double
        LoadAdjustedTrailingReturnY4Specified:
          type: boolean
        LoadAdjustedTrailingReturnY5:
          type: number
          format: double
        LoadAdjustedTrailingReturnY5Specified:
          type: boolean
        LoadAdjustedTrailingReturnY10:
          type: number
          format: double
        LoadAdjustedTrailingReturnY10Specified:
          type: boolean
        LoadAdjustedTrailingReturnY15:
          type: number
          format: double
        LoadAdjustedTrailingReturnY15Specified:
          type: boolean
        LoadAdjustedTrailingReturnY20:
          type: number
          format: double
        LoadAdjustedTrailingReturnY20Specified:
          type: boolean
        LoadAdjustedTrailingReturnSinceInception:
          type: number
          format: double
        LoadAdjustedTrailingReturnSinceInceptionSpecified:
          type: boolean
      additionalProperties: false
    FeeSchedulesSet:
      type: object
      properties:
        Outcome:
          type:
          - string
          - 'null'
        Message:
          type:
          - string
          - 'null'
        AsOfDate:
          type:
          - string
          - 'null'
        FeeScheduleType:
          type:
          - string
          - 'null'
        FeeSchedules:
          allOf:
          - $ref: '#/components/schemas/FeeSchedules'
      additionalProperties: false
    OutcomeTypes:
      enum:
      - Success
      - SystemError
      - RequestError
      - RegistrationError
      type: string
    FeeSchedule:
      allOf:
      - $ref: '#/components/schemas/RecordBreakDownBase'
      - type: object
        properties:
          FeeValue:
            type:
            - string
            - 'null'
          FeeUnit:
            type:
            - string
            - 'null'
          LowBreakpoint:
            type:
            - string
            - 'null'
          HighBreakpoint:
            type:
            - string
            - 'null'
          BreakpointUnit:
            type:
            - string
            - 'null'
        additionalProperties: false
    FundDescription:
      type: object
      properties:
        Name:
          type:
          - string
          - 'null'
        Valoren:
          type:
          - string
          - 'null'
        CUSIP:
          type:
          - string
          - 'null'
        SEDOL:
          type:
          - string
          - 'null'
        ISIN:
          type:
          - string
          - 'null'
        CIK:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Type:
          type:
          - string
          - 'null'
        CountryOfSales:
          type:
          - string
          - 'null'
        CountryOfSalesCode:
          type:
          - string
          - 'null'
        CountryOfDomicile:
          type:
          - string
          - 'null'
        CountryOfDomicileCode:
          type:
          - string
          - 'null'
        ExchangeDescriptions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ExchangeDescription'
      additionalProperties: false
    MonthEndTrailingReturnsSet:
      type: object
      properties:
        MonthEndPerformanceAsOfDate:
          type:
          - string
          - 'null'
        TrailingReturns:
          allOf:
          - $ref: '#/components/schemas/TrailingReturns'
        LoadAdjustedTrailingReturns:
          allOf:
          - $ref: '#/components/schemas/LoadAdjustedTrailingReturns'
      additionalProperties: false
    ManagersSet:
      type: object
      properties:
        PortfolioDate:
          type:
          - string
          - 'null'
        ManagerBreakdowns:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ManagerBreakdown'
      additionalProperties: false
    FundBreakdowns:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Fund:
            allOf:
            - $ref: '#/components/schemas/Fund'
          Breakdowns:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/Breakdown'
        additionalProperties: false
    FundFundamentals:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Fund:
            allOf:
            - $ref: '#/components/schemas/Fund'
          FundamentalsSets:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/FundamentalsSet'
        additionalProperties: false
    FundFundamentalDescription:
      type: object
      properties:
        Type:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        Unit:
          type:
          - string
          - 'null'
        Description:
          type:
          - string
          - 'null'
        DataPackage:
          type:
          - string
          - 'null'
        Source:
          type:
          - string
          - 'null'
      additionalProperties: false
    FundList:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          FundDescriptions:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/FundDescription'
        additionalProperties: false
    FundTypeList:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          FundTypes:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/FundType'
        additionalProperties: false
    FundType:
      type: object
      properties:
        Name:
          type:
          - string
          - 'null'
        Type:
          type:
          - string
          - 'null'
        LegalType:
          type:
          - string
          - 'null'
      additionalProperties: false
    BreakdownRecord:
      type: object
      properties:
        Name:
          type:
          - string
          - 'null'
        Value:
          type:
          - string
          - 'null'
      additionalProperties: false
    ManagerBreakdown:
      allOf:
      - $ref: '#/components/schemas/RecordBreakDownBase'
      - type: object
        properties:
          ManagerFirstName:
            type:
            - string
            - 'null'
          ManagerMiddleName:
            type:
            - string
            - 'null'
          ManagerLastName:
            type:
            - string
            - 'null'
          ManagerStartDate:
            type:
            - string
            - 'null'
          ManagerTenure:
            type:
            - string
            - 'null'
          ManagerBiography:
            type:
            - string
            - 'null'
        additionalProperties: false
    Breakdown:
      type: object
      properties:
        BreakdownType:
          type:
          - string
          - 'null'
        BreakdownSets:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/BreakdownSet'
        PortfolioDate:
          type:
          - string
          - 'null'
      additionalProperties: false
    CountryDescription:
      type: object
      properties:
        CountryName:
          type:
          - string
          - 'null'
        CountryCode:
          type:
          - string
          - 'null'
        Region:
          type:
          - string
          - 'null'
        MarketSize:
          type:
          - string
          - 'null'
        FundTypes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/FundType'
      additionalProperties: false
    RecordBreakDownBase:
      type: object
      properties:
        RecordNumber:
          type:
          - string
          - 'null'
      additionalProperties: false
  securitySchemes:
    basic:
      type: apiKey
      description: Token for your account.
      name: _token
      in: query
