openapi: 3.2.0
info:
  title: Xignite Global Historical API
  version: 3.0.10
servers:
- url: https://globalhistorical.xignite.com
security:
- basic: []
tags:
- name: XigniteGlobalHistorical
paths:
  /v3/xGlobalHistorical/ListExchanges:
    get:
      tags:
      - XigniteGlobalHistorical
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangeList'
            text/json:
              schema:
                $ref: '#/components/schemas/ExchangeList'
            application/xml:
              schema:
                $ref: '#/components/schemas/ExchangeList'
            text/xml:
              schema:
                $ref: '#/components/schemas/ExchangeList'
            text/csv:
              schema:
                $ref: '#/components/schemas/ExchangeList'
      summary: Get x global historical list exchanges
      x-summary-source: derived
      operationId: getV3XGlobalHistoricalListExchanges
      x-operation-id-source: derived
  /v3/xGlobalHistorical/ListSymbols:
    get:
      tags:
      - XigniteGlobalHistorical
      parameters:
      - name: Exchange
        in: query
        schema:
          type: string
      - name: StartSymbol
        in: query
        schema:
          type: string
      - name: EndSymbol
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SymbolList'
            text/json:
              schema:
                $ref: '#/components/schemas/SymbolList'
            application/xml:
              schema:
                $ref: '#/components/schemas/SymbolList'
            text/xml:
              schema:
                $ref: '#/components/schemas/SymbolList'
            text/csv:
              schema:
                $ref: '#/components/schemas/SymbolList'
      summary: Get x global historical list symbols
      x-summary-source: derived
      operationId: getV3XGlobalHistoricalListSymbols
      x-operation-id-source: derived
  /v3/xGlobalHistorical/ListSymbolChanges:
    get:
      tags:
      - XigniteGlobalHistorical
      parameters:
      - name: Exchange
        in: query
        schema:
          type: string
      - name: ChangesSince
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SymbolChangeList'
            text/json:
              schema:
                $ref: '#/components/schemas/SymbolChangeList'
            application/xml:
              schema:
                $ref: '#/components/schemas/SymbolChangeList'
            text/xml:
              schema:
                $ref: '#/components/schemas/SymbolChangeList'
            text/csv:
              schema:
                $ref: '#/components/schemas/SymbolChangeList'
      summary: Get x global historical list symbol changes
      x-summary-source: derived
      operationId: getV3XGlobalHistoricalListSymbolChanges
      x-operation-id-source: derived
  /v3/xGlobalHistorical/ListSymbolsWithAdjustedFactors:
    get:
      tags:
      - XigniteGlobalHistorical
      parameters:
      - name: Exchange
        in: query
        schema:
          type: string
      - name: ChangesSince
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SymbolsWithAdjustedFactorsList'
            text/json:
              schema:
                $ref: '#/components/schemas/SymbolsWithAdjustedFactorsList'
            application/xml:
              schema:
                $ref: '#/components/schemas/SymbolsWithAdjustedFactorsList'
            text/xml:
              schema:
                $ref: '#/components/schemas/SymbolsWithAdjustedFactorsList'
            text/csv:
              schema:
                $ref: '#/components/schemas/SymbolsWithAdjustedFactorsList'
      summary: Get x global historical list symbols with adjusted factors
      x-summary-source: derived
      operationId: getV3XGlobalHistoricalListSymbolsWithAdjustedFactors
      x-operation-id-source: derived
  /v3/xGlobalHistorical/GetCashDividendHistory:
    get:
      tags:
      - XigniteGlobalHistorical
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          type: string
      - name: IdentifierAsOfDate
        in: query
        schema:
          type: string
      - name: StartDate
        in: query
        schema:
          type: string
      - name: EndDate
        in: query
        schema:
          type: string
      - name: CorporateActionsAdjusted
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CashDividendHistory'
            text/json:
              schema:
                $ref: '#/components/schemas/CashDividendHistory'
            application/xml:
              schema:
                $ref: '#/components/schemas/CashDividendHistory'
            text/xml:
              schema:
                $ref: '#/components/schemas/CashDividendHistory'
            text/csv:
              schema:
                $ref: '#/components/schemas/CashDividendHistory'
      summary: Get x global historical get cash dividend history
      x-summary-source: derived
      operationId: getV3XGlobalHistoricalGetCashDividendHistory
      x-operation-id-source: derived
  /v3/xGlobalHistorical/GetCashDividendsByExchange:
    get:
      tags:
      - XigniteGlobalHistorical
      parameters:
      - name: Exchange
        in: query
        schema:
          type: string
      - name: ExDate
        in: query
        schema:
          type: string
      - name: CorporateActionsAdjusted
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangeDividendsList'
            text/json:
              schema:
                $ref: '#/components/schemas/ExchangeDividendsList'
            application/xml:
              schema:
                $ref: '#/components/schemas/ExchangeDividendsList'
            text/xml:
              schema:
                $ref: '#/components/schemas/ExchangeDividendsList'
            text/csv:
              schema:
                $ref: '#/components/schemas/ExchangeDividendsList'
      summary: Get x global historical get cash dividends by exchange
      x-summary-source: derived
      operationId: getV3XGlobalHistoricalGetCashDividendsByExchange
      x-operation-id-source: derived
  /v3/xGlobalHistorical/GetSplitHistory:
    get:
      tags:
      - XigniteGlobalHistorical
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          type: string
      - name: IdentifierAsOfDate
        in: query
        schema:
          type: string
      - name: StartDate
        in: query
        schema:
          type: string
      - name: EndDate
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SplitHistory'
            text/json:
              schema:
                $ref: '#/components/schemas/SplitHistory'
            application/xml:
              schema:
                $ref: '#/components/schemas/SplitHistory'
            text/xml:
              schema:
                $ref: '#/components/schemas/SplitHistory'
            text/csv:
              schema:
                $ref: '#/components/schemas/SplitHistory'
      summary: Get x global historical get split history
      x-summary-source: derived
      operationId: getV3XGlobalHistoricalGetSplitHistory
      x-operation-id-source: derived
  /v3/xGlobalHistorical/GetSplitsByExchange:
    get:
      tags:
      - XigniteGlobalHistorical
      parameters:
      - name: Exchange
        in: query
        schema:
          type: string
      - name: ExDate
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangeSplitsList'
            text/json:
              schema:
                $ref: '#/components/schemas/ExchangeSplitsList'
            application/xml:
              schema:
                $ref: '#/components/schemas/ExchangeSplitsList'
            text/xml:
              schema:
                $ref: '#/components/schemas/ExchangeSplitsList'
            text/csv:
              schema:
                $ref: '#/components/schemas/ExchangeSplitsList'
      summary: Get x global historical get splits by exchange
      x-summary-source: derived
      operationId: getV3XGlobalHistoricalGetSplitsByExchange
      x-operation-id-source: derived
  /v3/xGlobalHistorical/GetGlobalHistoricalQuotes:
    get:
      tags:
      - XigniteGlobalHistorical
      parameters:
      - name: Identifiers
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          type: string
      - name: IdentifierAsOfDate
        in: query
        schema:
          type: string
      - name: AdjustmentMethod
        in: query
        schema:
          type: string
      - name: AsOfDate
        in: query
        schema:
          type: string
      - name: ReturnLatest
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GlobalHistoricalQuote'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GlobalHistoricalQuote'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GlobalHistoricalQuote'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GlobalHistoricalQuote'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GlobalHistoricalQuote'
      summary: Get x global historical get global historical quotes
      x-summary-source: derived
      operationId: getV3XGlobalHistoricalGetGlobalHistoricalQuotes
      x-operation-id-source: derived
  /v3/xGlobalHistorical/GetGlobalHistoricalQuotesTrailing:
    get:
      tags:
      - XigniteGlobalHistorical
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          type: string
      - name: IdentifierAsOfDate
        in: query
        schema:
          type: string
      - name: AdjustmentMethod
        in: query
        schema:
          type: string
      - name: EndDate
        in: query
        schema:
          type: string
      - name: PeriodType
        in: query
        schema:
          type: string
      - name: Periods
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalHistoricalQuotes'
            text/json:
              schema:
                $ref: '#/components/schemas/GlobalHistoricalQuotes'
            application/xml:
              schema:
                $ref: '#/components/schemas/GlobalHistoricalQuotes'
            text/xml:
              schema:
                $ref: '#/components/schemas/GlobalHistoricalQuotes'
            text/csv:
              schema:
                $ref: '#/components/schemas/GlobalHistoricalQuotes'
      summary: Get x global historical get global historical quotes trailing
      x-summary-source: derived
      operationId: getV3XGlobalHistoricalGetGlobalHistoricalQuotesTrailing
      x-operation-id-source: derived
  /v3/xGlobalHistorical/GetGlobalHistoricalQuotesRange:
    get:
      tags:
      - XigniteGlobalHistorical
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          type: string
      - name: IdentifierAsOfDate
        in: query
        schema:
          type: string
      - name: AdjustmentMethod
        in: query
        schema:
          type: string
      - name: StartDate
        in: query
        schema:
          type: string
      - name: EndDate
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalHistoricalQuotes'
            text/json:
              schema:
                $ref: '#/components/schemas/GlobalHistoricalQuotes'
            application/xml:
              schema:
                $ref: '#/components/schemas/GlobalHistoricalQuotes'
            text/xml:
              schema:
                $ref: '#/components/schemas/GlobalHistoricalQuotes'
            text/csv:
              schema:
                $ref: '#/components/schemas/GlobalHistoricalQuotes'
      summary: Get x global historical get global historical quotes range
      x-summary-source: derived
      operationId: getV3XGlobalHistoricalGetGlobalHistoricalQuotesRange
      x-operation-id-source: derived
  /v3/xGlobalHistorical/GetGlobalHistoricalWeeklyQuotesRange:
    get:
      tags:
      - XigniteGlobalHistorical
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          type: string
      - name: IdentifierAsOfDate
        in: query
        schema:
          type: string
      - name: AdjustmentMethod
        in: query
        schema:
          type: string
      - name: StartDate
        in: query
        schema:
          type: string
      - name: EndDate
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalHistoricalQuotes'
            text/json:
              schema:
                $ref: '#/components/schemas/GlobalHistoricalQuotes'
            application/xml:
              schema:
                $ref: '#/components/schemas/GlobalHistoricalQuotes'
            text/xml:
              schema:
                $ref: '#/components/schemas/GlobalHistoricalQuotes'
            text/csv:
              schema:
                $ref: '#/components/schemas/GlobalHistoricalQuotes'
      summary: Get x global historical get global historical weekly quotes range
      x-summary-source: derived
      operationId: getV3XGlobalHistoricalGetGlobalHistoricalWeeklyQuotesRange
      x-operation-id-source: derived
  /v3/xGlobalHistorical/GetGlobalHistoricalMonthlyQuotesRange:
    get:
      tags:
      - XigniteGlobalHistorical
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          type: string
      - name: IdentifierAsOfDate
        in: query
        schema:
          type: string
      - name: AdjustmentMethod
        in: query
        schema:
          type: string
      - name: StartDate
        in: query
        schema:
          type: string
      - name: EndDate
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalHistoricalQuotes'
            text/json:
              schema:
                $ref: '#/components/schemas/GlobalHistoricalQuotes'
            application/xml:
              schema:
                $ref: '#/components/schemas/GlobalHistoricalQuotes'
            text/xml:
              schema:
                $ref: '#/components/schemas/GlobalHistoricalQuotes'
            text/csv:
              schema:
                $ref: '#/components/schemas/GlobalHistoricalQuotes'
      summary: Get x global historical get global historical monthly quotes range
      x-summary-source: derived
      operationId: getV3XGlobalHistoricalGetGlobalHistoricalMonthlyQuotesRange
      x-operation-id-source: derived
  /v3/xGlobalHistorical/GetGlobalHistoricalQuarterlyQuotesRange:
    get:
      tags:
      - XigniteGlobalHistorical
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          type: string
      - name: IdentifierAsOfDate
        in: query
        schema:
          type: string
      - name: AdjustmentMethod
        in: query
        schema:
          type: string
      - name: StartDate
        in: query
        schema:
          type: string
      - name: EndDate
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalHistoricalQuotes'
            text/json:
              schema:
                $ref: '#/components/schemas/GlobalHistoricalQuotes'
            application/xml:
              schema:
                $ref: '#/components/schemas/GlobalHistoricalQuotes'
            text/xml:
              schema:
                $ref: '#/components/schemas/GlobalHistoricalQuotes'
            text/csv:
              schema:
                $ref: '#/components/schemas/GlobalHistoricalQuotes'
      summary: Get x global historical get global historical quarterly quotes range
      x-summary-source: derived
      operationId: getV3XGlobalHistoricalGetGlobalHistoricalQuarterlyQuotesRange
      x-operation-id-source: derived
  /v3/xGlobalHistorical/GetGlobalHistoricalTrades:
    get:
      tags:
      - XigniteGlobalHistorical
      parameters:
      - name: Identifiers
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          type: string
      - name: IdentifierAsOfDate
        in: query
        schema:
          type: string
      - name: AdjustmentMethod
        in: query
        schema:
          type: string
      - name: AsOfDate
        in: query
        schema:
          type: string
      - name: ReturnLatest
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GlobalHistoricalQuote'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GlobalHistoricalQuote'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GlobalHistoricalQuote'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GlobalHistoricalQuote'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GlobalHistoricalQuote'
      summary: Get x global historical get global historical trades
      x-summary-source: derived
      operationId: getV3XGlobalHistoricalGetGlobalHistoricalTrades
      x-operation-id-source: derived
  /v3/xGlobalHistorical/GetGlobalHistoricalTradesRange:
    get:
      tags:
      - XigniteGlobalHistorical
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          type: string
      - name: IdentifierAsOfDate
        in: query
        schema:
          type: string
      - name: AdjustmentMethod
        in: query
        schema:
          type: string
      - name: StartDate
        in: query
        schema:
          type: string
      - name: EndDate
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalHistoricalQuotes'
            text/json:
              schema:
                $ref: '#/components/schemas/GlobalHistoricalQuotes'
            application/xml:
              schema:
                $ref: '#/components/schemas/GlobalHistoricalQuotes'
            text/xml:
              schema:
                $ref: '#/components/schemas/GlobalHistoricalQuotes'
            text/csv:
              schema:
                $ref: '#/components/schemas/GlobalHistoricalQuotes'
      summary: Get x global historical get global historical trades range
      x-summary-source: derived
      operationId: getV3XGlobalHistoricalGetGlobalHistoricalTradesRange
      x-operation-id-source: derived
  /v3/xGlobalHistorical/GetAdjustmentFactors:
    get:
      tags:
      - XigniteGlobalHistorical
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          type: string
      - name: StartDate
        in: query
        schema:
          type: string
      - name: EndDate
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdjustmentFactors'
            text/json:
              schema:
                $ref: '#/components/schemas/AdjustmentFactors'
            application/xml:
              schema:
                $ref: '#/components/schemas/AdjustmentFactors'
            text/xml:
              schema:
                $ref: '#/components/schemas/AdjustmentFactors'
            text/csv:
              schema:
                $ref: '#/components/schemas/AdjustmentFactors'
      summary: Get x global historical get adjustment factors
      x-summary-source: derived
      operationId: getV3XGlobalHistoricalGetAdjustmentFactors
      x-operation-id-source: derived
  /v3/xGlobalHistorical/GetGlobalHistoricalVWAP:
    get:
      tags:
      - XigniteGlobalHistorical
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          type: string
      - name: IdentifierAsOfDate
        in: query
        schema:
          type: string
      - name: HistoricalVWAPType
        in: query
        schema:
          type: string
      - name: AdjustmentMethod
        in: query
        schema:
          type: string
      - name: StartTime
        in: query
        schema:
          type: string
      - name: EndTime
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalHistoricalVWAPs'
            text/json:
              schema:
                $ref: '#/components/schemas/GlobalHistoricalVWAPs'
            application/xml:
              schema:
                $ref: '#/components/schemas/GlobalHistoricalVWAPs'
            text/xml:
              schema:
                $ref: '#/components/schemas/GlobalHistoricalVWAPs'
            text/csv:
              schema:
                $ref: '#/components/schemas/GlobalHistoricalVWAPs'
      summary: Get x global historical get global historical vwap
      x-summary-source: derived
      operationId: getV3XGlobalHistoricalGetGlobalHistoricalVWAP
      x-operation-id-source: derived
  /v3/xGlobalHistorical/GetChartBars:
    get:
      tags:
      - XigniteGlobalHistorical
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          type: string
      - name: IdentifierAsOfDate
        in: query
        schema:
          type: string
      - name: StartTime
        in: query
        schema:
          type: string
      - name: EndTime
        in: query
        schema:
          type: string
      - name: Precision
        in: query
        schema:
          type: string
      - name: Period
        in: query
        schema:
          type: integer
          format: int32
      - name: AdjustmentMethod
        in: query
        schema:
          type: string
      - name: IncludeExtended
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChartBarsSet'
            text/json:
              schema:
                $ref: '#/components/schemas/ChartBarsSet'
            application/xml:
              schema:
                $ref: '#/components/schemas/ChartBarsSet'
            text/xml:
              schema:
                $ref: '#/components/schemas/ChartBarsSet'
            text/csv:
              schema:
                $ref: '#/components/schemas/ChartBarsSet'
      summary: Get x global historical get chart bars
      x-summary-source: derived
      operationId: getV3XGlobalHistoricalGetChartBars
      x-operation-id-source: derived
components:
  schemas:
    CashDividendHistory:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          CorporateActionsAdjusted:
            type:
            - string
            - 'null'
          Identifier:
            type:
            - string
            - 'null'
          IdentifierType:
            type:
            - string
            - 'null'
          IdentifierAsOfDate:
            type:
            - string
            - 'null'
          Security:
            allOf:
            - $ref: '#/components/schemas/Security'
          StartDate:
            type:
            - string
            - 'null'
          EndDate:
            type:
            - string
            - 'null'
          CumulativeCashDividend:
            type: number
            format: double
          CashDividends:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/CashDividend'
        additionalProperties: false
    Common:
      type: object
      properties:
        Delay:
          type: number
          format: double
        Identity:
          type:
          - string
          - 'null'
        Message:
          type:
          - string
          - 'null'
        Outcome:
          allOf:
          - $ref: '#/components/schemas/OutcomeTypes'
      additionalProperties: false
    ChartBarsSet:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Security:
            allOf:
            - $ref: '#/components/schemas/Security'
          Identifier:
            type:
            - string
            - 'null'
          IdentifierType:
            type:
            - string
            - 'null'
          ChartBars:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/ChartBar'
        additionalProperties: false
    HistoricalVWAP:
      type: object
      properties:
        StartTime:
          type:
          - string
          - 'null'
        EndTime:
          type:
          - string
          - 'null'
        VWAPType:
          type:
          - string
          - 'null'
        VWAP:
          type: number
          format: double
        High:
          type: number
          format: double
        Low:
          type: number
          format: double
        Volume:
          type: number
          format: double
        Change:
          type: number
          format: double
        PercentChange:
          type: number
          format: double
        TWAP:
          type: number
          format: double
        Amount:
          type: number
          format: double
        Trades:
          type: number
          format: double
        Currency:
          type:
          - string
          - 'null'
        CumulativeAdjustmentFactor:
          type:
          - number
          - 'null'
          format: double
      additionalProperties: false
    ExchangeSplit:
      type: object
      properties:
        Security:
          allOf:
          - $ref: '#/components/schemas/Security'
        Split:
          allOf:
          - $ref: '#/components/schemas/Split'
      additionalProperties: false
    GlobalHistoricalVWAPs:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Identifier:
            type:
            - string
            - 'null'
          IdentifierType:
            type:
            - string
            - 'null'
          AdjustmentMethodUsed:
            type:
            - string
            - 'null'
          Security:
            allOf:
            - $ref: '#/components/schemas/Security'
          HistoricalVWAPs:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/HistoricalVWAP'
        additionalProperties: false
    SymbolChange:
      type: object
      properties:
        Symbol:
          type:
          - string
          - 'null'
        OldSymbol:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        OldName:
          type:
          - string
          - 'null'
        Exchange:
          type:
          - string
          - 'null'
        OldExchange:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        OldCurrency:
          type:
          - string
          - 'null'
        Type:
          type:
          - string
          - 'null'
        InstrumentClass:
          type:
          - string
          - 'null'
      additionalProperties: false
    ExchangeDescription:
      type: object
      properties:
        MarketIdentificationCode:
          type:
          - string
          - 'null'
        Market:
          type:
          - string
          - 'null'
      additionalProperties: false
    Security:
      type: object
      properties:
        CIK:
          type:
          - string
          - 'null'
        CUSIP:
          type:
          - string
          - 'null'
        Symbol:
          type:
          - string
          - 'null'
        ISIN:
          type:
          - string
          - 'null'
        Valoren:
          type:
          - string
          - 'null'
        SEDOL:
          type:
          - string
          - 'null'
        FIGI:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        InstrumentClass:
          type:
          - string
          - 'null'
        Market:
          type:
          - string
          - 'null'
        MarketIdentificationCode:
          type:
          - string
          - 'null'
        Sector:
          type:
          - string
          - 'null'
        Industry:
          type:
          - string
          - 'null'
        CompositeFIGI:
          type:
          - string
          - 'null'
      additionalProperties: false
    AdjustmentFactor:
      type: object
      additionalProperties: false
    ChartBar:
      type: object
      properties:
        StartDateTime:
          type:
          - string
          - 'null'
        EndDateTime:
          type:
          - string
          - 'null'
        UTCOffset:
          type: number
          format: double
        Open:
          type: number
          format: double
        High:
          type: number
          format: double
        Low:
          type: number
          format: double
        Close:
          type: number
          format: double
        Volume:
          type: number
          format: double
        Trades:
          type: integer
          format: int32
        TWAP:
          type: number
          format: double
        VWAP:
          type: number
          format: double
        Currency:
          type:
          - string
          - 'null'
        CumulativeAdjustmentFactor:
          type: number
          format: double
      additionalProperties: false
    GlobalHistoricalQuotes:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Identifier:
            type:
            - string
            - 'null'
          IdentifierType:
            type:
            - string
            - 'null'
          Security:
            allOf:
            - $ref: '#/components/schemas/Security'
          StartDate:
            type:
            - string
            - 'null'
          EndDate:
            type:
            - string
            - 'null'
          HistoricalQuotes:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/HistoricalQuote'
        additionalProperties: false
    GlobalHistoricalQuote:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Identifier:
            type:
            - string
            - 'null'
          IdentifierType:
            type:
            - string
            - 'null'
          Security:
            allOf:
            - $ref: '#/components/schemas/Security'
          HistoricalQuote:
            allOf:
            - $ref: '#/components/schemas/HistoricalQuote'
        additionalProperties: false
    OutcomeTypes:
      enum:
      - Success
      - SystemError
      - RequestError
      - RegistrationError
      type: string
    EventSymbol:
      type: object
      properties:
        Symbol:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        Exchange:
          type:
          - string
          - 'null'
        ExDate:
          type:
          - string
          - 'null'
        Event:
          type:
          - string
          - 'null'
        EventDescription:
          type:
          - string
          - 'null'
      additionalProperties: false
    SecurityDescription:
      type: object
      properties:
        Symbol:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        InstrumentClass:
          type:
          - string
          - 'null'
      additionalProperties: false
    AdjustmentFactors:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Security:
            allOf:
            - $ref: '#/components/schemas/Security'
          ArrayOfAdjustmentFactor:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/AdjustmentFactor'
        additionalProperties: false
    HistoricalQuote:
      type: object
      properties:
        Date:
          type:
          - string
          - 'null'
        Close:
          type: number
          format: double
        Open:
          type: number
          format: double
        High:
          type: number
          format: double
        Low:
          type: number
          format: double
        Bid:
          type: number
          format: double
        Ask:
          type: number
          format: double
        VWAP:
          type: number
          format: double
        TWAP:
          type: number
          format: double
        Volume:
          type: number
          format: double
        PreviousClose:
          type: number
          format: double
        PreviousCloseDate:
          type:
          - string
          - 'null'
        Change:
          type: number
          format: double
        PercentChange:
          type: number
          format: double
        AdjustmentMethodUsed:
          type:
          - string
          - 'null'
        CumulativeAdjustmentFactor:
          type:
          - number
          - 'null'
          format: double
        Currency:
          type:
          - string
          - 'null'
        PriceNotation:
          type:
          - string
          - 'null'
        PriceAmount:
          type:
          - string
          - 'null'
      additionalProperties: false
    SymbolList:
      type: object
      properties:
        Exchange:
          allOf:
          - $ref: '#/components/schemas/ExchangeDescription'
        SecurityDescriptions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SecurityDescription'
      additionalProperties: false
    SplitHistory:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Security:
            allOf:
            - $ref: '#/components/schemas/Security'
          StartDate:
            type:
            - string
            - 'null'
          EndDate:
            type:
            - string
            - 'null'
          CumulativeSplitRatio:
            type: number
            format: double
          Splits:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/Split'
        additionalProperties: false
    ExchangeDividendsList:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Exchange:
            type:
            - string
            - 'null'
          ExDate:
            type:
            - string
            - 'null'
          CorporateActionsAdjusted:
            type:
            - string
            - 'null'
          ExchangeDividends:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/ExchangeDividend'
        additionalProperties: false
    SymbolsWithAdjustedFactorsList:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          EventSymbols:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/EventSymbol'
        additionalProperties: false
    ExchangeDividend:
      type: object
      properties:
        Security:
          allOf:
          - $ref: '#/components/schemas/Security'
        CashDividend:
          allOf:
          - $ref: '#/components/schemas/CashDividend'
      additionalProperties: false
    CashDividend:
      type: object
      properties:
        Type:
          type:
          - string
          - 'null'
        PaymentFrequency:
          type:
          - string
          - 'null'
        DeclaredDate:
          type:
          - string
          - 'null'
        RecordDate:
          type:
          - string
          - 'null'
        PayDate:
          type:
          - string
          - 'null'
        ExDate:
          type:
          - string
          - 'null'
        DividendAmount:
          type: number
          format: double
        Currency:
          type:
          - string
          - 'null'
      additionalProperties: false
    Split:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          ExDate:
            type:
            - string
            - 'null'
          Numerator:
            type: number
            format: double
          Denominator:
            type: number
            format: double
          SplitRatio:
            type: number
            format: double
        additionalProperties: false
    ExchangeSplitsList:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          ExchangeSplits:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/ExchangeSplit'
        additionalProperties: false
    SymbolChangeList:
      type: object
      properties:
        DateTime:
          type:
          - string
          - 'null'
        SymbolChanges:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SymbolChange'
      additionalProperties: false
    ExchangeList:
      type: object
      properties:
        ExchangeDescriptions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ExchangeDescription'
      additionalProperties: false
  securitySchemes:
    basic:
      type: apiKey
      description: Token for your account.
      name: _token
      in: query
