openapi: 3.2.0
info:
  title: Xignite Global Corporate Actions API
  version: 1.0.3
servers:
- url: https://globalcorporateactions.xignite.com
security:
- basic: []
tags:
- name: XigniteGlobalCorporateActions
paths:
  /xGlobalCorporateActions/ListExchanges:
    get:
      tags:
      - XigniteGlobalCorporateActions
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangeList'
            text/json:
              schema:
                $ref: '#/components/schemas/ExchangeList'
            application/xml:
              schema:
                $ref: '#/components/schemas/ExchangeList'
            text/xml:
              schema:
                $ref: '#/components/schemas/ExchangeList'
            text/csv:
              schema:
                $ref: '#/components/schemas/ExchangeList'
      summary: Get x global corporate actions list exchanges
      x-summary-source: derived
      operationId: getXGlobalCorporateActionsListExchanges
      x-operation-id-source: derived
  /xGlobalCorporateActions/ListEventTypes:
    get:
      tags:
      - XigniteGlobalCorporateActions
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventTypeList'
            text/json:
              schema:
                $ref: '#/components/schemas/EventTypeList'
            application/xml:
              schema:
                $ref: '#/components/schemas/EventTypeList'
            text/xml:
              schema:
                $ref: '#/components/schemas/EventTypeList'
            text/csv:
              schema:
                $ref: '#/components/schemas/EventTypeList'
      summary: Get x global corporate actions list event types
      x-summary-source: derived
      operationId: getXGlobalCorporateActionsListEventTypes
      x-operation-id-source: derived
  /xGlobalCorporateActions/ListSymbols:
    get:
      tags:
      - XigniteGlobalCorporateActions
      parameters:
      - name: Exchange
        in: query
        schema:
          type: string
      - name: StartSymbol
        in: query
        schema:
          type: string
      - name: EndSymbol
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SymbolList'
            text/json:
              schema:
                $ref: '#/components/schemas/SymbolList'
            application/xml:
              schema:
                $ref: '#/components/schemas/SymbolList'
            text/xml:
              schema:
                $ref: '#/components/schemas/SymbolList'
            text/csv:
              schema:
                $ref: '#/components/schemas/SymbolList'
      summary: Get x global corporate actions list symbols
      x-summary-source: derived
      operationId: getXGlobalCorporateActionsListSymbols
      x-operation-id-source: derived
  /xGlobalCorporateActions/ListSymbolChanges:
    get:
      tags:
      - XigniteGlobalCorporateActions
      parameters:
      - name: Exchange
        in: query
        schema:
          type: string
      - name: ChangesSince
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SymbolChangeList'
            text/json:
              schema:
                $ref: '#/components/schemas/SymbolChangeList'
            application/xml:
              schema:
                $ref: '#/components/schemas/SymbolChangeList'
            text/xml:
              schema:
                $ref: '#/components/schemas/SymbolChangeList'
            text/csv:
              schema:
                $ref: '#/components/schemas/SymbolChangeList'
      summary: Get x global corporate actions list symbol changes
      x-summary-source: derived
      operationId: getXGlobalCorporateActionsListSymbolChanges
      x-operation-id-source: derived
  /xGlobalCorporateActions/ListIdentifierChanges:
    get:
      tags:
      - XigniteGlobalCorporateActions
      parameters:
      - name: Exchange
        in: query
        schema:
          type: string
      - name: StartDate
        in: query
        schema:
          type: string
      - name: EndDate
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentifierChangeList'
            text/json:
              schema:
                $ref: '#/components/schemas/IdentifierChangeList'
            application/xml:
              schema:
                $ref: '#/components/schemas/IdentifierChangeList'
            text/xml:
              schema:
                $ref: '#/components/schemas/IdentifierChangeList'
            text/csv:
              schema:
                $ref: '#/components/schemas/IdentifierChangeList'
      summary: Get x global corporate actions list identifier changes
      x-summary-source: derived
      operationId: getXGlobalCorporateActionsListIdentifierChanges
      x-operation-id-source: derived
  /xGlobalCorporateActions/ListListingChanges:
    get:
      tags:
      - XigniteGlobalCorporateActions
      parameters:
      - name: Exchange
        in: query
        schema:
          type: string
      - name: StartDate
        in: query
        schema:
          type: string
      - name: EndDate
        in: query
        schema:
          type: string
      - name: Type
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListingChangeList'
            text/json:
              schema:
                $ref: '#/components/schemas/ListingChangeList'
            application/xml:
              schema:
                $ref: '#/components/schemas/ListingChangeList'
            text/xml:
              schema:
                $ref: '#/components/schemas/ListingChangeList'
            text/csv:
              schema:
                $ref: '#/components/schemas/ListingChangeList'
      summary: Get x global corporate actions list listing changes
      x-summary-source: derived
      operationId: getXGlobalCorporateActionsListListingChanges
      x-operation-id-source: derived
  /xGlobalCorporateActions/GetEventSummaries:
    get:
      tags:
      - XigniteGlobalCorporateActions
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/IdentifierTypes'
      - name: IdentifierAsOfDate
        in: query
        schema:
          type: string
      - name: StartDate
        in: query
        schema:
          type: string
      - name: EndDate
        in: query
        schema:
          type: string
      - name: IncludeEventNotes
        in: query
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSummaryList'
            text/json:
              schema:
                $ref: '#/components/schemas/EventSummaryList'
            application/xml:
              schema:
                $ref: '#/components/schemas/EventSummaryList'
            text/xml:
              schema:
                $ref: '#/components/schemas/EventSummaryList'
            text/csv:
              schema:
                $ref: '#/components/schemas/EventSummaryList'
      summary: Get x global corporate actions get event summaries
      x-summary-source: derived
      operationId: getXGlobalCorporateActionsGetEventSummaries
      x-operation-id-source: derived
  /xGlobalCorporateActions/GetEventSummariesByExchange:
    get:
      tags:
      - XigniteGlobalCorporateActions
      parameters:
      - name: Exchange
        in: query
        schema:
          type: string
      - name: ExDate
        in: query
        schema:
          type: string
      - name: IncludeEventNotes
        in: query
        schema:
          type: boolean
          default: false
      - name: EventTypes
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityEventSummariesList'
            text/json:
              schema:
                $ref: '#/components/schemas/SecurityEventSummariesList'
            application/xml:
              schema:
                $ref: '#/components/schemas/SecurityEventSummariesList'
            text/xml:
              schema:
                $ref: '#/components/schemas/SecurityEventSummariesList'
            text/csv:
              schema:
                $ref: '#/components/schemas/SecurityEventSummariesList'
      summary: Get x global corporate actions get event summaries by exchange
      x-summary-source: derived
      operationId: getXGlobalCorporateActionsGetEventSummariesByExchange
      x-operation-id-source: derived
  /xGlobalCorporateActions/GetDistributions:
    get:
      tags:
      - XigniteGlobalCorporateActions
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/IdentifierTypes'
      - name: IdentifierAsOfDate
        in: query
        schema:
          type: string
      - name: StartDate
        in: query
        schema:
          type: string
      - name: EndDate
        in: query
        schema:
          type: string
      - name: IncludeOptionalPayments
        in: query
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DistributionsList'
            text/json:
              schema:
                $ref: '#/components/schemas/DistributionsList'
            application/xml:
              schema:
                $ref: '#/components/schemas/DistributionsList'
            text/xml:
              schema:
                $ref: '#/components/schemas/DistributionsList'
            text/csv:
              schema:
                $ref: '#/components/schemas/DistributionsList'
      summary: Get x global corporate actions get distributions
      x-summary-source: derived
      operationId: getXGlobalCorporateActionsGetDistributions
      x-operation-id-source: derived
  /xGlobalCorporateActions/GetDistributionsByExchange:
    get:
      tags:
      - XigniteGlobalCorporateActions
      parameters:
      - name: Exchange
        in: query
        schema:
          type: string
      - name: Date
        in: query
        schema:
          type: string
      - name: DateType
        in: query
        schema:
          type: string
      - name: IncludeOptionalPayments
        in: query
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityDistributionsList'
            text/json:
              schema:
                $ref: '#/components/schemas/SecurityDistributionsList'
            application/xml:
              schema:
                $ref: '#/components/schemas/SecurityDistributionsList'
            text/xml:
              schema:
                $ref: '#/components/schemas/SecurityDistributionsList'
            text/csv:
              schema:
                $ref: '#/components/schemas/SecurityDistributionsList'
      summary: Get x global corporate actions get distributions by exchange
      x-summary-source: derived
      operationId: getXGlobalCorporateActionsGetDistributionsByExchange
      x-operation-id-source: derived
  /xGlobalCorporateActions/GetSplits:
    get:
      tags:
      - XigniteGlobalCorporateActions
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/IdentifierTypes'
      - name: IdentifierAsOfDate
        in: query
        schema:
          type: string
      - name: StartDate
        in: query
        schema:
          type: string
      - name: EndDate
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SplitList'
            text/json:
              schema:
                $ref: '#/components/schemas/SplitList'
            application/xml:
              schema:
                $ref: '#/components/schemas/SplitList'
            text/xml:
              schema:
                $ref: '#/components/schemas/SplitList'
            text/csv:
              schema:
                $ref: '#/components/schemas/SplitList'
      summary: Get x global corporate actions get splits
      x-summary-source: derived
      operationId: getXGlobalCorporateActionsGetSplits
      x-operation-id-source: derived
  /xGlobalCorporateActions/GetSplitsByExchange:
    get:
      tags:
      - XigniteGlobalCorporateActions
      parameters:
      - name: Exchange
        in: query
        schema:
          type: string
      - name: ExDate
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangeSplitList'
            text/json:
              schema:
                $ref: '#/components/schemas/ExchangeSplitList'
            application/xml:
              schema:
                $ref: '#/components/schemas/ExchangeSplitList'
            text/xml:
              schema:
                $ref: '#/components/schemas/ExchangeSplitList'
            text/csv:
              schema:
                $ref: '#/components/schemas/ExchangeSplitList'
      summary: Get x global corporate actions get splits by exchange
      x-summary-source: derived
      operationId: getXGlobalCorporateActionsGetSplitsByExchange
      x-operation-id-source: derived
  /xGlobalCorporateActions/GetSpinoffs:
    get:
      tags:
      - XigniteGlobalCorporateActions
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/IdentifierTypes'
      - name: IdentifierAsOfDate
        in: query
        schema:
          type: string
      - name: StartDate
        in: query
        schema:
          type: string
      - name: EndDate
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpinoffList'
            text/json:
              schema:
                $ref: '#/components/schemas/SpinoffList'
            application/xml:
              schema:
                $ref: '#/components/schemas/SpinoffList'
            text/xml:
              schema:
                $ref: '#/components/schemas/SpinoffList'
            text/csv:
              schema:
                $ref: '#/components/schemas/SpinoffList'
      summary: Get x global corporate actions get spinoffs
      x-summary-source: derived
      operationId: getXGlobalCorporateActionsGetSpinoffs
      x-operation-id-source: derived
  /xGlobalCorporateActions/GetMergers:
    get:
      tags:
      - XigniteGlobalCorporateActions
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/IdentifierTypes'
      - name: IdentifierAsOfDate
        in: query
        schema:
          type: string
      - name: StartDate
        in: query
        schema:
          type: string
      - name: EndDate
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MergersList'
            text/json:
              schema:
                $ref: '#/components/schemas/MergersList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MergersList'
            text/xml:
              schema:
                $ref: '#/components/schemas/MergersList'
            text/csv:
              schema:
                $ref: '#/components/schemas/MergersList'
      summary: Get x global corporate actions get mergers
      x-summary-source: derived
      operationId: getXGlobalCorporateActionsGetMergers
      x-operation-id-source: derived
  /xGlobalCorporateActions/GetTakeovers:
    get:
      tags:
      - XigniteGlobalCorporateActions
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/IdentifierTypes'
      - name: IdentifierAsOfDate
        in: query
        schema:
          type: string
      - name: StartDate
        in: query
        schema:
          type: string
      - name: EndDate
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TakeoversList'
            text/json:
              schema:
                $ref: '#/components/schemas/TakeoversList'
            application/xml:
              schema:
                $ref: '#/components/schemas/TakeoversList'
            text/xml:
              schema:
                $ref: '#/components/schemas/TakeoversList'
            text/csv:
              schema:
                $ref: '#/components/schemas/TakeoversList'
      summary: Get x global corporate actions get takeovers
      x-summary-source: derived
      operationId: getXGlobalCorporateActionsGetTakeovers
      x-operation-id-source: derived
  /xGlobalCorporateActions/GetTenderOffers:
    get:
      tags:
      - XigniteGlobalCorporateActions
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/IdentifierTypes'
      - name: IdentifierAsOfDate
        in: query
        schema:
          type: string
      - name: StartDate
        in: query
        schema:
          type: string
      - name: EndDate
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenderOffersList'
            text/json:
              schema:
                $ref: '#/components/schemas/TenderOffersList'
            application/xml:
              schema:
                $ref: '#/components/schemas/TenderOffersList'
            text/xml:
              schema:
                $ref: '#/components/schemas/TenderOffersList'
            text/csv:
              schema:
                $ref: '#/components/schemas/TenderOffersList'
      summary: Get x global corporate actions get tender offers
      x-summary-source: derived
      operationId: getXGlobalCorporateActionsGetTenderOffers
      x-operation-id-source: derived
  /xGlobalCorporateActions/GetRights:
    get:
      tags:
      - XigniteGlobalCorporateActions
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/IdentifierTypes'
      - name: IdentifierAsOfDate
        in: query
        schema:
          type: string
      - name: StartDate
        in: query
        schema:
          type: string
      - name: EndDate
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RightsList'
            text/json:
              schema:
                $ref: '#/components/schemas/RightsList'
            application/xml:
              schema:
                $ref: '#/components/schemas/RightsList'
            text/xml:
              schema:
                $ref: '#/components/schemas/RightsList'
            text/csv:
              schema:
                $ref: '#/components/schemas/RightsList'
      summary: Get x global corporate actions get rights
      x-summary-source: derived
      operationId: getXGlobalCorporateActionsGetRights
      x-operation-id-source: derived
  /xGlobalCorporateActions/GetRightsByExchange:
    get:
      tags:
      - XigniteGlobalCorporateActions
      parameters:
      - name: Exchange
        in: query
        schema:
          type: string
      - name: ExDate
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityRightsList'
            text/json:
              schema:
                $ref: '#/components/schemas/SecurityRightsList'
            application/xml:
              schema:
                $ref: '#/components/schemas/SecurityRightsList'
            text/xml:
              schema:
                $ref: '#/components/schemas/SecurityRightsList'
            text/csv:
              schema:
                $ref: '#/components/schemas/SecurityRightsList'
      summary: Get x global corporate actions get rights by exchange
      x-summary-source: derived
      operationId: getXGlobalCorporateActionsGetRightsByExchange
      x-operation-id-source: derived
  /xGlobalCorporateActions/GetSecuritySwap:
    get:
      tags:
      - XigniteGlobalCorporateActions
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/IdentifierTypes'
      - name: IdentifierAsOfDate
        in: query
        schema:
          type: string
      - name: StartDate
        in: query
        schema:
          type: string
      - name: EndDate
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecuritySwapsList'
            text/json:
              schema:
                $ref: '#/components/schemas/SecuritySwapsList'
            application/xml:
              schema:
                $ref: '#/components/schemas/SecuritySwapsList'
            text/xml:
              schema:
                $ref: '#/components/schemas/SecuritySwapsList'
            text/csv:
              schema:
                $ref: '#/components/schemas/SecuritySwapsList'
      summary: Get x global corporate actions get security swap
      x-summary-source: derived
      operationId: getXGlobalCorporateActionsGetSecuritySwap
      x-operation-id-source: derived
components:
  schemas:
    EventSummary:
      type: object
      properties:
        EventType:
          type:
          - string
          - 'null'
        EffectiveDate:
          type:
          - string
          - 'null'
        CompositeIdentifier:
          type:
          - string
          - 'null'
        EventIdentifier:
          type:
          - string
          - 'null'
        EventNotes:
          type:
          - string
          - 'null'
        Created:
          type:
          - string
          - 'null'
        LastUpdated:
          type:
          - string
          - 'null'
      additionalProperties: false
    SecurityEvent:
      type: object
      properties:
        Security:
          allOf:
          - $ref: '#/components/schemas/Security'
        EventSummaries:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EventSummary'
      additionalProperties: false
    RightsList:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Security:
            allOf:
            - $ref: '#/components/schemas/Security'
          SecurityRights:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/Rights'
        additionalProperties: false
    Spinoff:
      type: object
      properties:
        ExDate:
          type:
          - string
          - 'null'
        RecordDate:
          type:
          - string
          - 'null'
        PayDate:
          type:
          - string
          - 'null'
        WithdrawalFromDate:
          type:
          - string
          - 'null'
        WithdrawalToDate:
          type:
          - string
          - 'null'
        WithdrawalRights:
          type:
          - string
          - 'null'
        PayType:
          type:
          - string
          - 'null'
        IsDefaultOption:
          type: boolean
        OptionElectionDate:
          type:
          - string
          - 'null'
        EventIdentifier:
          type:
          - string
          - 'null'
        NumberOfInitialInstruments:
          type:
          - string
          - 'null'
        NumberOfNewInstruments:
          type:
          - string
          - 'null'
        Amount:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        SpunOffRatio:
          type:
          - string
          - 'null'
        DistributedSecurity:
          allOf:
          - $ref: '#/components/schemas/Security'
      additionalProperties: false
    ListingChangeList:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          ListingChanges:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/ListingChange'
        additionalProperties: false
    Rights:
      type: object
      properties:
        ExDate:
          type:
          - string
          - 'null'
        RecordDate:
          type:
          - string
          - 'null'
        PayDate:
          type:
          - string
          - 'null'
        SubscriptionStartDate:
          type:
          - string
          - 'null'
        SubscriptionEndDate:
          type:
          - string
          - 'null'
        TradeStartDate:
          type:
          - string
          - 'null'
        TradeEndDate:
          type:
          - string
          - 'null'
        SplitDate:
          type:
          - string
          - 'null'
        IssuePrice:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        NumberOfInitialInstruments:
          type:
          - string
          - 'null'
        NumberOfNewInstruments:
          type:
          - string
          - 'null'
        EventIdentifier:
          type:
          - string
          - 'null'
        DistributedSecurity:
          allOf:
          - $ref: '#/components/schemas/Security'
      additionalProperties: false
    Common:
      type: object
      properties:
        Delay:
          type: number
          format: double
        Identity:
          type:
          - string
          - 'null'
        Message:
          type:
          - string
          - 'null'
        Outcome:
          allOf:
          - $ref: '#/components/schemas/OutcomeTypes'
      additionalProperties: false
    ListingChange:
      type: object
      properties:
        EffectiveDate:
          type:
          - string
          - 'null'
        Type:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        Symbol:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        OldExchange:
          type:
          - string
          - 'null'
        Exchange:
          type:
          - string
          - 'null'
        EventIdentifier:
          type:
          - string
          - 'null'
      additionalProperties: false
    SecuritySwapsList:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Security:
            allOf:
            - $ref: '#/components/schemas/Security'
          SecuritySwaps:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/SecuritySwap'
        additionalProperties: false
    IdentifierChange:
      type: object
      properties:
        EffectiveDate:
          type:
          - string
          - 'null'
        IdentifierType:
          type:
          - string
          - 'null'
        OldIdentifier:
          type:
          - string
          - 'null'
        NewIdentifier:
          type:
          - string
          - 'null'
        OldSecurityName:
          type:
          - string
          - 'null'
        NewSecurityName:
          type:
          - string
          - 'null'
        EventIdentifier:
          type:
          - string
          - 'null'
        ReferenceCompositeIdentifier:
          type:
          - string
          - 'null'
        ReferenceEventType:
          type:
          - string
          - 'null'
      additionalProperties: false
    SpinoffList:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Security:
            allOf:
            - $ref: '#/components/schemas/Security'
          SpinoffOptions:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/Spinoff'
        additionalProperties: false
    ExchangeSplit:
      type: object
      properties:
        Security:
          allOf:
          - $ref: '#/components/schemas/Security'
        Split:
          allOf:
          - $ref: '#/components/schemas/Split'
      additionalProperties: false
    Distribution:
      type: object
      properties:
        PaymentType:
          type:
          - string
          - 'null'
        DividendType:
          type:
          - string
          - 'null'
        EventIdentifier:
          type:
          - string
          - 'null'
        IsDefaultOption:
          type: boolean
        OptionElectionDate:
          type:
          - string
          - 'null'
        PaymentFrequency:
          type:
          - string
          - 'null'
        ExDate:
          type:
          - string
          - 'null'
        DeclaredDate:
          type:
          - string
          - 'null'
        PayDate:
          type:
          - string
          - 'null'
        RecordDate:
          type:
          - string
          - 'null'
        GrossDividendAmount:
          type:
          - string
          - 'null'
        NetDividendAmount:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        DeclaredGrossAmount:
          type:
          - string
          - 'null'
        DeclaredCurrency:
          type:
          - string
          - 'null'
        FXDate:
          type:
          - string
          - 'null'
        TaxRate:
          type:
          - string
          - 'null'
        NumberOfInitialInstruments:
          type:
          - string
          - 'null'
        NumberOfNewInstruments:
          type:
          - string
          - 'null'
        IsDistributedSecurityDifferent:
          type: boolean
        DistributedSecurity:
          allOf:
          - $ref: '#/components/schemas/Security'
      additionalProperties: false
    CorporateActionsEventType:
      type: object
      properties:
        EventDescription:
          type:
          - string
          - 'null'
        EventType:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
      additionalProperties: false
    Takeover:
      type: object
      properties:
        EffectiveDate:
          type:
          - string
          - 'null'
        EventStatus:
          type:
          - string
          - 'null'
        EventIdentifier:
          type:
          - string
          - 'null'
        OpenDate:
          type:
          - string
          - 'null'
        CloseDate:
          type:
          - string
          - 'null'
        RecordDate:
          type:
          - string
          - 'null'
        UnconditionalDate:
          type:
          - string
          - 'null'
        RegistrationDate:
          type:
          - string
          - 'null'
        OptionElectionDate:
          type:
          - string
          - 'null'
        WithdrawalFromDate:
          type:
          - string
          - 'null'
        WithdrawalToDate:
          type:
          - string
          - 'null'
        WithdrawalRights:
          type:
          - string
          - 'null'
        IsDefaultOption:
          type: boolean
        PayType:
          type:
          - string
          - 'null'
        PayDate:
          type:
          - string
          - 'null'
        NumberOfInitialInstruments:
          type:
          - string
          - 'null'
        NumberOfNewInstruments:
          type:
          - string
          - 'null'
        MinimumAmount:
          type:
          - string
          - 'null'
        MaximumAmount:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        OfferorCompanyIdentifier:
          type:
          - string
          - 'null'
        OfferorCompanyName:
          type:
          - string
          - 'null'
        IsHostile:
          type:
          - string
          - 'null'
        TargetQuantity:
          type:
          - string
          - 'null'
        TargetPercent:
          type:
          - string
          - 'null'
        PreOfferQuantity:
          type:
          - string
          - 'null'
        PreOfferPercent:
          type:
          - string
          - 'null'
        DutchAuction:
          type:
          - string
          - 'null'
        PaidSecurity:
          allOf:
          - $ref: '#/components/schemas/Security'
      additionalProperties: false
    SecurityRightsList:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Market:
            type:
            - string
            - 'null'
          MarketIdentificationCode:
            type:
            - string
            - 'null'
          ExDate:
            type:
            - string
            - 'null'
          ExchangeRights:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/SecurityRights'
        additionalProperties: false
    SecuritySwap:
      type: object
      properties:
        ExDate:
          type:
          - string
          - 'null'
        RecordDate:
          type:
          - string
          - 'null'
        PayDate:
          type:
          - string
          - 'null'
        NumberOfInitialInstruments:
          type:
          - string
          - 'null'
        NumberOfNewInstruments:
          type:
          - string
          - 'null'
        DistributedSecurity:
          allOf:
          - $ref: '#/components/schemas/Security'
        EventIdentifier:
          type:
          - string
          - 'null'
        IsDefaultOption:
          type: boolean
      additionalProperties: false
    SecurityEventSummariesList:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          SecurityEventSummaries:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/SecurityEvent'
        additionalProperties: false
    IdentifierTypes:
      enum:
      - Symbol
      - CIK
      - CUSIP
      - ISIN
      - Valoren
      - SEDOL
      - FIGI
      - CompositeFIGI
      - EventIdentifier
      - CompositeIdentifier
      type: string
    ExchangeDescription:
      type: object
      properties:
        MarketIdentificationCode:
          type:
          - string
          - 'null'
        Market:
          type:
          - string
          - 'null'
      additionalProperties: false
    SymbolChange:
      type: object
      properties:
        EffectiveDate:
          type:
          - string
          - 'null'
        Type:
          type:
          - string
          - 'null'
        OldSymbol:
          type:
          - string
          - 'null'
        NewSymbol:
          type:
          - string
          - 'null'
        OldCurrency:
          type:
          - string
          - 'null'
        NewCurrency:
          type:
          - string
          - 'null'
        OldExchange:
          type:
          - string
          - 'null'
        NewExchange:
          type:
          - string
          - 'null'
        OldName:
          type:
          - string
          - 'null'
        NewName:
          type:
          - string
          - 'null'
        InstrumentClass:
          type:
          - string
          - 'null'
      additionalProperties: false
    EventSummaryList:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Security:
            allOf:
            - $ref: '#/components/schemas/Security'
          EventSummaries:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/EventSummary'
        additionalProperties: false
    Security:
      type: object
      properties:
        Name:
          type:
          - string
          - 'null'
        Symbol:
          type:
          - string
          - 'null'
        MarketIdentificationCode:
          type:
          - string
          - 'null'
        Market:
          type:
          - string
          - 'null'
        InstrumentClass:
          type:
          - string
          - 'null'
        Industry:
          type:
          - string
          - 'null'
        Sector:
          type:
          - string
          - 'null'
        FIGI:
          type:
          - string
          - 'null'
        CompositeFIGI:
          type:
          - string
          - 'null'
        SEDOL:
          type:
          - string
          - 'null'
        Valoren:
          type:
          - string
          - 'null'
        ISIN:
          type:
          - string
          - 'null'
        CUSIP:
          type:
          - string
          - 'null'
        CIK:
          type:
          - string
          - 'null'
      additionalProperties: false
    Merger:
      type: object
      properties:
        EffectiveDate:
          type:
          - string
          - 'null'
        EventStatus:
          type:
          - string
          - 'null'
        CompositeIdentifier:
          type:
          - string
          - 'null'
        EventIdentifier:
          type:
          - string
          - 'null'
        RelatedCompositeIdentifier:
          type:
          - string
          - 'null'
        RecordDate:
          type:
          - string
          - 'null'
        AppointedDate:
          type:
          - string
          - 'null'
        PayDate:
          type:
          - string
          - 'null'
        OptionElectionDate:
          type:
          - string
          - 'null'
        IsDefaultOption:
          type: boolean
        PayType:
          type:
          - string
          - 'null'
        NumberOfInitialInstruments:
          type:
          - string
          - 'null'
        NumberOfNewInstruments:
          type:
          - string
          - 'null'
        Amount:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        WithdrawalFromDate:
          type:
          - string
          - 'null'
        WithdrawalToDate:
          type:
          - string
          - 'null'
        WithdrawalRights:
          type:
          - string
          - 'null'
        PaidSecurity:
          allOf:
          - $ref: '#/components/schemas/Security'
      additionalProperties: false
    TenderOffer:
      type: object
      properties:
        EffectiveDate:
          type:
          - string
          - 'null'
        EventStatus:
          type:
          - string
          - 'null'
        EventIdentifier:
          type:
          - string
          - 'null'
        OpenDate:
          type:
          - string
          - 'null'
        CloseDate:
          type:
          - string
          - 'null'
        RecordDate:
          type:
          - string
          - 'null'
        UnconditionalDate:
          type:
          - string
          - 'null'
        RegistrationDate:
          type:
          - string
          - 'null'
        OptionElectionDate:
          type:
          - string
          - 'null'
        WithdrawalFromDate:
          type:
          - string
          - 'null'
        WithdrawalToDate:
          type:
          - string
          - 'null'
        WithdrawalRights:
          type:
          - string
          - 'null'
        IsDefaultOption:
          type: boolean
        PayType:
          type:
          - string
          - 'null'
        PayDate:
          type:
          - string
          - 'null'
        NumberOfInitialInstruments:
          type:
          - string
          - 'null'
        NumberOfNewInstruments:
          type:
          - string
          - 'null'
        MinimumAmount:
          type:
          - string
          - 'null'
        MaximumAmount:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        OfferorCompanyIdentifier:
          type:
          - string
          - 'null'
        OfferorCompanyName:
          type:
          - string
          - 'null'
        IsHostile:
          type:
          - string
          - 'null'
        TargetQuantity:
          type:
          - string
          - 'null'
        TargetPercent:
          type:
          - string
          - 'null'
        PreOfferQuantity:
          type:
          - string
          - 'null'
        PreOfferPercent:
          type:
          - string
          - 'null'
        DutchAuction:
          type:
          - string
          - 'null'
        IsTakeover:
          type: boolean
        PaidSecurity:
          allOf:
          - $ref: '#/components/schemas/Security'
      additionalProperties: false
    SecurityDistributionsList:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Market:
            type:
            - string
            - 'null'
          MarketIdentificationCode:
            type:
            - string
            - 'null'
          ExDate:
            type:
            - string
            - 'null'
          ExchangeDistributions:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/SecurityDistributions'
        additionalProperties: false
    IdentifierChangeList:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          IdentifierChanges:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/IdentifierChange'
        additionalProperties: false
    OutcomeTypes:
      enum:
      - Success
      - SystemError
      - RequestError
      - RegistrationError
      type: string
    TenderOffersList:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Security:
            allOf:
            - $ref: '#/components/schemas/Security'
          TenderOfferOptions:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/TenderOffer'
        additionalProperties: false
    MergersList:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Security:
            allOf:
            - $ref: '#/components/schemas/Security'
          MergerOptions:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/Merger'
        additionalProperties: false
    SecurityRights:
      type: object
      properties:
        Security:
          allOf:
          - $ref: '#/components/schemas/Security'
        RightsSet:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Rights'
      additionalProperties: false
    SecurityDescription:
      type: object
      properties:
        Symbol:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        InstrumentClass:
          type:
          - string
          - 'null'
      additionalProperties: false
    TakeoversList:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Security:
            allOf:
            - $ref: '#/components/schemas/Security'
          TakeoverOptions:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/Takeover'
        additionalProperties: false
    SplitList:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Security:
            allOf:
            - $ref: '#/components/schemas/Security'
          Splits:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/Split'
        additionalProperties: false
    EventTypeList:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          EventTypes:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/CorporateActionsEventType'
        additionalProperties: false
    SymbolList:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Exchange:
            allOf:
            - $ref: '#/components/schemas/ExchangeDescription'
          SecurityDescriptions:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/SecurityDescription'
        additionalProperties: false
    SecurityDistributions:
      type: object
      properties:
        Security:
          allOf:
          - $ref: '#/components/schemas/Security'
        DistributionSet:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Distribution'
      additionalProperties: false
    ExchangeSplitList:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          ExchangeSplits:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/ExchangeSplit'
        additionalProperties: false
    DistributionsList:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Security:
            allOf:
            - $ref: '#/components/schemas/Security'
          Distributions:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/Distribution'
        additionalProperties: false
    Split:
      type: object
      properties:
        SplitRatio:
          type: number
          format: double
        Denominator:
          type: number
          format: double
        Numerator:
          type: number
          format: double
        ExDate:
          type:
          - string
          - 'null'
        EventIdentifier:
          type:
          - string
          - 'null'
      additionalProperties: false
    SymbolChangeList:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          SymbolChanges:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/SymbolChange'
        additionalProperties: false
    ExchangeList:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          ExchangeDescriptions:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/ExchangeDescription'
        additionalProperties: false
  securitySchemes:
    basic:
      type: apiKey
      description: Token for your account.
      name: _token
      in: query
