openapi: 3.2.0
info:
  title: Xignite Global Metals API
  version: 1.0.5
servers:
- url: https://globalmetals.xignite.com
security:
- basic: []
tags:
- name: XigniteGlobalMetals
paths:
  /xGlobalMetals/ListMetals:
    get:
      tags:
      - XigniteGlobalMetals
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Metals'
            text/json:
              schema:
                $ref: '#/components/schemas/Metals'
            application/xml:
              schema:
                $ref: '#/components/schemas/Metals'
            text/xml:
              schema:
                $ref: '#/components/schemas/Metals'
            text/csv:
              schema:
                $ref: '#/components/schemas/Metals'
      summary: Get x global metals list metals
      x-summary-source: derived
      operationId: getXGlobalMetalsListMetals
      x-operation-id-source: derived
  /xGlobalMetals/GetRealTimeMetalQuote:
    get:
      tags:
      - XigniteGlobalMetals
      parameters:
      - name: Symbol
        in: query
        schema:
          type: string
      - name: Currency
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetalQuote'
            text/json:
              schema:
                $ref: '#/components/schemas/MetalQuote'
            application/xml:
              schema:
                $ref: '#/components/schemas/MetalQuote'
            text/xml:
              schema:
                $ref: '#/components/schemas/MetalQuote'
            text/csv:
              schema:
                $ref: '#/components/schemas/MetalQuote'
      summary: Get x global metals get real time metal quote
      x-summary-source: derived
      operationId: getXGlobalMetalsGetRealTimeMetalQuote
      x-operation-id-source: derived
  /xGlobalMetals/GetRealTimeMetalQuotes:
    get:
      tags:
      - XigniteGlobalMetals
      parameters:
      - name: Symbols
        in: query
        schema:
          type: string
      - name: Currency
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MetalQuote'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MetalQuote'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MetalQuote'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MetalQuote'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MetalQuote'
      summary: Get x global metals get real time metal quotes
      x-summary-source: derived
      operationId: getXGlobalMetalsGetRealTimeMetalQuotes
      x-operation-id-source: derived
  /xGlobalMetals/GetRealTimeExtendedMetalQuote:
    get:
      tags:
      - XigniteGlobalMetals
      parameters:
      - name: Symbol
        in: query
        schema:
          type: string
      - name: Currency
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedMetalQuote'
            text/json:
              schema:
                $ref: '#/components/schemas/ExtendedMetalQuote'
            application/xml:
              schema:
                $ref: '#/components/schemas/ExtendedMetalQuote'
            text/xml:
              schema:
                $ref: '#/components/schemas/ExtendedMetalQuote'
            text/csv:
              schema:
                $ref: '#/components/schemas/ExtendedMetalQuote'
      summary: Get x global metals get real time extended metal quote
      x-summary-source: derived
      operationId: getXGlobalMetalsGetRealTimeExtendedMetalQuote
      x-operation-id-source: derived
  /xGlobalMetals/GetHistoricalMetalQuote:
    get:
      tags:
      - XigniteGlobalMetals
      parameters:
      - name: Symbol
        in: query
        schema:
          type: string
      - name: Currency
        in: query
        schema:
          type: string
      - name: AsOfDate
        in: query
        schema:
          type: string
      - name: FixingTime
        in: query
        schema:
          type: string
      - name: PriceType
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalMetalQuote'
            text/json:
              schema:
                $ref: '#/components/schemas/HistoricalMetalQuote'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalMetalQuote'
            text/xml:
              schema:
                $ref: '#/components/schemas/HistoricalMetalQuote'
            text/csv:
              schema:
                $ref: '#/components/schemas/HistoricalMetalQuote'
      summary: Get x global metals get historical metal quote
      x-summary-source: derived
      operationId: getXGlobalMetalsGetHistoricalMetalQuote
      x-operation-id-source: derived
  /xGlobalMetals/GetBar:
    get:
      tags:
      - XigniteGlobalMetals
      parameters:
      - name: Symbol
        in: query
        schema:
          type: string
      - name: Currency
        in: query
        schema:
          type: string
      - name: AsOfDate
        in: query
        schema:
          type: string
      - name: AsOfTime
        in: query
        schema:
          type: string
      - name: PriceType
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bar'
            text/json:
              schema:
                $ref: '#/components/schemas/Bar'
            application/xml:
              schema:
                $ref: '#/components/schemas/Bar'
            text/xml:
              schema:
                $ref: '#/components/schemas/Bar'
            text/csv:
              schema:
                $ref: '#/components/schemas/Bar'
      summary: Get x global metals get bar
      x-summary-source: derived
      operationId: getXGlobalMetalsGetBar
      x-operation-id-source: derived
  /xGlobalMetals/GetBars:
    get:
      tags:
      - XigniteGlobalMetals
      parameters:
      - name: Symbol
        in: query
        schema:
          type: string
      - name: Currency
        in: query
        schema:
          type: string
      - name: AsOfDate
        in: query
        schema:
          type: string
      - name: StartTime
        in: query
        schema:
          type: string
      - name: EndTime
        in: query
        schema:
          type: string
      - name: PriceType
        in: query
        schema:
          type: string
      - name: TickPrecision
        in: query
        schema:
          type: string
      - name: TickPeriods
        in: query
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Bar'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Bar'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Bar'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Bar'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Bar'
      summary: Get x global metals get bars
      x-summary-source: derived
      operationId: getXGlobalMetalsGetBars
      x-operation-id-source: derived
  /xGlobalMetals/GetBaseMetalPrice:
    get:
      tags:
      - XigniteGlobalMetals
      parameters:
      - name: MetalType
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseMetalPrice'
            text/json:
              schema:
                $ref: '#/components/schemas/BaseMetalPrice'
            application/xml:
              schema:
                $ref: '#/components/schemas/BaseMetalPrice'
            text/xml:
              schema:
                $ref: '#/components/schemas/BaseMetalPrice'
            text/csv:
              schema:
                $ref: '#/components/schemas/BaseMetalPrice'
      summary: Get x global metals get base metal price
      x-summary-source: derived
      operationId: getXGlobalMetalsGetBaseMetalPrice
      x-operation-id-source: derived
  /xGlobalMetals/GetChartBars:
    get:
      tags:
      - XigniteGlobalMetals
      parameters:
      - name: Symbol
        in: query
        schema:
          type: string
      - name: Currency
        in: query
        schema:
          type: string
      - name: StartTime
        in: query
        schema:
          type: string
      - name: EndTime
        in: query
        schema:
          type: string
      - name: PriceType
        in: query
        schema:
          type: string
      - name: Precision
        in: query
        schema:
          type: string
      - name: Period
        in: query
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetalChartBars'
            text/json:
              schema:
                $ref: '#/components/schemas/MetalChartBars'
            application/xml:
              schema:
                $ref: '#/components/schemas/MetalChartBars'
            text/xml:
              schema:
                $ref: '#/components/schemas/MetalChartBars'
            text/csv:
              schema:
                $ref: '#/components/schemas/MetalChartBars'
      summary: Get x global metals get chart bars
      x-summary-source: derived
      operationId: getXGlobalMetalsGetChartBars
      x-operation-id-source: derived
  /xGlobalMetals/GetHistoricalLondonFixingRange:
    get:
      tags:
      - XigniteGlobalMetals
      parameters:
      - name: Symbol
        in: query
        schema:
          type: string
      - name: Currency
        in: query
        schema:
          type: string
      - name: FixingType
        in: query
        schema:
          type: string
      - name: StartDate
        in: query
        schema:
          type: string
      - name: EndDate
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LondonFixing'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LondonFixing'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LondonFixing'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LondonFixing'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LondonFixing'
      summary: Get x global metals get historical london fixing range
      x-summary-source: derived
      operationId: getXGlobalMetalsGetHistoricalLondonFixingRange
      x-operation-id-source: derived
  /xGlobalMetals/GetHistoricalMetalQuotes:
    get:
      tags:
      - XigniteGlobalMetals
      parameters:
      - name: Symbols
        in: query
        schema:
          type: string
      - name: Currency
        in: query
        schema:
          type: string
      - name: AsOfDate
        in: query
        schema:
          type: string
      - name: FixingTime
        in: query
        schema:
          type: string
      - name: PriceType
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HistoricalMetalQuote'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HistoricalMetalQuote'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HistoricalMetalQuote'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HistoricalMetalQuote'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HistoricalMetalQuote'
      summary: Get x global metals get historical metal quotes
      x-summary-source: derived
      operationId: getXGlobalMetalsGetHistoricalMetalQuotes
      x-operation-id-source: derived
  /xGlobalMetals/GetHistoricalMetalQuotesRange:
    get:
      tags:
      - XigniteGlobalMetals
      parameters:
      - name: Symbol
        in: query
        schema:
          type: string
      - name: Currency
        in: query
        schema:
          type: string
      - name: StartDate
        in: query
        schema:
          type: string
      - name: EndDate
        in: query
        schema:
          type: string
      - name: FixingTime
        in: query
        schema:
          type: string
      - name: PeriodType
        in: query
        schema:
          type: string
      - name: PriceType
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HistoricalMetalQuote'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HistoricalMetalQuote'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HistoricalMetalQuote'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HistoricalMetalQuote'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HistoricalMetalQuote'
      summary: Get x global metals get historical metal quotes range
      x-summary-source: derived
      operationId: getXGlobalMetalsGetHistoricalMetalQuotesRange
      x-operation-id-source: derived
  /xGlobalMetals/GetLatestHistoricalMetalQuote:
    get:
      tags:
      - XigniteGlobalMetals
      parameters:
      - name: Symbol
        in: query
        schema:
          type: string
      - name: Currency
        in: query
        schema:
          type: string
      - name: AsOfDate
        in: query
        schema:
          type: string
      - name: FixingTime
        in: query
        schema:
          type: string
      - name: PriceType
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalMetalQuote'
            text/json:
              schema:
                $ref: '#/components/schemas/HistoricalMetalQuote'
            application/xml:
              schema:
                $ref: '#/components/schemas/HistoricalMetalQuote'
            text/xml:
              schema:
                $ref: '#/components/schemas/HistoricalMetalQuote'
            text/csv:
              schema:
                $ref: '#/components/schemas/HistoricalMetalQuote'
      summary: Get x global metals get latest historical metal quote
      x-summary-source: derived
      operationId: getXGlobalMetalsGetLatestHistoricalMetalQuote
      x-operation-id-source: derived
  /xGlobalMetals/GetLatestHistoricalMetalQuotes:
    get:
      tags:
      - XigniteGlobalMetals
      parameters:
      - name: Symbols
        in: query
        schema:
          type: string
      - name: Currency
        in: query
        schema:
          type: string
      - name: AsOfDate
        in: query
        schema:
          type: string
      - name: FixingTime
        in: query
        schema:
          type: string
      - name: PriceType
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HistoricalMetalQuote'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HistoricalMetalQuote'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HistoricalMetalQuote'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HistoricalMetalQuote'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HistoricalMetalQuote'
      summary: Get x global metals get latest historical metal quotes
      x-summary-source: derived
      operationId: getXGlobalMetalsGetLatestHistoricalMetalQuotes
      x-operation-id-source: derived
  /xGlobalMetals/GetLondonFixing:
    get:
      tags:
      - XigniteGlobalMetals
      parameters:
      - name: Symbol
        in: query
        schema:
          type: string
      - name: Currency
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LondonFixing'
            text/json:
              schema:
                $ref: '#/components/schemas/LondonFixing'
            application/xml:
              schema:
                $ref: '#/components/schemas/LondonFixing'
            text/xml:
              schema:
                $ref: '#/components/schemas/LondonFixing'
            text/csv:
              schema:
                $ref: '#/components/schemas/LondonFixing'
      summary: Get x global metals get london fixing
      x-summary-source: derived
      operationId: getXGlobalMetalsGetLondonFixing
      x-operation-id-source: derived
  /xGlobalMetals/GetLondonHistoricalMetalQuotesRange:
    get:
      tags:
      - XigniteGlobalMetals
      parameters:
      - name: Symbol
        in: query
        schema:
          type: string
      - name: Currency
        in: query
        schema:
          type: string
      - name: StartDate
        in: query
        schema:
          type: string
      - name: EndDate
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HistoricalMetalQuote'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HistoricalMetalQuote'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HistoricalMetalQuote'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HistoricalMetalQuote'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HistoricalMetalQuote'
      summary: Get x global metals get london historical metal quotes range
      x-summary-source: derived
      operationId: getXGlobalMetalsGetLondonHistoricalMetalQuotesRange
      x-operation-id-source: derived
  /xGlobalMetals/GetTopIndustryHeadlines:
    get:
      tags:
      - XigniteGlobalMetals
      parameters:
      - name: Count
        in: query
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MarketNews'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MarketNews'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MarketNews'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MarketNews'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MarketNews'
      summary: Get x global metals get top industry headlines
      x-summary-source: derived
      operationId: getXGlobalMetalsGetTopIndustryHeadlines
      x-operation-id-source: derived
components:
  schemas:
    MetalChartBars:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Timing:
            type:
            - string
            - 'null'
          PriceType:
            type:
            - string
            - 'null'
          MetalDescription:
            allOf:
            - $ref: '#/components/schemas/MetalDescription'
          ChartBars:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/ChartBar'
        additionalProperties: false
    MarketNews:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Headline:
            type:
            - string
            - 'null'
          Source:
            type:
            - string
            - 'null'
          Summary:
            type:
            - string
            - 'null'
          Time:
            type:
            - string
            - 'null'
          Url:
            type:
            - string
            - 'null'
        additionalProperties: false
    OutcomeTypes:
      enum:
      - Success
      - SystemError
      - RequestError
      - RegistrationError
      type: string
    Common:
      type: object
      properties:
        Delay:
          type: number
          format: double
        Identity:
          type:
          - string
          - 'null'
        Message:
          type:
          - string
          - 'null'
        Outcome:
          allOf:
          - $ref: '#/components/schemas/OutcomeTypes'
      additionalProperties: false
    MetalDescription:
      type: object
      properties:
        Symbol:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        Unit:
          type:
          - string
          - 'null'
        Type:
          type:
          - string
          - 'null'
      additionalProperties: false
    Metal:
      type: object
      properties:
        Name:
          type:
          - string
          - 'null'
        Symbol:
          type:
          - string
          - 'null'
        Type:
          type:
          - string
          - 'null'
        Active:
          type: boolean
        Message:
          type:
          - string
          - 'null'
      additionalProperties: false
    ChartBar:
      type: object
      properties:
        StartDate:
          type:
          - string
          - 'null'
        StartTime:
          type:
          - string
          - 'null'
        EndDate:
          type:
          - string
          - 'null'
        EndTime:
          type:
          - string
          - 'null'
        UTCOffset:
          type: number
          format: double
        Open:
          type: number
          format: double
        High:
          type: number
          format: double
        Low:
          type: number
          format: double
        Close:
          type: number
          format: double
        Volume:
          type: number
          format: double
        Trades:
          type: integer
          format: int32
        TWAP:
          type: number
          format: double
        VWAP:
          type: number
          format: double
        Currency:
          type:
          - string
          - 'null'
        Session:
          type:
          - string
          - 'null'
        AdjustmentRatio:
          type: number
          format: double
      additionalProperties: false
    HistoricalMetalQuote:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Name:
            type:
            - string
            - 'null'
          Symbol:
            type:
            - string
            - 'null'
          QuoteType:
            type:
            - string
            - 'null'
          Currency:
            type:
            - string
            - 'null'
          StartDate:
            type:
            - string
            - 'null'
          StartTime:
            type:
            - string
            - 'null'
          EndDate:
            type:
            - string
            - 'null'
          EndTime:
            type:
            - string
            - 'null'
          Open:
            type: number
            format: double
          High:
            type: number
            format: double
          Low:
            type: number
            format: double
          Close:
            type: number
            format: double
          Average:
            type: number
            format: double
        additionalProperties: false
    Metals:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          MetalList:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/Metal'
        additionalProperties: false
    LondonFixing:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Name:
            type:
            - string
            - 'null'
          Symbol:
            type:
            - string
            - 'null'
          QuoteType:
            type:
            - string
            - 'null'
          Currency:
            type:
            - string
            - 'null'
          Date:
            type:
            - string
            - 'null'
          Time:
            type:
            - string
            - 'null'
          Fixing:
            type:
            - string
            - 'null'
          Price:
            type: number
            format: double
          Unit:
            type:
            - string
            - 'null'
          Source:
            type:
            - string
            - 'null'
        additionalProperties: false
    ExtendedMetalQuote:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Name:
            type:
            - string
            - 'null'
          Symbol:
            type:
            - string
            - 'null'
          Unit:
            type:
            - string
            - 'null'
          QuoteType:
            type:
            - string
            - 'null'
          Currency:
            type:
            - string
            - 'null'
          Date:
            type:
            - string
            - 'null'
          Time:
            type:
            - string
            - 'null'
          Bid:
            type: number
            format: double
          Ask:
            type: number
            format: double
          Spread:
            type: number
            format: double
          Open:
            type: number
            format: double
          High:
            type: number
            format: double
          Low:
            type: number
            format: double
          Close:
            type: number
            format: double
          Average:
            type: number
            format: double
          PreviousClose:
            type: number
            format: double
          PreviousCloseDate:
            type:
            - string
            - 'null'
          Change:
            type: number
            format: double
          PercentChange:
            type: number
            format: double
          Source:
            type:
            - string
            - 'null'
        additionalProperties: false
    MetalQuote:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Name:
            type:
            - string
            - 'null'
          Symbol:
            type:
            - string
            - 'null'
          Unit:
            type:
            - string
            - 'null'
          QuoteType:
            type:
            - string
            - 'null'
          Currency:
            type:
            - string
            - 'null'
          Date:
            type:
            - string
            - 'null'
          Time:
            type:
            - string
            - 'null'
          Bid:
            type: number
            format: double
          Mid:
            type: number
            format: double
          Ask:
            type: number
            format: double
          Spread:
            type: number
            format: double
          Source:
            type:
            - string
            - 'null'
        additionalProperties: false
    BaseMetalPrice:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Name:
            type:
            - string
            - 'null'
          Symbol:
            type:
            - string
            - 'null'
          Currency:
            type:
            - string
            - 'null'
          Date:
            type:
            - string
            - 'null'
          Time:
            type:
            - string
            - 'null'
          Price:
            type: number
            format: double
          Unit:
            type:
            - string
            - 'null'
          Source:
            type:
            - string
            - 'null'
        additionalProperties: false
    Bar:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Symbol:
            type:
            - string
            - 'null'
          StartDate:
            type:
            - string
            - 'null'
          StartTime:
            type:
            - string
            - 'null'
          EndDate:
            type:
            - string
            - 'null'
          EndTime:
            type:
            - string
            - 'null'
          Open:
            type: number
            format: double
          High:
            type: number
            format: double
          Low:
            type: number
            format: double
          Close:
            type: number
            format: double
          Average:
            type: number
            format: double
          Volume:
            type: number
            format: double
        additionalProperties: false
  securitySchemes:
    basic:
      type: apiKey
      description: Token for your account.
      name: _token
      in: query
