openapi: 3.2.0
info:
  title: Xignite NA Vs API
  version: 2.0.7
servers:
- url: https://navs.xignite.com
security:
- basic: []
tags:
- name: XigniteNAVs
paths:
  /v2/xNAVs/ListSymbols:
    get:
      tags:
      - XigniteNAVs
      parameters:
      - name: StartSymbol
        in: query
        schema:
          type: string
      - name: EndSymbol
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Fund'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Fund'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Fund'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Fund'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Fund'
      summary: Get x navs list symbols
      x-summary-source: derived
      operationId: getV2XNAVsListSymbols
      x-operation-id-source: derived
  /v2/xNAVs/ListNewSymbols:
    get:
      tags:
      - XigniteNAVs
      parameters:
      - name: StartDate
        in: query
        schema:
          type: string
      - name: EndDate
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NewFund'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NewFund'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NewFund'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NewFund'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NewFund'
      summary: Get x navs list new symbols
      x-summary-source: derived
      operationId: getV2XNAVsListNewSymbols
      x-operation-id-source: derived
  /v2/xNAVs/GetDividendHistory:
    get:
      tags:
      - XigniteNAVs
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/IdentifierTypes'
      - name: StartDate
        in: query
        schema:
          type: string
      - name: EndDate
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DividendHistory'
            text/json:
              schema:
                $ref: '#/components/schemas/DividendHistory'
            application/xml:
              schema:
                $ref: '#/components/schemas/DividendHistory'
            text/xml:
              schema:
                $ref: '#/components/schemas/DividendHistory'
            text/csv:
              schema:
                $ref: '#/components/schemas/DividendHistory'
      summary: Get x navs get dividend history
      x-summary-source: derived
      operationId: getV2XNAVsGetDividendHistory
      x-operation-id-source: derived
  /v2/xNAVs/GetCashDividendHistory:
    get:
      tags:
      - XigniteNAVs
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/IdentifierTypes'
      - name: StartDate
        in: query
        schema:
          type: string
      - name: EndDate
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompleteDividendHistory'
            text/json:
              schema:
                $ref: '#/components/schemas/CompleteDividendHistory'
            application/xml:
              schema:
                $ref: '#/components/schemas/CompleteDividendHistory'
            text/xml:
              schema:
                $ref: '#/components/schemas/CompleteDividendHistory'
            text/csv:
              schema:
                $ref: '#/components/schemas/CompleteDividendHistory'
      summary: Get x navs get cash dividend history
      x-summary-source: derived
      operationId: getV2XNAVsGetCashDividendHistory
      x-operation-id-source: derived
  /v2/xNAVs/GetAllCashDividendHistory:
    get:
      tags:
      - XigniteNAVs
      parameters:
      - name: StartDate
        in: query
        schema:
          type: string
      - name: EndDate
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompleteDividendHistory'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompleteDividendHistory'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompleteDividendHistory'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompleteDividendHistory'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompleteDividendHistory'
      summary: Get x navs get all cash dividend history
      x-summary-source: derived
      operationId: getV2XNAVsGetAllCashDividendHistory
      x-operation-id-source: derived
  /v2/xNAVs/GetNAV:
    get:
      tags:
      - XigniteNAVs
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/IdentifierTypes'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalNAV'
            text/json:
              schema:
                $ref: '#/components/schemas/GlobalNAV'
            application/xml:
              schema:
                $ref: '#/components/schemas/GlobalNAV'
            text/xml:
              schema:
                $ref: '#/components/schemas/GlobalNAV'
            text/csv:
              schema:
                $ref: '#/components/schemas/GlobalNAV'
      summary: Get x navs get nav
      x-summary-source: derived
      operationId: getV2XNAVsGetNAV
      x-operation-id-source: derived
  /v2/xNAVs/GetNAVs:
    get:
      tags:
      - XigniteNAVs
      parameters:
      - name: Identifiers
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/IdentifierTypes'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GlobalNAV'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GlobalNAV'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GlobalNAV'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GlobalNAV'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GlobalNAV'
      summary: Get x navs get navs
      x-summary-source: derived
      operationId: getV2XNAVsGetNAVs
      x-operation-id-source: derived
  /v2/xNAVs/GetHistoricalNAVs:
    get:
      tags:
      - XigniteNAVs
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/IdentifierTypes'
      - name: StartDate
        in: query
        schema:
          type: string
      - name: EndDate
        in: query
        schema:
          type: string
      - name: AdjustmentMethod
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/AdjustmentMethods'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalNAVs'
            text/json:
              schema:
                $ref: '#/components/schemas/GlobalNAVs'
            application/xml:
              schema:
                $ref: '#/components/schemas/GlobalNAVs'
            text/xml:
              schema:
                $ref: '#/components/schemas/GlobalNAVs'
            text/csv:
              schema:
                $ref: '#/components/schemas/GlobalNAVs'
      summary: Get x navs get historical navs
      x-summary-source: derived
      operationId: getV2XNAVsGetHistoricalNAVs
      x-operation-id-source: derived
  /v2/xNAVs/GetHistoricalNAVsTrailing:
    get:
      tags:
      - XigniteNAVs
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/IdentifierTypes'
      - name: EndDate
        in: query
        schema:
          type: string
      - name: PeriodType
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/PeriodTypes'
      - name: Periods
        in: query
        schema:
          type: integer
          format: int32
      - name: AdjustmentMethod
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/AdjustmentMethods'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalNAVs'
            text/json:
              schema:
                $ref: '#/components/schemas/GlobalNAVs'
            application/xml:
              schema:
                $ref: '#/components/schemas/GlobalNAVs'
            text/xml:
              schema:
                $ref: '#/components/schemas/GlobalNAVs'
            text/csv:
              schema:
                $ref: '#/components/schemas/GlobalNAVs'
      summary: Get x navs get historical navs trailing
      x-summary-source: derived
      operationId: getV2XNAVsGetHistoricalNAVsTrailing
      x-operation-id-source: derived
  /v2/xNAVs/GetLatestNAV:
    get:
      tags:
      - XigniteNAVs
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/IdentifierTypes'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundNAV'
            text/json:
              schema:
                $ref: '#/components/schemas/FundNAV'
            application/xml:
              schema:
                $ref: '#/components/schemas/FundNAV'
            text/xml:
              schema:
                $ref: '#/components/schemas/FundNAV'
            text/csv:
              schema:
                $ref: '#/components/schemas/FundNAV'
      summary: Get x navs get latest nav
      x-summary-source: derived
      operationId: getV2XNAVsGetLatestNAV
      x-operation-id-source: derived
  /v2/xNAVs/GetLatestNAVs:
    get:
      tags:
      - XigniteNAVs
      parameters:
      - name: Identifiers
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/IdentifierTypes'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundNAV'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundNAV'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundNAV'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundNAV'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundNAV'
      summary: Get x navs get latest navs
      x-summary-source: derived
      operationId: getV2XNAVsGetLatestNAVs
      x-operation-id-source: derived
  /v2/xNAVs/GetHistoricalNAVsRange:
    get:
      tags:
      - XigniteNAVs
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/IdentifierTypes'
      - name: StartDate
        in: query
        schema:
          type: string
      - name: EndDate
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundNAVs'
            text/json:
              schema:
                $ref: '#/components/schemas/FundNAVs'
            application/xml:
              schema:
                $ref: '#/components/schemas/FundNAVs'
            text/xml:
              schema:
                $ref: '#/components/schemas/FundNAVs'
            text/csv:
              schema:
                $ref: '#/components/schemas/FundNAVs'
      summary: Get x navs get historical navs range
      x-summary-source: derived
      operationId: getV2XNAVsGetHistoricalNAVsRange
      x-operation-id-source: derived
  /v2/xNAVs/GetHistoricalNAVsAsOf:
    get:
      tags:
      - XigniteNAVs
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/IdentifierTypes'
      - name: EndDate
        in: query
        schema:
          type: string
      - name: PeriodType
        in: query
        schema:
          allOf:
          - $ref: '#/components/schemas/PeriodTypes'
      - name: Periods
        in: query
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundNAVs'
            text/json:
              schema:
                $ref: '#/components/schemas/FundNAVs'
            application/xml:
              schema:
                $ref: '#/components/schemas/FundNAVs'
            text/xml:
              schema:
                $ref: '#/components/schemas/FundNAVs'
            text/csv:
              schema:
                $ref: '#/components/schemas/FundNAVs'
      summary: Get x navs get historical navs as of
      x-summary-source: derived
      operationId: getV2XNAVsGetHistoricalNAVsAsOf
      x-operation-id-source: derived
  /v2/xNAVs/GetSplitHistory:
    get:
      tags:
      - XigniteNAVs
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          type: string
      - name: IdentifierAsOfDate
        in: query
        schema:
          type: string
      - name: StartDate
        in: query
        schema:
          type: string
      - name: EndDate
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SplitHistory'
            text/json:
              schema:
                $ref: '#/components/schemas/SplitHistory'
            application/xml:
              schema:
                $ref: '#/components/schemas/SplitHistory'
            text/xml:
              schema:
                $ref: '#/components/schemas/SplitHistory'
            text/csv:
              schema:
                $ref: '#/components/schemas/SplitHistory'
      summary: Get x navs get split history
      x-summary-source: derived
      operationId: getV2XNAVsGetSplitHistory
      x-operation-id-source: derived
  /v2/xNAVs/GetSplitsByExchange:
    get:
      tags:
      - XigniteNAVs
      parameters:
      - name: Exchange
        in: query
        schema:
          type: string
      - name: ExDate
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangeSplitsList'
            text/json:
              schema:
                $ref: '#/components/schemas/ExchangeSplitsList'
            application/xml:
              schema:
                $ref: '#/components/schemas/ExchangeSplitsList'
            text/xml:
              schema:
                $ref: '#/components/schemas/ExchangeSplitsList'
            text/csv:
              schema:
                $ref: '#/components/schemas/ExchangeSplitsList'
      summary: Get x navs get splits by exchange
      x-summary-source: derived
      operationId: getV2XNAVsGetSplitsByExchange
      x-operation-id-source: derived
  /v2/xNAVs/GetAdjustmentFactors:
    get:
      tags:
      - XigniteNAVs
      parameters:
      - name: Identifier
        in: query
        schema:
          type: string
      - name: IdentifierType
        in: query
        schema:
          type: string
      - name: StartDate
        in: query
        schema:
          type: string
      - name: EndDate
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdjustmentFactors'
            text/json:
              schema:
                $ref: '#/components/schemas/AdjustmentFactors'
            application/xml:
              schema:
                $ref: '#/components/schemas/AdjustmentFactors'
            text/xml:
              schema:
                $ref: '#/components/schemas/AdjustmentFactors'
            text/csv:
              schema:
                $ref: '#/components/schemas/AdjustmentFactors'
      summary: Get x navs get adjustment factors
      x-summary-source: derived
      operationId: getV2XNAVsGetAdjustmentFactors
      x-operation-id-source: derived
components:
  schemas:
    DividendHistory:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Symbol:
            type:
            - string
            - 'null'
          Dividends:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/Dividend'
        additionalProperties: false
    Dividend:
      type: object
      properties:
        Date:
          type:
          - string
          - 'null'
        Amount:
          type: number
          format: double
      additionalProperties: false
    Common:
      type: object
      properties:
        Delay:
          type: number
          format: double
        Identity:
          type:
          - string
          - 'null'
        Message:
          type:
          - string
          - 'null'
        Outcome:
          allOf:
          - $ref: '#/components/schemas/OutcomeTypes'
      additionalProperties: false
    ExchangeSplit:
      type: object
      properties:
        Security:
          allOf:
          - $ref: '#/components/schemas/Security'
        Split:
          allOf:
          - $ref: '#/components/schemas/Split'
      additionalProperties: false
    IdentifierTypes:
      enum:
      - Symbol
      - CIK
      - CUSIP
      - ISIN
      - Valoren
      - SEDOL
      - FIGI
      - CompositeFIGI
      type: string
    Security:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          CIK:
            type:
            - string
            - 'null'
          CUSIP:
            type:
            - string
            - 'null'
          Symbol:
            type:
            - string
            - 'null'
          ISIN:
            type:
            - string
            - 'null'
          Valoren:
            type:
            - string
            - 'null'
          Name:
            type:
            - string
            - 'null'
          Market:
            type:
            - string
            - 'null'
          MarketIdentificationCode:
            type:
            - string
            - 'null'
          MostLiquidExchange:
            type: boolean
          CategoryOrIndustry:
            type:
            - string
            - 'null'
        additionalProperties: false
    Fund:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          CIK:
            type:
            - string
            - 'null'
          CUSIP:
            type:
            - string
            - 'null'
          Symbol:
            type:
            - string
            - 'null'
          SymbolType:
            allOf:
            - $ref: '#/components/schemas/SymbolType'
          ListingSymbol:
            type:
            - string
            - 'null'
          ISIN:
            type:
            - string
            - 'null'
          Valoren:
            type:
            - string
            - 'null'
          Name:
            type:
            - string
            - 'null'
          Market:
            type:
            - string
            - 'null'
          MarketIdentificationCode:
            type:
            - string
            - 'null'
          CategoryOrIndustry:
            type:
            - string
            - 'null'
          InstrumentClass:
            type:
            - string
            - 'null'
          Domicile:
            type:
            - string
            - 'null'
        additionalProperties: false
    AdjustmentFactor:
      type: object
      additionalProperties: false
    FundNAV:
      allOf:
      - $ref: '#/components/schemas/QuoteWithSecurity'
      - type: object
        properties:
          Date:
            type:
            - string
            - 'null'
          Last:
            type: number
            format: double
          Open:
            type: number
            format: double
          LastClose:
            type: number
            format: double
          ChangeFromOpen:
            type: number
            format: double
          PercentChangeFromOpen:
            type: number
            format: double
          ChangeFromLastClose:
            type: number
            format: double
          PercentChangeFromLastClose:
            type: number
            format: double
        additionalProperties: false
    FundNAVs:
      allOf:
      - $ref: '#/components/schemas/QuoteWithSecurity'
      - type: object
        properties:
          StartDate:
            type:
            - string
            - 'null'
          EndDate:
            type:
            - string
            - 'null'
          NAVs:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/FundNAV'
        additionalProperties: false
    QuoteWithSecurity:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Security:
            allOf:
            - $ref: '#/components/schemas/Security'
        additionalProperties: false
    PeriodTypes:
      enum:
      - Day
      - Week
      - Month
      - Quarter
      - Year
      type: string
    CompleteDividendHistory:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Security:
            allOf:
            - $ref: '#/components/schemas/Security'
          Dividends:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/CompleteDividend'
        additionalProperties: false
    OutcomeTypes:
      enum:
      - Success
      - SystemError
      - RequestError
      - RegistrationError
      type: string
    SymbolType:
      enum:
      - NetAssetValue
      - IntradayIndicativeValue
      type: string
    AdjustmentMethods:
      enum:
      - None
      - DefaultValue
      - SplitOnly
      - CashDividendOnly
      - SplitAndProportionalCashDividend
      - All
      type: string
    CompleteDividend:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Security:
            allOf:
            - $ref: '#/components/schemas/Security'
          Currency:
            type:
            - string
            - 'null'
          Code:
            type:
            - string
            - 'null'
          Type:
            type:
            - string
            - 'null'
          PaymentFrequency:
            type:
            - string
            - 'null'
          DeclaredDate:
            type:
            - string
            - 'null'
          RecordDate:
            type:
            - string
            - 'null'
          PayDate:
            type:
            - string
            - 'null'
          ExDate:
            type:
            - string
            - 'null'
          DividendAmount:
            type: number
            format: double
          DataConfidence:
            type:
            - string
            - 'null'
        additionalProperties: false
    GlobalNAVs:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Fund:
            allOf:
            - $ref: '#/components/schemas/Fund'
          StartDate:
            type:
            - string
            - 'null'
          EndDate:
            type:
            - string
            - 'null'
          NAVs:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/GlobalNAV'
        additionalProperties: false
    AdjustmentFactors:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Security:
            allOf:
            - $ref: '#/components/schemas/Security'
          ArrayOfAdjustmentFactor:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/AdjustmentFactor'
        additionalProperties: false
    NewFund:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Symbol:
            type:
            - string
            - 'null'
          DateAdded:
            type:
            - string
            - 'null'
        additionalProperties: false
    SplitHistory:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Security:
            allOf:
            - $ref: '#/components/schemas/Security'
          StartDate:
            type:
            - string
            - 'null'
          EndDate:
            type:
            - string
            - 'null'
          CumulativeSplitRatio:
            type: number
            format: double
          Splits:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/Split'
        additionalProperties: false
    GlobalNAV:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          Fund:
            allOf:
            - $ref: '#/components/schemas/Fund'
          Date:
            type:
            - string
            - 'null'
          Time:
            type:
            - string
            - 'null'
          UTCOffset:
            type: number
            format: double
          NAV:
            type: number
            format: double
          PreviousNAV:
            type: number
            format: double
          Change:
            type: number
            format: double
          PercentChange:
            type: number
            format: double
          SevenDayYield:
            type: number
            format: double
          PreviousSevenDayYield:
            type: number
            format: double
          PremiumDiscount:
            type: number
            format: double
          Currency:
            type:
            - string
            - 'null'
          CumulativeAdjustmentFactor:
            type: number
            format: double
        additionalProperties: false
    Split:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          ExDate:
            type:
            - string
            - 'null'
          Numerator:
            type: number
            format: double
          Denominator:
            type: number
            format: double
          SplitRatio:
            type: number
            format: double
        additionalProperties: false
    ExchangeSplitsList:
      allOf:
      - $ref: '#/components/schemas/Common'
      - type: object
        properties:
          ExchangeSplits:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/ExchangeSplit'
        additionalProperties: false
  securitySchemes:
    basic:
      type: apiKey
      description: Token for your account.
      name: _token
      in: query
